/* line 5, ../scss/style.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white;
  z-index: 1;
  background: #111;
  font-family: Avenir, Arial, sans-serif;
}

/* line 16, ../scss/style.scss */
div {
  box-sizing: border-box;
}

/* line 20, ../scss/style.scss */
.navWrap {
  width: 100%;
  height: 50px;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: black;
  z-index: 100;
  opacity: .6;
}
/* line 32, ../scss/style.scss */
.navWrap .navContent {
  width: 100%;
  max-width: 960px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background: black;
}

/* line 42, ../scss/style.scss */
.crestWrap {
  position: absolute;
  width: 100%;
  height: 300px;
  top: -35px;
  left: -35px;
  text-align: center;
  background: url("../img/deepWinterCrestWhite.png") no-repeat;
  background-size: 300px;
  opacity: 0.5;
  z-index: 2000;
}

/* line 55, ../scss/style.scss */
.windowDetail {
  transition: all 3s ease-in 1s;
  background: black;
  left: 0%;
}

/* line 61, ../scss/style.scss */
.closeLink {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

/* line 68, ../scss/style.scss */
.section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* line 75, ../scss/style.scss */
.contentWrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

/* line 84, ../scss/style.scss */
.topWrap {
  position: relative;
  margin-top: 0;
  height: 85%;
  min-height: 400px;
  background: url("../img/heroTopBW.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
/* line 94, ../scss/style.scss */
.topWrap .detailWrap {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 76%;
  margin-top: 200px;
}
/* line 101, ../scss/style.scss */
.topWrap .detailWrap .event {
  cursor: pointer;
  transition: all 2s;
}
/* line 105, ../scss/style.scss */
.topWrap .detailWrap .event h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 124, ../scss/style.scss */
.topWrap .detailWrap .opacityFade {
  opacity: 0 !important;
  transition: all 2s;
}
/* line 129, ../scss/style.scss */
.topWrap .detailWrap .opaque {
  opacity: 1 !important;
  transition: all 2s;
}
/* line 134, ../scss/style.scss */
.topWrap .detailWrap ul {
  display: block;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  margin-left: 0;
  padding-left: 0;
}
/* line 143, ../scss/style.scss */
.topWrap .detailWrap ul li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 31%;
  height: 100%;
  margin-right: 2%;
  background: #212121;
  box-sizing: border-box;
  opacity: .8;
  padding: 20px;
  text-align: center;
}
/* line 156, ../scss/style.scss */
.topWrap .detailWrap ul li h1 {
  font-size: 24px;
}

/* line 164, ../scss/style.scss */
.eventDetails {
  position: absolute;
  top: 10%;
  width: 80%;
  right: 10%;
  bottom: 10%;
  z-index: 9000;
  box-sizing: border-box;
  padding: 30px;
  transition: all 1s;
  left: -1500px;
}

/* line 180, ../scss/style.scss */
.slideUp {
  margin-top: 0px !important;
  transition: all 1.3s ease-in 2.5s;
}

/* line 185, ../scss/style.scss */
.darkLayer {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: #000;
  opacity: 1;
}

/* line 195, ../scss/style.scss */
.opacityChange {
  opacity: 0 !important;
  transition: all 6s ease-out 1s !important;
  transition-delay: 2s;
}

/* line 202, ../scss/style.scss */
.news {
  margin-top: 60px;
  position: relative;
  display: block;
  max-height: 220px;
  overflow: hidden;
  transition: max-height 2s;
}
/* line 210, ../scss/style.scss */
.news h1 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #656565;
}
/* line 220, ../scss/style.scss */
.news .readAllLink {
  position: relative;
  display: inline-block;
  font-size: 13px;
  margin-left: 15px;
  cursor: pointer;
  color: #656565;
}
/* line 232, ../scss/style.scss */
.news .newsWrap {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 31%;
  margin-right: 2%;
  padding: 0 15px 0 0;
  margin-bottom: 60px;
}
/* line 241, ../scss/style.scss */
.news .newsWrap h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: none;
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 5px;
}
/* line 251, ../scss/style.scss */
.news .newsWrap p {
  font-size: 13px;
  line-height: 18px;
  color: #ccc;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 261, ../scss/style.scss */
.news .newsWrap a {
  color: #656565;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

/* line 272, ../scss/style.scss */
.photogs {
  position: relative;
  min-height: 600px;
}
/* line 276, ../scss/style.scss */
.photogs h1 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid #656565;
}
/* line 285, ../scss/style.scss */
.photogs .photogItem {
  width: 29%;
  height: 360px;
  margin: 3% 2%;
  padding: 0;
  z-index: 1;
  position: relative;
  display: inline-block;
  background-color: #333;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  transition: all 1s;
}
/* line 300, ../scss/style.scss */
.photogs .photogItem .photoImg {
  width: 100%;
  height: 250px;
  position: relative;
  max-width: 300px;
  transition: all 2s;
  -webkit-filter: grayscale(100%);
}
/* line 309, ../scss/style.scss */
.photogs .photogItem .photoImg:hover {
  -webkit-filter: grayscale(0%) !important;
  transition: all 1s;
}
/* line 315, ../scss/style.scss */
.photogs .photogItem .jordan {
  background: url("../img/ManleyBio.jpg") no-repeat;
  background-size: 100%;
  background-position: top center;
}
/* line 321, ../scss/style.scss */
.photogs .photogItem .paul {
  background: url("../img/paul.jpg") no-repeat;
  background-size: 145%;
  background-position: top center;
}
/* line 327, ../scss/style.scss */
.photogs .photogItem .ashley {
  background: url("../img/ashley.jpg") no-repeat;
  background-size: 145%;
  background-position: top center;
}
/* line 333, ../scss/style.scss */
.photogs .photogItem .robin {
  background: url("../img/robin.jpg") no-repeat;
  background-size: 100%;
  background-position: top center;
}
/* line 339, ../scss/style.scss */
.photogs .photogItem .dalby {
  background: url("../img/dalby.jpg") no-repeat;
  background-size: 145%;
  background-position: top center;
}
/* line 345, ../scss/style.scss */
.photogs .photogItem .blake {
  background: url("../img/blake.jpg") no-repeat;
  background-size: 100%;
  background-position: top center;
}
/* line 352, ../scss/style.scss */
.photogs .photogItem .photogDetails {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 15px;
  background: #000;
  vertical-align: bottom;
  height: 100%;
  text-align: center;
  max-width: 300px;
}
/* line 363, ../scss/style.scss */
.photogs .photogItem .photogDetails .bioFull {
  display: none;
  transition: all 2.5s;
}
/* line 367, ../scss/style.scss */
.photogs .photogItem .photogDetails .bioFull p {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}
/* line 374, ../scss/style.scss */
.photogs .photogItem .photogDetails h1 {
  color: white;
  font-size: 16px;
  text-transform: none;
  font-weight: 600;
  border-bottom: none;
  padding-bottom: 0;
}
/* line 383, ../scss/style.scss */
.photogs .photogItem .photogDetails a {
  color: #ccc;
  text-decoration: none;
  padding: 3px 12px 3px;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 393, ../scss/style.scss */
.photogs .photogItem .bioImages {
  width: 660px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 300px;
  display: none;
  background-color: teal;
  transition: 3s all;
}

/* line 408, ../scss/style.scss */
.judges h1 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #656565;
}
/* line 417, ../scss/style.scss */
.judges p {
  margin-top: 0;
  padding-top: 0;
  font-size: 13px;
}
/* line 423, ../scss/style.scss */
.judges .intro {
  background: #111 !important;
}
/* line 427, ../scss/style.scss */
.judges .judgeWrap {
  position: relative;
  display: inline-block;
  width: 47%;
  min-width: 250px;
  max-width: 400px;
  height: auto;
  margin: 1% 1% 1% 15px;
  box-sizing: border-box;
  padding: 10px 15px;
  overflow: hidden;
  text-align: left;
  background: #232323;
}
@media screen and (max-width: 850px) {
  /* line 427, ../scss/style.scss */
  .judges .judgeWrap {
    width: 43%;
    min-width: 250px;
  }
}
/* line 446, ../scss/style.scss */
.judges .judgeWrap img {
  width: 90px;
  height: 90px;
  left: 20px;
  top: 20px;
  border-radius: 45px;
  display: inline-block;
  position: absolute;
  text-align: center;
  -webkit-filter: grayscale(100%);
  transition: all 2s;
}
/* line 459, ../scss/style.scss */
.judges .judgeWrap img:hover {
  -webkit-filter: grayscale(0%);
  transition: all 2s;
}
/* line 464, ../scss/style.scss */
.judges .judgeWrap h1 {
  border-bottom: none;
  padding-left: 120px;
  text-align: left;
  vertical-align: top;
}
/* line 471, ../scss/style.scss */
.judges .judgeWrap p {
  text-align: left;
  padding-left: 120px;
}
/* line 478, ../scss/style.scss */
.judges .judgeWrap .judgeIntro {
  vertical-align: top;
  display: inline-block;
  position: relative;
  min-height: 200px;
  width: 100%;
  height: 100%;
}
/* line 487, ../scss/style.scss */
.judges .judgeWrap .judgeIntro p {
  padding-left: 15px !important;
  vertical-align: top;
}

/* line 498, ../scss/style.scss */
.jordanHero {
  background: url("../img/ManleyBio.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 504, ../scss/style.scss */
.paulHero {
  background: url("../img/paulHero.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 509, ../scss/style.scss */
.ashleyHero {
  background: url("../img/ashleyHero.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 514, ../scss/style.scss */
.dalbyHero {
  background: url("../img/dalbyHero.jpg") no-repeat;
  background-size: cover;
  background-position: center right;
}

/* line 519, ../scss/style.scss */
.robinHero {
  background: url("../img/robinHero.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 524, ../scss/style.scss */
.blakeHero {
  background: url("../img/blakeHero.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 532, ../scss/style.scss */
.showHide {
  display: none !important;
  transition: all 1s;
}

/* line 537, ../scss/style.scss */
.hideShow {
  display: inline-block !important;
  transition: all 1s;
}

/* line 542, ../scss/style.scss */
.hideShowLeft {
  left: 10% !important;
  transition: all 1s ease-in;
}

/* line 547, ../scss/style.scss */
.expand {
  width: 96% !important;
  height: 600px !important;
  transition: all 2s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* line 557, ../scss/style.scss */
.autoHeight {
  max-height: 450px !important;
  transition: max-height ease-out 2s !important;
}

/* line 564, ../scss/style.scss */
.sponsors {
  margin-bottom: 90px;
}
/* line 567, ../scss/style.scss */
.sponsors h1 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #656565;
}
/* line 576, ../scss/style.scss */
.sponsors .sponsorWrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 60px;
}
/* line 582, ../scss/style.scss */
.sponsors .sponsorWrap ul {
  position: relative;
  text-align: center;
  vertical-align: top;
}
/* line 586, ../scss/style.scss */
.sponsors .sponsorWrap ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  width: 140px;
  height: 60px;
  vertical-align: top;
  margin: 5px 12px;
}
/* line 601, ../scss/style.scss */
.sponsors .sponsor a img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 610, ../scss/style.scss */
.footer {
  background: #232323;
}
