/* line 12, ../scss/style.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white;
  z-index: 1;
  background: #121212;
  font-family: Avenir, Arial, sans-serif;
}

/* line 23, ../scss/style.scss */
a {
  text-decoration: none;
  color: teal;
}

/* line 28, ../scss/style.scss */
div {
  box-sizing: border-box;
}

/* line 32, ../scss/style.scss */
section {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #333;
  padding-bottom: 30px;
  padding-top: 120px;
}

/* line 40, ../scss/style.scss */
.grid {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 49, ../scss/style.scss */
h1 {
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  color: #666;
}

/* line 57, ../scss/style.scss */
.sectionHeadline {
  position: absolute;
  top: -132px;
  left: 0;
  width: 150px;
  padding: 4px 12px;
  background: #333;
  color: white !important;
}

/* line 69, ../scss/style.scss */
a.anchorPadContestant {
  display: block;
  position: relative;
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}

/* line 77, ../scss/style.scss */
a.anchorPadWinners {
  display: block;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

/* line 84, ../scss/style.scss */
a.anchorPadParty {
  display: block;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

/* line 91, ../scss/style.scss */
a.anchorPadJudges {
  display: block;
  position: relative;
  margin-top: -90px !important;
  margin-bottom: 30px !important;
}

/* line 98, ../scss/style.scss */
a.anchorPadContest {
  display: block;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

/* line 105, ../scss/style.scss */
.nav {
  position: fixed;
  height: 0;
  width: 100%;
  text-align: center;
  background: #eee;
  opacity: .9;
  z-index: 3000;
  transition: height .5s;
  overflow: hidden;
}
/* line 117, ../scss/style.scss */
.nav .eventTitle {
  font-size: 13px;
  font-weight: 900;
  color: black;
  position: absolute;
  width: 200px;
  left: 15px;
  top: 6px;
  letter-spacing: -1px;
  text-align: left;
  text-transform: uppercase;
}
/* line 131, ../scss/style.scss */
.nav div {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
}
/* line 136, ../scss/style.scss */
.nav div a {
  list-style: none;
  display: inline-block;
  padding: 5px 15px 3px;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  transition: all 1.5s;
  font-weight: 400;
  letter-spacing: -1px;
}
/* line 149, ../scss/style.scss */
.nav div a:hover {
  background-color: #ddd;
  color: black;
  transition: all 1s;
}

/* line 157, ../scss/style.scss */
.navDisplay {
  height: 40px !important;
  transition: height .5s;
}

/* line 165, ../scss/style.scss */
.watermark {
  position: absolute;
  background: url("../img/deepWinterCrestWhite.png") no-repeat;
  background-size: 500px;
  background-position: 200px 100px;
  width: 100%;
  height: 90%;
  left: -7%;
  z-index: 1000;
  opacity: 0.4;
  overflow: hidden;
  display: none;
}

/* line 183, ../scss/style.scss */
.featureWrap {
  position: absolute;
  display: block;
  width: 100%;
  height: 90%;
  min-height: 500px;
  top: 0;
  left: 0;
  border-top: none !important;
  padding-bottom: 30px;
  padding-top: 0 !important;
}

/* line 196, ../scss/style.scss */
.featureSlide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 201, ../scss/style.scss */
.featureSlide .slideContent {
  box-sizing: border-box;
  padding-top: 8%;
  vertical-align: top;
}
/* line 206, ../scss/style.scss */
.featureSlide .slideContent h1 {
  color: white;
  text-align: left;
  font-size: 30px;
  font-weight: 900;
  background: #111;
  display: inline-block;
  width: auto;
  padding: 10px 10px 10px 10px;
  margin: 5px 0 0 0;
  vertical-align: top;
}
/* line 219, ../scss/style.scss */
.featureSlide .slideContent h3 {
  color: white;
  text-transform: uppercase;
  background: #111;
  display: inline-block;
  width: auto;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  margin: 5px 0 0 0;
  vertical-align: top;
}
/* line 231, ../scss/style.scss */
.featureSlide .slideContent h5 {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  background: #111;
  display: inline-block;
  width: auto;
  padding: 10px 10px 10px 10px;
  margin: 5px 0 0 0;
  min-width: 200px;
  vertical-align: top;
}
/* line 244, ../scss/style.scss */
.featureSlide .slideContent a {
  display: inline-block;
  position: relative;
  background: white;
  color: black;
  padding: 15px;
  margin-top: 15px;
  width: auto;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 1s;
}
/* line 258, ../scss/style.scss */
.featureSlide .slideContent a:hover {
  color: white;
  background: #222;
  transition: all .5s;
}
/* line 265, ../scss/style.scss */
.featureSlide .slideContent2 {
  box-sizing: border-box;
  padding-top: 8%;
  vertical-align: top;
}
/* line 270, ../scss/style.scss */
.featureSlide .slideContent2 h1 {
  color: white;
  text-align: left;
  font-size: 30px;
  line-height: 24px;
  font-weight: 900;
  display: inline-block;
  width: auto;
  margin: 5px 0 0 0;
  vertical-align: top;
  text-shadow: 2px 2px 0 #111;
}
/* line 284, ../scss/style.scss */
.featureSlide .slideContent2 h3 {
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  font-size: 18px;
  line-height: 18px;
  margin: 5px 0 0 0;
  vertical-align: top;
  text-shadow: 2px 2px 0 #111;
}
/* line 297, ../scss/style.scss */
.featureSlide .slideContent2 h5 {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  margin: 5px 0 0 0;
  min-width: 200px;
  vertical-align: top;
  text-shadow: 2px 2px 0 #111;
}
/* line 310, ../scss/style.scss */
.featureSlide .slideContent2 a {
  display: inline-block;
  position: relative;
  color: white;
  padding: 5px 10px 3px 10px;
  margin-top: 15px;
  width: auto;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 1s;
  border: 1px solid white;
}
/* line 324, ../scss/style.scss */
.featureSlide .slideContent2 a:hover {
  color: white;
  background: #222;
  transition: all .5s;
}
/* line 331, ../scss/style.scss */
.featureSlide .slideContent3 {
  box-sizing: border-box;
  width: 400px;
  vertical-align: top;
  bottom: 0;
  right: 10%;
  background: black;
  padding: 30px;
  margin-top: 5%;
}
/* line 341, ../scss/style.scss */
.featureSlide .slideContent3 h1 {
  color: white;
  text-align: left;
  font-size: 30px;
  font-weight: 900;
  display: inline-block;
  width: auto;
  line-height: 24px;
  margin: 5px 0 0 0;
  vertical-align: top;
  text-shadow: 2px 2px 0 #111;
}
/* line 355, ../scss/style.scss */
.featureSlide .slideContent3 h3 {
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  font-size: 18px;
  line-height: 18px;
  margin: 5px 0 0 0;
  vertical-align: top;
  text-shadow: 2px 2px 0 #111;
}
/* line 368, ../scss/style.scss */
.featureSlide .slideContent3 h5 {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  line-height: 14px;
  margin: 5px 0 0 0;
  min-width: 200px;
  vertical-align: top;
  text-shadow: 2px 2px 0 #111;
}
/* line 382, ../scss/style.scss */
.featureSlide .slideContent3 a {
  display: inline-block;
  position: relative;
  color: white;
  padding: 5px 10px 3px 10px;
  margin-top: 15px;
  width: auto;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 1s;
  border: 1px solid white;
}
/* line 396, ../scss/style.scss */
.featureSlide .slideContent3 a:hover {
  color: white;
  background: #222;
  transition: all .5s;
}
/* line 403, ../scss/style.scss */
.featureSlide .slideContent4 {
  box-sizing: border-box;
  padding-top: 8%;
  vertical-align: top;
}
/* line 408, ../scss/style.scss */
.featureSlide .slideContent4 h1 {
  color: white;
  text-align: left;
  font-size: 36px;
  line-height: 30px;
  font-weight: 900;
  display: inline-block;
  width: auto;
  margin: 5px 0 0 0;
  vertical-align: top;
  text-shadow: 1px 1px 0px #222222, 2px 2px 0px #222222, 3px 3px 0px #222222, 4px 4px 0px #222222;
}
/* line 425, ../scss/style.scss */
.featureSlide .slideContent4 h3 {
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  font-size: 24px;
  line-height: 26px;
  margin: 5px 0 0 0;
  vertical-align: top;
  text-shadow: 1px 1px 0px #222222, 2px 2px 0px #222222, 3px 3px 0px #222222, 4px 4px 0px #222222;
}
/* line 441, ../scss/style.scss */
.featureSlide .slideContent4 h5 {
  color: white;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  margin: 5px 0 0 0;
  min-width: 200px;
  vertical-align: top;
  text-shadow: 1px 1px 0px #222222, 2px 2px 0px #222222, 3px 3px 0px #222222, 4px 4px 0px #222222;
}
/* line 458, ../scss/style.scss */
.featureSlide .slideContent4 a {
  display: inline-block;
  position: relative;
  color: white;
  padding: 5px 10px 3px 10px;
  margin-top: 15px;
  width: auto;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 1s;
  border: 1px solid white;
}
/* line 472, ../scss/style.scss */
.featureSlide .slideContent4 a:hover {
  color: white;
  background: #222;
  transition: all .5s;
}
/* line 479, ../scss/style.scss */
.featureSlide .slideContent5 {
  width: 400px;
  height: 0px;
  position: absolute;
  right: 0%;
  top: 350px;
  display: inline-block;
}
/* line 487, ../scss/style.scss */
.featureSlide .slideContent5 .headline {
  background: black;
  padding: 10px;
  text-align: left;
  margin: 0;
}
/* line 493, ../scss/style.scss */
.featureSlide .slideContent5 .headline h1 {
  color: white;
  font-weight: 900;
  font-size: 30px;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
/* line 503, ../scss/style.scss */
.featureSlide .slideContent5 .headline h3 {
  color: white;
  font-weight: 900;
  font-size: 24px;
  text-align: left;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  line-height: .8em;
}
/* line 513, ../scss/style.scss */
.featureSlide .slideContent5 .headline h3 sup {
  box-sizing: border-box;
  font-size: 10px;
  padding-top: 3px;
}
/* line 521, ../scss/style.scss */
.featureSlide .slideContent5 .subheadline {
  background: black;
  padding: 5px 10px 5px;
  text-align: left;
  margin: 0;
  margin-top: 5px;
}
/* line 528, ../scss/style.scss */
.featureSlide .slideContent5 .subheadline h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  line-height: 14px;
}
/* line 536, ../scss/style.scss */
.featureSlide .slideContent5 .subheadline h3 sup {
  font-size: 8px;
  margin-top: 3px;
}
/* line 543, ../scss/style.scss */
.featureSlide .slideContent5 a {
  float: left;
  display: inline-block;
  position: relative;
  color: black;
  background: white;
  padding: 5px 10px 3px 10px;
  margin-top: 5px;
  width: auto;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 1s;
  border: 1px solid white;
  text-align: left;
}
/* line 560, ../scss/style.scss */
.featureSlide .slideContent5 a:hover {
  color: white;
  background: #222;
  transition: all .5s;
}

/* line 568, ../scss/style.scss */
.slide1 {
  background: url("../img/heroTopDesaturate.jpg") no-repeat;
  background-size: cover;
  opacity: 1;
}

/* line 576, ../scss/style.scss */
.slide2 {
  background: url("../img/dalbyHero.jpg") no-repeat;
  background-size: cover;
  opacity: 1;
}

/* line 582, ../scss/style.scss */
.slide3 {
  background: url("../img/robinHero.jpg") no-repeat;
  background-size: cover;
  opacity: 1;
}

/* line 588, ../scss/style.scss */
.slide4 {
  background: url("../img/blakeHero.jpg") no-repeat;
  background-size: cover;
  opacity: 1;
}

/* line 594, ../scss/style.scss */
.slide5 {
  background: url("../img/heroTopDesaturate.jpg") no-repeat;
  background-size: cover;
  opacity: 1;
}

/* line 602, ../scss/style.scss */
.sponsors {
  border-top: none !important;
  padding-top: 30px !important;
}
/* line 609, ../scss/style.scss */
.sponsors ul {
  text-align: center;
}
/* line 612, ../scss/style.scss */
.sponsors ul li {
  list-style: none;
  display: inline-block;
  padding-right: 30px;
}
/* line 620, ../scss/style.scss */
.sponsors .sponsor {
  width: 11%;
}
/* line 624, ../scss/style.scss */
.sponsors a img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 631, ../scss/style.scss */
.sponsors .mainSponsor {
  width: 13%;
  margin-bottom: 40px;
  padding-right: 45px !important;
}
/* line 636, ../scss/style.scss */
.sponsors .mainSponsor a img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
}
/* line 645, ../scss/style.scss */
.sponsors .whistler {
  width: 15%;
}
/* line 648, ../scss/style.scss */
.sponsors .whistler a img {
  padding-top: 30px;
}
/* line 654, ../scss/style.scss */
.sponsors .gore {
  width: 10%;
}
/* line 657, ../scss/style.scss */
.sponsors .gore a img {
  padding-top: 15px;
}

/* line 664, ../scss/style.scss */
.news {
  margin-top: 120px;
  position: relative;
}
/* line 668, ../scss/style.scss */
.news h1 {
  text-align: center;
  margin-bottom: 60px;
}
/* line 673, ../scss/style.scss */
.news .newsWrap {
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 678, ../scss/style.scss */
.news .newsWrap .newsItem {
  position: relative;
  width: 30%;
  display: inline-block;
  margin-bottom: 60px;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 15px;
}
/* line 687, ../scss/style.scss */
.news .newsWrap .newsItem h1 {
  font-weight: 900;
  text-align: left;
  color: white;
  margin: 0;
  padding: 0;
}
/* line 695, ../scss/style.scss */
.news .newsWrap .newsItem h3 {
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 703, ../scss/style.scss */
.news .newsWrap .newsItem p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7em;
  margin: 0;
  color: #ccc;
}
/* line 712, ../scss/style.scss */
.news .newsWrap .newsItem:nth-of-type(2) {
  margin: 0 30px;
}

/* line 718, ../scss/style.scss */
.contestants {
  margin-top: 90px;
}
/* line 721, ../scss/style.scss */
.contestants .contestantWrap {
  width: 100%;
}
/* line 724, ../scss/style.scss */
.contestants .contestantWrap .sideMargins {
  margin: 0 20px;
}
/* line 728, ../scss/style.scss */
.contestants .contestantWrap .one {
  background: url("../img/blakeHero.jpg") no-repeat !important;
  background-size: 414px auto !important;
}
/* line 737, ../scss/style.scss */
.contestants .contestantWrap .contestantItem {
  position: relative;
  display: inline-block;
  width: 300px;
  background: #222;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  padding-top: 180px;
  margin-bottom: 30px;
}
/* line 750, ../scss/style.scss */
.contestants .contestantWrap .contestantItem .headshot {
  width: 100px;
  height: 100px;
  position: relative;
  display: block;
  background: teal;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  margin: 45px auto;
  overflow: hidden;
  box-shadow: 0px 0px 1px #999;
}
/* line 764, ../scss/style.scss */
.contestants .contestantWrap .contestantItem .headshot img {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 143px;
  margin-top: -25px;
  margin-left: -5px;
}
/* line 774, ../scss/style.scss */
.contestants .contestantWrap .contestantItem h1 {
  font-weight: 900;
  color: white;
  margin: 0;
  padding: 0;
}
/* line 781, ../scss/style.scss */
.contestants .contestantWrap .contestantItem h3 {
  font-weight: 100;
  margin: 15px 0;
  padding: 0;
  font-size: 14px;
}
/* line 788, ../scss/style.scss */
.contestants .contestantWrap .contestantItem p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7em;
  margin: 0;
  color: #ccc;
}
/* line 796, ../scss/style.scss */
.contestants .contestantWrap .contestantItem .contestSocial {
  line-height: 10px;
}
/* line 800, ../scss/style.scss */
.contestants .contestantWrap .contestantItem a {
  position: relative;
  font-size: 13px;
  line-height: 10px;
  display: inline-block;
  padding: 0 7px;
}

/* line 812, ../scss/style.scss */
.winners {
  margin-top: 120px;
  border-bottom: none !important;
}
/* line 816, ../scss/style.scss */
.winners .winnersWrap {
  width: 100%;
  text-align: center;
}
/* line 821, ../scss/style.scss */
.winners .winnersItem {
  position: relative;
  display: inline-block;
  width: 190px;
  background: #222;
  text-align: center;
  padding: 15px;
  margin: 0 1%;
  margin-bottom: 2%;
}
/* line 832, ../scss/style.scss */
.winners .winnersItem .winnersImg {
  position: relative;
  width: 100px;
  height: 100px;
  background: teal;
  border-radius: 50px;
  margin: 0 auto;
}
/* line 841, ../scss/style.scss */
.winners .winnersItem h1 {
  margin-top: 25px;
  color: white;
  font-weight: 900;
  font-size: 13px;
}
/* line 848, ../scss/style.scss */
.winners .winnersItem h3 {
  font-weight: 100;
  font-size: 13px;
}
/* line 855, ../scss/style.scss */
.winners .marginFlex {
  margin: 0 2%;
}

/* line 860, ../scss/style.scss */
.afterparty {
  margin-top: 120px;
  width: 100%;
  padding-bottom: 35%;
  background: #333;
  background: url("../img/afterparty1BWfade.jpg") no-repeat;
  background-size: 100% auto;
  padding-top: 15%;
}
/* line 869, ../scss/style.scss */
.afterparty .partyWrap {
  width: 400px;
  position: absolute;
  right: 0%;
}
/* line 874, ../scss/style.scss */
.afterparty .partyWrap .headline {
  background: black;
  padding: 10px;
  text-align: left;
  margin: 0;
}
/* line 880, ../scss/style.scss */
.afterparty .partyWrap .headline h1 {
  color: white;
  font-weight: 900;
  font-size: 30px;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
/* line 890, ../scss/style.scss */
.afterparty .partyWrap .headline h3 {
  color: white;
  font-weight: 900;
  font-size: 24px;
  text-align: left;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  line-height: .8em;
}
/* line 900, ../scss/style.scss */
.afterparty .partyWrap .headline h3 sup {
  box-sizing: border-box;
  font-size: 10px;
  padding-top: 3px;
}
/* line 908, ../scss/style.scss */
.afterparty .partyWrap .subheadline {
  background: black;
  padding: 5px 10px 5px;
  text-align: left;
  margin: 0;
  margin-top: 5px;
}
/* line 915, ../scss/style.scss */
.afterparty .partyWrap .subheadline h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  line-height: 14px;
}
/* line 923, ../scss/style.scss */
.afterparty .partyWrap .subheadline h3 sup {
  font-size: 8px;
  margin-top: 3px;
}
/* line 930, ../scss/style.scss */
.afterparty .partyWrap a {
  float: left;
  display: inline-block;
  position: relative;
  color: black;
  background: white;
  padding: 5px 10px 3px 10px;
  margin-top: 5px;
  width: auto;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 1s;
  border: 1px solid white;
  text-align: left;
}
/* line 947, ../scss/style.scss */
.afterparty .partyWrap a:hover {
  color: white;
  background: #222;
  transition: all .5s;
}

/* line 957, ../scss/style.scss */
.judges .sectionHeadline {
  top: -133px;
}
/* line 961, ../scss/style.scss */
.judges .marginSides {
  margin: 0 30px;
}
/* line 965, ../scss/style.scss */
.judges .judgeWrap {
  text-align: center;
}
/* line 968, ../scss/style.scss */
.judges .judgeWrap .judgeItem {
  position: relative;
  display: inline-block;
  width: 30%;
  background: #222;
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
}
/* line 977, ../scss/style.scss */
.judges .judgeWrap .judgeItem .judgeBio {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: teal;
  margin: 0 auto;
}
/* line 987, ../scss/style.scss */
.judges .judgeWrap .judgeItem h1 {
  margin-top: 15px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 995, ../scss/style.scss */
.judges .judgeWrap .judgeItem h3 {
  color: white;
  font-size: 13px;
  font-weight: 100;
}

/* line 1006, ../scss/style.scss */
.contest {
  margin-top: 120px;
  text-align: left;
  padding-top: 60px !important;
}
/* line 1011, ../scss/style.scss */
.contest .sectionHeadline {
  top: -113px;
}
/* line 1015, ../scss/style.scss */
.contest h5 {
  text-align: left;
  line-height: .9em;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 24px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 65%;
  display: block;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 1030, ../scss/style.scss */
.contest .contestIntro {
  text-align: center;
}
/* line 1033, ../scss/style.scss */
.contest .contestIntro h1 {
  text-transform: uppecase;
  color: white;
  font-weight: 900;
}
/* line 1039, ../scss/style.scss */
.contest .contestIntro h3 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
}
/* line 1045, ../scss/style.scss */
.contest .contestIntro p {
  font-size: 13px;
  text-align: left;
  line-height: 1.7em;
}
/* line 1053, ../scss/style.scss */
.contest .contestIntro ul li {
  list-style: square;
  font-size: 13px;
  text-align: left;
  margin-left: -20px;
}
/* line 1061, ../scss/style.scss */
.contest .contestIntro .contestCol {
  width: 46%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 30px;
}
/* line 1070, ../scss/style.scss */
.contest .contestIntro .addPad {
  margin-right: 7%;
}
/* line 1083, ../scss/style.scss */
.contest .galleryWrap iframe #widget #widget_header #hashtag_holder li {
  color: white !important;
  font-size: 30px;
  display: inline-block;
  padding: 0 5px;
  font-family: Avenir, sans-serif;
  font-weight: 900;
}

/* line 1096, ../scss/style.scss */
.charity {
  margin-top: 120px;
}
/* line 1103, ../scss/style.scss */
.charity .charityWrap {
  height: 500px;
  vertical-align: top;
}
/* line 1107, ../scss/style.scss */
.charity .charityWrap .charityHeroWrap {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  margin: 0;
  background: url("../img/charityHeroBW.jpg");
  background-size: cover;
}
/* line 1119, ../scss/style.scss */
.charity .charityWrap .charityCopyWrap {
  position: relative;
  display: inline-block;
  width: 45%;
  height: 100%;
  vertical-align: top;
  margin: 0;
  margin-left: 3%;
}
/* line 1128, ../scss/style.scss */
.charity .charityWrap .charityCopyWrap h1 {
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
/* line 1135, ../scss/style.scss */
.charity .charityWrap .charityCopyWrap p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
  text-align: left;
  padding-right: 30px;
}
/* line 1143, ../scss/style.scss */
.charity .charityWrap .charityCopyWrap a {
  color: white;
  margin-top: -30px;
}
/* line 1148, ../scss/style.scss */
.charity .charityWrap .charityCopyWrap img {
  width: 120px;
}

/* line 1157, ../scss/style.scss */
footer {
  padding-top: 60px;
  width: 100%;
  background: #232323;
  padding-top: 60px;
  vertical-align: top;
  padding-bottom: 60px;
}
/* line 1165, ../scss/style.scss */
footer .footerCol {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
/* line 1170, ../scss/style.scss */
footer .footerCol ul {
  vertical-align: top;
}
/* line 1173, ../scss/style.scss */
footer .footerCol ul li {
  vertical-align: top;
  list-style: none;
  font-size: 12px;
  color: #aaa;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 1.5em;
  text-transform: uppercase;
}
