/* line 12, ../scss/style.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white;
  z-index: 1;
  background: #121212;
  font-family: Avenir, Arial, sans-serif;
}

/* line 23, ../scss/style.scss */
a {
  text-decoration: none;
  color: teal;
}

/* line 28, ../scss/style.scss */
div {
  box-sizing: border-box;
}

/* line 32, ../scss/style.scss */
section {
  position: relative;
  display: block;
  overflow: hidden;
  border-top: 1px solid #333;
  padding-bottom: 30px;
  padding-top: 120px;
}

/* line 41, ../scss/style.scss */
.grid {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 50, ../scss/style.scss */
h1 {
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  color: #666;
}

/* line 58, ../scss/style.scss */
.sectionHeadline {
  position: absolute;
  top: -132px;
  left: 0;
  width: 150px;
  padding: 4px 12px;
  background: #333;
  color: white !important;
}

/* line 70, ../scss/style.scss */
a.anchorPadContestant {
  display: block;
  position: relative;
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}

/* line 78, ../scss/style.scss */
a.anchorPadWinners {
  display: block;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

/* line 85, ../scss/style.scss */
a.anchorPadParty {
  display: block;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

/* line 92, ../scss/style.scss */
a.anchorPadJudges {
  display: block;
  position: relative;
  margin-top: -30px !important;
  margin-bottom: 30px !important;
}

/* line 99, ../scss/style.scss */
a.anchorPadContest {
  display: block;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

/* line 106, ../scss/style.scss */
.navMobile {
  display: none;
}
@media screen and (max-width: 570px) {
  /* line 106, ../scss/style.scss */
  .navMobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 10000;
    background: #ddd;
    text-align: left;
    padding-left: 45px;
    padding-top: 8px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
/* line 127, ../scss/style.scss */
.navMobile a {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  color: #222;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 137, ../scss/style.scss */
.navMobile .crestSmall {
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  position: absolute;
  display: inline-block;
  left: 5px;
  top: 2px;
  background: url("../img/deepWinterCrest.png") no-repeat;
  background-size: cover;
}

/* line 153, ../scss/style.scss */
.nav {
  position: absolute;
  height: 40px;
  width: 100%;
  top: 90%;
  margin-top: -30px;
  text-align: center;
  background: #eee;
  opacity: .9;
  z-index: 3000;
  transition: height .5s;
  overflow: hidden;
}
@media screen and (max-width: 570px) {
  /* line 153, ../scss/style.scss */
  .nav {
    display: none;
  }
}
/* line 175, ../scss/style.scss */
.nav .eventTitle {
  font-size: 13px;
  font-weight: 900;
  color: black;
  position: absolute;
  width: 200px;
  left: 15px;
  top: 6px;
  letter-spacing: -1px;
  text-align: left;
  text-transform: uppercase;
  display: none;
}
/* line 190, ../scss/style.scss */
.nav div {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
}
/* line 195, ../scss/style.scss */
.nav div a {
  list-style: none;
  display: inline-block;
  padding: 5px 15px 3px;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  transition: all 1.5s;
  font-weight: 400;
  letter-spacing: -1px;
}
/* line 208, ../scss/style.scss */
.nav div a:hover {
  background-color: #ddd;
  color: black;
  transition: all 1s;
}

/* line 216, ../scss/style.scss */
.navDisplay {
  transition: height .5s;
  position: fixed;
  top: 0;
  margin-top: 0 !important;
}

/* line 225, ../scss/style.scss */
.watermark {
  position: absolute;
  background: url("../img/deepwintercrestallwhite.png") no-repeat;
  background-size: 500px;
  background-position: -90px 200px;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  opacity: 0.6;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  display: none;
}

/* line 241, ../scss/style.scss */
.watermarkBehind {
  position: absolute;
  background: url("../img/deepwintercrestallwhite.png") no-repeat;
  background-size: 400px;
  background-position: 75% 85%;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  opacity: 0.6;
  padding: 0;
  right: 0;
  overflow: hidden;
  box-sizing: border-box;
  display: none;
}

/* line 257, ../scss/style.scss */
.tagline {
  font-size: 20px;
  line-height: 24px;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 12%;
  text-transform: uppercase;
  display: none;
}

/* line 268, ../scss/style.scss */
.crestSmall {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 45%;
  right: 45%;
  background: url("../img/deepwintercrestallwhite.png") no-repeat;
  background-size: 20px;
  display: none;
}

/* line 285, ../scss/style.scss */
.featureWrap {
  position: absolute;
  display: block;
  width: 100%;
  height: 90%;
  min-height: 675px;
  top: 0;
  left: 0;
  border-top: none !important;
  padding-top: 0 !important;
}
@media screen and (max-width: 600px) {
  /* line 285, ../scss/style.scss */
  .featureWrap {
    height: 50%;
  }
}

/* line 301, ../scss/style.scss */
.featureSlide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 306, ../scss/style.scss */
.featureSlide .slideContent {
  width: 450px;
  height: 0px;
  position: absolute;
  right: 0%;
  top: 40%;
  display: inline-block;
  opacity: 0.85;
}
@media screen and (max-height: 475px) {
  /* line 306, ../scss/style.scss */
  .featureSlide .slideContent {
    top: 25%;
  }
}
@media screen and (max-width: 600px) {
  /* line 306, ../scss/style.scss */
  .featureSlide .slideContent {
    width: 90%;
    position: relative;
    display: inline-block;
    margin-left: 10%;
  }
}
/* line 326, ../scss/style.scss */
.featureSlide .slideContent .headline {
  background: black;
  padding: 10px;
  text-align: left;
  margin: 0;
  position: relative;
  margin-top: 5px;
}
/* line 334, ../scss/style.scss */
.featureSlide .slideContent .headline .crestSmall {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 120px;
  position: absolute;
  right: 10px;
  top: 5px;
  background: url("../img/deepwintercrestallwhite.png") no-repeat;
  background-size: 100px;
  opacity: .4;
  display: none;
}
/* line 348, ../scss/style.scss */
.featureSlide .slideContent .headline h1 {
  color: white;
  font-weight: 900;
  font-size: 36px;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
/* line 358, ../scss/style.scss */
.featureSlide .slideContent .headline h3 {
  color: white;
  font-weight: 900;
  font-size: 30px;
  text-align: left;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  line-height: .8em;
}
/* line 368, ../scss/style.scss */
.featureSlide .slideContent .headline h3 sup {
  box-sizing: border-box;
  font-size: 10px;
  padding-top: 3px;
}
/* line 375, ../scss/style.scss */
.featureSlide .slideContent .headline h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  vertical-align: top;
}
/* line 387, ../scss/style.scss */
.featureSlide .slideContent .subheadline {
  background: black;
  padding: 8px 10px 8px;
  text-align: left;
  margin: 0;
  margin-top: 5px;
}
/* line 394, ../scss/style.scss */
.featureSlide .slideContent .subheadline h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  line-height: 14px;
}
/* line 403, ../scss/style.scss */
.featureSlide .slideContent .subheadline h3 sup {
  font-size: 8px;
  margin-top: 3px;
}
/* line 410, ../scss/style.scss */
.featureSlide .slideContent a {
  float: left;
  display: inline-block;
  position: relative;
  color: black;
  background: white;
  padding: 5px 10px 3px 10px;
  margin-top: 7px;
  width: auto;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 1s;
  border: 1px solid white;
  text-align: left;
}
/* line 427, ../scss/style.scss */
.featureSlide .slideContent a:hover {
  color: white;
  background: #222;
  transition: all .5s;
}

/* line 435, ../scss/style.scss */
.slide5 {
  background: url("../img/featureHeroBlake.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1;
}

/* line 445, ../scss/style.scss */
.slide1 {
  background: url("../img/heroTopDesaturate.jpg") no-repeat;
  background-size: cover;
  opacity: 1;
}

/* line 453, ../scss/style.scss */
.slide3 {
  background: url("../img/dalbyHero.jpg") no-repeat;
  background-size: cover;
  opacity: 1;
}

/* line 459, ../scss/style.scss */
.slide2 {
  background: url("../img/robinHero.jpg") no-repeat;
  background-size: cover;
  opacity: 1;
}

/* line 465, ../scss/style.scss */
.slide4 {
  background: url("../img/blakeHero.jpg") no-repeat;
  background-size: cover;
  opacity: 1;
}

/* line 473, ../scss/style.scss */
.sponsors {
  border-top: none !important;
  padding-top: 30px !important;
}
/* line 476, ../scss/style.scss */
.sponsors h1 {
  padding-left: 40px;
}
@media screen and (max-width: 600px) {
  /* line 476, ../scss/style.scss */
  .sponsors h1 {
    padding-left: 0;
  }
}
/* line 484, ../scss/style.scss */
.sponsors ul {
  text-align: center;
}
/* line 487, ../scss/style.scss */
.sponsors ul li {
  list-style: none;
  display: inline-block;
  padding-right: 30px;
}
/* line 495, ../scss/style.scss */
.sponsors .sponsor {
  width: 11%;
  min-width: 100px;
}
/* line 500, ../scss/style.scss */
.sponsors a img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 507, ../scss/style.scss */
.sponsors .mainSponsor {
  width: 13%;
  min-width: 100px;
  margin-bottom: 40px;
  padding-right: 45px !important;
}
@media screen and (max-width: 600px) {
  /* line 507, ../scss/style.scss */
  .sponsors .mainSponsor {
    margin-bottom: 10px;
  }
}
/* line 518, ../scss/style.scss */
.sponsors .mainSponsor a img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
}
/* line 527, ../scss/style.scss */
.sponsors .whistler {
  width: 15%;
}
/* line 530, ../scss/style.scss */
.sponsors .whistler a img {
  padding-top: 30px;
}
/* line 536, ../scss/style.scss */
.sponsors .gore {
  width: 10%;
}
/* line 539, ../scss/style.scss */
.sponsors .gore a img {
  padding-top: 15px;
}

/* line 546, ../scss/style.scss */
.news {
  margin-top: 120px;
  position: relative;
}
/* line 550, ../scss/style.scss */
.news h1 {
  text-align: center;
  margin-bottom: 60px;
}
/* line 555, ../scss/style.scss */
.news .newsWrap {
  position: relative;
  display: inline-block;
  width: 100%;
}
@media screen and (max-width: 959px) {
  /* line 555, ../scss/style.scss */
  .news .newsWrap {
    padding-left: 15px;
  }
}
@media screen and (max-width: 650px) {
  /* line 555, ../scss/style.scss */
  .news .newsWrap {
    padding-left: 30px;
  }
}
/* line 568, ../scss/style.scss */
.news .newsWrap .newsItem {
  position: relative;
  width: 30%;
  min-width: 275px;
  display: inline-block;
  margin-bottom: 60px;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 15px;
}
@media screen and (max-width: 960px) {
  /* line 568, ../scss/style.scss */
  .news .newsWrap .newsItem {
    width: 30%;
    min-width: 200px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  /* line 568, ../scss/style.scss */
  .news .newsWrap .newsItem {
    width: 45%;
  }
}
@media screen and (max-width: 650px) {
  /* line 568, ../scss/style.scss */
  .news .newsWrap .newsItem {
    width: 90%;
    margin-bottom: 30px;
    margin-left: 0;
    padding-left: 0;
  }
}
/* line 596, ../scss/style.scss */
.news .newsWrap .newsItem h1 {
  font-weight: 900;
  text-align: left;
  color: white;
  margin: 0;
  padding: 0;
}
/* line 604, ../scss/style.scss */
.news .newsWrap .newsItem h3 {
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 612, ../scss/style.scss */
.news .newsWrap .newsItem p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7em;
  margin: 0;
  color: #ccc;
}
/* line 621, ../scss/style.scss */
.news .newsWrap .newsItem:nth-of-type(2) {
  margin: 0 30px;
}
@media screen and (max-width: 650px) {
  /* line 621, ../scss/style.scss */
  .news .newsWrap .newsItem:nth-of-type(2) {
    margin-bottom: 30px;
    margin-left: 0 !important;
  }
}

/* line 632, ../scss/style.scss */
.contestants {
  margin-top: 90px;
}
/* line 635, ../scss/style.scss */
.contestants .contestantWrap {
  width: 100%;
  vertical-align: top;
  text-align: left;
}
@media screen and (max-width: 959px) {
  /* line 635, ../scss/style.scss */
  .contestants .contestantWrap {
    text-align: center;
  }
}
/* line 644, ../scss/style.scss */
.contestants .contestantWrap .sideMargins {
  margin: 0 20px;
}
/* line 648, ../scss/style.scss */
.contestants .contestantWrap .sideMarginsResp {
  margin: 0;
}
@media screen and (max-width: 959px) {
  /* line 648, ../scss/style.scss */
  .contestants .contestantWrap .sideMarginsResp {
    margin: 0 20px;
  }
}
/* line 656, ../scss/style.scss */
.contestants .contestantWrap .bioAshley {
  background: url("../img/ashleyBioHero.jpg") no-repeat !important;
  background-size: 414px auto !important;
}
/* line 661, ../scss/style.scss */
.contestants .contestantWrap .bioZoya {
  background: url("../img/zoyaBioHero.jpg") no-repeat !important;
  background-size: 414px auto !important;
  background-position: right top;
}
/* line 670, ../scss/style.scss */
.contestants .contestantWrap .contestantItem {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 650px;
  background: #222;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  padding-top: 180px;
  margin-bottom: 30px;
  overflow: hidden;
  vertical-align: top;
}
@media screen and (max-width: 650px) {
  /* line 670, ../scss/style.scss */
  .contestants .contestantWrap .contestantItem {
    width: 275px;
  }
}
@media screen and (max-width: 500px) {
  /* line 670, ../scss/style.scss */
  .contestants .contestantWrap .contestantItem {
    width: 80%;
  }
}
/* line 692, ../scss/style.scss */
.contestants .contestantWrap .contestantItem .headshot {
  width: 100px;
  height: 100px;
  position: relative;
  display: block;
  background: teal;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  margin: 45px auto;
  overflow: hidden;
  box-shadow: 0px 0px 1px #999;
}
/* line 706, ../scss/style.scss */
.contestants .contestantWrap .contestantItem .headshot img {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 143px;
  margin-top: -25px;
  margin-left: -5px;
}
/* line 715, ../scss/style.scss */
.contestants .contestantWrap .contestantItem .headshot .headshotAshley {
  width: 160px;
  margin-top: -30px;
  margin-left: -20px;
}
/* line 722, ../scss/style.scss */
.contestants .contestantWrap .contestantItem h1 {
  font-weight: 900;
  color: white;
  margin: 0;
  padding: 0;
}
/* line 729, ../scss/style.scss */
.contestants .contestantWrap .contestantItem h3 {
  font-weight: 100;
  margin: 15px 0;
  padding: 0;
  font-size: 14px;
}
/* line 736, ../scss/style.scss */
.contestants .contestantWrap .contestantItem p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7em;
  margin: 0;
  color: #ccc;
}
/* line 744, ../scss/style.scss */
.contestants .contestantWrap .contestantItem a {
  position: relative;
  font-size: 13px;
  line-height: 10px;
  display: inline-block;
  padding: 0 7px;
}

/* line 756, ../scss/style.scss */
.winners {
  margin-top: 120px;
  border-bottom: none !important;
}
/* line 760, ../scss/style.scss */
.winners .winnersWrap {
  width: 100%;
  text-align: center;
}
/* line 765, ../scss/style.scss */
.winners .winnersItem {
  position: relative;
  display: inline-block;
  width: 190px;
  background: #222;
  text-align: center;
  padding: 15px;
  margin: 0 1%;
  margin-bottom: 2%;
}
/* line 775, ../scss/style.scss */
.winners .winnersItem .winnersImg {
  position: relative;
  width: 100px;
  height: 100px;
  background: teal;
  border-radius: 50px;
  margin: 0 auto;
}
/* line 784, ../scss/style.scss */
.winners .winnersItem h1 {
  margin-top: 25px;
  color: white;
  font-weight: 900;
  font-size: 13px;
}
/* line 791, ../scss/style.scss */
.winners .winnersItem h3 {
  font-weight: 100;
  font-size: 13px;
}
/* line 798, ../scss/style.scss */
.winners .marginFlex {
  margin: 0 2%;
}

/* line 805, ../scss/style.scss */
.afterparty {
  margin-top: 120px;
  width: 100%;
  height: 540px;
  background: #333;
  background: url("../img/1920x1080GLCevent.jpg") no-repeat;
  background-size: cover;
  padding-top: 15%;
  overflow: hidden;
}
@media screen and (max-width: 959px) {
  /* line 805, ../scss/style.scss */
  .afterparty {
    min-height: 550px;
    padding-top: 200px;
  }
}
@media screen and (max-width: 650px) {
  /* line 805, ../scss/style.scss */
  .afterparty {
    height: 400px;
  }
}
@media screen and (max-width: 500px) {
  /* line 805, ../scss/style.scss */
  .afterparty {
    height: auto;
    min-height: 200px;
    background-size: 120%;
  }
}
/* line 833, ../scss/style.scss */
.afterparty .partyWrap {
  width: 40%;
  min-width: 400px;
  position: absolute;
  right: 0%;
}
@media screen and (max-width: 500px) {
  /* line 833, ../scss/style.scss */
  .afterparty .partyWrap {
    width: 100%;
    min-width: 70%;
    background: black;
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;
    padding-left: 30px;
  }
}
/* line 849, ../scss/style.scss */
.afterparty .partyWrap .headline {
  background: black;
  padding: 10px;
  text-align: left;
  margin: 0;
}
/* line 855, ../scss/style.scss */
.afterparty .partyWrap .headline h1 {
  color: white;
  font-weight: 900;
  font-size: 36px;
  text-align: left;
  margin: 0 0 -10px 0;
  padding: 0;
  line-height: 1.2em;
}
/* line 865, ../scss/style.scss */
.afterparty .partyWrap .headline h3 {
  color: white;
  font-weight: 900;
  font-size: 24px;
  text-align: left;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  line-height: .8em;
}
/* line 875, ../scss/style.scss */
.afterparty .partyWrap .headline h3 sup {
  box-sizing: border-box;
  font-size: 10px;
  padding-top: 3px;
}
/* line 883, ../scss/style.scss */
.afterparty .partyWrap .subheadline {
  background: black;
  padding: 5px 10px 5px;
  text-align: left;
  margin: 0;
  margin-top: 5px;
}
/* line 890, ../scss/style.scss */
.afterparty .partyWrap .subheadline h5 {
  font-style: italic;
  font-weight: 100;
  font-size: 12px;
  color: #aaa;
  margin: 0;
  padding: 0;
  line-height: 15px;
  margin-top: -10px;
}
/* line 902, ../scss/style.scss */
.afterparty .partyWrap .subheadline h5 a {
  color: teal;
  background: none;
  font-weight: 100;
  font-size: 13px;
  border: none;
  text-transform: none;
  float: none;
  display: inline-block;
  margin-top: 0;
  margin-left: 0;
  padding-left: 5px;
}
/* line 919, ../scss/style.scss */
.afterparty .partyWrap .subheadline h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 14px;
}
@media screen and (max-width: 500px) {
  /* line 919, ../scss/style.scss */
  .afterparty .partyWrap .subheadline h3 {
    font-size: 14px;
  }
}
/* line 931, ../scss/style.scss */
.afterparty .partyWrap .subheadline h3 sup {
  font-size: 8px;
  margin-top: 3px;
}
/* line 937, ../scss/style.scss */
.afterparty .partyWrap .subheadline p {
  font-size: 13px;
  font-weight: 100;
  line-height: 19px;
  max-width: 350px;
}
/* line 945, ../scss/style.scss */
.afterparty .partyWrap a {
  float: left;
  display: inline-block;
  position: relative;
  color: black;
  background: white;
  padding: 5px 10px 3px 10px;
  margin-top: 10px;
  width: auto;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 1s;
  border: 1px solid white;
  text-align: left;
}
@media screen and (max-width: 500px) {
  /* line 945, ../scss/style.scss */
  .afterparty .partyWrap a {
    margin-left: 15px;
  }
}
/* line 966, ../scss/style.scss */
.afterparty .partyWrap a:hover {
  color: white;
  background: none;
  transition: all .5s;
}

/* line 977, ../scss/style.scss */
.judges .sectionHeadline {
  top: -133px;
}
/* line 981, ../scss/style.scss */
.judges .marginSides {
  margin: 0 30px;
}
@media screen and (max-width: 500px) {
  /* line 981, ../scss/style.scss */
  .judges .marginSides {
    margin: 0 auto;
  }
}
/* line 989, ../scss/style.scss */
.judges .judgeWrap {
  text-align: center;
}
/* line 992, ../scss/style.scss */
.judges .judgeWrap .judgeItem {
  position: relative;
  display: inline-block;
  width: 30%;
  background: #222;
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
}
@media screen and (max-width: 768px) {
  /* line 992, ../scss/style.scss */
  .judges .judgeWrap .judgeItem {
    width: 40%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  /* line 992, ../scss/style.scss */
  .judges .judgeWrap .judgeItem {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
/* line 1012, ../scss/style.scss */
.judges .judgeWrap .judgeItem .judgeBio {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: teal;
  margin: 0 auto;
}
/* line 1022, ../scss/style.scss */
.judges .judgeWrap .judgeItem h1 {
  margin-top: 15px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 1030, ../scss/style.scss */
.judges .judgeWrap .judgeItem h3 {
  color: white;
  font-size: 13px;
  font-weight: 100;
}

/* line 1041, ../scss/style.scss */
#overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 25px;
  border: 5px solid #666;
  background-color: #ffffff;
  height: 100%;
  overflow: scroll;
  z-index: 9000;
  color: #333;
}

/* line 1057, ../scss/style.scss */
#overlay p {
  color: #666;
  max-width: 75%;
  margin: 0 auto;
}

/* line 1063, ../scss/style.scss */
#overlay h1 {
  font-weight: 900;
  font-size: 18px;
}

/* line 1068, ../scss/style.scss */
#overlay h3 {
  max-width: 75%;
}

/* line 1072, ../scss/style.scss */
#overlay h5 {
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}

/* line 1078, ../scss/style.scss */
#fade {
  display: none;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

/* line 1092, ../scss/style.scss */
#closeLink {
  position: fixed;
  background: #000;
  right: 5%;
  top: 5%;
  z-index: 200;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 11px;
  background: #eee;
}

/* line 1104, ../scss/style.scss */
#closeLink a {
  color: #fc561d !important;
  text-decoration: none;
}

/* line 1110, ../scss/style.scss */
.contest {
  margin-top: 120px;
  text-align: left;
  padding-top: 60px !important;
}
/* line 1115, ../scss/style.scss */
.contest .sectionHeadline {
  top: -73px;
}
/* line 1119, ../scss/style.scss */
.contest h4 {
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline-block;
}
@media screen and (max-width: 959px) {
  /* line 1119, ../scss/style.scss */
  .contest h4 {
    padding-left: 30px;
  }
}
@media screen and (max-width: 650px) {
  /* line 1119, ../scss/style.scss */
  .contest h4 {
    padding-left: 40px;
    width: 40%;
  }
}
/* line 1136, ../scss/style.scss */
.contest h5 {
  text-align: left;
  line-height: .9em;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 24px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 65%;
  display: block;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
@media screen and (max-width: 959px) {
  /* line 1136, ../scss/style.scss */
  .contest h5 {
    padding-left: 30px;
  }
}
@media screen and (max-width: 650px) {
  /* line 1136, ../scss/style.scss */
  .contest h5 {
    padding-left: 40px;
    width: 100%;
    padding-right: 15%;
  }
}
/* line 1162, ../scss/style.scss */
.contest .contestIntro {
  text-align: center;
}
/* line 1165, ../scss/style.scss */
.contest .contestIntro h1 {
  text-transform: uppecase;
  color: white;
  font-weight: 900;
}
/* line 1171, ../scss/style.scss */
.contest .contestIntro h3 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
}
/* line 1177, ../scss/style.scss */
.contest .contestIntro p {
  font-size: 13px;
  text-align: left;
  line-height: 1.7em;
}
/* line 1185, ../scss/style.scss */
.contest .contestIntro ul li {
  list-style: square;
  font-size: 13px;
  text-align: left;
  margin-left: -20px;
}
/* line 1193, ../scss/style.scss */
.contest .contestIntro .contestCol {
  width: 46%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 30px;
}
@media screen and (max-width: 959px) {
  /* line 1193, ../scss/style.scss */
  .contest .contestIntro .contestCol {
    padding-left: 30px;
  }
}
@media screen and (max-width: 650px) {
  /* line 1193, ../scss/style.scss */
  .contest .contestIntro .contestCol {
    width: 90%;
  }
}
/* line 1209, ../scss/style.scss */
.contest .contestIntro .contestCol #pixlee_container {
  padding-right: 30px;
}
@media screen and (max-width: 650px) {
  /* line 1209, ../scss/style.scss */
  .contest .contestIntro .contestCol #pixlee_container {
    padding-left: -30px !important;
  }
}
/* line 1217, ../scss/style.scss */
.contest .contestIntro .contestCol #rulesLink {
  color: white;
  text-align: left;
  display: block;
}
/* line 1222, ../scss/style.scss */
.contest .contestIntro .contestCol #rulesLink a {
  color: white;
  font-size: 14px;
  display: block;
  text-align: left;
  text-decoration: underline;
}
/* line 1231, ../scss/style.scss */
.contest .contestIntro .contestCol a.rulesLink {
  color: white;
  text-align: left;
  display: block;
  font-size: 14px;
  text-decoration: underline;
}
/* line 1239, ../scss/style.scss */
.contest .contestIntro .contestCol .contestSocial {
  line-height: 10px;
  position: relative;
  text-align: left;
}
/* line 1244, ../scss/style.scss */
.contest .contestIntro .contestCol .contestSocial a.socialLink {
  padding: 8px 12px 8px 12px;
  background: #555;
  display: inline-block;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  text-align: left;
  font-weight: 900;
  border-radius: 2px;
  transition: all 1s;
}
/* line 1257, ../scss/style.scss */
.contest .contestIntro .contestCol .contestSocial a.socialLink .socialIcon {
  position: relative;
  display: inline-block;
  width: 12px;
  margin-right: 8px;
}
/* line 1263, ../scss/style.scss */
.contest .contestIntro .contestCol .contestSocial a.socialLink .socialIcon svg {
  width: 100%;
  height: auto;
}
/* line 1267, ../scss/style.scss */
.contest .contestIntro .contestCol .contestSocial a.socialLink .socialIcon svg .socialTwitter {
  fill: white;
}
/* line 1271, ../scss/style.scss */
.contest .contestIntro .contestCol .contestSocial a.socialLink .socialIcon svg .socialInsta {
  fill: white;
}
/* line 1278, ../scss/style.scss */
.contest .contestIntro .contestCol .contestSocial a.socialLink:hover {
  background: teal;
  transition: all 1s;
}
/* line 1286, ../scss/style.scss */
.contest .contestIntro .addPad {
  margin-right: 7%;
}
/* line 1291, ../scss/style.scss */
.contest .galleryWrap {
  padding-right: 15px;
  box-sizing: border-box;
}
/* line 1301, ../scss/style.scss */
.contest .galleryWrap iframe #widget #widget_header #hashtag_holder li {
  color: white !important;
  font-size: 30px;
  display: inline-block;
  padding: 0 5px;
  font-family: Avenir, sans-serif;
  font-weight: 900;
}

/* line 1314, ../scss/style.scss */
.charity {
  margin-top: 120px;
}
/* line 1321, ../scss/style.scss */
.charity .charityWrap {
  height: 400px;
  vertical-align: top;
}
@media screen and (max-width: 600px) {
  /* line 1321, ../scss/style.scss */
  .charity .charityWrap {
    height: auto;
    padding-right: 30px;
  }
}
/* line 1332, ../scss/style.scss */
.charity .charityWrap .charityHeroWrap {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  margin: 0;
  background: url("../img/charityHeroBWFinal.jpg") no-repeat;
  background-size: cover;
  background-position: -40px 0;
}
@media screen and (max-width: 600px) {
  /* line 1332, ../scss/style.scss */
  .charity .charityWrap .charityHeroWrap {
    width: 90%;
    height: 300px;
    margin-left: 30px;
    background-size: cover;
  }
}
/* line 1352, ../scss/style.scss */
.charity .charityWrap .charityCopyWrap {
  position: relative;
  display: inline-block;
  width: 45%;
  height: 100%;
  vertical-align: top;
  margin: 0;
  margin-left: 3%;
}
@media screen and (max-width: 600px) {
  /* line 1352, ../scss/style.scss */
  .charity .charityWrap .charityCopyWrap {
    width: 90%;
    padding-left: 30px;
    height: 400px;
    margin-left: 0;
  }
}
/* line 1369, ../scss/style.scss */
.charity .charityWrap .charityCopyWrap h1 {
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
/* line 1376, ../scss/style.scss */
.charity .charityWrap .charityCopyWrap p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
  text-align: left;
  padding-right: 30px;
}
/* line 1384, ../scss/style.scss */
.charity .charityWrap .charityCopyWrap a {
  color: white;
  margin-top: -30px;
}
/* line 1389, ../scss/style.scss */
.charity .charityWrap .charityCopyWrap img {
  width: 120px;
}

/* line 1398, ../scss/style.scss */
footer {
  width: 100%;
  background: #232323;
  vertical-align: top;
  padding: 10px 0;
  margin-top: 90px;
}
/* line 1405, ../scss/style.scss */
footer .footerCol {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
@media screen and (max-width: 500px) {
  /* line 1405, ../scss/style.scss */
  footer .footerCol {
    width: 90%;
  }
}
/* line 1414, ../scss/style.scss */
footer .footerCol ul {
  vertical-align: top;
}
/* line 1417, ../scss/style.scss */
footer .footerCol ul li {
  vertical-align: top;
  list-style: none;
  font-size: 11px;
  color: #eee;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.5em;
  text-transform: uppercase;
}
/* line 1427, ../scss/style.scss */
footer .footerCol ul li .lighter {
  color: #aaa;
  font-weight: 300;
}
