/* line 5, ../scss/style_old.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white;
  z-index: 1;
  background: #111;
  font-family: Avenir, Arial, sans-serif;
}

/* line 16, ../scss/style_old.scss */
div {
  box-sizing: border-box;
}

/* line 20, ../scss/style_old.scss */
.navWrap {
  width: 100%;
  height: 50px;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: black;
  z-index: 100;
  opacity: .6;
}
/* line 32, ../scss/style_old.scss */
.navWrap .navContent {
  width: 100%;
  max-width: 960px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background: black;
}

/* line 42, ../scss/style_old.scss */
.crestWrap {
  position: absolute;
  width: 100%;
  height: 300px;
  top: -35px;
  left: -35px;
  text-align: center;
  background: url("../img/deepWinterCrestWhite.png") no-repeat;
  background-size: 300px;
  opacity: 0.5;
  z-index: 2000;
}

/* line 55, ../scss/style_old.scss */
.section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* line 62, ../scss/style_old.scss */
.contentWrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

/* line 71, ../scss/style_old.scss */
.topWrap {
  position: relative;
  margin-top: 0;
  height: 85%;
  min-height: 400px;
  background: url("../img/heroTopBW.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
/* line 81, ../scss/style_old.scss */
.topWrap .detailWrap {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 76%;
  margin-top: 200px;
}
/* line 88, ../scss/style_old.scss */
.topWrap .detailWrap .event {
  cursor: pointer;
  transition: all 2s;
}
/* line 92, ../scss/style_old.scss */
.topWrap .detailWrap .event h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 111, ../scss/style_old.scss */
.topWrap .detailWrap .opacityFade {
  opacity: 0 !important;
  transition: all 2s;
}
/* line 116, ../scss/style_old.scss */
.topWrap .detailWrap .opaque {
  opacity: 1 !important;
  transition: all 2s;
}
/* line 121, ../scss/style_old.scss */
.topWrap .detailWrap ul {
  display: block;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  margin-left: 0;
  padding-left: 0;
}
/* line 130, ../scss/style_old.scss */
.topWrap .detailWrap ul li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 31%;
  height: 100%;
  margin-right: 2%;
  background: #212121;
  box-sizing: border-box;
  opacity: .8;
  padding: 20px;
  text-align: center;
}
/* line 143, ../scss/style_old.scss */
.topWrap .detailWrap ul li h1 {
  font-size: 24px;
}

/* line 151, ../scss/style_old.scss */
.eventDetails, .eventTickets, .eventContest {
  position: fixed;
  top: 10%;
  width: 80%;
  right: 10%;
  bottom: 10%;
  z-index: 9000;
  box-sizing: border-box;
  padding: 30px;
  left: -2000px;
  opacity: .7;
  transition: all 1.5s ease-in;
  background: black;
}

/* line 166, ../scss/style_old.scss */
.closeLinkDetails, .closeLinkTickets, .closeLinkContest {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

/* line 174, ../scss/style_old.scss */
.slideUp {
  margin-top: 0px !important;
  transition: all 1.3s ease-in 2.5s;
}

/* line 179, ../scss/style_old.scss */
.darkLayer {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: #000;
  opacity: 1;
}

/* line 189, ../scss/style_old.scss */
.opacityChange {
  opacity: 0 !important;
  transition: all 0.5s ease-out !important;
  transition-delay: 2s;
}

/* line 195, ../scss/style_old.scss */
.opacityChangeLong {
  opacity: 0 !important;
  transition: all 5s ease-out !important;
  transition-delay: 2s;
}

/* line 201, ../scss/style_old.scss */
.hideShowLeft {
  left: 10% !important;
  transition: all 1s ease-in;
}

/* line 207, ../scss/style_old.scss */
.news {
  margin-top: 60px;
  position: relative;
  display: block;
  max-height: 220px;
  overflow: hidden;
  transition: max-height 2s;
}
/* line 215, ../scss/style_old.scss */
.news h1 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #656565;
}
/* line 225, ../scss/style_old.scss */
.news .readAllLink {
  position: relative;
  display: inline-block;
  font-size: 13px;
  margin-left: 15px;
  cursor: pointer;
  color: #656565;
}
/* line 237, ../scss/style_old.scss */
.news .newsWrap {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 31%;
  margin-right: 2%;
  padding: 0 15px 0 0;
  margin-bottom: 60px;
}
/* line 246, ../scss/style_old.scss */
.news .newsWrap h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: none;
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 5px;
}
/* line 256, ../scss/style_old.scss */
.news .newsWrap p {
  font-size: 13px;
  line-height: 18px;
  color: #ccc;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 266, ../scss/style_old.scss */
.news .newsWrap a {
  color: #656565;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

/* line 277, ../scss/style_old.scss */
.photogs {
  position: relative;
  min-height: 600px;
}
/* line 281, ../scss/style_old.scss */
.photogs h1 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid #656565;
}
/* line 290, ../scss/style_old.scss */
.photogs .photogItem {
  width: 29%;
  height: 360px;
  margin: 3% 2%;
  padding: 0;
  z-index: 1;
  position: relative;
  display: inline-block;
  background-color: #333;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  transition: all 1.5s;
}
/* line 305, ../scss/style_old.scss */
.photogs .photogItem .photoImg {
  width: 100%;
  height: 250px;
  position: relative;
  max-width: 300px;
  transition: all 2s;
  -webkit-filter: grayscale(100%);
}
/* line 314, ../scss/style_old.scss */
.photogs .photogItem .photoImg:hover {
  -webkit-filter: grayscale(0%) !important;
  transition: all 1s;
}
/* line 322, ../scss/style_old.scss */
.photogs .photogItem .photogDetails {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 15px;
  background: #000;
  vertical-align: bottom;
  height: 100%;
  text-align: center;
  max-width: 300px;
}
/* line 333, ../scss/style_old.scss */
.photogs .photogItem .photogDetails .bioFull {
  display: none;
  transition: all 2.5s;
}
/* line 337, ../scss/style_old.scss */
.photogs .photogItem .photogDetails .bioFull p {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}
/* line 344, ../scss/style_old.scss */
.photogs .photogItem .photogDetails h1 {
  color: white;
  font-size: 16px;
  text-transform: none;
  font-weight: 600;
  border-bottom: none;
  padding-bottom: 0;
}
/* line 353, ../scss/style_old.scss */
.photogs .photogItem .photogDetails a {
  color: #ccc;
  text-decoration: none;
  padding: 3px 12px 3px;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 363, ../scss/style_old.scss */
.photogs .photogItem .bioImages {
  width: 660px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 300px;
  display: none;
  background-color: teal;
  transition: 3s all;
}

/* line 379, ../scss/style_old.scss */
.jordan {
  background: url("../img/ManleyBio.jpg") no-repeat;
  background-size: 100%;
  background-position: center center;
}

/* line 385, ../scss/style_old.scss */
.paul {
  background: url("../img/paul.jpg") no-repeat;
  background-size: 145%;
  background-position: top center;
}

/* line 391, ../scss/style_old.scss */
.ashley {
  background: url("../img/ashley.jpg") no-repeat;
  background-size: 145%;
  background-position: top center;
}

/* line 397, ../scss/style_old.scss */
.robin {
  background: url("../img/robin.jpg") no-repeat;
  background-size: 100%;
  background-position: top center;
}

/* line 403, ../scss/style_old.scss */
.dalby {
  background: url("../img/dalby.jpg") no-repeat;
  background-size: 145%;
  background-position: top center;
}

/* line 409, ../scss/style_old.scss */
.blake {
  background: url("../img/blake.jpg") no-repeat;
  background-size: 100%;
  background-position: top center;
}

/* line 415, ../scss/style_old.scss */
.jordanBioFull, .ashleyBioFull, .paulBioFull, .blakeBioFull, .dalbyBioFull, .robinBioFull {
  position: fixed;
  top: 10%;
  width: 80%;
  right: 10%;
  bottom: 10%;
  z-index: 9000;
  box-sizing: border-box;
  padding: 30px;
  left: -2000px;
  opacity: 1;
  transition: all 1s ease-in;
  background: #222;
}
/* line 429, ../scss/style_old.scss */
.jordanBioFull .jordanCloseLinkBio, .jordanBioFull .ashleyCloseLinkBio, .jordanBioFull .blakeCloseLinkBio, .jordanBioFull .robinCloseLinkBio, .jordanBioFull .dalbyCloseLinkBio, .jordanBioFull .paulCloseLinkBio, .ashleyBioFull .jordanCloseLinkBio, .ashleyBioFull .ashleyCloseLinkBio, .ashleyBioFull .blakeCloseLinkBio, .ashleyBioFull .robinCloseLinkBio, .ashleyBioFull .dalbyCloseLinkBio, .ashleyBioFull .paulCloseLinkBio, .paulBioFull .jordanCloseLinkBio, .paulBioFull .ashleyCloseLinkBio, .paulBioFull .blakeCloseLinkBio, .paulBioFull .robinCloseLinkBio, .paulBioFull .dalbyCloseLinkBio, .paulBioFull .paulCloseLinkBio, .blakeBioFull .jordanCloseLinkBio, .blakeBioFull .ashleyCloseLinkBio, .blakeBioFull .blakeCloseLinkBio, .blakeBioFull .robinCloseLinkBio, .blakeBioFull .dalbyCloseLinkBio, .blakeBioFull .paulCloseLinkBio, .dalbyBioFull .jordanCloseLinkBio, .dalbyBioFull .ashleyCloseLinkBio, .dalbyBioFull .blakeCloseLinkBio, .dalbyBioFull .robinCloseLinkBio, .dalbyBioFull .dalbyCloseLinkBio, .dalbyBioFull .paulCloseLinkBio, .robinBioFull .jordanCloseLinkBio, .robinBioFull .ashleyCloseLinkBio, .robinBioFull .blakeCloseLinkBio, .robinBioFull .robinCloseLinkBio, .robinBioFull .dalbyCloseLinkBio, .robinBioFull .paulCloseLinkBio {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  padding: 10px;
}
/* line 439, ../scss/style_old.scss */
.jordanBioFull .bioLeftWrap, .ashleyBioFull .bioLeftWrap, .paulBioFull .bioLeftWrap, .blakeBioFull .bioLeftWrap, .dalbyBioFull .bioLeftWrap, .robinBioFull .bioLeftWrap {
  width: 30%;
  height: 90%;
  margin-top: 15px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 3%;
}
/* line 448, ../scss/style_old.scss */
.jordanBioFull .bioLeftWrap .photoImg, .ashleyBioFull .bioLeftWrap .photoImg, .paulBioFull .bioLeftWrap .photoImg, .blakeBioFull .bioLeftWrap .photoImg, .dalbyBioFull .bioLeftWrap .photoImg, .robinBioFull .bioLeftWrap .photoImg {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  padding-bottom: 75%;
}
/* line 455, ../scss/style_old.scss */
.jordanBioFull .bioLeftWrap .bioFull, .ashleyBioFull .bioLeftWrap .bioFull, .paulBioFull .bioLeftWrap .bioFull, .blakeBioFull .bioLeftWrap .bioFull, .dalbyBioFull .bioLeftWrap .bioFull, .robinBioFull .bioLeftWrap .bioFull {
  vertical-align: top;
  width: 100%;
  display: inline-block;
}
/* line 460, ../scss/style_old.scss */
.jordanBioFull .bioLeftWrap .bioFull p, .ashleyBioFull .bioLeftWrap .bioFull p, .paulBioFull .bioLeftWrap .bioFull p, .blakeBioFull .bioLeftWrap .bioFull p, .dalbyBioFull .bioLeftWrap .bioFull p, .robinBioFull .bioLeftWrap .bioFull p {
  font-size: 14px;
  line-height: 20px;
}
/* line 467, ../scss/style_old.scss */
.jordanBioFull .bioImages, .ashleyBioFull .bioImages, .paulBioFull .bioImages, .blakeBioFull .bioImages, .dalbyBioFull .bioImages, .robinBioFull .bioImages {
  position: relative;
  width: 65%;
  height: 90%;
  display: inline-block;
  margin-top: 15px;
}

/* line 478, ../scss/style_old.scss */
.showHide {
  display: none !important;
  transition: all 1s;
}

/* line 483, ../scss/style_old.scss */
.hideShow {
  display: inline-block !important;
  transition: all 1s ease-in 2s;
}

/* line 488, ../scss/style_old.scss */
.hideShowDelay {
  display: inline-block !important;
  transition: all 1s ease-in 4s;
}

/* line 493, ../scss/style_old.scss */
.expand {
  width: 96% !important;
  max-width: 960px;
  height: 600px !important;
  transition: all ease-in 2s;
  position: fixed !important;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  z-index: 2000;
}

/* line 506, ../scss/style_old.scss */
.autoHeight {
  max-height: 450px !important;
  transition: max-height ease-out 2s !important;
}

/* line 514, ../scss/style_old.scss */
.judges h1 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #656565;
}
/* line 523, ../scss/style_old.scss */
.judges p {
  margin-top: 0;
  padding-top: 0;
  font-size: 13px;
}
/* line 529, ../scss/style_old.scss */
.judges .intro {
  background: #111 !important;
}
/* line 533, ../scss/style_old.scss */
.judges .judgeWrap {
  position: relative;
  display: inline-block;
  width: 47%;
  min-width: 250px;
  height: auto;
  margin: 1% 1% 1% 15px;
  box-sizing: border-box;
  padding: 10px 15px;
  overflow: hidden;
  text-align: left;
  background: #232323;
}
@media screen and (max-width: 850px) {
  /* line 533, ../scss/style_old.scss */
  .judges .judgeWrap {
    width: 43%;
    min-width: 250px;
  }
}
/* line 551, ../scss/style_old.scss */
.judges .judgeWrap img {
  width: 90px;
  height: 90px;
  left: 20px;
  top: 20px;
  border-radius: 45px;
  display: inline-block;
  position: absolute;
  text-align: center;
  -webkit-filter: grayscale(100%);
  transition: all 2s;
}
/* line 564, ../scss/style_old.scss */
.judges .judgeWrap img:hover {
  -webkit-filter: grayscale(0%);
  transition: all 2s;
}
/* line 569, ../scss/style_old.scss */
.judges .judgeWrap h1 {
  border-bottom: none;
  padding-left: 120px;
  text-align: left;
  vertical-align: top;
}
/* line 576, ../scss/style_old.scss */
.judges .judgeWrap p {
  text-align: left;
  padding-left: 120px;
}
/* line 581, ../scss/style_old.scss */
.judges .judgeWrap .judgeIntro {
  vertical-align: top;
  display: inline-block;
  position: relative;
  min-height: 200px;
  width: 100%;
  height: 100%;
}
/* line 590, ../scss/style_old.scss */
.judges .judgeWrap .judgeIntro h1 {
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #656565;
  margin-left: 15px;
  padding-left: 0;
  font-size: 18px !important;
}
/* line 600, ../scss/style_old.scss */
.judges .judgeWrap .judgeIntro p {
  padding-left: 15px !important;
  vertical-align: top;
}

/* line 610, ../scss/style_old.scss */
.afterparty {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 30%;
  max-width: 880px;
  background: url("../img/afterparty3BW.jpg") no-repeat;
  background-size: cover;
  background-position: 300px 50px;
  margin-bottom: 60px;
}
/* line 620, ../scss/style_old.scss */
.afterparty h1 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #656565;
}
/* line 629, ../scss/style_old.scss */
.afterparty .contentWrap {
  position: absolute;
  display: block;
  width: 300px;
  height: 100%;
  background: #111;
}
/* line 636, ../scss/style_old.scss */
.afterparty .contentWrap h1 {
  font-size: 18px;
  text-transform: uppercase;
}
/* line 641, ../scss/style_old.scss */
.afterparty .contentWrap p {
  font-size: 13px;
}

/* line 650, ../scss/style_old.scss */
.jordanHero {
  background: url("../img/ManleyBio.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 656, ../scss/style_old.scss */
.paulHero {
  background: url("../img/paulHero.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 661, ../scss/style_old.scss */
.ashleyHero {
  background: url("../img/ashleyHero.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 666, ../scss/style_old.scss */
.dalbyHero {
  background: url("../img/dalbyHero.jpg") no-repeat;
  background-size: cover;
  background-position: center right;
}

/* line 671, ../scss/style_old.scss */
.robinHero {
  background: url("../img/robinHero.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 676, ../scss/style_old.scss */
.blakeHero {
  background: url("../img/blakeHero.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 684, ../scss/style_old.scss */
.contest {
  height: 480px;
  max-width: 880px;
}
/* line 688, ../scss/style_old.scss */
.contest .contentWrap {
  background: #222;
}
/* line 691, ../scss/style_old.scss */
.contest .contentWrap h1 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #656565;
}

/* line 703, ../scss/style_old.scss */
.charity {
  margin-top: 90px;
}
/* line 706, ../scss/style_old.scss */
.charity .contentWrap {
  background: #222;
  max-width: 880px;
}
/* line 710, ../scss/style_old.scss */
.charity .contentWrap h1 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #656565;
}

/* line 723, ../scss/style_old.scss */
.sponsors {
  margin-bottom: 90px;
}
/* line 726, ../scss/style_old.scss */
.sponsors h1 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #656565;
}
/* line 735, ../scss/style_old.scss */
.sponsors .sponsorWrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 60px;
}
/* line 741, ../scss/style_old.scss */
.sponsors .sponsorWrap ul {
  position: relative;
  text-align: center;
  vertical-align: top;
}
/* line 745, ../scss/style_old.scss */
.sponsors .sponsorWrap ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  width: 140px;
  height: 60px;
  vertical-align: top;
  margin: 5px 12px;
}
/* line 760, ../scss/style_old.scss */
.sponsors .sponsor a img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 769, ../scss/style_old.scss */
.footer {
  background: #232323;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 774, ../scss/style_old.scss */
.footer .contact {
  position: relative;
  display: inline-block;
  width: 45%;
  height: 100%;
  margin-left: 5%;
  padding-top: 0;
  margin-top: 0;
  vertical-align: top;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}
/* line 790, ../scss/style_old.scss */
.footer .newsletter {
  height: 100%;
  position: relative;
  display: inline-block;
  width: 45%;
}
