/* line 1, ../scss/style.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/style.scss */
body {
  font-family: Avenir, sans-serif;
  font-weight: 100;
  background: #ddd;
}

/* line 12, ../scss/style.scss */
.header {
  width: 100%;
  height: 120px;
  background: teal;
  margin-bottom: 30px;
}

/* line 19, ../scss/style.scss */
.boardWrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
  vertical-align: top;
}

/* line 26, ../scss/style.scss */
.pinWrap {
  vertical-align: top;
  width: 236px;
  display: inline-block;
  height: auto;
  min-height: 239px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #333;
  overflow: hidden;
  margin: 0 8px;
  background: white;
  margin-bottom: 15px;
}
/* line 39, ../scss/style.scss */
.pinWrap .pinImage {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
/* line 46, ../scss/style.scss */
.pinWrap .pinSmall {
  height: 150px;
}
/* line 50, ../scss/style.scss */
.pinWrap .pinMedium {
  height: 260px;
}
/* line 54, ../scss/style.scss */
.pinWrap .pinLarge {
  height: 320px;
}
/* line 58, ../scss/style.scss */
.pinWrap .pinDescription {
  font-size: 11px;
  color: #555;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
}

/* line 68, ../scss/style.scss */
.pin1 {
  background: url("../img/8503.jpg") no-repeat;
  background-size: 150%;
  background-position: 80% top;
}

/* line 74, ../scss/style.scss */
.pin2 {
  background: url("../img/Chilcotin-12-Backpack-Blue-Smoke.jpg") no-repeat;
  background-size: 100%;
}

/* line 79, ../scss/style.scss */
.pin3 {
  background: url("../img/Kapta-Short-W-Iron-Anvil.jpg") no-repeat;
  background-size: 80%;
  background-position: 55% 15%;
}

/* line 85, ../scss/style.scss */
.pin4 {
  background: url("../img/Cita-Hoody-W-Pink-Tulip.jpg") no-repeat;
  background-size: 80%;
}

/* line 91, ../scss/style.scss */
.pin5 {
  background: url("../img/Motus-Sleeveless-W-Lemon-Zest.jpg") no-repeat;
  background-size: 100%;
}

/* line 96, ../scss/style.scss */
.pin6 {
  background: url("../img/Motus-Crew-SS-Borneo-Blue.jpg") no-repeat;
  background-size: 100%;
}

/* line 101, ../scss/style.scss */
.pin7 {
  background: url("../img/Motus-Hat-Iron-Anvil.jpg") no-repeat;
  background-size: 100%;
}

/* line 106, ../scss/style.scss */
.pin8 {
  background: url("../img/Parapet-Pant-W-Odhran.jpg") no-repeat;
  background-size: 100%;
}

/* line 111, ../scss/style.scss */
.pin9 {
  background: url("../img/portrait2.jpg") no-repeat;
  background-size: 100%;
}

/* line 116, ../scss/style.scss */
.pin10 {
  background: url("../img/8916.jpg") no-repeat;
  background-size: 120%;
}

/* line 121, ../scss/style.scss */
.pin11 {
  background: url("../img/8524.jpg") no-repeat;
  background-size: 120%;
}

/* line 126, ../scss/style.scss */
.pin12 {
  background: url("../img/8866.jpg") no-repeat;
  background-size: 120%;
}
