/* line 9, ../scss/style2.scss */
body {
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: Avenir, sans-serif;
  color: white;
}

/* line 19, ../scss/style2.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 24, ../scss/style2.scss */
div {
  box-sizing: border-box;
}

/* line 28, ../scss/style2.scss */
h1, h3, p {
  margin: 0;
  padding: 0;
}

/* line 33, ../scss/style2.scss */
h1 {
  font-weight: 300;
  line-height: 1em;
}

/* line 38, ../scss/style2.scss */
h3 {
  font-weight: 100;
  line-height: 1em;
}

/* line 43, ../scss/style2.scss */
p {
  font-weight: 300;
  line-height: 1.3em;
}

/* line 48, ../scss/style2.scss */
.highlight {
  color: #ed1d24;
}

/* line 53, ../scss/style2.scss */
.contentGrid {
  position: relative;
  width: 930px;
  margin: 0 auto;
}
@media screen and (max-width: 945px) {
  /* line 53, ../scss/style2.scss */
  .contentGrid {
    width: 100%;
    padding-left: 30px;
  }
}

/* line 64, ../scss/style2.scss */
.headerWrap {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
}
/* line 70, ../scss/style2.scss */
.headerWrap .logoWrap {
  width: 150px;
  height: 200px;
  background: url("../img/logoLondon.jpg") no-repeat;
  background-size: 150px;
}

/* line 78, ../scss/style2.scss */
.heroWrap {
  background: url("../img/bgLondon.jpg") no-repeat;
  background-size: cover;
  min-height: 350px;
}
@media screen and (max-width: 930px) {
  /* line 78, ../scss/style2.scss */
  .heroWrap {
    background-size: 130%;
  }
}
@media screen and (max-width: 500px) {
  /* line 78, ../scss/style2.scss */
  .heroWrap {
    min-height: 250px;
    background-size: cover !important;
  }
}

/* line 95, ../scss/style2.scss */
.heroContent {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 99, ../scss/style2.scss */
.heroContent h1 {
  font-size: 2.5em !important;
  line-height: 1em !important;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* line 107, ../scss/style2.scss */
.heroContent h3 {
  font-weight: 600;
  line-height: 1.4em;
}

/* line 113, ../scss/style2.scss */
.mainWrap {
  margin-bottom: 60px;
}
/* line 116, ../scss/style2.scss */
.mainWrap .colWrap {
  width: 44%;
  box-sizing: border-box;
  display: inline-block;
  background-color: black;
  vertical-align: top;
}
@media screen and (max-width: 930px) {
  /* line 116, ../scss/style2.scss */
  .mainWrap .colWrap {
    width: 46%;
  }
}
@media screen and (max-width: 700px) {
  /* line 116, ../scss/style2.scss */
  .mainWrap .colWrap {
    width: 90%;
  }
}
/* line 134, ../scss/style2.scss */
.mainWrap h1 {
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 139, ../scss/style2.scss */
.mainWrap h3 {
  font-size: 1em;
  font-weight: 100 !important;
  margin-bottom: 10px;
  line-height: 1.3em;
}
/* line 146, ../scss/style2.scss */
.mainWrap ul {
  margin-bottom: 30px;
}
/* line 149, ../scss/style2.scss */
.mainWrap ul li {
  list-style: square;
  width: 70%;
  line-height: 1.5em;
  margin-bottom: 5px;
}
/* line 157, ../scss/style2.scss */
.mainWrap .mapWrap {
  width: 100%;
  height: 230px;
  margin-top: 15px;
  background: url("../img/mapLondon.jpg");
  background-position: center center;
}

/* line 166, ../scss/style2.scss */
.subWrap {
  width: 930px;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 930px) {
  /* line 166, ../scss/style2.scss */
  .subWrap {
    width: 100%;
  }
}

/* line 176, ../scss/style2.scss */
.contestWrap {
  vertical-align: top;
  width: 100%;
  display: inline-block;
  height: 500px;
  position: relative;
  background: url("../img/deepwinterChad.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
  margin-right: 30px;
  overflow: hidden;
  margin-bottom: 60px;
}
@media screen and (max-width: 929px) {
  /* line 176, ../scss/style2.scss */
  .contestWrap {
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 575px) {
  /* line 176, ../scss/style2.scss */
  .contestWrap {
    height: auto;
    background-size: auto 400px;
  }
}
/* line 201, ../scss/style2.scss */
.contestWrap .contentWrap {
  width: 40%;
  min-width: 300px;
  display: inline-block;
  position: relative;
  padding: 30px;
  background: black;
  margin-top: 15%;
}
@media screen and (max-width: 575px) {
  /* line 201, ../scss/style2.scss */
  .contestWrap .contentWrap {
    width: 100%;
    margin-top: 300px;
  }
}
/* line 216, ../scss/style2.scss */
.contestWrap .contentWrap h1 {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}
/* line 222, ../scss/style2.scss */
.contestWrap .contentWrap h3 {
  font-size: 15px;
  line-height: 1.2em;
}
/* line 226, ../scss/style2.scss */
.contestWrap .contentWrap .smaller {
  font-size: 14px;
  vertical-align: top;
}
/* line 231, ../scss/style2.scss */
.contestWrap .contentWrap p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.5em;
}
/* line 237, ../scss/style2.scss */
.contestWrap .contentWrap a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 15px;
  float: left;
  padding: 5px 12px 4px 12px;
  border: 1px solid white;
}

/* line 250, ../scss/style2.scss */
.manleyWrap {
  background: url("../img/manleyBG.jpg") no-repeat;
  background-size: cover;
  background-position: 63% center;
  width: 100%;
  height: 500px;
  display: inline-block;
}
@media screen and (max-width: 929px) {
  /* line 250, ../scss/style2.scss */
  .manleyWrap {
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 575px) {
  /* line 250, ../scss/style2.scss */
  .manleyWrap {
    height: auto;
    background-size: auto 400px;
    background-position: right top;
  }
}
/* line 271, ../scss/style2.scss */
.manleyWrap .contentWrap {
  width: 40%;
  min-width: 300px;
  height: auto;
  margin-top: 15%;
  padding: 30px;
  box-sizing: border-box;
  background: black;
  display: inline-block;
  text-align: right;
}
@media screen and (max-width: 575px) {
  /* line 271, ../scss/style2.scss */
  .manleyWrap .contentWrap {
    width: 100%;
    margin-top: 400px;
    text-align: left;
  }
}
/* line 288, ../scss/style2.scss */
.manleyWrap .contentWrap h1 {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5em;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 296, ../scss/style2.scss */
.manleyWrap .contentWrap p {
  font-size: 14px;
  margin-bottom: 20px;
}
/* line 302, ../scss/style2.scss */
.manleyWrap .contentWrap a {
  float: right;
  font-size: 13px;
  padding: 5px 12px 4px 12px;
  border: 1px solid white;
  text-transform: uppercase;
}

/* line 312, ../scss/style2.scss */
.nffWrap {
  background: url("../img/newforfallhero.jpg") no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center 30%;
  width: 100%;
  height: 350px;
  opacity: 1;
  margin-top: 60px;
}
/* line 322, ../scss/style2.scss */
.nffWrap .contentGrid {
  width: 100%;
  text-align: center;
}
/* line 326, ../scss/style2.scss */
.nffWrap .contentGrid a {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 14px;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 8px 15px 7px 15px;
  display: inline-block;
}
/* line 337, ../scss/style2.scss */
.nffWrap .contentGrid h1 {
  font-size: 14px;
}
