/* line 9, ../scss/styleContest.scss */
body {
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: Avenir, sans-serif;
  color: white;
}

/* line 19, ../scss/styleContest.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 24, ../scss/styleContest.scss */
div {
  box-sizing: border-box;
}

/* line 28, ../scss/styleContest.scss */
h1, h3, p {
  margin: 0;
  padding: 0;
}

/* line 33, ../scss/styleContest.scss */
h1 {
  font-weight: 300;
  line-height: 1em;
}

/* line 38, ../scss/styleContest.scss */
h3 {
  font-weight: 100;
  line-height: 1em;
}

/* line 43, ../scss/styleContest.scss */
p {
  font-weight: 300;
  line-height: 1.3em;
}

/* line 48, ../scss/styleContest.scss */
.highlight {
  color: #ed1d24;
}

/* line 53, ../scss/styleContest.scss */
.contentGrid {
  position: relative;
  width: 930px;
  margin: 0 auto;
}
@media screen and (max-width: 945px) {
  /* line 53, ../scss/styleContest.scss */
  .contentGrid {
    width: 100%;
    padding-left: 30px;
  }
}
@media screen and (max-width: 380px) {
  /* line 53, ../scss/styleContest.scss */
  .contentGrid {
    width: 100%;
    padding-left: 0px;
  }
}

/* line 69, ../scss/styleContest.scss */
.headerWrap {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}
/* line 75, ../scss/styleContest.scss */
.headerWrap .logoWrap {
  width: 150px;
  height: 200px;
  background: url("../img/logoLondon.jpg") no-repeat;
  background-size: 150px;
}

/* line 83, ../scss/styleContest.scss */
.headerWrap {
  width: 100%;
  height: 700px;
  background: url("../img/deepwinterBlake.jpg");
  background-size: cover;
  background-position: center bottom;
}

/* line 91, ../scss/styleContest.scss */
.contentWrap {
  width: 100%;
  max-width: 800px;
  position: relative;
  display: block;
  z-index: 100;
  background: black;
  margin: 0 auto;
  padding: 60px;
  margin-top: 40%;
}
@media screen and (max-width: 600px) {
  /* line 91, ../scss/styleContest.scss */
  .contentWrap {
    padding: 30px;
  }
}
/* line 106, ../scss/styleContest.scss */
.contentWrap h1, .contentWrap h3 {
  text-transform: uppercase;
}
/* line 110, ../scss/styleContest.scss */
.contentWrap h1 {
  font-weight: 900;
  margin-bottom: 15px;
}
/* line 115, ../scss/styleContest.scss */
.contentWrap h3 {
  width: 80%;
  line-height: 1em;
  font-weight: 500;
  margin-bottom: 10px;
}
/* line 122, ../scss/styleContest.scss */
.contentWrap p {
  font-size: 14px;
  line-height: 1.7em;
}
/* line 128, ../scss/styleContest.scss */
.contentWrap ul li {
  width: 75%;
  margin-bottom: 10px;
  font-size: 14px;
}
/* line 135, ../scss/styleContest.scss */
.contentWrap a {
  text-transform: uppercase;
}
/* line 140, ../scss/styleContest.scss */
.contentWrap .storeInfo {
  margin: 45px 0;
}
/* line 142, ../scss/styleContest.scss */
.contentWrap .storeInfo h3, .contentWrap .storeInfo a {
  line-height: .8em;
}
/* line 148, ../scss/styleContest.scss */
.contentWrap .finePrint {
  margin: 60px 0px;
}
/* line 150, ../scss/styleContest.scss */
.contentWrap .finePrint p {
  font-size: 10px;
  line-height: 1.6em;
  text-align: center;
}

/* line 158, ../scss/styleContest.scss */
.nffWrap {
  background: url("../img/newforfallhero.jpg") no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  opacity: 1;
}
/* line 167, ../scss/styleContest.scss */
.nffWrap .contentGrid {
  width: 100%;
  text-align: center;
  min-width: 300px;
}
/* line 172, ../scss/styleContest.scss */
.nffWrap .contentGrid a {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 14px;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 8px 15px 7px 15px;
  display: inline-block;
}
/* line 183, ../scss/styleContest.scss */
.nffWrap .contentGrid h1 {
  font-size: 14px;
}
