/* line 9, ../scss/style.scss */
body {
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: Avenir, sans-serif;
  color: white;
}

/* line 19, ../scss/style.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 24, ../scss/style.scss */
div {
  box-sizing: border-box;
}

/* line 28, ../scss/style.scss */
h1, h3, p {
  margin: 0;
  padding: 0;
}

/* line 33, ../scss/style.scss */
h1 {
  font-weight: 300;
  line-height: 1em;
}

/* line 38, ../scss/style.scss */
h3 {
  font-weight: 100;
  line-height: 1em;
}

/* line 43, ../scss/style.scss */
p {
  font-weight: 300;
  line-height: 1.3em;
}

/* line 48, ../scss/style.scss */
.highlight {
  color: #ed1d24;
}

/* line 53, ../scss/style.scss */
.contentGrid {
  position: relative;
  width: 930px;
  margin: 0 auto;
}
@media screen and (max-width: 945px) {
  /* line 53, ../scss/style.scss */
  .contentGrid {
    width: 100%;
    padding-left: 30px;
  }
}

/* line 64, ../scss/style.scss */
.headerWrap {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
}
/* line 70, ../scss/style.scss */
.headerWrap .logoWrap {
  width: 150px;
  height: 200px;
  background: url("../img/logoLondon.jpg") no-repeat;
  background-size: 150px;
}

/* line 78, ../scss/style.scss */
.heroWrap {
  background: url("../img/bgLondon.jpg") no-repeat;
  background-size: cover;
  min-height: 350px;
}
@media screen and (max-width: 930px) {
  /* line 78, ../scss/style.scss */
  .heroWrap {
    background-size: 130%;
  }
}

/* line 90, ../scss/style.scss */
.heroContent {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 94, ../scss/style.scss */
.heroContent h1 {
  font-size: 2.5em !important;
  line-height: 1em !important;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* line 102, ../scss/style.scss */
.heroContent h3 {
  font-weight: 600;
  line-height: 1.4em;
}

/* line 108, ../scss/style.scss */
.mainWrap {
  margin-bottom: 60px;
}
/* line 111, ../scss/style.scss */
.mainWrap .colWrap {
  width: 44%;
  box-sizing: border-box;
  display: inline-block;
  background-color: black;
  vertical-align: top;
}
@media screen and (max-width: 930px) {
  /* line 111, ../scss/style.scss */
  .mainWrap .colWrap {
    width: 46%;
  }
}
@media screen and (max-width: 768px) {
  /* line 111, ../scss/style.scss */
  .mainWrap .colWrap {
    width: 100%;
  }
}
/* line 129, ../scss/style.scss */
.mainWrap h1 {
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 134, ../scss/style.scss */
.mainWrap h3 {
  font-size: 1em;
  font-weight: 100 !important;
  margin-bottom: 10px;
  line-height: 1.3em;
}
/* line 141, ../scss/style.scss */
.mainWrap ul {
  margin-bottom: 30px;
}
/* line 144, ../scss/style.scss */
.mainWrap ul li {
  list-style: square;
  width: 70%;
  line-height: 1.5em;
  margin-bottom: 5px;
}
/* line 152, ../scss/style.scss */
.mainWrap .mapWrap {
  width: 100%;
  height: 230px;
  margin-top: 15px;
  background: url("../img/mapLondon.jpg");
  background-position: center center;
}
@media screen and (max-width: 768px) {
  /* line 152, ../scss/style.scss */
  .mainWrap .mapWrap {
    height: 400px;
    width: 96%;
  }
}

/* line 166, ../scss/style.scss */
.mobilePad {
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  /* line 166, ../scss/style.scss */
  .mobilePad {
    margin-top: 60px;
  }
}

/* line 173, ../scss/style.scss */
.contestWrap {
  width: 100%;
  height: 500px;
  background: url("../img/deepwinterBlake.jpg");
  background-size: cover;
  background-position: center bottom;
  opacity: .8;
}
/* line 181, ../scss/style.scss */
.contestWrap .contentWrap {
  width: 33%;
  min-width: 350px;
  float: left;
  padding: 30px;
  background: black;
  margin-left: 0px;
}
/* line 189, ../scss/style.scss */
.contestWrap .contentWrap h1 {
  font-size: 20px;
  font-weight: 900;
}
/* line 193, ../scss/style.scss */
.contestWrap .contentWrap .smaller {
  font-size: 14px;
  vertical-align: top;
}
/* line 198, ../scss/style.scss */
.contestWrap .contentWrap p {
  margin-top: 15px;
  line-height: 1.5em;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 204, ../scss/style.scss */
.contestWrap .contentWrap a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 14px;
  float: left;
  padding: 5px 12px 4px 12px;
  border: 1px solid white;
}

/* line 217, ../scss/style.scss */
.manleyWrap {
  background: url("../img/manleyBG.jpg") no-repeat;
  background-size: cover;
  background-position: right center;
  width: 100%;
  height: 500px;
  opacity: .8;
}
/* line 225, ../scss/style.scss */
.manleyWrap .contentWrap {
  width: 33%;
  min-width: 300px;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
  background: black;
  display: inline-block;
  margin-left: 0;
  opacity: 2 !important;
}
/* line 236, ../scss/style.scss */
.manleyWrap .contentWrap h1 {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5em;
  margin-bottom: 10px;
  text-align: right;
  text-transform: uppercase;
}
/* line 245, ../scss/style.scss */
.manleyWrap .contentWrap p {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 20px;
  text-align: right;
  text-transform: uppercase;
}
/* line 253, ../scss/style.scss */
.manleyWrap .contentWrap a {
  float: right;
  padding: 5px 12px 4px 12px;
  border: 1px solid white;
  font-size: 14px;
}

/* line 262, ../scss/style.scss */
.nffWrap {
  background: url("../img/newforfallhero.jpg") no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  opacity: 1;
}
/* line 271, ../scss/style.scss */
.nffWrap .contentGrid {
  width: 33%;
  text-align: center;
}
/* line 276, ../scss/style.scss */
.nffWrap .contentGrid a {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 18px;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 8px 15px 7px 15px;
  display: inline-block;
}
/* line 287, ../scss/style.scss */
.nffWrap .contentGrid h1 {
  font-size: 14px;
}
