// Denver Store Opening Styles

// $highlight: #ed1d24;
$highlight: red;

html {

}

body {
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  // font-family: Avenir, sans-serif;
  font-family:'Avenir LT W01 55 Roman', sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

h1, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  line-height: 1em;
  font-family:'Avenir LT W01 85 Heavy', sans-serif;
}

h3 {
  font-weight: 100;
  line-height: 1em;
  font-family:'Avenir LT W01 85 Heavy', sans-serif;
}

p {
  font-weight: 100;
  line-height: 1.3em;
  font-family:'Avenir LT W01 55 Roman', sans-serif;
}

.highlight {
  color: $highlight;
}


.contentGrid {
  position: relative;
  width: 930px;
  margin: 0 auto;

  @media screen and (max-width: 945px) {
    width: 100%;
    padding-left: 30px;
  }
}

.headerWrap {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;

  .logoWrap {
    width: 150px;
    height: 200px;
    background: url('../img/logoDenver.jpg') no-repeat;
    background-size: 150px;
  }
}

.heroWrap {
  background: url('../img/StoreHeroImageDenver.jpg') no-repeat;
  // background-size: 110% auto;
  background-size: cover;
  min-height: 350px;
  background-position: right 40%;
  // height: 500px;

  @media screen and (max-width: 930px) {
    background-size: auto 110%;
  }

  @media screen and (max-width: 500px) {
    min-height: 250px;
    background-size: cover !important;
  }
}

.heroContent {
  margin-top: 30px;
  margin-bottom: 30px;

  h1 {
    font-size: 2.5em !important;
    line-height: 1em !important;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 600px;
  }

  h3 {
    font-weight: 600;
    line-height: 1.4em;
  }
}

.mainWrap {
  margin-bottom: 60px;

  .colWrap {
    width: 44%;
    box-sizing: border-box;
    display: inline-block;
    // border: 1px solid teal;
    // padding: 15px;
    background-color: black;
    vertical-align: top;

    @media screen and (max-width: 930px) {
      width: 46%;
    }

    @media screen and (max-width: 700px) {
      width: 90%;
    }
  }

  h1 {
    font-size: 1.3em;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1em;
    font-weight: 100 !important;
    margin-bottom: 10px;
    line-height: 1.3em;
  }

  p {
    font-weight: 300 !important;
  }

  ul {
    margin-bottom: 30px;

    li {
      list-style: square;
      width: 70%;
      line-height: 1.5em;
      margin-bottom: 5px;
      font-size: 15px;
    }
  }

  a {
    display: block;
    font-weight: 100 !important;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .mapWrap {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 230px;
    margin-top: 15px;
    background: url('../img/denverstoremap.jpg') no-repeat;
    background-size: 110%;
  }
}

.subWrap {
  width: 930px;
  position: relative;
  margin: 0 auto;

  @media screen and (max-width: 930px) {
    width: 100%;
  }
}

.contestWrap {
  width: 100%;
  margin: 30px 0 60px;
  background: url('../img/storeexterior.jpg') no-repeat;
  background-size: 100%;
  height: 450px;
  box-sizing: border-box;
  margin-bottom: 50px;


  


  @media screen and (max-width: 650px) {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    display: block;
    margin-bottom: 100px;
  }

  .blackBox {
    width: 300px;
    position: relative;
    display: inline-block;
    background: black;
    padding: 30px;
    margin-top: 150px;

    @media screen and (max-width: 650px) {
      width: 100%;
      margin-top: 300px;
      padding: 20px;
    }
  }

  h1 {
    font-family:'Avenir LT W01 85 Heavy', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 14px;
    line-height: 1.4em;
    max-width: 500px;
  }

  sup {
    line-height: 1em !important;
  }
}

.blogWrap {
  margin-top: 30px;
  width: 100%;
  height: 450px;
  position: relative;
  box-sizing: border-box;
  background: #333;
  background: url('../img/denverBlogSecondary2.jpg');

  @media screen and (max-width: 650px) {
    width: 100%;
  }


  .blackBox {
    width: 330px;
    box-sizing: border-box;
    background: black;
    padding: 30px;
    text-align: left;
    position: relative;
    margin-top: 60px;
    display: inline-block;
    float: right;

    @media screen and (max-width: 650px) {
      width: 100%;
      margin-top: 350px;
      padding: 20px;
    }

    h3 {
      // font-family:'Avenir LT W01 85 Heavy', sans-serif;
      font-family:'Avenir LT W01 55 Roman', sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.3em;
      // text-transform: uppercase !important;
    }

    a {
      margin-top: 20px;
      font-size: 13px;
      color: white;
      border: 1px solid white;
      padding: 6px 15px 6px 15px;
      display: inline-block;
    }
  }
}


.finePrint {
  text-align: center;
  font-size: 11px;
  position: relative;
  display: block;
  color: #ddd;
  margin: 0 auto;

  p {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    width: 60%;

    @media screen and (max-width: 650px) {
      width: 90%;
    }
  }
}

#overlay {
  display: none;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0;
  padding: 25px;
  // border: 5px solid #666;
  background-color: #222;
  height: 100%;
  width: 100%;
  // overflow: scroll;
  z-index: 100;
  color: #333;
  transition: all 1s ease 1s;

  iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
    overflow: scroll;
  }
}

#overlay p {
  color: #666;
}

#fade {
  display: none;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

#closeLink {
  position: fixed;
  background: #000;
  right: 2%;
  top: 2%;
  z-index: 200;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  // background: #eee;
}

#closeLink a {
  color: #ff0000 !important;
  text-decoration: none;
}

.nffWrap {
  background: url('../img/newforfallheroSm.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 350px;
  opacity: 1;
  margin-top: 60px;

  .contentGrid {
    width: 100%;
    text-align: center;

    a {
      margin-top: 120px;
      margin-bottom: 30px;
      font-size: 14px;
      color: white;
      text-align: center;
      border: 1px solid white;
      padding: 8px 15px 7px 15px;
      display: inline-block;
    }

    h1 {
      font-size: 14px;
      line-height: 13px;
      vertical-align: bottom;
      overflow: hidden;
    }
  }

}

