/* line 1, ../scss/style.scss */
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 8, ../scss/style.scss */
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: white;
  font-family: Avenir, sans-serif;
  font-weight: 100;
  margin: 0px;
}

/* line 21, ../scss/style.scss */
div {
  box-sizing: border-box;
}

/* line 25, ../scss/style.scss */
.contentWrap {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: block;
  position: relative;
  box-sizing: border-box;
}

/* line 34, ../scss/style.scss */
.section {
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
}

/* line 41, ../scss/style.scss */
.copyWrap {
  border-bottom: 1px solid #aaa;
}

/* line 45, ../scss/style.scss */
p {
  color: #ddd;
}

/* line 49, ../scss/style.scss */
.top {
  background-image: url("http://blog-media.arcteryx.com/images/articles/Lithic-Glove-Crimson-Flame-121.jpg");
  background-repeat: no-repeat;
  background-size: 90%;
  height: 750px;
  box-sizing: border-box;
  max-width: 1200px;
}
@media screen and (max-width: 767px) {
  /* line 49, ../scss/style.scss */
  .top {
    background-size: 130%;
  }
}
/* line 61, ../scss/style.scss */
.top .copyWrap {
  width: 36%;
  min-width: 350px;
  position: relative;
  float: right;
  margin-right: 15%;
  margin-top: 10%;
  box-sizing: border-box;
  padding-top: 0px;
}
@media screen and (max-width: 900px) {
  /* line 61, ../scss/style.scss */
  .top .copyWrap {
    width: 80%;
    float: left;
    margin-left: 30px;
    padding-top: 350px;
  }
}
@media screen and (max-width: 600px) {
  /* line 61, ../scss/style.scss */
  .top .copyWrap {
    width: 90%;
    min-width: 90%;
    float: left;
    padding-top: 400px;
  }
}
/* line 86, ../scss/style.scss */
.top h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  color: white;
}
/* line 92, ../scss/style.scss */
.top p {
  font-size: 1em;
  line-height: 1.8em;
}
/* line 97, ../scss/style.scss */
.top h3 {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
}
/* line 106, ../scss/style.scss */
.top a {
  font-size: 13px;
  padding: 5px 15px 4px;
  border: 1px solid #fff;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
  margin-right: 15px;
}
/* line 119, ../scss/style.scss */
.top .invertButton {
  border: none;
  background: #FFF;
  color: #000;
}
/* line 125, ../scss/style.scss */
.top .arrowDown {
  font-size: 8px;
  vertical-align: top;
  margin-top: 3px;
  margin-right: 2px;
  position: relative;
  display: inline-block;
}

/* line 136, ../scss/style.scss */
.two {
  width: 100%;
  max-width: 960px;
  height: 450px;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  background-position: 50%;
  box-sizing: border-box;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  /* line 136, ../scss/style.scss */
  .two {
    margin-left: 0;
    padding-left: 30px;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  /* line 136, ../scss/style.scss */
  .two {
    margin-top: 0 !important;
  }
}
/* line 157, ../scss/style.scss */
.two .copyWrap {
  position: relative;
  display: inline-block;
  width: 30%;
  float: left;
  margin-top: 150px;
  box-sizing: border-box;
  text-align: right;
}
@media screen and (max-width: 767px) {
  /* line 157, ../scss/style.scss */
  .two .copyWrap {
    width: 90%;
    margin: 0;
    text-align: left;
    padding-left: 190px;
  }
}
@media screen and (max-width: 500px) {
  /* line 157, ../scss/style.scss */
  .two .copyWrap {
    padding-left: 0;
  }
}
/* line 178, ../scss/style.scss */
.two p {
  font-size: .9em;
  line-height: 1.8em;
}
/* line 183, ../scss/style.scss */
.two h3 {
  font-size: 1.3em;
  line-height: 1em;
  margin-bottom: 0;
  color: white;
}
/* line 190, ../scss/style.scss */
.two .detailWrap {
  position: relative;
  display: inline-block;
  background-image: url("http://blog-media.arcteryx.com/images/articles/Lithic-Glove-Crimson-Flame-102.jpg");
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 120%;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-left: 5%;
  margin-top: 60px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  /* line 190, ../scss/style.scss */
  .two .detailWrap {
    position: absolute;
    width: 150px;
    border-radius: 75px;
    height: 150px;
    display: inline-block;
    left: 0px;
    top: -60px;
  }
}
@media screen and (max-width: 500px) {
  /* line 190, ../scss/style.scss */
  .two .detailWrap {
    display: none !important;
  }
}

/* line 222, ../scss/style.scss */
.three {
  width: 100%;
  max-width: 960px;
  height: 450px;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  background-position: 50%;
  box-sizing: border-box;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  /* line 222, ../scss/style.scss */
  .three {
    margin-left: 0;
    padding-left: 30px;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  /* line 222, ../scss/style.scss */
  .three {
    margin-top: 0 !important;
  }
}
/* line 244, ../scss/style.scss */
.three .copyWrap {
  position: relative;
  display: inline-block;
  width: 30%;
  float: left;
  margin-top: 100px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  /* line 244, ../scss/style.scss */
  .three .copyWrap {
    width: 90%;
    margin: 0;
    text-align: left;
    padding-left: 190px;
  }
}
@media screen and (max-width: 500px) {
  /* line 244, ../scss/style.scss */
  .three .copyWrap {
    padding-left: 0;
  }
}
/* line 264, ../scss/style.scss */
.three p {
  font-size: .9em;
  line-height: 1.8em;
}
/* line 269, ../scss/style.scss */
.three h3 {
  font-size: 1.3em;
  line-height: 1em;
  margin-bottom: 0;
  color: white;
}
/* line 276, ../scss/style.scss */
.three .detailWrap {
  background-image: url("http://blog-media.arcteryx.com/images/articles/Lithic-Glove-Crimson-Flame-20.jpg");
  background-position: 50% 11%;
  background-repeat: no-repeat;
  background-size: 95%;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-right: 5%;
  margin-top: 60px;
  box-sizing: border-box;
  float: left;
}
@media screen and (max-width: 767px) {
  /* line 276, ../scss/style.scss */
  .three .detailWrap {
    position: absolute;
    width: 180px;
    border-radius: 90px;
    height: 180px;
    display: inline-block;
    left: 30px;
    top: -30px;
  }
}
@media screen and (max-width: 500px) {
  /* line 276, ../scss/style.scss */
  .three .detailWrap {
    display: none !important;
  }
}

/* line 306, ../scss/style.scss */
.four {
  width: 100%;
  max-width: 960px;
  height: 450px;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  background-position: 50%;
  box-sizing: border-box;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  /* line 306, ../scss/style.scss */
  .four {
    margin-left: 0;
    padding-left: 30px;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  /* line 306, ../scss/style.scss */
  .four {
    margin-top: 0 !important;
  }
}
/* line 327, ../scss/style.scss */
.four .copyWrap {
  position: relative;
  display: inline-block;
  width: 30%;
  float: left;
  margin-top: 150px;
  box-sizing: border-box;
  text-align: right;
}
@media screen and (max-width: 767px) {
  /* line 327, ../scss/style.scss */
  .four .copyWrap {
    width: 90%;
    margin: 0;
    padding: 0;
    text-align: left;
    float: left;
    padding-left: 190px;
  }
}
@media screen and (max-width: 500px) {
  /* line 327, ../scss/style.scss */
  .four .copyWrap {
    padding-left: 0;
  }
}
/* line 350, ../scss/style.scss */
.four p {
  font-size: .9em;
  line-height: 1.8em;
}
/* line 355, ../scss/style.scss */
.four h3 {
  font-size: 1.3em;
  line-height: 1em;
  margin-bottom: 0;
  color: white;
}
/* line 362, ../scss/style.scss */
.four .detailWrap {
  position: relative;
  display: inline-block;
  background-image: url("http://blog-media.arcteryx.com/images/articles/Lithic-Glove-Crimson-Flame-63.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 90%;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-left: 5%;
  margin-top: 60px;
  box-sizing: border-box;
  float: none;
}
@media screen and (max-width: 767px) {
  /* line 362, ../scss/style.scss */
  .four .detailWrap {
    position: absolute;
    width: 180px;
    border-radius: 90px;
    height: 180px;
    display: inline-block;
    left: 0px;
    top: -60px;
  }
}
@media screen and (max-width: 500px) {
  /* line 362, ../scss/style.scss */
  .four .detailWrap {
    display: none !important;
  }
}

/* line 394, ../scss/style.scss */
.five {
  width: 100%;
  max-width: 960px;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  background-position: 50%;
  box-sizing: border-box;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  /* line 394, ../scss/style.scss */
  .five {
    margin-left: 0;
    padding-left: 30px;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  /* line 394, ../scss/style.scss */
  .five {
    margin-top: 0 !important;
  }
}
/* line 414, ../scss/style.scss */
.five .copyWrap {
  position: relative;
  display: inline-block;
  width: 30%;
  float: left;
  margin-top: 100px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  /* line 414, ../scss/style.scss */
  .five .copyWrap {
    width: 90%;
    margin: 0;
    text-align: left;
    padding-left: 190px;
  }
}
@media screen and (max-width: 500px) {
  /* line 414, ../scss/style.scss */
  .five .copyWrap {
    padding-left: 0;
  }
}
/* line 434, ../scss/style.scss */
.five p {
  font-size: .9em;
  line-height: 1.8em;
}
/* line 439, ../scss/style.scss */
.five h3 {
  font-size: 1.3em;
  line-height: 1em;
  margin-bottom: 0;
  color: white;
}
/* line 446, ../scss/style.scss */
.five .detailWrap {
  background-image: url("http://blog-media.arcteryx.com/images/articles/Lithic-Glove-Crimson-Flame-81.jpg");
  background-position: 50% 11%;
  background-repeat: no-repeat;
  background-size: 95%;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-right: 5%;
  margin-top: 60px;
  box-sizing: border-box;
  float: left;
}
@media screen and (max-width: 767px) {
  /* line 446, ../scss/style.scss */
  .five .detailWrap {
    position: absolute;
    width: 160px;
    border-radius: 80px;
    height: 160px;
    display: inline-block;
    left: 30px;
    top: -100px;
  }
}
@media screen and (max-width: 500px) {
  /* line 446, ../scss/style.scss */
  .five .detailWrap {
    display: none !important;
  }
}

/* line 476, ../scss/style.scss */
.videoWrap {
  width: auto;
  height: 80%;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  margin: 60px;
}

/* line 488, ../scss/style.scss */
.videoWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 498, ../scss/style.scss */
.austin {
  background: url("http://blog-media.arcteryx.com/images/articles/austinAction.jpg") no-repeat;
  background-size: auto 120%;
  background-position: right top;
}
@media screen and (max-width: 850px) {
  /* line 498, ../scss/style.scss */
  .austin {
    background-position: -240px top;
  }
}
@media screen and (max-width: 750px) {
  /* line 498, ../scss/style.scss */
  .austin {
    background-position: -350px top;
  }
}
@media screen and (max-width: 720px) {
  /* line 498, ../scss/style.scss */
  .austin {
    background-position: top left;
    background-size: 100%;
  }
}

/* line 517, ../scss/style.scss */
.matthias {
  background: url("http://blog-media.arcteryx.com/images/articles/matthiasAction.jpg") no-repeat;
  background-size: auto 120%;
  background-position: right top;
}
@media screen and (max-width: 720px) {
  /* line 517, ../scss/style.scss */
  .matthias {
    background-position: top left;
    background-size: 100%;
  }
}

/* line 528, ../scss/style.scss */
.athleteBG {
  position: relative;
  width: 94%;
  height: auto;
  max-width: 900px;
  box-sizing: border-box;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media screen and (max-width: 720px) {
  /* line 528, ../scss/style.scss */
  .athleteBG {
    padding: 0;
    padding-top: 55.6%;
  }
}
/* line 543, ../scss/style.scss */
.athleteBG .copyWrap {
  position: relative;
  display: inline-block;
  width: 45%;
  background: #000;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  border-bottom: none;
  min-width: 290px;
}
@media screen and (max-width: 720px) {
  /* line 543, ../scss/style.scss */
  .athleteBG .copyWrap {
    width: 100%;
    min-width: 100%;
  }
}
/* line 559, ../scss/style.scss */
.athleteBG .copyWrap .linkArrow {
  font-size: 8px;
  color: #999;
}
/* line 564, ../scss/style.scss */
.athleteBG .copyWrap img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  text-align: center;
  display: inline-block;
  position: relative;
}
/* line 573, ../scss/style.scss */
.athleteBG .copyWrap h3 {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  color: white;
  font-weight: 600;
}
/* line 582, ../scss/style.scss */
.athleteBG .copyWrap p {
  font-style: italic;
  font-size: 14px;
  line-height: 22px;
  color: white;
  text-align: left;
}
/* line 590, ../scss/style.scss */
.athleteBG .copyWrap a {
  color: #999;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
}

/* line 601, ../scss/style.scss */
.shopWrap {
  width: 50%;
  padding-left: 5%;
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
  padding-bottom: 30px;
}
@media screen and (max-width: 600px) {
  /* line 601, ../scss/style.scss */
  .shopWrap {
    width: 90%;
  }
}
/* line 616, ../scss/style.scss */
.shopWrap a {
  font-size: 13px;
  padding: 5px 15px 4px;
  border: 1px solid #fff;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
}
