/* line 1, ../scss/style.scss */
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 8, ../scss/style.scss */
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: white;
  font-family: Avenir, sans-serif;
  font-weight: 100;
  margin: 0px;
}

/* line 18, ../scss/style.scss */
div {
  box-sizing: border-box;
}

/* line 22, ../scss/style.scss */
.contentWrap {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: block;
  position: relative;
  box-sizing: border-box;
}

/* line 31, ../scss/style.scss */
.section {
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
}

/* line 38, ../scss/style.scss */
.copyWrap {
  border-bottom: 1px solid #aaa;
}

/* line 42, ../scss/style.scss */
p {
  color: #ddd;
}

/* line 46, ../scss/style.scss */
.top {
  background-image: url("../img/Lithic-Glove-Crimson-Flame-121.jpg");
  background-repeat: no-repeat;
  background-size: 90%;
  height: 750px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  /* line 46, ../scss/style.scss */
  .top {
    background-size: 130%;
  }
}
/* line 57, ../scss/style.scss */
.top .copyWrap {
  width: 36%;
  min-width: 350px;
  position: relative;
  float: right;
  margin-right: 15%;
  margin-top: 10%;
  box-sizing: border-box;
  padding-top: 0px;
}
@media screen and (max-width: 900px) {
  /* line 57, ../scss/style.scss */
  .top .copyWrap {
    width: 65%;
    float: left;
    margin-left: 30px;
    padding-top: 350px;
  }
}
@media screen and (max-width: 600px) {
  /* line 57, ../scss/style.scss */
  .top .copyWrap {
    width: 90%;
    float: left;
  }
}
/* line 80, ../scss/style.scss */
.top h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 85, ../scss/style.scss */
.top p {
  font-size: 1em;
  line-height: 1.8em;
}
/* line 90, ../scss/style.scss */
.top h3 {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: 100;
  text-transform: uppercase;
}
/* line 97, ../scss/style.scss */
.top a {
  font-size: 13px;
  padding: 5px 15px 4px;
  border: 1px solid #fff;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
  margin-right: 15px;
}
/* line 110, ../scss/style.scss */
.top .invertButton {
  border: none;
  background: #FFF;
  color: #000;
}
/* line 116, ../scss/style.scss */
.top .arrowDown {
  font-size: 8px;
  vertical-align: top;
  margin-top: 3px;
  margin-right: 2px;
  position: relative;
  display: inline-block;
}

/* line 127, ../scss/style.scss */
.two {
  width: 100%;
  max-width: 960px;
  height: 450px;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  background-position: 50%;
  box-sizing: border-box;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  /* line 127, ../scss/style.scss */
  .two {
    margin-left: 30px;
  }
}
/* line 142, ../scss/style.scss */
.two .copyWrap {
  position: relative;
  display: inline-block;
  width: 30%;
  float: left;
  margin-top: 150px;
  box-sizing: border-box;
  text-align: right;
}
@media screen and (max-width: 767px) {
  /* line 142, ../scss/style.scss */
  .two .copyWrap {
    width: 60%;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
/* line 159, ../scss/style.scss */
.two p {
  font-size: .9em;
  line-height: 1.8em;
}
/* line 164, ../scss/style.scss */
.two h3 {
  font-size: 1.3em;
  line-height: 1em;
  margin-bottom: 0;
}
/* line 170, ../scss/style.scss */
.two .detailWrap {
  position: relative;
  display: inline-block;
  background-image: url("../img/Lithic-Glove-Crimson-Flame-102.jpg");
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 120%;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-left: 5%;
  margin-top: 60px;
  box-sizing: border-box;
}

/* line 192, ../scss/style.scss */
.three {
  width: 100%;
  max-width: 960px;
  height: 450px;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  background-position: 50%;
  box-sizing: border-box;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  /* line 192, ../scss/style.scss */
  .three {
    margin-left: 30px;
  }
}
/* line 207, ../scss/style.scss */
.three .copyWrap {
  position: relative;
  display: inline-block;
  width: 30%;
  float: left;
  margin-top: 100px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  /* line 207, ../scss/style.scss */
  .three .copyWrap {
    width: 60%;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
/* line 223, ../scss/style.scss */
.three p {
  font-size: .9em;
  line-height: 1.8em;
}
/* line 228, ../scss/style.scss */
.three h3 {
  font-size: 1.3em;
  line-height: 1em;
  margin-bottom: 0;
}
/* line 234, ../scss/style.scss */
.three .detailWrap {
  background-image: url("../img/Lithic-Glove-Crimson-Flame-20.jpg");
  background-position: 50% 11%;
  background-repeat: no-repeat;
  background-size: 95%;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-right: 5%;
  margin-top: 60px;
  box-sizing: border-box;
  float: left;
}

/* line 249, ../scss/style.scss */
.four {
  width: 100%;
  max-width: 960px;
  height: 450px;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  background-position: 50%;
  box-sizing: border-box;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  /* line 249, ../scss/style.scss */
  .four {
    margin-left: 30px;
  }
}
/* line 264, ../scss/style.scss */
.four .copyWrap {
  position: relative;
  display: inline-block;
  width: 30%;
  float: left;
  margin-top: 150px;
  box-sizing: border-box;
  text-align: right;
}
@media screen and (max-width: 767px) {
  /* line 264, ../scss/style.scss */
  .four .copyWrap {
    width: 60%;
    margin: 0;
    padding: 0;
    text-align: left;
    float: left;
  }
}
/* line 282, ../scss/style.scss */
.four p {
  font-size: .9em;
  line-height: 1.8em;
}
/* line 287, ../scss/style.scss */
.four h3 {
  font-size: 1.3em;
  line-height: 1em;
  margin-bottom: 0;
}
/* line 293, ../scss/style.scss */
.four .detailWrap {
  position: relative;
  display: inline-block;
  background-image: url("../img/Lithic-Glove-Crimson-Flame-63.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 90%;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-left: 5%;
  margin-top: 60px;
  box-sizing: border-box;
  float: none;
}

/* line 314, ../scss/style.scss */
.five {
  width: 100%;
  max-width: 960px;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  background-position: 50%;
  box-sizing: border-box;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  /* line 314, ../scss/style.scss */
  .five {
    margin-left: 30px;
  }
}
/* line 329, ../scss/style.scss */
.five .copyWrap {
  position: relative;
  display: inline-block;
  width: 30%;
  float: left;
  margin-top: 100px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  /* line 329, ../scss/style.scss */
  .five .copyWrap {
    width: 60%;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
/* line 345, ../scss/style.scss */
.five p {
  font-size: .9em;
  line-height: 1.8em;
}
/* line 350, ../scss/style.scss */
.five h3 {
  font-size: 1.3em;
  line-height: 1em;
  margin-bottom: 0;
}
/* line 356, ../scss/style.scss */
.five .detailWrap {
  background-image: url("../img/Lithic-Glove-Crimson-Flame-81.jpg");
  background-position: 50% 11%;
  background-repeat: no-repeat;
  background-size: 95%;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-right: 5%;
  margin-top: 60px;
  box-sizing: border-box;
  float: left;
}

/* line 372, ../scss/style.scss */
.athlete {
  margin-top: 120px;
  padding-left: 5%;
}
/* line 376, ../scss/style.scss */
.athlete .athleteImg {
  width: 150px;
  height: 200px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
  padding-top: 20px;
}
/* line 385, ../scss/style.scss */
.athlete .athleteImg img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}
/* line 391, ../scss/style.scss */
.athlete .athleteImg h3 {
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin-left: -15px;
  margin-top: 0;
}
/* line 400, ../scss/style.scss */
.athlete .copyWrap {
  position: relative;
  display: inline-block;
  width: 800px;
  margin-left: 1%;
  border-bottom: none !important;
  vertical-align: top;
  border-left: 1px solid #aaa;
  padding-left: 45px;
}
/* line 410, ../scss/style.scss */
.athlete p {
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.6em;
  width: 90%;
}
/* line 416, ../scss/style.scss */
.athlete h4 {
  font-size: 1em;
  width: 100%;
  text-align: right;
}
