/* -------------------------------- 

Primary style

-------------------------------- */
/* line 16, ../scss/style.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 24, ../scss/style.scss */
body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

/* line 33, ../scss/style.scss */
body, html {
  /* important */
  height: 100%;
}

/* line 38, ../scss/style.scss */
a {
  color: #b4d7a8;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/* line 49, ../scss/style.scss */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
/* line 54, ../scss/style.scss */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
/* line 59, ../scss/style.scss */
.cd-container p {
  margin-bottom: 2em;
  color: #ddd !important;
}
/* line 64, ../scss/style.scss */
.cd-container h3 {
  color: white;
  font-weight: 900;
  text-align: center;
  margin-bottom: 60px;
  font-size: 24px;
  text-transform: uppercase;
}
/* line 73, ../scss/style.scss */
.cd-container .quoteMain {
  font-weight: 600;
  font-style: italic;
}
/* line 78, ../scss/style.scss */
.cd-container .quoteMain:before {
  content: '"';
  font-size: 5em;
  opacity: .6;
  position: absolute;
}
/* line 85, ../scss/style.scss */
.cd-container .quoteAttr {
  float: right;
  text-align: right;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 99, ../scss/style.scss */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  overflow: hidden;
  width: 100%;
  opacity: 0.8 !important;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  /* line 112, ../scss/style.scss */
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}
/* line 117, ../scss/style.scss */
.cd-header h1 {
  color: white !important;
  opacity: 1.0 !important;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Avenir !important;
  font-weight: 600;
  padding: 8px 0 0 15px;
}

/* line 128, ../scss/style.scss */
.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
/* line 137, ../scss/style.scss */
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 148, ../scss/style.scss */
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;
}

/* line 159, ../scss/style.scss */
.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

/* line 166, ../scss/style.scss */
.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  /* line 166, ../scss/style.scss */
  .cd-fixed-bg {
    min-height: 60%;
  }
}
/* line 178, ../scss/style.scss */
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  width: 60%;
  max-width: 930px;
  text-align: right;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
/* line 190, ../scss/style.scss */
.cd-fixed-bg blockquote {
  width: 50%;
  max-width: 550px;
  text-align: right;
  color: #eee;
  position: absolute;
  display: inline-block;
  top: 15%;
  right: 5%;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3em;
}
/* line 207, ../scss/style.scss */
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/20150429_uk_34.jpg");
  background-position: right center;
}
/* line 214, ../scss/style.scss */
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/sm/gritstone_hero.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 214, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-2 {
    background-image: url("../img/gritstone_hero.jpg");
  }
}
/* line 221, ../scss/style.scss */
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/sm/gritstone_2.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 221, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-3 {
    background-image: url("../img/gritstone_2.jpg");
  }
}
/* line 229, ../scss/style.scss */
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/sm/gritstone_3.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 229, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-4 {
    background-image: url("../img/gritstone_3.jpg");
  }
}
/* line 237, ../scss/style.scss */
.cd-fixed-bg.cd-bg-5 {
  background-image: url("../img/sm/gritstone_hero2.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 237, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-5 {
    background-image: url("../img/gritstone_hero2.jpg");
  }
}
/* line 244, ../scss/style.scss */
.cd-fixed-bg.cd-bg-6 {
  background-image: url("../img/sm/slate_hero.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 244, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-6 {
    background-image: url("../img/slate_hero.jpg");
  }
}
/* line 251, ../scss/style.scss */
.cd-fixed-bg.cd-bg-7 {
  background-image: url("../img/sm/slate_2.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 251, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-7 {
    background-image: url("../img/slate_2.jpg");
  }
}
/* line 258, ../scss/style.scss */
.cd-fixed-bg.cd-bg-8 {
  background-image: url("../img/sm/slate_3.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 258, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-8 {
    background-image: url("../img/slate_3.jpg");
  }
}
/* line 265, ../scss/style.scss */
.cd-fixed-bg.cd-bg-9 {
  background-image: url("../img/sm/seacliff_hero.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 265, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-9 {
    background-image: url("../img/seacliff_hero.jpg");
  }
}
/* line 272, ../scss/style.scss */
.cd-fixed-bg.cd-bg-10 {
  background-image: url("../img/sm/seacliff_2.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 272, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-10 {
    background-image: url("../img/seacliff_2.jpg");
  }
}
/* line 279, ../scss/style.scss */
.cd-fixed-bg.cd-bg-11 {
  background-image: url("../img/sm/seacliff_3.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 279, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-11 {
    background-image: url("../img/seacliff_3.jpg");
  }
}
/* line 286, ../scss/style.scss */
.cd-fixed-bg.cd-bg-12 {
  background-image: url("../img/sm/seacliff_hero2.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 286, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-12 {
    background-image: url("../img/seacliff_hero2.jpg");
  }
}
/* line 293, ../scss/style.scss */
.cd-fixed-bg.cd-bg-13 {
  background-image: url("../img/sm/rhyolite_hero.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 293, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-13 {
    background-image: url("../img/rhyolite_hero.jpg");
  }
}
/* line 300, ../scss/style.scss */
.cd-fixed-bg.cd-bg-14 {
  background-image: url("../img/rhyolite_2.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 300, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-14 {
    background-image: url("../img/sm/rhyolite_2.jpg");
  }
}
/* line 307, ../scss/style.scss */
.cd-fixed-bg.cd-bg-15 {
  background-image: url("../img/sm/rhyolite_3.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 307, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-15 {
    background-image: url("../img/rhyolite_3.jpg");
  }
}
/* line 314, ../scss/style.scss */
.cd-fixed-bg.cd-bg-16 {
  background-image: url("../img/sm/rhyolite_4.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 314, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-16 {
    background-image: url("../img/rhyolite_4.jpg");
  }
}
/* line 321, ../scss/style.scss */
.cd-fixed-bg.cd-bg-17 {
  background-image: url("../img/sm/rhyolite_hero2.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 321, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-17 {
    background-image: url("../img/rhyolite_hero2.jpg");
  }
}
/* line 328, ../scss/style.scss */
.cd-fixed-bg.cd-bg-18 {
  background-image: url("../img/sm/sandstone_hero.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 328, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-18 {
    background-image: url("../img/sandstone_hero.jpg");
  }
}
/* line 335, ../scss/style.scss */
.cd-fixed-bg.cd-bg-19 {
  background-image: url("../img/sm/sandstone_2.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 335, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-19 {
    background-image: url("../img/sandstone_2.jpg");
  }
}
/* line 342, ../scss/style.scss */
.cd-fixed-bg.cd-bg-20 {
  background-image: url("../img/sm/sandstone_3.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 342, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-20 {
    background-image: url("../img/sandstone_3.jpg");
  }
}
/* line 349, ../scss/style.scss */
.cd-fixed-bg.cd-bg-21 {
  background-image: url("../img/sm/sandstone_hero2.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 349, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-21 {
    background-image: url("../img/sandstone_hero2.jpg");
  }
}
/* line 356, ../scss/style.scss */
.cd-fixed-bg.cd-bg-22 {
  background-image: url("../img/sm/limestone_hero.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 356, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-22 {
    background-image: url("../img/limestone_hero.jpg");
  }
}
/* line 363, ../scss/style.scss */
.cd-fixed-bg.cd-bg-23 {
  background-image: url("../img/sm/limestone_2.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 363, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-23 {
    background-image: url("../img/limestone_2.jpg");
  }
}
/* line 370, ../scss/style.scss */
.cd-fixed-bg.cd-bg-24 {
  background-image: url("../img/sm/limestone_3.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 370, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-24 {
    background-image: url("../img/limestone_3.jpg");
  }
}
/* line 377, ../scss/style.scss */
.cd-fixed-bg.cd-bg-25 {
  background-image: url("../img/sm/gritstone_4.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 377, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-25 {
    background-image: url("../img/gritstone_4.jpg");
  }
}
/* line 384, ../scss/style.scss */
.cd-fixed-bg.cd-bg-26 {
  background-image: url("../img/sm/gritstone_5.jpg");
}
@media screen and (min-width: 1500px) {
  /* line 384, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-26 {
    background-image: url("../img/gritstone_5.jpg");
  }
}
/* line 391, ../scss/style.scss */
.cd-fixed-bg.cd-bg-27 {
  background-image: url("../img/bioHeroMina.jpg");
}
/* line 395, ../scss/style.scss */
.cd-fixed-bg.cd-bg-28 {
  background-image: url("../img/bioHeroKaty.jpg");
}
/* line 400, ../scss/style.scss */
.cd-fixed-bg .withBG {
  left: 5% !important;
  width: 40%;
  height: auto;
  background: #222;
  padding: 30px;
}
/* line 407, ../scss/style.scss */
.cd-fixed-bg .withBG p {
  margin-bottom: 15px;
  line-height: 2em;
  font-size: 20px;
  font-weight: 100;
}
/* line 414, ../scss/style.scss */
.cd-fixed-bg .withBG blockquote {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
/* line 422, ../scss/style.scss */
.cd-fixed-bg .showHide {
  left: 0px !important;
  transition: left 1s;
}
/* line 428, ../scss/style.scss */
.cd-fixed-bg .metaWrap {
  position: absolute;
  bottom: 1%;
  left: 3%;
  width: 50px;
  height: 80px;
  background: url("../img/camera-icon.png") no-repeat;
  background-size: 40px;
  cursor: pointer;
}
/* line 438, ../scss/style.scss */
.cd-fixed-bg .metaWrap svg {
  width: 20px;
  height: 20px;
}
/* line 442, ../scss/style.scss */
.cd-fixed-bg .metaWrap .land {
  fill: #fff;
  width: 50px;
  height: 50px;
}
/* line 448, ../scss/style.scss */
.cd-fixed-bg .metaWrap .metaInfo {
  position: absolute;
  display: block;
  width: auto;
  min-width: 250px;
  height: auto;
  background: #ccc;
  margin-top: -310px;
  box-sizing: border-box;
  padding: 15px;
  opacity: .75;
  min-height: 50px;
  bottom: 90px;
  left: -350px;
  transition: all 1s;
}
/* line 465, ../scss/style.scss */
.cd-fixed-bg .metaWrap .metaInfo h3 {
  font-size: 13px;
  font-weight: 900;
  line-height: 15px;
}
/* line 473, ../scss/style.scss */
.cd-fixed-bg .metaWrap .metaInfo:after {
  position: absolute;
  width: 15px;
  height: 15px;
  color: teal;
  content: '';
}
@media only screen and (min-width: 768px) {
  /* line 485, ../scss/style.scss */
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 166, ../scss/style.scss */
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  /* line 493, ../scss/style.scss */
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
    font-weight: 300;
  }
}

/* line 501, ../scss/style.scss */
.topCTA {
  font-family: Avenir, sans-serif;
  font-weight: 900;
  text-align: center;
  color: white;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid white;
  padding: 3px 10px;
}

/* line 514, ../scss/style.scss */
.centered {
  text-align: center !important;
}

/* line 518, ../scss/style.scss */
.bioWrap {
  text-align: center;
  margin-bottom: 60px;
}
/* line 522, ../scss/style.scss */
.bioWrap .bioPhoto {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 30px;
}
/* line 531, ../scss/style.scss */
.bioWrap .manley {
  background: url("../img/ManleyBio.jpg") no-repeat;
  background-position: center center;
  background-size: 250px;
}
/* line 537, ../scss/style.scss */
.bioWrap .mina {
  background: url("../img/MinaBio.jpg") no-repeat;
  background-position: center center;
  background-size: 250px;
}
/* line 543, ../scss/style.scss */
.bioWrap .katy {
  background: url("../img/KatyBio.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 549, ../scss/style.scss */
.bioWrap .bioContent {
  margin-top: 30px;
}
/* line 553, ../scss/style.scss */
.bioWrap .bioLinks {
  display: inline-block;
  position: relative;
}
/* line 558, ../scss/style.scss */
.bioWrap .bioLinks svg {
  width: 40px;
  height: 40px;
  fill: white;
  margin: 0 10px;
}

/* line 567, ../scss/style.scss */
.socialInsta, .socialVimeo {
  fill: #fff;
}

/* line 575, ../scss/style.scss */
.cd-scrolling-bg {
  position: relative;
  padding: 3em 0 !important;
  line-height: 1.6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
/* line 583, ../scss/style.scss */
.cd-scrolling-bg.cd-color-1 {
  background-color: #bbb;
  color: #a6989a;
}
/* line 588, ../scss/style.scss */
.cd-scrolling-bg.cd-color-2 {
  background-color: #212121;
  color: #3d3536;
}
/* line 594, ../scss/style.scss */
.cd-scrolling-bg.cd-color-3 {
  background-color: #ddd;
  color: #3d3536;
}
/* line 599, ../scss/style.scss */
.cd-scrolling-bg.cd-color-4 {
  background-color: #222;
  color: #3d3536;
  background: url("../img/20150429_uk_34.jpg") no-repeat;
  background-size: 100% auto;
  width: 100% !important;
  height: 900px;
}
/* line 608, ../scss/style.scss */
.cd-scrolling-bg.cd-color-5 {
  padding: 0 0 2em 0 !important;
  background-color: #212121;
}
/* line 613, ../scss/style.scss */
.cd-scrolling-bg.cd-color-9 {
  padding: 2em 0 2em 0 !important;
  background-color: #111;
}
/* line 619, ../scss/style.scss */
.cd-scrolling-bg .heroImage img {
  width: 100%;
  height: auto;
}
/* line 625, ../scss/style.scss */
.cd-scrolling-bg .quoteAttr {
  font-family: Georgia, sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 631, ../scss/style.scss */
.cd-scrolling-bg .pullQuote {
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-weight: 500;
  color: #fff !important;
  position: relative;
  font-size: 1.2em;
}
/* line 640, ../scss/style.scss */
.cd-scrolling-bg .pullQuote:before {
  content: '\201C';
  font-size: 172px;
  vertical-align: top;
  line-height: 120px;
  position: absolute;
  color: #333;
  top: 0%;
  left: -15%;
  font-family: Georgia, sans-serif !important;
}
/* line 652, ../scss/style.scss */
.cd-scrolling-bg .pullQuote:after {
  content: '\201D';
  font-size: 172px;
  vertical-align: top;
  line-height: 120px;
  position: absolute;
  color: #333;
  bottom: -20%;
  right: -5%;
  font-family: Georgia, sans-serif !important;
}
/* line 664, ../scss/style.scss */
.cd-scrolling-bg p {
  color: #aaa;
  line-height: 1.9em;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  /* line 575, ../scss/style.scss */
  .cd-scrolling-bg {
    padding: 6em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}
/* line 676, ../scss/style.scss */
.cd-scrolling-bg h1 {
  font-family: Georgia, sans-serif;
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 45px;
  text-shadow: 1px 1px 1px #000;
}
/* line 687, ../scss/style.scss */
.cd-scrolling-bg h3 {
  font-family: Georgia, sans-serif;
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 1.3em;
  font-style: italic;
  margin-bottom: 30px;
  text-shadow: 1px 1px 1px #000;
  text-transform: none !important;
}
/* line 699, ../scss/style.scss */
.cd-scrolling-bg h4 {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 45px;
  font-family: Georgia, sans-serif;
  font-style: italic;
  color: #bbb;
  text-shadow: 1px 1px 1px #000;
}

/* line 711, ../scss/style.scss */
.bolder {
  font-weight: 800;
}
