/* -------------------------------- 

Primary style

-------------------------------- */
/* line 14, ../scss/style.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 22, ../scss/style.scss */
body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

/* line 31, ../scss/style.scss */
body, html {
  /* important */
  height: 100%;
}

/* line 36, ../scss/style.scss */
a {
  color: #b4d7a8;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/* line 47, ../scss/style.scss */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
/* line 52, ../scss/style.scss */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 65, ../scss/style.scss */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  overflow: hidden;
  width: 100%;
  background: #111 !important;
  opacity: 0.8 !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  /* line 78, ../scss/style.scss */
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}
/* line 83, ../scss/style.scss */
.cd-header h1 {
  color: white !important;
  opacity: 1.0 !important;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Avenir !important;
  font-weight: 600;
  padding: 8px 0 0 15px;
}

/* line 94, ../scss/style.scss */
.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
/* line 103, ../scss/style.scss */
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 114, ../scss/style.scss */
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;
}

/* line 125, ../scss/style.scss */
.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

/* line 132, ../scss/style.scss */
.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
/* line 140, ../scss/style.scss */
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  width: 60%;
  max-width: 930px;
  text-align: right;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
/* line 152, ../scss/style.scss */
.cd-fixed-bg blockquote {
  width: 50%;
  max-width: 350px;
  text-align: right;
  font-style: italic;
  color: #ccc;
  position: absolute;
  display: inline-block;
  top: 15%;
  right: 5%;
  font-size: 30px;
  font-family: Avenir;
  font-weight: 500;
  line-height: 32px;
}
/* line 170, ../scss/style.scss */
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/20150429_uk_34.jpg");
  background-position: right center;
}
/* line 175, ../scss/style.scss */
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/20150428_uk_239.jpg");
}
/* line 179, ../scss/style.scss */
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/20150429_uk_70.jpg");
}
/* line 183, ../scss/style.scss */
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/comp1.jpg");
}
/* line 185, ../scss/style.scss */
.cd-fixed-bg.cd-bg-4 .contentWrap {
  position: absolute;
  top: 20%;
  right: 10%;
  color: #ccc;
  width: 400px;
}
/* line 192, ../scss/style.scss */
.cd-fixed-bg.cd-bg-4 .contentWrap h2 {
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: left;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.3em;
}
/* line 202, ../scss/style.scss */
.cd-fixed-bg.cd-bg-4 .contentWrap p {
  width: 100%;
  display: inline-block;
  position: relative;
  line-height: 1.5em;
}
/* line 211, ../scss/style.scss */
.cd-fixed-bg.cd-bg-5 {
  background-image: url("../img/comp2.jpg");
}
/* line 213, ../scss/style.scss */
.cd-fixed-bg.cd-bg-5 .contentWrap {
  position: absolute;
  top: 5%;
  color: #ccc;
  text-align: center;
}
/* line 219, ../scss/style.scss */
.cd-fixed-bg.cd-bg-5 .contentWrap p {
  width: 400px;
  color: #333;
  line-height: 1.5em;
}
/* line 231, ../scss/style.scss */
.cd-fixed-bg .withBG {
  left: 5% !important;
  width: 40%;
  height: auto;
  background: #222;
  padding: 30px;
}
/* line 239, ../scss/style.scss */
.cd-fixed-bg.cd-bg-6 {
  background-image: url("../img/slide5.jpg");
}
/* line 244, ../scss/style.scss */
.cd-fixed-bg.cd-bg-7 {
  background-image: url("../img/comp3.jpg");
}
/* line 248, ../scss/style.scss */
.cd-fixed-bg.cd-bg-8 {
  background-image: url("../img/slide7.jpg");
}
/* line 252, ../scss/style.scss */
.cd-fixed-bg.cd-bg-9 {
  background-image: url("../img/comp4.jpg");
}
/* line 256, ../scss/style.scss */
.cd-fixed-bg.cd-bg-10 {
  background-image: url("../img/comp5.jpg");
}
/* line 260, ../scss/style.scss */
.cd-fixed-bg.cd-bg-11 {
  background-image: url("../img/20150509_uk_145.jpg");
}
/* line 264, ../scss/style.scss */
.cd-fixed-bg.cd-bg-12 {
  background-image: url("../img/20150509_uk_224.jpg");
}
@media only screen and (min-width: 768px) {
  /* line 269, ../scss/style.scss */
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 132, ../scss/style.scss */
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  /* line 277, ../scss/style.scss */
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
    font-weight: 300;
  }
}

/* line 284, ../scss/style.scss */
.bioWrap {
  text-align: center;
  margin-bottom: 60px;
}
/* line 288, ../scss/style.scss */
.bioWrap .bioPhoto {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
/* line 296, ../scss/style.scss */
.bioWrap .manley {
  background: url("../img/ManleyBio.jpg") no-repeat;
  background-position: center center;
  background-size: 250px;
}
/* line 302, ../scss/style.scss */
.bioWrap .mina {
  background: url("../img/MinaBio.jpg") no-repeat;
  background-position: center center;
  background-size: 250px;
}
/* line 308, ../scss/style.scss */
.bioWrap .bioContent {
  margin-top: 30px;
}

/* line 313, ../scss/style.scss */
.cd-scrolling-bg {
  position: relative;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
/* line 321, ../scss/style.scss */
.cd-scrolling-bg.cd-color-1 {
  background-color: #bbb;
  color: #a6989a;
}
/* line 326, ../scss/style.scss */
.cd-scrolling-bg.cd-color-2 {
  background-color: #222;
  color: #3d3536;
  background: url("../img/mapBW.jpg") no-repeat;
}
/* line 332, ../scss/style.scss */
.cd-scrolling-bg.cd-color-3 {
  background-color: #ddd;
  color: #3d3536;
}
/* line 338, ../scss/style.scss */
.cd-scrolling-bg p {
  color: #aaa;
}
@media only screen and (min-width: 768px) {
  /* line 313, ../scss/style.scss */
  .cd-scrolling-bg {
    padding: 6em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

/* line 349, ../scss/style.scss */
.bolder {
  font-weight: 800;
}
