/* line 10, ../scss/style.scss */
body {
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: 'Avenir LT W01 55 Roman', sans-serif;
  color: white;
}

/* line 21, ../scss/style.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 26, ../scss/style.scss */
div {
  box-sizing: border-box;
}

/* line 30, ../scss/style.scss */
h1, h3, p {
  margin: 0;
  padding: 0;
}

/* line 35, ../scss/style.scss */
h1 {
  font-weight: 300;
  line-height: 1em;
  font-family: 'Avenir LT W01 85 Heavy', sans-serif;
}

/* line 41, ../scss/style.scss */
h3 {
  font-weight: 100;
  line-height: 1em;
  font-family: 'Avenir LT W01 85 Heavy', sans-serif;
}

/* line 47, ../scss/style.scss */
p {
  font-weight: 100;
  line-height: 1.3em;
  font-family: 'Avenir LT W01 55 Roman', sans-serif;
}

/* line 53, ../scss/style.scss */
.highlight {
  color: red;
}

/* line 58, ../scss/style.scss */
.contentGrid {
  position: relative;
  width: 930px;
  margin: 0 auto;
}
@media screen and (max-width: 945px) {
  /* line 58, ../scss/style.scss */
  .contentGrid {
    width: 100%;
    padding-left: 30px;
  }
}

/* line 69, ../scss/style.scss */
.headerWrap {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
}
/* line 75, ../scss/style.scss */
.headerWrap .logoWrap {
  width: 150px;
  height: 200px;
  background: url("../img/logoNY.jpg") no-repeat;
  background-size: 150px;
}

/* line 83, ../scss/style.scss */
.heroWrap {
  background: url("../img/StoreHeroImageSm.jpg") no-repeat;
  background-size: cover;
  min-height: 350px;
  background-position: right 20%;
}
@media screen and (max-width: 930px) {
  /* line 83, ../scss/style.scss */
  .heroWrap {
    background-size: auto 110%;
  }
}
@media screen and (max-width: 500px) {
  /* line 83, ../scss/style.scss */
  .heroWrap {
    min-height: 250px;
    background-size: cover !important;
  }
}

/* line 101, ../scss/style.scss */
.heroContent {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 105, ../scss/style.scss */
.heroContent h1 {
  font-size: 2.5em !important;
  line-height: 1em !important;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 700px;
}
/* line 114, ../scss/style.scss */
.heroContent h3 {
  font-weight: 600;
  line-height: 1.4em;
}

/* line 120, ../scss/style.scss */
.mainWrap {
  margin-bottom: 60px;
}
/* line 123, ../scss/style.scss */
.mainWrap .colWrap {
  width: 44%;
  box-sizing: border-box;
  display: inline-block;
  background-color: black;
  vertical-align: top;
}
@media screen and (max-width: 930px) {
  /* line 123, ../scss/style.scss */
  .mainWrap .colWrap {
    width: 46%;
  }
}
@media screen and (max-width: 700px) {
  /* line 123, ../scss/style.scss */
  .mainWrap .colWrap {
    width: 90%;
  }
}
/* line 141, ../scss/style.scss */
.mainWrap h1 {
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 146, ../scss/style.scss */
.mainWrap h3 {
  font-size: 1em;
  font-weight: 100 !important;
  margin-bottom: 10px;
  line-height: 1.3em;
}
/* line 153, ../scss/style.scss */
.mainWrap p {
  font-weight: 300 !important;
}
/* line 157, ../scss/style.scss */
.mainWrap ul {
  margin-bottom: 30px;
}
/* line 160, ../scss/style.scss */
.mainWrap ul li {
  list-style: square;
  width: 70%;
  line-height: 1.5em;
  margin-bottom: 5px;
  font-size: 15px;
}
/* line 169, ../scss/style.scss */
.mainWrap a {
  display: block;
  font-weight: 100 !important;
  font-size: 14px;
  margin-bottom: 5px;
}
/* line 176, ../scss/style.scss */
.mainWrap .mapWrap {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 230px;
  margin-top: 15px;
  background: url("../img/nycmap.jpg");
  background-size: cover;
}

/* line 187, ../scss/style.scss */
.subWrap {
  width: 930px;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 930px) {
  /* line 187, ../scss/style.scss */
  .subWrap {
    width: 100%;
  }
}

/* line 197, ../scss/style.scss */
.contestWrap {
  width: 100%;
  margin: 30px 0 60;
  background: url("../img/storeexterior.jpg");
  height: 450px;
}
/* line 203, ../scss/style.scss */
.contestWrap .blackBox {
  width: 300px;
  position: relative;
  display: inline-block;
  background: black;
  padding: 30px;
  margin-top: 150px;
}
/* line 212, ../scss/style.scss */
.contestWrap h1 {
  font-family: 'Avenir LT W01 85 Heavy', sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
}
/* line 219, ../scss/style.scss */
.contestWrap h3 {
  font-size: 15px;
  line-height: 1.3em;
  max-width: 500px;
}

/* line 226, ../scss/style.scss */
.blogWrap {
  margin-top: 30px;
  width: 100%;
  height: 450px;
  position: relative;
  box-sizing: border-box;
  background: #333;
  background: url("../img/gunksblog.jpg");
  background-size: cover;
}
/* line 236, ../scss/style.scss */
.blogWrap .blackBox {
  width: 300px;
  box-sizing: border-box;
  background: black;
  padding: 30px;
  text-align: right;
  position: relative;
  margin-top: 60px;
  display: inline-block;
}
/* line 246, ../scss/style.scss */
.blogWrap .blackBox h3 {
  font-family: 'Avenir LT W01 55 Roman', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3em;
}
/* line 255, ../scss/style.scss */
.blogWrap .blackBox a {
  margin-top: 20px;
  font-size: 14px;
  color: white;
  border: 1px solid white;
  padding: 6px 15px 5px 15px;
  display: inline-block;
}

/* line 267, ../scss/style.scss */
.finePrint {
  text-align: center;
  font-size: 11px;
  margin-top: 50px;
  color: #ddd;
}

/* line 274, ../scss/style.scss */
#overlay {
  display: none;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0;
  padding: 25px;
  background-color: #222;
  height: 100%;
  width: 100%;
  z-index: 100;
  color: #333;
  transition: all 1s ease 1s;
}
/* line 290, ../scss/style.scss */
#overlay iframe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

/* line 303, ../scss/style.scss */
#overlay p {
  color: #666;
}

/* line 307, ../scss/style.scss */
#fade {
  display: none;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

/* line 321, ../scss/style.scss */
#closeLink {
  position: fixed;
  background: #000;
  right: 2%;
  top: 2%;
  z-index: 200;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
}

/* line 334, ../scss/style.scss */
#closeLink a {
  color: #ff0000 !important;
  text-decoration: none;
}

/* line 339, ../scss/style.scss */
.nffWrap {
  background: url("../img/newforfallheroSm.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 350px;
  opacity: 1;
  margin-top: 60px;
}
/* line 348, ../scss/style.scss */
.nffWrap .contentGrid {
  width: 100%;
  text-align: center;
}
/* line 352, ../scss/style.scss */
.nffWrap .contentGrid a {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 14px;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 8px 15px 7px 15px;
  display: inline-block;
}
/* line 363, ../scss/style.scss */
.nffWrap .contentGrid h1 {
  font-size: 14px;
  line-height: 13px;
  vertical-align: bottom;
  overflow: hidden;
}
