/* line 10, ../scss/style.scss */
body {
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: 'Avenir LT W01 55 Roman', sans-serif;
  color: white;
}

/* line 21, ../scss/style.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 26, ../scss/style.scss */
div {
  box-sizing: border-box;
}

/* line 30, ../scss/style.scss */
h1, h3, p {
  margin: 0;
  padding: 0;
}

/* line 35, ../scss/style.scss */
h1 {
  font-weight: 300;
  line-height: 1em;
  font-family: 'Avenir LT W01 85 Heavy', sans-serif;
}

/* line 41, ../scss/style.scss */
h3 {
  font-weight: 100;
  line-height: 1em;
  font-family: 'Avenir LT W01 85 Heavy', sans-serif;
}

/* line 47, ../scss/style.scss */
p {
  font-weight: 100;
  line-height: 1.3em;
  font-family: 'Avenir LT W01 55 Roman', sans-serif;
}

/* line 53, ../scss/style.scss */
.highlight {
  color: red;
}

/* line 58, ../scss/style.scss */
.contentGrid {
  position: relative;
  width: 930px;
  margin: 0 auto;
}
@media screen and (max-width: 945px) {
  /* line 58, ../scss/style.scss */
  .contentGrid {
    width: 100%;
    padding-left: 30px;
  }
}

/* line 69, ../scss/style.scss */
.headerWrap {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
}
/* line 75, ../scss/style.scss */
.headerWrap .logoWrap {
  width: 150px;
  height: 200px;
  background: url("../img/logoNY.jpg") no-repeat;
  background-size: 150px;
}

/* line 83, ../scss/style.scss */
.heroWrap {
  background: url("../img/StoreHeroImageSm.jpg") no-repeat;
  background-size: cover;
  min-height: 350px;
  background-position: right 20%;
}
@media screen and (max-width: 930px) {
  /* line 83, ../scss/style.scss */
  .heroWrap {
    background-size: auto 110%;
  }
}
@media screen and (max-width: 500px) {
  /* line 83, ../scss/style.scss */
  .heroWrap {
    min-height: 250px;
    background-size: cover !important;
    background-position: 70%;
  }
}

/* line 102, ../scss/style.scss */
.heroContent {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 106, ../scss/style.scss */
.heroContent h1 {
  font-size: 2.5em !important;
  line-height: 1em !important;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 700px;
}
/* line 115, ../scss/style.scss */
.heroContent h3 {
  font-weight: 600;
  line-height: 1.4em;
}

/* line 121, ../scss/style.scss */
.socialLink img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding-top: 15px;
  vertical-align: bottom;
}

/* line 129, ../scss/style.scss */
.socialText {
  font-size: 20px;
  vertical-align: baseline;
  margin-top: 0px;
  line-height: 16px;
}

/* line 136, ../scss/style.scss */
.mainWrap {
  margin-bottom: 60px;
}
/* line 139, ../scss/style.scss */
.mainWrap .margLeft {
  margin-left: 30px;
}
@media screen and (max-width: 700px) {
  /* line 139, ../scss/style.scss */
  .mainWrap .margLeft {
    margin-left: 0;
  }
}
/* line 147, ../scss/style.scss */
.mainWrap .colWrap {
  width: 44%;
  box-sizing: border-box;
  display: inline-block;
  background-color: black;
  vertical-align: top;
}
@media screen and (max-width: 930px) {
  /* line 147, ../scss/style.scss */
  .mainWrap .colWrap {
    width: 46%;
  }
}
@media screen and (max-width: 700px) {
  /* line 147, ../scss/style.scss */
  .mainWrap .colWrap {
    width: 95%;
  }
}
/* line 165, ../scss/style.scss */
.mainWrap h1 {
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 170, ../scss/style.scss */
.mainWrap h3 {
  font-size: 1em;
  font-weight: 100 !important;
  margin-bottom: 10px;
  line-height: 1.3em;
}
/* line 177, ../scss/style.scss */
.mainWrap p {
  font-weight: 300 !important;
}
/* line 181, ../scss/style.scss */
.mainWrap ul {
  margin-bottom: 30px;
}
/* line 184, ../scss/style.scss */
.mainWrap ul li {
  list-style: square;
  width: 70%;
  line-height: 1.5em;
  margin-bottom: 5px;
  font-size: 15px;
}
/* line 193, ../scss/style.scss */
.mainWrap a {
  display: block;
  font-weight: 100 !important;
  font-size: 14px;
  margin-bottom: 5px;
}
/* line 200, ../scss/style.scss */
.mainWrap .mapHead {
  padding: 10px 15px;
  background: #333;
  margin-bottom: -15px;
  font-size: 15px;
}
@media screen and (max-width: 700px) {
  /* line 200, ../scss/style.scss */
  .mainWrap .mapHead {
    margin: 0 auto;
    margin-bottom: -15px;
    margin-top: 30px;
  }
}
/* line 213, ../scss/style.scss */
.mainWrap .mapWrap {
  background: url("../img/nycmaplarge.jpg") no-repeat;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 290px;
  margin-top: 15px;
  background-size: 750px;
  background-position: 53% 63%;
  z-index: 10;
}
/* line 224, ../scss/style.scss */
.mainWrap .mapWrap .markerWrap {
  position: absolute;
  top: 44%;
  left: 35%;
  width: 28px;
  height: 28px;
  border-radius: 15px;
  background-color: #333;
  background-image: url("../img/birdmarker.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50% 50%;
}
@media screen and (max-width: 700px) {
  /* line 224, ../scss/style.scss */
  .mainWrap .mapWrap .markerWrap {
    top: 44%;
    left: 40%;
  }
}
/* line 243, ../scss/style.scss */
.mainWrap .mapWrap .markerWrap:after {
  height: 14px;
  width: 14px;
  content: '';
  background: #333;
  left: 7px;
  top: 17px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  z-index: -1;
}

/* line 258, ../scss/style.scss */
.subWrap {
  width: 930px;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 930px) {
  /* line 258, ../scss/style.scss */
  .subWrap {
    width: 100%;
  }
}

/* line 268, ../scss/style.scss */
.contestWrap {
  width: 100%;
  margin: 30px 0 0;
  background: url("../img/storeexterior.jpg");
  height: 450px;
}
@media screen and (max-width: 650px) {
  /* line 268, ../scss/style.scss */
  .contestWrap {
    width: 100%;
    background-position: 50% 25%;
  }
}
/* line 279, ../scss/style.scss */
.contestWrap .blackBox {
  width: 300px;
  position: relative;
  display: inline-block;
  background: black;
  padding: 30px;
  margin-top: 150px;
}
/* line 288, ../scss/style.scss */
.contestWrap h1 {
  font-family: 'Avenir LT W01 85 Heavy', sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
}
/* line 295, ../scss/style.scss */
.contestWrap h3 {
  font-size: 15px;
  line-height: 1.3em;
  max-width: 500px;
}

/* line 302, ../scss/style.scss */
.blogWrap {
  margin-top: 30px;
  width: 100%;
  height: 450px;
  position: relative;
  box-sizing: border-box;
  background: #333;
  background: url("../img/gunksblog.jpg");
  background-size: cover;
}
@media screen and (max-width: 650px) {
  /* line 302, ../scss/style.scss */
  .blogWrap {
    width: 100%;
    background-position: 50% 25%;
  }
}
/* line 317, ../scss/style.scss */
.blogWrap .blackBox {
  width: 300px;
  box-sizing: border-box;
  background: black;
  padding: 30px;
  text-align: right;
  position: relative;
  margin-top: 60px;
  display: inline-block;
}
@media screen and (max-width: 650px) {
  /* line 317, ../scss/style.scss */
  .blogWrap .blackBox {
    width: 100%;
    margin-top: 350px;
    padding: 20px;
    text-align: left;
  }
}
/* line 334, ../scss/style.scss */
.blogWrap .blackBox h3 {
  font-family: 'Avenir LT W01 55 Roman', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3em;
}
/* line 343, ../scss/style.scss */
.blogWrap .blackBox a {
  margin-top: 20px;
  font-size: 14px;
  color: white;
  border: 1px solid white;
  padding: 6px 15px 5px 15px;
  display: inline-block;
}

/* line 355, ../scss/style.scss */
.finePrint {
  text-align: center;
  font-size: 11px;
  position: relative;
  display: block;
  color: #ddd;
  margin: 0 auto;
  margin-bottom: 60px;
}
/* line 364, ../scss/style.scss */
.finePrint p {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  width: 70%;
}
@media screen and (max-width: 700px) {
  /* line 364, ../scss/style.scss */
  .finePrint p {
    padding-top: 10px;
  }
}
@media screen and (max-width: 650px) {
  /* line 364, ../scss/style.scss */
  .finePrint p {
    width: 80%;
  }
}

/* line 380, ../scss/style.scss */
.nffWrap {
  background: url("../img/newforfallheroSm.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 350px;
  opacity: 1;
  margin-top: 60px;
}
/* line 389, ../scss/style.scss */
.nffWrap .contentGrid {
  width: 100%;
  text-align: center;
}
/* line 393, ../scss/style.scss */
.nffWrap .contentGrid a {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 14px;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 8px 15px 7px 15px;
  display: inline-block;
}
/* line 404, ../scss/style.scss */
.nffWrap .contentGrid h1 {
  font-size: 14px;
  line-height: 13px;
  vertical-align: bottom;
  overflow: hidden;
}
