/* line 5, ../scss/styleContest.scss */
html {
  height: 100%;
}

/* line 9, ../scss/styleContest.scss */
body {
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: Avenir, sans-serif;
  color: white;
  height: 100%;
}

/* line 20, ../scss/styleContest.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 25, ../scss/styleContest.scss */
div {
  box-sizing: border-box;
}

/* line 29, ../scss/styleContest.scss */
h1, h3, p {
  margin: 0;
  padding: 0;
}

/* line 34, ../scss/styleContest.scss */
h1 {
  font-weight: 300;
  line-height: 1em;
}

/* line 39, ../scss/styleContest.scss */
h3 {
  font-weight: 100;
  line-height: 1em;
}

/* line 44, ../scss/styleContest.scss */
p {
  font-weight: 300;
  line-height: 1.3em;
}

/* line 49, ../scss/styleContest.scss */
.highlight {
  color: #ed1d24;
}

/* line 54, ../scss/styleContest.scss */
.contentGrid {
  position: relative;
  width: 930px;
  margin: 0 auto;
}
@media screen and (max-width: 945px) {
  /* line 54, ../scss/styleContest.scss */
  .contentGrid {
    width: 100%;
    padding-left: 30px;
  }
}
@media screen and (max-width: 380px) {
  /* line 54, ../scss/styleContest.scss */
  .contentGrid {
    width: 100%;
    padding-left: 0px;
  }
}

/* line 70, ../scss/styleContest.scss */
.headerWrap {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}
/* line 76, ../scss/styleContest.scss */
.headerWrap .logoWrap {
  width: 150px;
  height: 200px;
  background: url("http://stores.arcteryx.com/piccadilly/img/logoLondon.jpg") no-repeat;
  background-size: 150px;
}

/* line 84, ../scss/styleContest.scss */
.headerWrap {
  width: 100%;
  height: 700px;
  background: url("http://stores.arcteryx.com/piccadilly/img/deepwinterChad.jpg");
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 930px) {
  /* line 84, ../scss/styleContest.scss */
  .headerWrap {
    background-position: center bottom;
  }
}
@media screen and (max-width: 600px) {
  /* line 84, ../scss/styleContest.scss */
  .headerWrap {
    height: 400px;
  }
}

/* line 100, ../scss/styleContest.scss */
.contentWrap {
  width: 100%;
  max-width: 800px;
  position: relative;
  display: block;
  z-index: 50;
  background: black;
  margin: 0 auto;
  padding: 60px;
  margin-top: 40%;
}
@media screen and (max-width: 930px) {
  /* line 100, ../scss/styleContest.scss */
  .contentWrap {
    margin-top: 450px;
  }
}
@media screen and (max-width: 600px) {
  /* line 100, ../scss/styleContest.scss */
  .contentWrap {
    padding: 30px;
    margin-top: 350px;
  }
}
/* line 120, ../scss/styleContest.scss */
.contentWrap h1, .contentWrap h3 {
  text-transform: uppercase;
}
/* line 124, ../scss/styleContest.scss */
.contentWrap h1 {
  font-weight: 900;
  margin-bottom: 15px;
}
/* line 129, ../scss/styleContest.scss */
.contentWrap h3 {
  width: 80%;
  line-height: 1em;
  font-weight: 500;
  margin-bottom: 10px;
}
/* line 136, ../scss/styleContest.scss */
.contentWrap p {
  font-size: 14px;
  line-height: 1.7em;
}
/* line 142, ../scss/styleContest.scss */
.contentWrap ul li {
  width: 75%;
  margin-bottom: 10px;
  font-size: 14px;
}
/* line 149, ../scss/styleContest.scss */
.contentWrap a {
  text-transform: uppercase;
}
/* line 154, ../scss/styleContest.scss */
.contentWrap .wbLogoWrap {
  width: 120px;
  height: 60px;
  background: url("http://stores.arcteryx.com/piccadilly/img/wbLogo.png") no-repeat;
  background-size: 105px;
  position: absolute;
  top: 180px;
  right: 100px;
}
@media screen and (max-width: 768px) {
  /* line 154, ../scss/styleContest.scss */
  .contentWrap .wbLogoWrap {
    position: relative;
    left: 0;
    display: inline-block;
    top: 15px;
  }
}
/* line 172, ../scss/styleContest.scss */
.contentWrap .howtoenter {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 175, ../scss/styleContest.scss */
.contentWrap .howtoenter ul {
  list-style: none;
  margin-left: -15px;
  vertical-align: top;
}
/* line 180, ../scss/styleContest.scss */
.contentWrap .howtoenter ul li {
  vertical-align: top;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.5em;
  width: 40%;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 50px;
}
@media screen and (max-width: 700px) {
  /* line 180, ../scss/styleContest.scss */
  .contentWrap .howtoenter ul li {
    width: 80%;
  }
}
/* line 200, ../scss/styleContest.scss */
.contentWrap .bolder {
  font-weight: 900;
  text-transform: uppercase;
}
/* line 205, ../scss/styleContest.scss */
.contentWrap .stepStyle {
  text-transform: uppercase;
  color: #aaa;
}
/* line 210, ../scss/styleContest.scss */
.contentWrap .rowWrap {
  width: 100%;
}
/* line 214, ../scss/styleContest.scss */
.contentWrap .socialLogos {
  width: 30%;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
}
@media screen and (max-width: 700px) {
  /* line 214, ../scss/styleContest.scss */
  .contentWrap .socialLogos {
    width: 100%;
    margin-top: 10px;
  }
}
/* line 226, ../scss/styleContest.scss */
.contentWrap .socialLogos a {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-right: 15px;
  margin-top: -10px;
}
/* line 233, ../scss/styleContest.scss */
.contentWrap .socialLogos a img {
  width: 70px;
  height: 70px;
}
/* line 244, ../scss/styleContest.scss */
.contentWrap .storeInfo {
  width: 65%;
  display: inline-block;
  margin: 45px 0;
}
/* line 248, ../scss/styleContest.scss */
.contentWrap .storeInfo h3, .contentWrap .storeInfo a {
  line-height: 0.8em;
}
@media screen and (max-width: 700px) {
  /* line 248, ../scss/styleContest.scss */
  .contentWrap .storeInfo h3, .contentWrap .storeInfo a {
    line-height: 1em;
  }
}
/* line 258, ../scss/styleContest.scss */
.contentWrap .finePrint {
  margin: 60px 0px;
}
/* line 260, ../scss/styleContest.scss */
.contentWrap .finePrint p {
  font-size: 10px;
  line-height: 1.6em;
  text-align: center;
}

/* line 269, ../scss/styleContest.scss */
.prizing li {
  font-size: 15px !important;
}

/* line 275, ../scss/styleContest.scss */
.nffWrap {
  background: url("http://stores.arcteryx.com/piccadilly/img/newforfallheroSm.jpg") no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 500px;
  opacity: 1;
}
/* line 284, ../scss/styleContest.scss */
.nffWrap .contentGrid {
  width: 100%;
  text-align: center;
  min-width: 300px;
}
/* line 289, ../scss/styleContest.scss */
.nffWrap .contentGrid a {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 14px;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 8px 15px 7px 15px;
  display: inline-block;
}
/* line 300, ../scss/styleContest.scss */
.nffWrap .contentGrid h1 {
  font-size: 14px;
  line-height: 13px;
  overflow: hidden;
  vertical-align: top;
}

/* line 313, ../scss/styleContest.scss */
#overlay {
  display: none;
  position: fixed;
  left: 10%;
  right: 10%;
  top: 5%;
  padding: 25px;
  border: 5px solid #666;
  background-color: #ffffff;
  height: 80%;
  overflow: scroll;
  z-index: 100;
  color: #333;
  transition: all 2s linear 1s;
}
/* line 328, ../scss/styleContest.scss */
#overlay p {
  color: #666;
}
/* line 332, ../scss/styleContest.scss */
#overlay h1 {
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
}
/* line 338, ../scss/styleContest.scss */
#overlay h3 {
  font-weight: 600;
  margin-top: 30px;
  marginb-bottom: 10px;
  color: #666;
}

/* line 347, ../scss/styleContest.scss */
#fade {
  display: none;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90 !important;
}

/* line 361, ../scss/styleContest.scss */
#closeLink {
  position: fixed;
  color: black;
  right: 13%;
  top: 8%;
  z-index: 200;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 11px;
  background: #eee;
}

/* line 373, ../scss/styleContest.scss */
#closeLink a {
  text-decoration: none;
}

/* line 377, ../scss/styleContest.scss */
#buttonWrap {
  background: #000;
  color: white;
}

/* line 384, ../scss/styleContest.scss */
#buttonWrap a {
  color: #fff;
  text-decoration: none;
  text-transform: none !important;
}
