body { z-index: 1; margin: 0; padding: 0; box-sizing: border-box; background-color: #171717; font-family: Avenir, sans-serif; color: white; }

a { color: white; text-decoration: none; }

div { box-sizing: border-box; }

h1, h3, p { margin: 0; padding: 0; }

h1 { font-weight: 300; line-height: 1em; font-family: 'Avenir LT W01 85 Heavy', sans-serif; }

h3 { font-weight: 100; line-height: 1em; font-family: 'Avenir LT W01 85 Heavy', sans-serif; }

p { font-weight: 100; line-height: 1.3em; font-family: 'Avenir LT W01 55 Roman', sans-serif; font-size: .8em; margin-bottom: 15px; }

.highlight { color: red; }

.contentGrid { position: relative; width: 930px; margin: 0 auto; }
@media screen and (max-width: 945px) { .contentGrid { width: 100%; padding-left: 30px; } }

.headerWrap { position: absolute; width: 100%; z-index: 100; top: 0; }
.headerWrap .logoWrap { width: 200px; height: 140px; background: #000; text-align: center; box-sizing: border-box; }
.headerWrap .logoWrap svg { width: 150px; margin-top: 20px; }

.heroWrap { background: #333; background: url("../img/bostonHero.jpg") no-repeat; background-size: cover; min-height: 490px; background-position: center center; }
@media screen and (max-width: 930px) { .heroWrap { background-size: cover; } }
@media screen and (max-width: 500px) { .heroWrap { min-height: 250px; background-size: cover !important; } }

.heroContent { margin-top: 30px; margin-bottom: 30px; }
.heroContent h1 { font-size: 2.5em !important; line-height: 1em !important; font-weight: 600; text-transform: uppercase; margin-bottom: 30px; max-width: 600px; }
.heroContent h3 { font-weight: 600; line-height: 1.4em; }

.mainWrap { margin-top: 90px; margin-bottom: 60px; }
.mainWrap .margLeft { margin-left: 30px; }
@media screen and (max-width: 700px) { .mainWrap .margLeft { margin-left: 0; } }
.mainWrap .colWrap { width: 44%; box-sizing: border-box; display: inline-block; vertical-align: top; }
@media screen and (max-width: 930px) { .mainWrap .colWrap { width: 46%; } }
@media screen and (max-width: 700px) { .mainWrap .colWrap { width: 95%; } }
.mainWrap h1 { font-size: 2em; font-weight: 900; text-transform: uppercase; margin-bottom: 30px; }
.mainWrap h3 { font-size: 1em; font-weight: 500 !important; margin-bottom: 10px; line-height: 1.7em; text-transform: uppercase; vertical-align: top; }
.mainWrap ul li { font-weight: 600; margin-bottom: 30px; height: 30px; }
.mainWrap p { font-weight: 400 !important; box-sizing: border-box; vertical-align: top; line-height: 1.5em; }
.mainWrap p .caps { text-transform: uppercase; vertical-align: top; font-size: .9em; font-weight: 400 !important; }
.mainWrap .fbLogo { display: inline-block !important; width: 15px; height: 15px; background: #4e6ca0; box-sizing: border-box; padding-top: 1px; padding-left: 1px; vertical-align: top; margin-right: 5px; border-radius: 2px; font-weight: 900 !important; }
.mainWrap .fbLogo svg { width: 15px; height: 15px; fill: white; }
.mainWrap a { display: inline-block !important; text-decoration: underline; font-weight: 900 !important; }
.mainWrap .paddingRight { padding-right: 25% !important; }
.mainWrap ul { margin-bottom: 10px; }
.mainWrap ul li { list-style: disc; width: 70%; line-height: 1.2em; margin-bottom: 5px; font-size: .8em; margin-left: -15px; }
.mainWrap a { display: block; font-weight: 100 !important; font-size: 14px; margin-bottom: 5px; }
.mainWrap .mapHead { padding: 10px 15px; background: #000; margin-bottom: -15px; font-size: .8em !important; text-transform: none !important; line-height: 1.4em !important; }
.mainWrap .mapHead a { font-size: 1em !important; line-height: 1em !important; }
@media screen and (max-width: 700px) { .mainWrap .mapHead { margin: 0 auto; margin-bottom: -15px; } }
.mainWrap .mapWrap { display: inline-block; position: relative; width: 100%; height: 220px; background: url("../img/bostonMap.jpg") no-repeat; background-size: 500px; background-position: 53% 31%; z-index: 10; margin-top: 0; }
@media screen and (max-width: 700px) { .mainWrap .mapWrap { background-size: cover; height: 350px; margin-top: 60px; } }
.mainWrap .mapWrap .markerWrap { position: absolute; top: 37%; left: 51%; width: 28px; height: 28px; border-radius: 15px; background-color: #333; background-image: url("../img/birdmarker.png"); background-repeat: no-repeat; background-size: 20px; background-position: 50% 50%; }
@media screen and (max-width: 700px) { .mainWrap .mapWrap .markerWrap { top: 40%; left: 52%; } }
.mainWrap .mapWrap .markerWrap:hover { box-shadow: 0px 0px 2px red; }
.mainWrap .mapWrap .markerWrap:after { height: 14px; width: 14px; content: ''; background: #333; left: 7px; top: 17px; transform: rotate(45deg); -webkit-transform: rotate(45deg); position: absolute; z-index: -1; }

.subWrap { width: 930px; position: relative; margin: 0 auto; }
@media screen and (max-width: 930px) { .subWrap { width: 100%; } }

.contestWrap { width: 100%; margin: 30px 0 60px; background: #666; background: url("../img/2015_Commit_Kruk_5779.jpg") no-repeat; background-size: auto 100%; background-position: right bottom; height: 450px; box-sizing: border-box; margin-bottom: 0px; position: relative; }
@media screen and (max-width: 700px) { .contestWrap { height: 550px; } }
@media screen and (max-width: 650px) { .contestWrap { height: 550px; width: 100%; background-size: contain; background-position: 0px -60px; display: block; margin-bottom: 100px; } }
@media screen and (max-width: 550px) { .contestWrap { background-size: cover; background-position: center top; display: block; margin-bottom: 100px; } }
.contestWrap .blackBox { width: 350px; position: relative; display: inline-block; background: black; padding: 30px; margin-top: 0px; height: 100%; }
@media screen and (max-width: 700px) { .contestWrap .blackBox { width: 100%; margin-top: 325px; padding: 20px; height: auto; } }
.contestWrap .blackBox .finePrint { position: absolute; width: 80%; height: auto; bottom: 5%; box-sizing: border-box; padding-right: 0 !important; font-size: 10px !important; }
@media screen and (max-width: 700px) { .contestWrap .blackBox .finePrint { position: relative; display: inline-block; bottom: 0; margin-top: 30px; } }
.contestWrap .blackBox .finePrint p { width: 100%; padding: 0; padding-left: 0; margin-bottom: 5px !important; font-size: 11px; }
.contestWrap .blackBox .finePrint a { border: none; margin-top: 0; margin-left: 0; padding: 0; text-transform: none !important; text-decoration: underline; font-size: 11px; }
.contestWrap h1 { font-weight: 600; font-size: 20px; margin-bottom: 18px; text-transform: uppercase; line-height: 1.2em; }
.contestWrap h3 { font-size: 14px; max-width: 500px; }
.contestWrap p { line-height: 1.2em; font-size: 14px; box-sizing: border-box; padding-right: 5%; font-weight: 500; }
.contestWrap a { margin-top: 10px; display: inline-block; font-weight: 100; padding: 4px 10px 4px 10px; border: 1px solid white; text-transform: uppercase; font-size: .8em; }
.contestWrap sup { line-height: 1em !important; }

.instoreWrap { width: 100%; margin: 0; height: 100px; overflow: hidden; background: #000; padding: 20px; }
.instoreWrap h1 { font-weight: 900; font-size: 1.3em; display: inline-block; color: #ee2a2b; margin-bottom: 0; }
.instoreWrap p { margin-top: 5px; display: inline-block; line-height: 1.3em; }

.eventWrap { margin-top: 60px; width: 100%; height: 450px; position: relative; box-sizing: border-box; background: #666; }
@media screen and (max-width: 650px) { .eventWrap { width: 100%; } }
.eventWrap .blackBox { width: 100%; height: 150px; box-sizing: border-box; background: black; padding: 20px 30px 30px 30px; text-align: center; position: absolute; display: inline-block; bottom: 0; }
.eventWrap .blackBox h1 { text-transform: uppercase; font-weight: 900; font-size: 1.2em; margin-top: 0; }
.eventWrap .blackBox h3 { font-family: 'Avenir LT W01 55 Roman', sans-serif; font-size: 14px; font-weight: 600; line-height: 1em; text-transform: uppercase !important; margin-bottom: 5px; }
.eventWrap .blackBox p { font-size: .7em !important; width: 50%; margin: 0 auto; margin-bottom: 5px; }
.eventWrap .blackBox a { margin-top: 20px; font-size: 13px; color: white; border: 1px solid white; padding: 6px 15px 6px 15px; display: inline-block; }

#overlay { display: none; position: fixed; left: 0%; right: 0%; top: 0; padding: 25px; background-color: #222; height: 100%; width: 100%; z-index: 100; color: #333; transition: all 1s ease 1s; }
#overlay iframe { position: fixed; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0; margin: 0; overflow: scroll; }

#overlay p { color: #666; }

#fade { display: none; position: absolute; left: 0%; top: 0%; background-color: black; -moz-opacity: 0.7; opacity: .70; filter: alpha(opacity=70); width: 100%; height: 100%; z-index: 90; }

#closeLink { position: fixed; background: #000; right: 2%; top: 2%; z-index: 200; padding: 5px 10px; text-transform: uppercase; font-size: 16px; font-weight: 900; }

#closeLink a { color: #ff0000 !important; text-decoration: none; }

.nffWrap { background: #555; background: url("../img/newforfallheroSm.jpg") no-repeat; background-size: cover; background-position: center bottom; width: 100%; height: 350px; opacity: 1; margin-top: 60px; }
.nffWrap .contentGrid { width: 100%; text-align: center; }
.nffWrap .contentGrid a { margin-top: 120px; margin-bottom: 30px; font-size: 14px; color: white; text-align: center; border: 1px solid white; padding: 8px 15px 7px 15px; display: inline-block; }
.nffWrap .contentGrid h1 { font-size: 14px; line-height: 13px; vertical-align: bottom; overflow: hidden; }
