// Site Variables

$FontFamily: 'Avenir LT W01_45 Book1475508', Arial, sans-serif;
$FontColor: #171717;
$FontColorAlt: white;

// Main Site Styles

html {
  font-family: $FontFamily;
}

body {
  background: #171717;
  margin: 0;
  padding: 0;
}

div, span, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.english {
  display: block;
}

.french {
  display: none;
}

.german {
  display: none;
}

.hideLang {
  display: none !important;
}

.showLang {
  display: block !important;
}

.activeLang {
  // font-weight: 100 !important;
  text-decoration: underline;
  transition: all .6s;
}

.fullWrap {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

section {
  width: 100%;
  min-height: 250px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #999;
}

nav {
  color: white;
  text-align: center;
  width: 100%;

  @media screen and (max-width: 600px) {
    display: none;
  }

  ul {

    a {
      color: white;
    }

    li {
      text-transform: uppercase;
      font-size: .8em;
      font-weight: 500;
      line-height: 1em;
      padding: 10px 30px;
      transition: all .2s;

      @media screen and (max-width: 930px) {
        font-weight: .8em;
        padding: 10px 20px;
      }

      @media screen and (max-width: 700px) {
        font-size: .7em;
        padding: 10px 15px;
      }
    }

    li:hover {
      background: #333;
      transition: all .5s;
    }

    li:active {
      background: none;
    }
  }
}

.navFixed {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #171717;
  box-sizing: border-box;
}

.navMobile {
  display: none;
  height: 50px;
  overflow: hidden;
  transition: all .5s;
  padding-bottom: 15px;

  @media screen and (max-width: 600px) {
    display: block;
    position: fixed;
    z-index: 10000;
    right: 20px;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
  }

  ul {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px !important;

    a {
      text-decoration: none;
      color: white;
    }

    li {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      padding: 15px 0 15px 0;
      border-bottom: 1px dotted #222;
    }

    li:hover {
      background: #333;
    }
  }

  .mobileTap {
    height: 50px;
    display: inline-block;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    position: relative;
    float: left;
    margin-left: 15px;

    .menuText {
      margin-top: -7px;
      display: inline-block;
      vertical-align: top;
      padding-top: 8px;
    }

    .menuIcon {
      padding-right: 10px;
    }

    img {
      display: inline-block;
      width: 20px;
    }
  }

  .langSelectMobile {
    float: right;
    margin-right: 5%;
    margin-top: 15px;

    h3 {
      display: inline-block;
      color: white;
      font-size: 13px;
      text-transform: uppercase;
      margin-right: 10px;
    }

    .langLink {
      color: white;
      font-size: 13px;
      font-family: 'Avenir LT W01_85 Heavy1475544' !important;
      font-weight: 900;
      cursor: pointer;
      padding: 3px 5px;
    }
  }
}

.navExpand {
  height: auto;
  transition: all .5s;
}

.gridWrap {
  position: relative;
  display: block;
  width: 930px;
  margin: 0 auto;
  // border: 1px solid teal;

  @media screen and (max-width: 930px) {
    width: 100%;
  }

}

.langSelect {
  position: absolute;
  top: 15px;
  color: white;
  text-shadow: 1px 1px 2px #111;
  margin: 0 auto;
  display: block;
  text-align: center;
  z-index: 10000;
  width: 100%;

  @media screen and (max-width: 600px) {
    display: none;
  }

  h3 {
    font-size: .8em;
    text-shadow: 1px 1px 2px #111;
    display: block;
    font-weight: 100;
    text-transform: uppercase;
  }

  .langLink {
    color: white;
    text-shadow: 1px 1px 2px #111;
    cursor: pointer;
  }

  .langOptionEN, .langOptionFR, .langOptionDE {
    font-size: 1.2em;
    font-weight: 900;
    padding: 0 5px;
    font-family: 'Avenir LT W01_85 Heavy1475544';
  }
}


// Section Styles

.top {
  background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/bg1.jpg');
  background-position: center center;
  background-size: cover;
  height: 90% !important;
  min-height: 750px;
  text-align: center;
  border-bottom: none;



  .gridWrap {
    display: inline-block !important;
  }

  .logoWrap {
    width: 300px;
    height: 250px;
    margin: 0 auto;
    display: block;
    margin-top: 15% !important;
    margin-bottom: 60px;

    @media screen and (max-width: 700px) {
      width: 250px;
      margin-bottom: 60px !important;
      margin-top: 90px !important;
    }

    svg {
      width: 250px;

      @media screen and (max-width: 700px) {
        width: 200px;
      }
    }
  }

  h1 {
    color: $FontColorAlt;
    font-weight: 900;
    font-family: 'Avenir LT W01_85 Heavy1475544';
    font-size: 2.7em;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    display: block;
    text-transform: uppercase;
    line-height: 1em;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
      width: 80%;
    }

    @media screen and (max-width: 500px) {
      width: 90%;
    }
  }

  h3 {
    color: $FontColorAlt;
    font-weight: 100;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
  }
}

.intro {
  background: $FontColor;
  color: $FontColorAlt;
  text-align: center;
  padding-top: 60px;
  border-bottom: none !important;

  h1 {
    text-transform: uppercase;
    line-height: .9em;
    font-family: 'Avenir LT W01_85 Heavy1475544';

    @media screen and (max-width: 700px) {
      width: 90%;
      margin-bottom: 15px;
    }
  }

  p {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  h3 {
    display: block;
    margin-top: 60px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    font-family: 'Avenir LT W01_65 Medium1475532';
  }

  h5 {
    font-family: 'Avenir LT W01_35 Light1475496';
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 30px;

    @media screen and (max-width: 700px) {
      width: 90%;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $FontColorAlt;
    border: 1px solid $FontColorAlt;
    text-transform: uppercase;
    font-size: 1em;
    padding: 8px 20px;
    margin-bottom: 120px;
    margin-top: 15px;
    border-radius: 3px;
    transition: all .3s;
  }

  a:hover {
    color: #171717;
    background: white;
    transition: all .6s;
  }
}

.program {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: white;
  color: $FontColor;

  .clinicBG {
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    background-size: cover !important;

    @media screen and (max-width: 700px) {
      height: 350px;
    }

    @media screen and (max-width: 500px) {
      height: 300px;
    }
  }

  .clinicAcclimitization {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_acclimatization.jpg') no-repeat;
  }

  .clinicGlacierPrep {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_glacierprep.jpg') no-repeat;
    background-position: right;
  }

  .clinicSuuntoNav {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_suuntonav.jpg') no-repeat;
  }

  .clinicFirstAid {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_firstaid.jpg') no-repeat;
  }

  .clinicBasicMountaineering {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_basicmountaineering.jpg') no-repeat;
  }

  .clinicTechAlpinism {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_advalpinism.jpg') no-repeat;
    background-position: center center !important;
  }

  .clinicMultiPitch {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_multipitch.jpg') no-repeat;
  }

  .clinicGlacierTour {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_glaciertour.jpg') no-repeat;
  }

  .clinicMSROvernight {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_msrovernight.jpg') no-repeat;
  }

  .clinicPhotography {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_alpinephotography.jpg') no-repeat;
    background-position: right;
  }

  .clinicTradClimbing {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_tradclimbing.jpg') no-repeat;
  }

  .clinicMedicine {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_medicine.jpg') no-repeat;
  }

  .clinicDryTooling {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_drytooling.jpg') no-repeat;
    background-position: right bottom;
  }

  .clinicIceClimbing {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_iceclimbing.jpg') no-repeat;
  }

  .clinicRescue {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_rescue.jpg') no-repeat;
  }

  .clinicGrade7 {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_grade7.jpg') no-repeat;
  }

  .clinicIceClimbingWmn {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_iceclimbingwmn.jpg') no-repeat;
    background-position: right;
  }

  .clinicGlacierTourWmn {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_glacierwmn.jpg') no-repeat;
  }

  .clinicBigWall {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_bigwall.jpg') no-repeat;
  }

  .clinicSkiAlpinism {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_skialpinism.jpg') no-repeat;
  }

  .clinicBouldering {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_bouldering.jpg') no-repeat;
    background-position: right;
  }

  .clinicSplitboarding {
    background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/clinic_splitboarding.jpg') no-repeat;
  }

  h1 {
    margin-top: 15px;
    text-transform: uppercase;
    font-family: 'Avenir LT W01_85 Heavy1475544';
    font-weight: 900;
  }

  p {
    margin: 0 auto;
    width: 70%;

    @media screen and (max-width: 700px) {
      width: 90%;
      text-align: left;
    }
  }

  ul {
    display: block;
    vertical-align: top;

    li {
      width: 42%;
      margin: 30px 2%;
      border: 1px solid #eee;
      padding: 15px;
      text-align: left;
      vertical-align: top;


      @media screen and (max-width: 700px) {
        width: 90%;
      }

      ul {
        list-style: disc !important;

        li {
          display: list-item;
          width: 95% !important;
          margin: 0;
          padding: 0 0 .5em 0;
          border: none;
          list-style: disc !important;
          font-size: .8em;
          margin-left: 15px;
        }
      }


      h1 {
        display: block;
        font-size: 1.2em;
        line-height: .9em;
      }

      h3 {
        font-size: .9em;
        text-transform: uppercase;
        color: #666;
        display: none;
      }

      p {
        width: 100%;
        font-weight: 100;
        font-size: .9em;
        margin: 10px 0;
      }
    }

    .fullWidth {
      width: 90%;
      img {
        float: right;
        width: 45%;
        padding-left: 30px;
        padding-top: 30px;

        @media screen and (max-width: 700px) {
          width: 100%;
          padding-bottom: 30px;
        }
      }
      p {

        width: 90% !important;
      }
    }
  }
}

.demo {
  margin-top: 120px;
  color: $FontColorAlt;
  padding-bottom: 90px;

  .finePrint {
    font-size: .7em;
    width: 70%;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
      width: 90%;
    }

  }

  h1 {
    text-transform: uppercase;
    font-family: 'Avenir LT W01_85 Heavy1475544';
    font-weight: 900;
  }

  h3 {
    font-weight: 500;
    text-transform: uppercase;
    line-height: .9em;

  }

  li {
    width: 35%;
    display: inline-block !important;
    vertical-align: top;
    text-align: left;
    margin: 1em 2em;

    @media screen and (max-width: 700px) {
      width: 80%;
      margin: 1em 1em;
    }

    p {
      font-size: .9em;
      width: 100%;
    }
  }

  p {
    font-size: 1em;
    width: 70%;
    margin: 0 auto;
    padding: 1em 0;

    @media screen and (max-width: 700px) {
      width: 90%;
      text-align: left;
    }
  }

  a {
    color: white;
    font-weight: 100;

  }
}

.whattobring {
  background: white;
  padding-top: 90px;
  padding-bottom: 120px;

  h1 {
    text-transform: uppercase;
    margin-bottom: 1em;
    font-family: 'Avenir LT W01_85 Heavy1475544';
    font-weight: 900;
  }

  p {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1em;

    @media screen and (max-width: 700px) {
      text-align: left;
      width: 90%;
    }
  }

  .finePrint {
    font-size: .7em;
    width: 70%;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
      width: 90%;
    }
  }

  .left {
    text-align: left;
    font-weight: 900;
    margin-top: 2em;

    @media screen and (max-width: 700px) {
      width: 90%;
    }
  }

  ul {
    text-align: left;
    padding-bottom: 60px;
    list-style: square;
    color: black;

    li {
      margin-left: 5em;
      margin-bottom: .6em;
      font-weight: 100;
      width: 70%;
      list-style: square;
      color: black;
      display: list-item;

      @media screen and (max-width: 550px) {
        margin-left: 2em;
      }
    }
  }
}

.contest {
  padding: 90px 0;
  color: white;

  h1 {
    display: block;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 90%;
    line-height: .9em;
    font-family: 'Avenir LT W01_85 Heavy1475544';
    font-weight: 900;
  }

  h3 {
    margin-top: 30px;
  }

  p {
    margin: 0 auto;
    width: 80%;
    font-weight: 100;

    @media screen and (max-width: 700px) {
      text-align: left;
      width: 90%;
    }

  }

  .finePrint {
    font-size: .7em;
    line-height: 1.2em;
  }

  .bolder {
    text-align: center;
    font-weight: 500;
  }

  ul {
    text-align: left;
    display: block;
    width: 40% !important;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;

    @media screen and (max-width: 700px) {
      width: 80% !important;
    }
  }

  li {
    display: list-item;
    list-style: square;
    text-align: left;
    font-weight: 100;
    margin-bottom: 1em;
    margin-left: 2em;

  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $FontColorAlt;
    border: 1px solid $FontColorAlt;
    text-transform: uppercase;
    font-size: 1em;
    padding: 8px 20px;
    margin-bottom: 60px;
    margin-top: 15px;
    border-radius: 3px;
    transition: all .3s;
  }

  a:hover {
    color: #171717;
    background: white;
    transition: all .6s;
  }
}

.archive {
  background: white;
  color: #171717;
  text-align: left;
  padding: 90px 0;



  h1 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Avenir LT W01_85 Heavy1475544';
    font-weight: 900;

    @media screen and (max-width: 700px) {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 30px;
    }

  }

  h3 {
    text-transform: uppercase;
    margin-bottom: .5em;
    display: block;

    @media screen and (max-width: 700px) {
      width: 90%;
      text-align: left;
      margin: 0 auto;
    }
  }

}

.trailer {
  padding: 90px 0;
  color: white;
  text-align: center;

  h1 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px !important;
    font-family: 'Avenir LT W01_85 Heavy1475544';
    font-weight: 900;

    @media screen and (max-width: 700px) {
      width: 90%;
      margin: 0 auto;
    }
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: .5em;
    text-align: left !important;
    display: block;

    @media screen and (max-width: 700px) {
      width: 90%;
      text-align: left;
      margin: 0 auto;
    }
  }

  iframe {
    width: 960px;
    height: 540px;

    @media screen and (max-width: 930px) {
      width: 90%;
      margin: 0 auto;
    }
  }
}

.contact {
  background: white;
  color: #171717;
  padding: 90px 0;

  h1 {
    display: block;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Avenir LT W01_85 Heavy1475544';
    font-weight: 900;
  }

  p {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  a {
    color: #111;
  }

  a:hover {

  }
}

.sponsors {
  color: white;
  padding: 90px 0;
  font-family: 'Avenir LT W01_85 Heavy1475544';
  font-weight: 900;

  h1 {
    display: block;
    text-transform: uppercase;
  }

  p {
    margin-top: 30px;
    text-transform: uppercase;
  }

  ul {
    text-align: center;

    a {
      display: inline-block;
      width: 200px;
      height: 150px;
      padding-top: 35px;
      margin: .5em .5em;
    }

    li {
      width: 100%;
      height: 100%;

    }

    .arcteryx {
      background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/sponsor_arc.png') no-repeat;
      background-position: center 0px;
      background-size: 120px;
    }

    .montblanc {
      background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/sponsor_montblanc.png') no-repeat;
      background-position: center 0px;
      background-size: 120px;
    }

    .gore {
      background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/sponsor_gore.png') no-repeat;
      background-position: center -10px;
      background-size: 160px;
    }

    .petzl {
      background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/sponsor_petzl.png') no-repeat;
      background-position: center -10px;
      background-size: 150px;
    }

    .msr {
      background: url('http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/sponsor_msr.png') no-repeat;
      background-position: center -10px;
      background-size: 150px;
    }
  }

}
