// Site Variables

$FontFamily: Avenir, Arial, sans-serif;
$FontColor: #171717;
$FontColorAlt: white;

// Main Site Styles

html {
  font-family: $FontFamily;
}

body {
  background: #171717;
  margin: 0;
  padding: 0;
}

div, span, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

section {
  width: 100%;
  min-height: 300px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #999;


}

.gridWrap {
  position: relative;
  display: block;
  width: 930px;
  margin: 0 auto;
  // border: 1px solid teal;
}

// Section Styles

.top {
  background: url('../img/18457252890_cde46e58ff_k.jpg');
  background-position: center center;
  background-size: cover;
  height: 90% !important;
  min-height: 750px;
  text-align: center;

  .gridWrap {
    display: inline-block !important;
  }

  .logoWrap {
    width: 300px;
    height: 250px;
    margin: 0 auto;
    background: black;
    display: block;
    margin-top: 20%;
    margin-bottom: 30px;
    border-radius: 100px;
    background: url('../img/academyLogo.png') no-repeat;
    background-size: 300px;
  }

  h1 {
    color: $FontColorAlt;
    font-weight: 900;
    font-size: 3em;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    display: block;
    text-transform: uppercase;

  }

  h3 {
    color: $FontColorAlt;
    font-weight: 100;
    font-size: 1.8em;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    text-transform: uppercase;
    display: block;
  }
}

.intro {
  background: $FontColor;
  color: $FontColorAlt;
  text-align: center;
  padding-top: 60px;

  p {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  h3 {
    display: block;
    margin-top: 60px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $FontColorAlt;
    border: 1px solid $FontColorAlt;
    text-transform: uppercase;
    font-size: 1em;
    padding: 8px 20px;
    margin-bottom: 120px;
    margin-top: 15px;
    border-radius: 3px;
  }
}

.program {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: white;
  color: $FontColor;

  h1 {
    text-transform: uppercase;
  }

  p {
    margin: 0 auto;
    width: 70%;
  }

  ul {
    display: block;
    vertical-align: top;

    li {
      display: inline-block;
      width: 42%;

      margin: 30px 2%;
      border: 1px solid #eee;
      padding: 15px;
      text-align: left;
      vertical-align: top;

      ul {
        list-style: disc !important;

        li {
          display: block !important;
          width: 100% !important;
          margin: 0;
          padding: 0 0 .5em 0;
          border: none;
          list-style: disc !important;
          font-size: .8em;
          margin-left: 15px;
        }
      }


      h1 {
        display: block;
        font-size: 1.2em;
      }

      h3 {
        font-size: .9em;
        text-transform: uppercase;
        color: #666;
      }

      p {
        width: 100%;
        font-weight: 100;
        font-size: .9em;
        margin: 10px 0;
      }
    }

    .fullWidth {
      width: 90%;

      p {

        width: 90% !important;
      }
    }
  }
}

.demo {
  margin-top: 120px;
  color: $FontColorAlt;
  padding-bottom: 90px;

  .finePrint {
    font-size: .7em;
    width: 70%;
    margin: 0 auto;
  }

  h1 {
    text-transform: uppercase;
  }

  li {
    width: 35%;
    display: inline-block !important;
    vertical-align: top;
    text-align: left;
    margin: 1em 2em;

    p {
      font-size: .8em;
      width: 100%;
    }
  }

  p {
    font-size: .95em;
    width: 70%;
    margin: 0 auto;
    padding: 1em 0;
  }
}

.whattobring {
  background: white;
  padding-top: 90px;
  padding-bottom: 120px;

  h1 {
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  p {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .finePrint {
    font-size: .7em;
    width: 70%;
    margin: 0 auto;
  }

  .left {
    text-align: left;

  }

  ul {
    text-align: left;
    padding-bottom: 60px;

    li {
      display: block;
      margin-left: 5em;
      margin-bottom: .6em;
      font-weight: 500;
      width: 70%;
    }
  }

}

.contest {
  padding: 90px 0;
  color: white;

  h1 {
    display: block;
    text-transform: uppercase;
  }
}

.archive {
  background: white;
  color: #171717;
  text-align: left;
  padding: 90px 0;

  h1 {
    display: block;
    text-transform: uppercase;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 1.5em;
  }
}

.trailer {
  padding: 90px 0;
  color: white;
  text-align: left;

  h1 {
    display: block;
    text-transform: uppercase;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 1.5em;
  }
}

.contact {
  background: white;
  color: #171717;
  padding: 90px 0;

  h1 {
    display: block;
    text-transform: uppercase;

  }
}

.sponsors {
  color: white;
  padding: 90px 0;

  h1 {
    display: block;
    text-transform: uppercase;
  }

  p {
    margin-top: 30px;
    text-transform: uppercase;
  }

  ul {
    text-align: center;
    li {
      display: inline-block;
      width: 200px;
      height: 90px;
      border: 1px dotted #333;
      padding-top: 35px;
      margin: .5em 1em;
    }
  }

}