/* line 1, ../scss/blogstyle.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 6, ../scss/blogstyle.scss */
body {
  width: 100%;
  height: 100%;
  font-family: Avenir, sans-serif;
}

/* line 12, ../scss/blogstyle.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 17, ../scss/blogstyle.scss */
.fullbleedWrap {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  background: url("../img/blogfullbleed.jpg");
  background-position: center 65%;
  text-align: center;
}
/* line 25, ../scss/blogstyle.scss */
.fullbleedWrap .ctaWrap {
  position: relative;
  display: inline-block;
  text-align: center;
  color: white;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 25%;
}
/* line 34, ../scss/blogstyle.scss */
.fullbleedWrap .ctaWrap h1 {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}
/* line 40, ../scss/blogstyle.scss */
.fullbleedWrap .ctaWrap p {
  max-width: 400px;
  margin: 20px 0 30px 0;
  line-height: 1.3em;
}
/* line 46, ../scss/blogstyle.scss */
.fullbleedWrap .ctaWrap a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  border: 1px solid white;
  padding: 5px 12px 3px;
}

/* line 57, ../scss/blogstyle.scss */
#overlay {
  display: none;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0;
  padding: 25px;
  background-color: #222;
  height: 100%;
  width: 100%;
  z-index: 100;
  color: #333;
  transition: all 1s ease 1s;
}
/* line 73, ../scss/blogstyle.scss */
#overlay iframe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

/* line 86, ../scss/blogstyle.scss */
#overlay p {
  color: #666;
}

/* line 90, ../scss/blogstyle.scss */
#fade {
  display: none;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

/* line 104, ../scss/blogstyle.scss */
#closeLink {
  position: fixed;
  background: #000;
  right: 2%;
  top: 2%;
  z-index: 200;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
}

/* line 117, ../scss/blogstyle.scss */
#closeLink a {
  color: #ff0000 !important;
  text-decoration: none;
}
