/* -------------------------------- 

Primary style

-------------------------------- */
/* line 16, ../scss/style.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 24, ../scss/style.scss */
body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

/* line 33, ../scss/style.scss */
body, html {
  /* important */
  height: 100%;
}

/* line 38, ../scss/style.scss */
a {
  color: #b4d7a8;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/* line 49, ../scss/style.scss */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
/* line 54, ../scss/style.scss */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
/* line 60, ../scss/style.scss */
.cd-container p {
  margin-bottom: 2em;
  color: #ddd;
}
/* line 65, ../scss/style.scss */
.cd-container h3 {
  color: white;
  font-weight: 900;
  text-align: center;
  margin-bottom: 60px;
  font-size: 24px;
  text-transform: uppercase;
}
/* line 74, ../scss/style.scss */
.cd-container .quoteMain {
  font-weight: 600;
  font-style: italic;
}
/* line 79, ../scss/style.scss */
.cd-container .quoteMain:before {
  content: '"';
  font-size: 5em;
  opacity: .6;
  position: absolute;
}
/* line 86, ../scss/style.scss */
.cd-container .quoteAttr {
  float: right;
  text-align: right;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 99, ../scss/style.scss */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  overflow: hidden;
  width: 100%;
  opacity: 0.8 !important;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  /* line 112, ../scss/style.scss */
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}
/* line 117, ../scss/style.scss */
.cd-header h1 {
  color: white !important;
  opacity: 1.0 !important;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Avenir, sans-serif !important;
  font-weight: 600;
  padding: 8px 0 0 15px;
}

/* line 128, ../scss/style.scss */
.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
/* line 137, ../scss/style.scss */
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 147, ../scss/style.scss */
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;
}

/* line 158, ../scss/style.scss */
.cd-main-content {
  height: 100%;
  position: relative;
  z-index: 1;
}

/* line 164, ../scss/style.scss */
.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  /* line 164, ../scss/style.scss */
  .cd-fixed-bg {
    min-height: 60%;
  }
}
/* line 176, ../scss/style.scss */
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  width: 60%;
  max-width: 930px;
  text-align: right;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
/* line 186, ../scss/style.scss */
.cd-fixed-bg blockquote {
  width: 50%;
  max-width: 550px;
  text-align: right;
  color: #eee;
  position: absolute;
  display: inline-block;
  top: 15%;
  right: 5%;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3em;
}
/* line 200, ../scss/style.scss */
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/bg1.jpg");
  background-position: right center;
}
@media screen and (min-width: 1100px) {
  /* line 200, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-1 {
    background-image: url("../img/bg1.jpg");
  }
}
/* line 208, ../scss/style.scss */
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/bg2.jpg");
}
@media screen and (min-width: 1100px) {
  /* line 208, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-2 {
    background-image: url("../img/bg2.jpg");
  }
}
/* line 215, ../scss/style.scss */
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/bg4.jpg");
}
@media screen and (min-width: 1100px) {
  /* line 215, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-4 {
    background-image: url("../img/bg4.jpg");
  }
}
/* line 222, ../scss/style.scss */
.cd-fixed-bg.cd-bg-5 {
  background-image: url("../img/bg5.jpg");
}
@media screen and (min-width: 1100px) {
  /* line 222, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-5 {
    background-image: url("../img/bg5.jpg");
  }
}
/* line 229, ../scss/style.scss */
.cd-fixed-bg.cd-bg-6 {
  background-image: url("../img/bg6.jpg");
}
@media screen and (min-width: 1100px) {
  /* line 229, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-6 {
    background-image: url("../img/bg6.jpg");
  }
}
/* line 236, ../scss/style.scss */
.cd-fixed-bg.cd-bg-7 {
  background-image: url("../img/bg7.jpg");
}
@media screen and (min-width: 1100px) {
  /* line 236, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-7 {
    background-image: url("../img/bg7.jpg");
  }
}
/* line 243, ../scss/style.scss */
.cd-fixed-bg.cd-bg-8 {
  background-image: url("");
}
@media screen and (min-width: 1100px) {
  /* line 243, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-8 {
    background-image: url("");
  }
}
/* line 250, ../scss/style.scss */
.cd-fixed-bg.cd-bg-9 {
  background-image: url("");
}
@media screen and (min-width: 1100px) {
  /* line 250, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-9 {
    background-image: url("");
  }
}
/* line 257, ../scss/style.scss */
.cd-fixed-bg.cd-bg-10 {
  background-image: url("");
}
@media screen and (min-width: 1100px) {
  /* line 257, ../scss/style.scss */
  .cd-fixed-bg.cd-bg-10 {
    background-image: url("");
  }
}
/* line 266, ../scss/style.scss */
.cd-fixed-bg .withBG {
  left: 5% !important;
  width: 40%;
  height: auto;
  background: #222;
  padding: 30px;
}
/* line 273, ../scss/style.scss */
.cd-fixed-bg .withBG p {
  margin-bottom: 15px;
  line-height: 2em;
  font-size: 20px;
  font-weight: 100;
}
/* line 280, ../scss/style.scss */
.cd-fixed-bg .withBG blockquote {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
/* line 288, ../scss/style.scss */
.cd-fixed-bg .showHide {
  left: 0px !important;
  transition: left 1s;
}
/* line 293, ../scss/style.scss */
.cd-fixed-bg .metaWrap {
  position: absolute;
  bottom: 1%;
  left: 3%;
  width: 50px;
  height: 80px;
  background: url("../img/camera-icon.png") no-repeat;
  background-size: 40px;
  cursor: pointer;
}
/* line 303, ../scss/style.scss */
.cd-fixed-bg .metaWrap svg {
  width: 20px;
  height: 20px;
}
/* line 308, ../scss/style.scss */
.cd-fixed-bg .metaWrap .land {
  fill: #fff;
  width: 50px;
  height: 50px;
}
/* line 314, ../scss/style.scss */
.cd-fixed-bg .metaWrap .metaInfo {
  position: absolute;
  display: block;
  width: auto;
  min-width: 375px;
  max-width: 450px;
  height: auto;
  background: #ccc;
  margin-top: -310px;
  box-sizing: border-box;
  padding: 15px;
  opacity: .85;
  min-height: 50px;
  bottom: 90px;
  left: -550px;
  transition: all 1s;
}
/* line 331, ../scss/style.scss */
.cd-fixed-bg .metaWrap .metaInfo h3 {
  font-size: 14px;
  font-weight: 900;
  line-height: 17px;
  color: #000 !important;
}
/* line 339, ../scss/style.scss */
.cd-fixed-bg .metaWrap .metaInfo:after {
  position: absolute;
  width: 15px;
  height: 15px;
  color: teal;
  content: '';
}
@media only screen and (min-width: 768px) {
  /* line 349, ../scss/style.scss */
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 164, ../scss/style.scss */
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  /* line 357, ../scss/style.scss */
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
    font-weight: 300;
  }
}

/* line 364, ../scss/style.scss */
.topCTA {
  font-family: Avenir, sans-serif;
  font-weight: 900;
  text-align: center;
  color: white;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3em;
  border: 1px solid white;
  padding: 4px 10px 2px 10px;
}

/* line 378, ../scss/style.scss */
.centered {
  text-align: center !important;
}

/* line 382, ../scss/style.scss */
.bioWrap {
  text-align: center;
  margin-bottom: 60px;
}
/* line 386, ../scss/style.scss */
.bioWrap .bioPhoto {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 30px;
}
/* line 395, ../scss/style.scss */
.bioWrap .manley {
  background: url("../img/ManleyBio.jpg") no-repeat;
  background-position: center center;
  background-size: 250px;
}
/* line 401, ../scss/style.scss */
.bioWrap .mina {
  background: url("../img/MinaBio.jpg") no-repeat;
  background-position: center center;
  background-size: 250px;
}
/* line 407, ../scss/style.scss */
.bioWrap .katy {
  background: url("../img/KatyBio2.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 413, ../scss/style.scss */
.bioWrap .bioContent {
  margin-top: 30px;
}
/* line 417, ../scss/style.scss */
.bioWrap .bioLinks {
  display: inline-block;
  position: relative;
}
/* line 421, ../scss/style.scss */
.bioWrap .bioLinks svg {
  width: 40px;
  height: 40px;
  fill: white;
  margin: 0 10px;
}

/* line 430, ../scss/style.scss */
.socialInsta, .socialVimeo {
  fill: #fff;
}

/* line 434, ../scss/style.scss */
.socialVimeo {
  width: 60px;
  height: 60px;
}
/* line 437, ../scss/style.scss */
svg .socialVimeo {
  width: 60px;
  height: 60px;
}

/* line 443, ../scss/style.scss */
.cd-scrolling-bg {
  position: relative;
  padding: 3em 0 !important;
  line-height: 1.6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
/* line 451, ../scss/style.scss */
.cd-scrolling-bg.cd-color-1 {
  background-color: #bbb;
  color: #a6989a;
}
/* line 456, ../scss/style.scss */
.cd-scrolling-bg.cd-color-2 {
  background-color: #eee !important;
  color: black !important;
}
/* line 462, ../scss/style.scss */
.cd-scrolling-bg.cd-color-3 {
  background-color: #ddd;
  color: #3d3536;
}
/* line 468, ../scss/style.scss */
.cd-scrolling-bg.cd-color-4 {
  background-color: #222;
  color: #3d3536;
  background: url("../img/20150429_uk_34.jpg") no-repeat;
  background-size: 100% auto;
  width: 100% !important;
  height: 900px;
}
/* line 477, ../scss/style.scss */
.cd-scrolling-bg.cd-color-5 {
  padding: 0 0 2em 0 !important;
  background-color: #212121;
}
/* line 482, ../scss/style.scss */
.cd-scrolling-bg.cd-color-9 {
  padding: 2em 0 2em 0 !important;
  background-color: #111;
}
/* line 487, ../scss/style.scss */
.cd-scrolling-bg .heroImage {
  margin: 0 0 -15px 0;
}
/* line 489, ../scss/style.scss */
.cd-scrolling-bg .heroImage img {
  width: 100%;
  height: auto;
}
/* line 494, ../scss/style.scss */
.cd-scrolling-bg .heroImage h3 {
  position: absolute;
  left: 5%;
  top: 70%;
  width: 35%;
  color: #333;
  text-align: right;
  line-height: 1.2em;
  font-size: 1.3em;
  box-sizing: border-box;
  padding: 30px;
  background: #ddd;
  opacity: .8;
  font-weight: 100;
}
/* line 510, ../scss/style.scss */
.cd-scrolling-bg .heroImage .welcome {
  background: none !important;
  font-weight: 100;
  font-style: normal;
  top: 15% !important;
  left: 0%;
}
/* line 519, ../scss/style.scss */
.cd-scrolling-bg .quoteAttr {
  font-family: Georgia, sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 525, ../scss/style.scss */
.cd-scrolling-bg .pullQuote {
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-weight: 500;
  color: #fff !important;
  position: relative;
  font-size: 1.2em;
  z-index: 120 !important;
}
/* line 535, ../scss/style.scss */
.cd-scrolling-bg .pullQuote:before {
  content: '\201C';
  font-size: 172px;
  vertical-align: top;
  line-height: 120px;
  position: absolute;
  color: #333;
  top: 0%;
  left: -15%;
  font-family: Georgia, sans-serif !important;
  z-index: -1 !important;
}
/* line 548, ../scss/style.scss */
.cd-scrolling-bg .pullQuote:after {
  content: '\201D';
  font-size: 172px;
  vertical-align: top;
  line-height: 120px;
  position: absolute;
  color: #333;
  bottom: -20%;
  right: -5%;
  font-family: Georgia, sans-serif !important;
  z-index: -1 !important;
}
/* line 561, ../scss/style.scss */
.cd-scrolling-bg p {
  color: #222;
  line-height: 1.9em;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  /* line 443, ../scss/style.scss */
  .cd-scrolling-bg {
    padding: 6em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}
/* line 574, ../scss/style.scss */
.cd-scrolling-bg h1 {
  color: #444;
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 45px;
}
/* line 585, ../scss/style.scss */
.cd-scrolling-bg h3 {
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 1.3em;
  font-style: italic;
  margin-bottom: 30px;
  text-transform: none !important;
}
/* line 597, ../scss/style.scss */
.cd-scrolling-bg h4 {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 45px;
  font-style: italic;
}

/* line 608, ../scss/style.scss */
.intro {
  padding: 0 0 !important;
}

/* line 612, ../scss/style.scss */
.bolder {
  font-weight: 800;
}

/* line 616, ../scss/style.scss */
.spaceAbove {
  padding-top: 60px;
}
