body {
  font: 19px "Roboto"; }

a {
  text-decoration: none; }

.topWrap {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 63px;
  background-color: #555;
  z-index: 100;
  opacity: 0.95; }
  @media (max-width: 768px) {
    .topWrap {
      height: 85px !important; } }
  .topWrap .menuWrap {
    position: relative;
    float: left;
    z-index: 150; }
    .topWrap .menuWrap a {
      display: block;
      position: relative;
      margin-top: -9px;
      padding: 5px 20px 10px 25px;
      color: fff;
      font-size: 50px;
      text-decoration: none;
      z-index: 1000; }
      @media (max-width: 768px) {
        .topWrap .menuWrap a {
          padding: 15px 20px 10px 25px; } }
  .topWrap .logoWrap {
    width: 150px;
    height: 50px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .topWrap .logoWrap {
        float: right;
        margin-right: 50px; } }
    .topWrap .logoWrap img {
      margin-top: -108px;
      width: 300px;
      margin-left: -70px; }
      @media (max-width: 768px) {
        .topWrap .logoWrap img {
          margin-top: 0px;
          margin-left: 0;
          width: 150px; } }

.slideWrap {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  height: 80%;
  background-color: #333; }
  @media (max-width: 768px) {
    .slideWrap {
      height: 80%; } }
  .slideWrap .slide1 {
    display: table-cell;
    position: relative;
    background-image: url("../img/slide1.jpg");
    backtground-size: auto !important;
    height: 100%; }
    .slideWrap .slide1 h1 {
      font-family: serif;
      display: block;
      font-size: 100px;
      position: relative;
      margin-top: 20% !important;
      margin-left: 30% !important;
      color: white;
      line-height: 80px;
      text-shadow: 10px 10px 30px #111;
      opacity: 1; }
      @media (max-width: 768px) {
        .slideWrap .slide1 h1 {
          margin-left: 10% !important;
          margin-top: 40% !important;
          font-size: 72px;
          line-height: 60px;
          opacity: .85; } }
      .slideWrap .slide1 h1 .outside {
        margin-top: 25px;
        margin-left: 70px; }
        @media (max-width: 768px) {
          .slideWrap .slide1 h1 .outside {
            margin-left: 30px; } }
  .slideWrap .slide2 {
    background-image: url("../img/slide2.jpg");
    backtground-size: 100%;
    height: 100%; }
  .slideWrap .slide3 {
    background-image: url("../img/slide3.jpg");
    backtground-size: 100%;
    height: 100%;
    background-position: center top; }
  .slideWrap .slide4 {
    background-image: url("../img/slide4.jpg");
    backtground-size: 100%;
    height: 100%;
    background-position: center top; }
  .slideWrap .slide5 {
    background-image: url("../img/slide5.jpg");
    backtground-size: 100%;
    height: 100%;
    background-position: center top; }
  .slideWrap .slide6 {
    background-image: url("../img/slide6.jpg");
    backtground-size: 100%;
    height: 100%;
    background-position: center top; }
  .slideWrap .slide7 {
    background-image: url("../img/slide7.jpg");
    backtground-size: 100%;
    height: 100%;
    background-position: center top; }
  .slideWrap .slide8 {
    background-image: url("../img/slide8.jpg");
    backtground-size: 100%;
    height: 100%;
    background-position: center top; }

.lowerWrap {
  position: absolute;
  width: 100%;
  min-height: 600px;
  margin: 0;
  background-color: #aaa;
  background-image: url("../img/plansbg.jpg");
  background-size: auto;
  background-repeat: repeat-y;
  top: 80%;
  left: 0;
  bottom: 0px;
  color: #333;
  display: inline-table; }
  @media (max-width: 768px) {
    .lowerWrap {
      top: 80%;
      height: auto;
      min-height: 900px;
      background-repeat: repeat-y;
      display: inline-table; } }
  .lowerWrap .contactBar {
    width: 100%;
    height: auto;
    background-color: none;
    color: #aaa;
    text-transform: uppercase;
    font-family: 'Roboto Slab';
    overflow: hidden;
    padding: 10px 0;
    margin-top: -60px; }
    @media (max-width: 768px) {
      .lowerWrap .contactBar {
        background-color: #333;
        padding-top: 15px;
        margin-top: 0; } }
    .lowerWrap .contactBar .contentWrap {
      max-width: 960px;
      width: auto;
      min-width: 700px;
      margin: 0 auto;
      box-sizing: border-box; }
      @media (max-width: 768px) {
        .lowerWrap .contactBar .contentWrap {
          width: 100%;
          min-width: 300px; } }
      .lowerWrap .contactBar .contentWrap a {
        text-decoration: none;
        color: #999;
        width: 29%;
        float: left;
        background-color: #222;
        padding: 15px 10px;
        margin: 10px 10px;
        box-sizing: border-box;
        min-height: 80px; }
        .lowerWrap .contactBar .contentWrap a p {
          line-height: 1.3em; }
      .lowerWrap .contactBar .contentWrap .contactItem {
        width: 29%;
        float: left;
        background-color: #222;
        padding: 15px 10px;
        margin-top: 10px;
        box-sizing: border-box;
        min-height: 80px; }
        @media (max-width: 1050px) {
          .lowerWrap .contactBar .contentWrap .contactItem {
            min-height: 100px; } }
        @media (max-width: 768px) {
          .lowerWrap .contactBar .contentWrap .contactItem {
            width: 96%;
            padding: 30px 10px 0 10px;
            margin-left: 10px;
            height: auto !important; } }
        .lowerWrap .contactBar .contentWrap .contactItem h3 {
          font-size: 16px;
          margin: 0;
          padding: 0;
          text-align: center; }
          @media (max-width: 900px) {
            .lowerWrap .contactBar .contentWrap .contactItem h3 {
              font-size: 14px; } }
        .lowerWrap .contactBar .contentWrap .contactItem p {
          text-align: center;
          margin: 0;
          padding: 2px 20px 1px 20px;
          line-height: 1.3em;
          font-size: 9px;
          color: #ccc; }
          .lowerWrap .contactBar .contentWrap .contactItem p a {
            padding: 0;
            margin: 2px 0;
            float: none; }
        .lowerWrap .contactBar .contentWrap .contactItem .left {
          text-align: left !important; }
          @media (max-width: 900px) {
            .lowerWrap .contactBar .contentWrap .contactItem .left {
              text-align: center !important; } }
      .lowerWrap .contactBar .contentWrap .marginSides {
        margin: 10px 3%; }
        @media (max-width: 768px) {
          .lowerWrap .contactBar .contentWrap .marginSides {
            margin: 0 10px; } }
  .lowerWrap .contentWrap {
    max-width: 960px;
    width: auto;
    min-width: 700px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box; }
    @media (max-width: 768px) {
      .lowerWrap .contentWrap {
        width: 100%;
        min-width: 300px; } }
    .lowerWrap .contentWrap .introWrap {
      max-width: 300px;
      float: left;
      margin-left: 7%;
      padding-top: 30px; }
      @media (max-width: 768px) {
        .lowerWrap .contentWrap .introWrap {
          width: 80%;
          max-width: 450px; } }
      .lowerWrap .contentWrap .introWrap h1 {
        font-size: 22px; }
      .lowerWrap .contentWrap .introWrap p {
        font-size: 16px; }
        .lowerWrap .contentWrap .introWrap p .dropCap {
          float: left;
          font-family: 'Roboto Slab';
          font-size: 3em;
          margin: 0;
          padding: 5px 3px 0 0;
          text-indent: 10px;
          line-height: 30px; }
        .lowerWrap .contentWrap .introWrap p .heroText {
          font-weight: 900;
          font-style: italic; }
    .lowerWrap .contentWrap .sidebarWrap {
      width: 45%;
      min-width: 20%;
      max-width: 450px;
      float: left;
      margin-top: 50px;
      margin-left: 5%; }
      @media (max-width: 768px) {
        .lowerWrap .contentWrap .sidebarWrap {
          width: 100%;
          margin-left: 7%; } }
      .lowerWrap .contentWrap .sidebarWrap ul {
        list-style: none;
        padding: 0;
        margin: 0;
        vertical-align: top;
        margin-top: -5px; }
        .lowerWrap .contentWrap .sidebarWrap ul .fullWidth {
          width: 80% !important; }
        .lowerWrap .contentWrap .sidebarWrap ul li {
          float: left;
          width: 45%;
          display: inline-block;
          margin: 5px 10px; }
          @media (max-width: 900px) {
            .lowerWrap .contentWrap .sidebarWrap ul li {
              width: 100%;
              margin-left: 7%; } }
          @media (max-width: 768px) {
            .lowerWrap .contentWrap .sidebarWrap ul li {
              width: 80%;
              margin-left: 0;
              box-sizing: border-box; } }
          .lowerWrap .contentWrap .sidebarWrap ul li h3 {
            margin: 0;
            padding: 0;
            font-size: 16px;
            font-family: 'Roboto Slab'; }
          .lowerWrap .contentWrap .sidebarWrap ul li p {
            margin: 0;
            padding: 0;
            font-size: 12px; }
            @media (max-width: 900px) {
              .lowerWrap .contentWrap .sidebarWrap ul li p {
                font-size: 13px; } }
            .lowerWrap .contentWrap .sidebarWrap ul li p .subhead {
              text-transform: uppercase;
              font-size: 10px;
              font-weight: 900; }

.slideout-menu {
  position: fixed;
  top: 0;
  left: -380px;
  width: 350px;
  height: 100%;
  background: #333;
  z-index: 100;
  box-sizing: border-box;
  font-family: 'Roboto Slab';
  color: #aaa; }
  .slideout-menu h3 {
    position: relative;
    padding: 12px 30px 0 0;
    color: #fff;
    font-size: 1.1em;
    font-weight: 400; }
    .slideout-menu h3 .closeText {
      font-size: 12px;
      margin-top: -10px;
      vertical-align: 3px; }
  .slideout-menu h1 {
    width: 75%;
    margin-top: 60px;
    margin-left: 30px;
    font-size: 24px;
    font-family: 'Roboto Slab';
    line-height: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc; }
  .slideout-menu p {
    margin: 0 30px 15px 30px;
    font-size: 16px;
    color: #ccc; }
  .slideout-menu a {
    color: #ccc;
    text-decoration: none; }
  .slideout-menu .menuSmall {
    font-size: 11px;
    text-transform: uppercase;
    color: #ccc; }
  .slideout-menu .link {
    width: auto;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1em;
    background-color: #222;
    padding: 15px 15px;
    font-size: 16px;
    color: #eee;
    margin-bottom: 10px; }

.slideout-menu-toggle img {
  width: 50px;
  margin-top: 15px; }
  @media (max-width: 768px) {
    .slideout-menu-toggle img {
      width: 60px; } }

.slideout-menu .slideout-menu-toggle {
  position: absolute;
  top: -5px;
  right: 10px;
  display: inline-block;
  padding: 10px 15px 7px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  background: #222;
  color: #999;
  text-decoration: none;
  vertical-align: top;
  width: 87%;
  text-align: right; }

.slideout-menu .slideout-menu-toggle:hover {
  color: #fff; }

/*# sourceMappingURL=style.css.map */
