body {
  font: 19px "Arial"; }

a {
  text-decoration: none; }

.topWrap {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 63px;
  background-color: #555;
  z-index: 100;
  opacity: 0.95; }
  @media (max-width: 700px) {
    .topWrap {
      height: 85px !important; } }
  .topWrap .menuWrap {
    position: relative;
    float: left;
    z-index: 150; }
    .topWrap .menuWrap a {
      display: block;
      position: relative;
      margin-top: -9px;
      padding: 5px 20px 10px 25px;
      color: fff;
      font-size: 50px;
      text-decoration: none;
      z-index: 1000; }
      @media (max-width: 700px) {
        .topWrap .menuWrap a {
          padding: 15px 20px 10px 25px; } }
  .topWrap .logoWrap {
    width: 150px;
    height: 50px;
    margin: 0 auto; }
    @media (max-width: 700px) {
      .topWrap .logoWrap {
        float: right;
        margin-right: 50px; } }
    .topWrap .logoWrap img {
      margin-top: -108px;
      width: 300px;
      margin-left: -70px; }
      @media (max-width: 700px) {
        .topWrap .logoWrap img {
          margin-top: 0px;
          margin-left: 0;
          width: 150px; } }

.slideWrap {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  height: 80%;
  background-color: #333; }
  @media (max-width: 700px) {
    .slideWrap {
      height: 80%; } }
  .slideWrap .slide1 {
    display: table-cell;
    position: relative;
    background-image: url("../img/slide1.jpg");
    backtground-size: auto !important;
    height: 100%; }
    .slideWrap .slide1 h1 {
      font-family: serif;
      display: block;
      font-size: 100px;
      position: relative;
      margin-top: 20% !important;
      margin-left: 30% !important;
      color: white;
      line-height: 80px;
      text-shadow: 10px 10px 30px #111;
      opacity: 1; }
      @media (max-width: 700px) {
        .slideWrap .slide1 h1 {
          margin-left: 10% !important;
          margin-top: 40% !important;
          font-size: 72px;
          line-height: 60px;
          opacity: .85; } }
      .slideWrap .slide1 h1 .outside {
        margin-top: 25px;
        margin-left: 70px; }
        @media (max-width: 700px) {
          .slideWrap .slide1 h1 .outside {
            margin-left: 30px; } }
  .slideWrap .slide2 {
    background-image: url("../img/slide2.jpg");
    backtground-size: 100%;
    height: 100%; }

.lowerWrap {
  position: absolute;
  width: 100%;
  min-height: 600px;
  margin: 0;
  background-color: #aaa;
  background-image: url("../img/plansbg.jpg");
  background-size: auto;
  background-repeat: repeat-y;
  top: 80%;
  left: 0;
  bottom: 0px;
  color: #333; }
  @media (max-width: 700px) {
    .lowerWrap {
      top: 80%;
      min-height: 900px; } }
  .lowerWrap .contactBar {
    width: 100%;
    height: 80px;
    background-color: #333;
    color: #aaa;
    text-transform: uppercase;
    padding-top: 10px;
    font-family: serif; }
    @media (max-width: 700px) {
      .lowerWrap .contactBar {
        height: 190px;
        padding-top: 15px; } }
    .lowerWrap .contactBar .contentWrap {
      max-width: 960px;
      width: auto;
      min-width: 700px;
      margin: 0 auto;
      box-sizing: border-box; }
      @media (max-width: 700px) {
        .lowerWrap .contactBar .contentWrap {
          width: 100%;
          min-width: 300px; } }
      .lowerWrap .contactBar .contentWrap .contactItem {
        width: 29%;
        float: left;
        background-color: #222;
        padding: 15px 10px;
        margin: 10px 10px;
        box-sizing: border-box; }
        @media (max-width: 700px) {
          .lowerWrap .contactBar .contentWrap .contactItem {
            width: 93%;
            padding: 10px 10px; } }
        .lowerWrap .contactBar .contentWrap .contactItem p {
          text-align: center;
          margin: 0;
          padding: 5px 0 1px 0;
          line-height: 1em; }
      .lowerWrap .contactBar .contentWrap .marginSides {
        margin: 10px 3%; }
        @media (max-width: 700px) {
          .lowerWrap .contactBar .contentWrap .marginSides {
            margin: 0 10px; } }
  .lowerWrap .contentWrap {
    max-width: 960px;
    width: auto;
    min-width: 700px;
    margin: 0 auto;
    box-sizing: border-box; }
    @media (max-width: 700px) {
      .lowerWrap .contentWrap {
        width: 100%;
        min-width: 300px; } }
    .lowerWrap .contentWrap .introWrap {
      width: 40%;
      max-width: 350px;
      float: left;
      margin-left: 7%; }
      @media (max-width: 700px) {
        .lowerWrap .contentWrap .introWrap {
          width: 100%;
          max-width: 300px; } }
      .lowerWrap .contentWrap .introWrap h1 {
        font-size: 22px; }
      .lowerWrap .contentWrap .introWrap p {
        font-size: 16px; }
    .lowerWrap .contentWrap .sidebarWrap {
      width: 30%;
      max-width: 250px;
      float: left;
      margin-top: 50px;
      margin-left: 5%; }
      @media (max-width: 700px) {
        .lowerWrap .contentWrap .sidebarWrap {
          width: 100%;
          margin-left: 7%; } }
      .lowerWrap .contentWrap .sidebarWrap h1 {
        font-size: 16px; }
      .lowerWrap .contentWrap .sidebarWrap .testimonial {
        font-style: italic;
        font-size: 13px;
        line-height: 16px; }
      .lowerWrap .contentWrap .sidebarWrap .credit {
        font-style: italic;
        font-size: 13px;
        line-height: 16px;
        text-align: right; }

.slideout-menu {
  position: fixed;
  top: 0;
  left: -380px;
  width: 350px;
  height: 100%;
  background: #333;
  z-index: 100;
  box-sizing: border-box;
  font-family: serif;
  color: #aaa; }
  .slideout-menu h3 {
    position: relative;
    padding: 12px 30px 0 0;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400; }
    .slideout-menu h3 .closeText {
      font-size: 12px;
      margin-top: -10px;
      vertical-align: 3px; }
  .slideout-menu h1 {
    width: 75%;
    margin-top: 60px;
    margin-left: 30px;
    font-size: 24px;
    line-height: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc; }
  .slideout-menu p {
    margin: 0 30px 15px 30px; }
  .slideout-menu .link {
    width: auto;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1em;
    background-color: #121212;
    padding: 10px 15px; }

.slideout-menu-toggle img {
  width: 50px;
  margin-top: 15px; }
  @media (max-width: 700px) {
    .slideout-menu-toggle img {
      width: 60px; } }

.slideout-menu .slideout-menu-toggle {
  position: absolute;
  top: -5px;
  right: 10px;
  display: inline-block;
  padding: 10px 15px 7px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  background: #222;
  color: #999;
  text-decoration: none;
  vertical-align: top; }

.slideout-menu .slideout-menu-toggle:hover {
  color: #fff; }

/*# sourceMappingURL=style.css.map */
