/* line 4, ../scss/style.scss */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  width: 100%;
  height: 100%;
}

/* line 13, ../scss/style.scss */
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
}

/* line 20, ../scss/style.scss */
a {
  text-decoration: none;
  color: #212121;
}

/* line 25, ../scss/style.scss */
a:visited {
  color: #212121;
}

/* line 29, ../scss/style.scss */
header {
  position: absolute;
  display: block;
  width: 100%;
  height: 650px;
  background: #333;
  top: -8px;
  left: -8px;
  background: url("../img/hero.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}
/* line 41, ../scss/style.scss */
header .logoWrap {
  color: white;
  position: relative;
  display: inline-block;
  margin-top: 60px;
  text-transform: uppercase;
}
/* line 48, ../scss/style.scss */
header .logoWrap .logoBest {
  position: absolute;
  font-weight: 500;
  font-size: 72px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px #111;
}
/* line 56, ../scss/style.scss */
header .logoWrap .logoOf {
  position: absolute;
  font-weight: 100;
  font-size: 28px;
  left: 175px;
  top: 43px;
  text-shadow: 1px 1px 3px #111;
}
/* line 64, ../scss/style.scss */
header .logoWrap .logo2015 {
  position: absolute;
  font-weight: 500;
  font-size: 72px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px #111;
  top: 60px;
  left: 50px;
}

/* line 76, ../scss/style.scss */
.featureWrap {
  width: 100%;
  height: 650px;
  background: #121212;
  box-sizing: border-box;
  text-align: center;
}
/* line 83, ../scss/style.scss */
.featureWrap ul {
  list-style: none;
  z-index: 1000;
}
/* line 86, ../scss/style.scss */
.featureWrap ul li {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px !important;
  overflow: hidden;
}
/* line 92, ../scss/style.scss */
.featureWrap ul li button {
  color: #666 !important;
  display: inline-block !important;
  background: #666;
  padding: 4px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: none;
  overflow: hidden !important;
}
/* line 106, ../scss/style.scss */
.featureWrap .featureSlide {
  width: 100%;
  height: 100%;
}
/* line 110, ../scss/style.scss */
.featureWrap .featureSlide .slideContent {
  position: relative;
  text-align: left;
}
/* line 114, ../scss/style.scss */
.featureWrap .featureSlide .slideContent h1 {
  color: white;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}
/* line 123, ../scss/style.scss */
.featureWrap .featureSlide .slideContent h3 {
  color: white;
  font-size: 18px;
  font-weight: 100;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}
/* line 132, ../scss/style.scss */
.featureWrap .featureSlide .slideContent a {
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

/* line 144, ../scss/style.scss */
.feature1 {
  background: url("../img/featureslidebg-3.jpg");
  background-size: cover;
  background-position: center bottom;
}
/* line 149, ../scss/style.scss */
.feature1 .slideContent {
  float: none;
  margin-top: 200px;
  text-align: center !important;
}

/* line 156, ../scss/style.scss */
.feature2 {
  background: url("../img/featureslidebg-2.jpg");
  background-size: cover;
  background-position: center top;
}
/* line 161, ../scss/style.scss */
.feature2 .slideContent {
  width: 390px;
  float: right;
  margin-top: 500px;
  margin-right: 15%;
  text-align: right !important;
}

/* line 170, ../scss/style.scss */
.feature3 {
  background: url("../img/featureslidebg-4.jpg");
  background-size: cover;
  background-position: left bottom;
}
/* line 175, ../scss/style.scss */
.feature3 .slideContent {
  width: 390px;
  float: right;
  margin-top: 500px;
  margin-right: 15%;
  text-align: right !important;
}

/* line 184, ../scss/style.scss */
.feature4 {
  background: url("../img/featureslidebg.jpg");
  background-size: cover;
  background-position: right top;
}
/* line 189, ../scss/style.scss */
.feature4 .slideContent {
  width: 390px;
  float: left;
  margin-top: 500px;
  margin-left: 15%;
  text-align: right !important;
}
/* line 196, ../scss/style.scss */
.feature4 .slideContent h1, .feature4 .slideContent h3, .feature4 .slideContent a {
  color: teal !important;
}

/* line 203, ../scss/style.scss */
.contentWrap {
  box-sizing: border-box;
  position: relative;
  width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  /* line 203, ../scss/style.scss */
  .contentWrap {
    width: 100%;
  }
}

/* line 215, ../scss/style.scss */
.controlWrap {
  position: absolute;
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  background: #333;
  top: 642px;
  left: -8px;
}
/* line 224, ../scss/style.scss */
.controlWrap .filter {
  display: inline-block;
  padding: 5px 15px;
  background: #999;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
/* line 236, ../scss/style.scss */
.controlWrap .sort {
  display: inline-block;
  padding: 5px 15px;
  background: #666;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
/* line 248, ../scss/style.scss */
.controlWrap button {
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 1s ease;
}
/* line 258, ../scss/style.scss */
.controlWrap button.active {
  background: teal;
}
/* line 263, ../scss/style.scss */
.controlWrap button:focus {
  outline: 0 none;
}
/* line 267, ../scss/style.scss */
.controlWrap button:hover {
  background: lightblue;
  transition: all 1s ease;
}
/* line 272, ../scss/style.scss */
.controlWrap label {
  text-transform: uppercase;
  font-size: 12px;
  margin: 3px 10px 0 20px;
  color: #ddd !important;
}

/* line 280, ../scss/style.scss */
.bestOfWrap {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 720px;
}

/* line 287, ../scss/style.scss */
#mixWrap {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
@media screen and (max-width: 960px) {
  /* line 287, ../scss/style.scss */
  #mixWrap {
    width: 100%;
  }
}
/* line 302, ../scss/style.scss */
#mixWrap .mix {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  box-shadow: 1px 1px 2px #bbb;
  height: 450px;
  margin: 1% 10px;
  background: white;
  overflow: hidden;
  position: relative;
  min-width: 270px;
}
/* line 318, ../scss/style.scss */
#mixWrap .mix h1 {
  font-size: 14px;
  font-weight: 100;
}
/* line 325, ../scss/style.scss */
#mixWrap .itemImg {
  width: 100%;
}
/* line 330, ../scss/style.scss */
#mixWrap .itemContent {
  padding: 15px 3%;
  text-align: left;
}
/* line 334, ../scss/style.scss */
#mixWrap .itemContent h1 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
/* line 345, ../scss/style.scss */
#mixWrap .itemContent h2 {
  font-size: 12px;
  font-weight: 100;
  color: #666;
  margin: 0;
  padding: 0;
  line-height: 15px;
  padding-top: 5px;
}
/* line 356, ../scss/style.scss */
#mixWrap .itemContent h3 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
  margin: 0;
  padding: 0;
}
/* line 365, ../scss/style.scss */
#mixWrap .itemContent h4 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}
/* line 375, ../scss/style.scss */
#mixWrap .itemContent p {
  font-size: 13px;
}
/* line 380, ../scss/style.scss */
#mixWrap .wThird {
  width: 30%;
}
/* line 382, ../scss/style.scss */
#mixWrap .wThird .itemImg {
  height: 225px;
}
/* line 387, ../scss/style.scss */
#mixWrap .wHalf {
  width: 47%;
}
/* line 389, ../scss/style.scss */
#mixWrap .wHalf .itemImg {
  height: 300px;
}
/* line 394, ../scss/style.scss */
#mixWrap .wGroup {
  width: 97%;
}
/* line 398, ../scss/style.scss */
#mixWrap .wFull {
  width: 65%;
}
/* line 400, ../scss/style.scss */
#mixWrap .wFull .itemImg {
  height: 480px;
}
/* line 404, ../scss/style.scss */
#mixWrap .wFull .itemContent {
  width: 300px;
  height: auto;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  background: #fff;
  bottom: 30px;
  left: 30px;
}

/* line 419, ../scss/style.scss */
#mixWrap .mix {
  display: none;
}

/* line 426, ../scss/style.scss */
.itemMexicoVolcano .itemImg {
  background: url("../img/itemMexicoVolcano.jpg") no-repeat;
  background-size: cover;
}

/* line 433, ../scss/style.scss */
.itemHojiAfterglow .itemImg {
  background: url("../img/itemHojiAfterglow.jpg") no-repeat;
  background-size: cover;
}

/* line 440, ../scss/style.scss */
.itemManleyUK .itemImg {
  background: url("../img/itemManleyUK.jpg") no-repeat;
  background-size: cover;
  background-position: -250px top;
}

/* line 448, ../scss/style.scss */
.itemTrueSpirit .itemImg {
  background: url("../img/itemTrueSpirit.jpg") no-repeat;
  background-size: cover;
}

/* line 455, ../scss/style.scss */
.itemBurkardRoss .itemImg {
  background: url("../img/itemBurkardRoss.jpg") no-repeat;
  background-size: cover;
}

/* line 462, ../scss/style.scss */
.itemOffGrid .itemImg {
  background: url("../img/itemOffGrid.jpg") no-repeat;
  background-size: cover;
}

/* line 469, ../scss/style.scss */
.itemLithicGlove .itemImg {
  background: url("../img/itemLithicGlove.jpg") no-repeat;
  background-size: cover;
}

/* line 476, ../scss/style.scss */
.itemGoreCare .itemImg {
  background: url("../img/itemGoreCare.jpg") no-repeat;
  background-size: cover;
}

/* line 483, ../scss/style.scss */
.itemInspiredDesign .itemImg {
  background: url("../img/itemInspiredDesign.jpg") no-repeat;
  background-size: cover;
}

/* line 490, ../scss/style.scss */
.itemColoradoClassics .itemImg {
  background: url("../img/itemColoradoClassics.jpg") no-repeat;
  background-size: cover;
}

/* line 496, ../scss/style.scss */
.itemEverestGroup {
  height: 640px !important;
}
/* line 498, ../scss/style.scss */
.itemEverestGroup .itemImg {
  height: 640px !important;
  background: url("../img/itemEverestGroup.jpg") no-repeat;
  background-size: cover;
}
/* line 504, ../scss/style.scss */
.itemEverestGroup .groupContent {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 97%;
  min-width: 300px;
  text-align: left;
}
/* line 516, ../scss/style.scss */
.itemEverestGroup .groupContent .itemContent {
  position: relative;
  display: inline-block;
  width: 22%;
  height: 190px !important;
  background: white !important;
  opacity: 0.9;
  margin-bottom: 5px;
  vertical-align: top;
  transition: all 1s;
}
/* line 528, ../scss/style.scss */
.itemEverestGroup .groupContent .itemContent:hover {
  background: #bbb !important;
  transition: all 1s;
}

/* line 537, ../scss/style.scss */
.itemIzzyJapan .itemImg {
  background: url("../img/itemIzzyJapan.jpg") no-repeat;
  background-size: cover;
}

/* line 544, ../scss/style.scss */
.itemStanhopeGear .itemImg {
  background: url("../img/itemStanhopeGear.jpg") no-repeat;
  background-size: cover;
}

/* line 551, ../scss/style.scss */
.itemGranParadiso .itemImg {
  background: url("../img/itemGranParadiso.jpg") no-repeat;
  background-size: cover;
}

/* line 558, ../scss/style.scss */
.itemWeldonCasa .itemImg {
  background: url("../img/itemWeldonCasa.jpg") no-repeat;
  background-size: cover;
}

/* line 565, ../scss/style.scss */
.itemBrideNorway .itemImg {
  background: url("../img/itemBrideNorway.jpg") no-repeat;
  background-size: cover;
}

/* line 572, ../scss/style.scss */
.itemNinaTrying .itemImg {
  background: url("../img/itemNinaTrying.jpg") no-repeat;
  background-size: cover;
}

/* line 579, ../scss/style.scss */
.itemChamonixWaiting .itemImg {
  background: url("../img/itemChamonixWaiting.jpg") no-repeat;
  background-size: cover;
}
