/* line 1, ../scss/style.scss */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  width: 100%;
  height: 100%;
}

/* line 10, ../scss/style.scss */
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
}

/* line 17, ../scss/style.scss */
header {
  position: absolute;
  display: block;
  width: 100%;
  height: 600px;
  background: #333;
  top: -8px;
  left: -8px;
  background: url("../img/hero.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}
/* line 29, ../scss/style.scss */
header .logoWrap {
  color: white;
  position: relative;
  display: inline-block;
  margin-top: 60px;
  text-transform: uppercase;
}
/* line 36, ../scss/style.scss */
header .logoWrap .logoBest {
  position: absolute;
  font-weight: 500;
  font-size: 72px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px #111;
}
/* line 44, ../scss/style.scss */
header .logoWrap .logoOf {
  position: absolute;
  font-weight: 100;
  font-size: 36px;
  left: 190px;
  top: 35px;
  text-shadow: 1px 1px 3px #111;
}
/* line 52, ../scss/style.scss */
header .logoWrap .logo2015 {
  position: absolute;
  font-weight: 500;
  font-size: 72px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px #111;
  top: 60px;
  left: 90px;
}

/* line 64, ../scss/style.scss */
.contentWrap {
  box-sizing: border-box;
  position: relative;
  width: 930px;
  margin: 0 auto;
}
@media screen and (max-width: 930px) {
  /* line 64, ../scss/style.scss */
  .contentWrap {
    width: 100%;
  }
}

/* line 75, ../scss/style.scss */
.controlWrap {
  position: absolute;
  width: 100%;
  height: 60px;
  background: #333;
  top: 592px;
  left: -8px;
}
/* line 83, ../scss/style.scss */
.controlWrap .filter {
  display: inline-block;
  padding: 5px 15px;
  background: #999;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
/* line 95, ../scss/style.scss */
.controlWrap button {
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
/* line 104, ../scss/style.scss */
.controlWrap button.active {
  background: #68b8c4;
}
/* line 108, ../scss/style.scss */
.controlWrap button:focus {
  outline: 0 none;
}
/* line 112, ../scss/style.scss */
.controlWrap label {
  text-transform: uppercase;
  font-size: 12px;
  margin: 3px 10px 0 0;
  color: #ddd !important;
}

/* line 120, ../scss/style.scss */
.bestOfWrap {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 720px;
}

/* line 127, ../scss/style.scss */
#mixWrap {
  height: 100%;
  width: 930px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
@media screen and (max-width: 930px) {
  /* line 127, ../scss/style.scss */
  #mixWrap {
    width: 100%;
  }
}
/* line 141, ../scss/style.scss */
#mixWrap .mix {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  box-shadow: 1px 1px 2px #bbb;
  height: 350px;
  margin: 1% 10px;
  background: white;
  overflow: hidden;
  min-width: 270px;
}
/* line 156, ../scss/style.scss */
#mixWrap .mix h1 {
  font-size: 14px;
  font-weight: 100;
}
/* line 162, ../scss/style.scss */
#mixWrap .wThird {
  width: 30%;
}
/* line 166, ../scss/style.scss */
#mixWrap .wHalf {
  width: 47%;
}
/* line 170, ../scss/style.scss */
#mixWrap .wFull {
  width: 97%;
}
/* line 174, ../scss/style.scss */
#mixWrap .itemImg {
  width: 100%;
  max-height: 250px;
}
/* line 178, ../scss/style.scss */
#mixWrap .itemImg img {
  width: 100%;
  height: auto;
}
/* line 184, ../scss/style.scss */
#mixWrap .itemContent {
  padding: 15px 3%;
  text-align: left;
}
/* line 188, ../scss/style.scss */
#mixWrap .itemContent h1 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
  line-height: 15px;
  margin: 0;
  padding: 0;
}
/* line 199, ../scss/style.scss */
#mixWrap .itemContent h2 {
  font-size: 15px;
  font-weight: 500;
  color: #666;
  margin: 0;
  padding: 0;
  line-height: 15px;
}
/* line 209, ../scss/style.scss */
#mixWrap .itemContent h3 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
  margin: 0;
  padding: 0;
}
/* line 218, ../scss/style.scss */
#mixWrap .itemContent h4 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}
/* line 228, ../scss/style.scss */
#mixWrap .itemContent p {
  font-size: 13px;
}

/* line 234, ../scss/style.scss */
#mixWrap .mix {
  display: none;
}
