/* line 4, ../scss/style.scss */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  width: 100%;
  height: 100%;
}

/* line 13, ../scss/style.scss */
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
}

/* line 20, ../scss/style.scss */
header {
  position: absolute;
  display: block;
  width: 100%;
  height: 650px;
  background: #333;
  top: -8px;
  left: -8px;
  background: url("../img/hero.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}
/* line 32, ../scss/style.scss */
header .logoWrap {
  color: white;
  position: relative;
  display: inline-block;
  margin-top: 60px;
  text-transform: uppercase;
}
/* line 39, ../scss/style.scss */
header .logoWrap .logoBest {
  position: absolute;
  font-weight: 500;
  font-size: 72px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px #111;
}
/* line 47, ../scss/style.scss */
header .logoWrap .logoOf {
  position: absolute;
  font-weight: 100;
  font-size: 28px;
  left: 175px;
  top: 43px;
  text-shadow: 1px 1px 3px #111;
}
/* line 55, ../scss/style.scss */
header .logoWrap .logo2015 {
  position: absolute;
  font-weight: 500;
  font-size: 72px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px #111;
  top: 60px;
  left: 50px;
}

/* line 67, ../scss/style.scss */
.featureWrap {
  width: 100%;
  height: 650px;
  background: #121212;
  box-sizing: border-box;
  text-align: center;
}
/* line 74, ../scss/style.scss */
.featureWrap ul {
  list-style: none;
  z-index: 1000;
}
/* line 77, ../scss/style.scss */
.featureWrap ul li {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px !important;
  overflow: hidden;
}
/* line 83, ../scss/style.scss */
.featureWrap ul li button {
  color: #666 !important;
  display: inline-block !important;
  background: #666;
  padding: 4px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: none;
  overflow: hidden !important;
}
/* line 97, ../scss/style.scss */
.featureWrap .featureSlide {
  width: 100%;
  height: 100%;
}
/* line 101, ../scss/style.scss */
.featureWrap .featureSlide .slideContent {
  position: relative;
  text-align: left;
}
/* line 105, ../scss/style.scss */
.featureWrap .featureSlide .slideContent h1 {
  color: white;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}
/* line 114, ../scss/style.scss */
.featureWrap .featureSlide .slideContent h3 {
  color: white;
  font-size: 18px;
  font-weight: 100;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}
/* line 123, ../scss/style.scss */
.featureWrap .featureSlide .slideContent a {
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

/* line 134, ../scss/style.scss */
.feature1 {
  background: url("../img/featureslidebg-3.jpg");
  background-size: cover;
  background-position: center bottom;
}
/* line 139, ../scss/style.scss */
.feature1 .slideContent {
  float: none;
  margin-top: 200px;
  text-align: center !important;
}

/* line 146, ../scss/style.scss */
.feature2 {
  background: url("../img/featureslidebg-2.jpg");
  background-size: cover;
  background-position: center top;
}
/* line 151, ../scss/style.scss */
.feature2 .slideContent {
  width: 390px;
  float: right;
  margin-top: 500px;
  margin-right: 15%;
  text-align: right !important;
}

/* line 160, ../scss/style.scss */
.feature3 {
  background: url("../img/featureslidebg-4.jpg");
  background-size: cover;
  background-position: left bottom;
}
/* line 165, ../scss/style.scss */
.feature3 .slideContent {
  width: 390px;
  float: right;
  margin-top: 500px;
  margin-right: 15%;
  text-align: right !important;
}

/* line 174, ../scss/style.scss */
.feature4 {
  background: url("../img/featureslidebg.jpg");
  background-size: cover;
  background-position: right top;
}
/* line 179, ../scss/style.scss */
.feature4 .slideContent {
  width: 390px;
  float: left;
  margin-top: 500px;
  margin-left: 15%;
  text-align: right !important;
}
/* line 186, ../scss/style.scss */
.feature4 .slideContent h1, .feature4 .slideContent h3, .feature4 .slideContent a {
  color: teal !important;
}

/* line 193, ../scss/style.scss */
.contentWrap {
  box-sizing: border-box;
  position: relative;
  width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  /* line 193, ../scss/style.scss */
  .contentWrap {
    width: 100%;
  }
}

/* line 205, ../scss/style.scss */
.controlWrap {
  position: absolute;
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  background: #333;
  top: 642px;
  left: -8px;
}
/* line 214, ../scss/style.scss */
.controlWrap .filter {
  display: inline-block;
  padding: 5px 15px;
  background: #999;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
/* line 226, ../scss/style.scss */
.controlWrap .sort {
  display: inline-block;
  padding: 5px 15px;
  background: #666;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
/* line 238, ../scss/style.scss */
.controlWrap button {
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 1s ease;
}
/* line 248, ../scss/style.scss */
.controlWrap button.active {
  background: teal;
}
/* line 253, ../scss/style.scss */
.controlWrap button:focus {
  outline: 0 none;
}
/* line 257, ../scss/style.scss */
.controlWrap button:hover {
  background: lightblue;
  transition: all 1s ease;
}
/* line 262, ../scss/style.scss */
.controlWrap label {
  text-transform: uppercase;
  font-size: 12px;
  margin: 3px 10px 0 20px;
  color: #ddd !important;
}

/* line 270, ../scss/style.scss */
.bestOfWrap {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 720px;
}

/* line 277, ../scss/style.scss */
#mixWrap {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
@media screen and (max-width: 960px) {
  /* line 277, ../scss/style.scss */
  #mixWrap {
    width: 100%;
  }
}
/* line 292, ../scss/style.scss */
#mixWrap .mix {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  box-shadow: 1px 1px 2px #bbb;
  height: 400px;
  margin: 1% 10px;
  background: white;
  overflow: hidden;
  min-width: 270px;
}
/* line 307, ../scss/style.scss */
#mixWrap .mix h1 {
  font-size: 14px;
  font-weight: 100;
}
/* line 313, ../scss/style.scss */
#mixWrap .wThird {
  width: 30%;
}
/* line 317, ../scss/style.scss */
#mixWrap .wHalf {
  width: 47%;
}
/* line 321, ../scss/style.scss */
#mixWrap .wFull {
  width: 97%;
}
/* line 325, ../scss/style.scss */
#mixWrap .itemImg {
  width: 100%;
  max-height: 250px;
}
/* line 329, ../scss/style.scss */
#mixWrap .itemImg img {
  width: 100%;
  height: auto;
}
/* line 335, ../scss/style.scss */
#mixWrap .itemContent {
  padding: 15px 3%;
  text-align: left;
}
/* line 339, ../scss/style.scss */
#mixWrap .itemContent h1 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
  line-height: 15px;
  margin: 0;
  padding: 0;
}
/* line 350, ../scss/style.scss */
#mixWrap .itemContent h2 {
  font-size: 15px;
  font-weight: 500;
  color: #666;
  margin: 0;
  padding: 0;
  line-height: 15px;
}
/* line 360, ../scss/style.scss */
#mixWrap .itemContent h3 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
  margin: 0;
  padding: 0;
}
/* line 369, ../scss/style.scss */
#mixWrap .itemContent h4 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}
/* line 379, ../scss/style.scss */
#mixWrap .itemContent p {
  font-size: 13px;
}

/* line 385, ../scss/style.scss */
#mixWrap .mix {
  display: none;
}
