@keyframes fadeIn {
  /* line 8, ../scss/base.scss */
  0% {
    opacity: 0;
  }

  /* line 12, ../scss/base.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  /* line 18, ../scss/base.scss */
  0% {
    opacity: 1;
  }

  /* line 23, ../scss/base.scss */
  100% {
    opacity: 0;
  }
}

@keyframes logoMove {
  /* line 29, ../scss/base.scss */
  0% {
    top: 18%;
  }

  /* line 33, ../scss/base.scss */
  100% {
    top: 8%;
  }
}

@keyframes keyvisualFadeHalf {
  /* line 39, ../scss/base.scss */
  0% {
    opacity: 1;
  }

  /* line 43, ../scss/base.scss */
  100% {
    opacity: .3;
  }
}

/* line 53, ../scss/base.scss */
.headerTiming {
  animation: fadeIn 1s 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* line 59, ../scss/base.scss */
.socialTiming {
  animation: fadeIn 1s 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* line 73, ../scss/base.scss */
.movieTimingOrbayu {
  animation: fadeIn 3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* line 79, ../scss/base.scss */
.movieTimingJabou {
  animation: fadeIn 3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* line 85, ../scss/base.scss */
.scheduleTiming {
  animation: fadeIn 3s 1s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* line 96, ../scss/base.scss */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  font-family: Avenir, Arial, sans-serif;
  overflow: hidden;
}

/* line 105, ../scss/base.scss */
div {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 113, ../scss/base.scss */
.girdWrap {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1px solid pink;
}

/* line 121, ../scss/base.scss */
header {
  margin: 0 auto;
  padding: 1em 0;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #111;
  animation-delay: 1.5s !important;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}
/* line 135, ../scss/base.scss */
header .titleWrap {
  display: inline-block;
  width: 90%;
  vertical-align: top;
  padding-top: 0em;
  text-align: center;
}
/* line 142, ../scss/base.scss */
header .titleWrap h1 {
  font-weight: 900;
  font-size: 2.6em;
  color: white;
  text-transform: uppercase;
  line-height: .8em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 154, ../scss/base.scss */
header .titleWrap h2 {
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: .1em;
  vertical-align: top;
}
/* line 164, ../scss/base.scss */
header .titleWrap h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.6em;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 173, ../scss/base.scss */
header .titleWrap h4 {
  color: #aaa;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: left;
  margin: 0;
  padding: 0;
}
/* line 183, ../scss/base.scss */
header .titleWrap p {
  color: white;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  margin-top: .5em;
}
/* line 191, ../scss/base.scss */
header .titleWrap .movieDate {
  color: #ccc;
}
/* line 196, ../scss/base.scss */
header .titleWrap .instaLogo {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  margin-right: .2em;
  background: url("../img/instaLogo.png") no-repeat;
  background-size: 30px;
  background-position: bottom center;
}
/* line 211, ../scss/base.scss */
header .logoWrap {
  width: 30%;
  display: inline-block;
}
/* line 215, ../scss/base.scss */
header .logoWrap svg {
  height: 125px;
}

/* line 223, ../scss/base.scss */
article {
  margin: 0 auto;
  padding: 1em 0;
  vertical-align: top;
  color: white;
  animation-delay: 3s !important;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  padding-top: 0;
}
/* line 235, ../scss/base.scss */
article h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  color: #aaa;
  font-size: 1.5em !important;
}
/* line 242, ../scss/base.scss */
article h2 {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 1em;
}
/* line 248, ../scss/base.scss */
article .colTwoThird {
  display: inline-block;
  width: 53%;
  margin-left: 2%;
  margin-right: 1%;
}
/* line 254, ../scss/base.scss */
article .colTwoThird .eventTitle, article .colTwoThird .eventTime {
  font-size: 1.6em;
}
/* line 258, ../scss/base.scss */
article .colTwoThird h1 {
  font-size: 2em !important;
}
/* line 264, ../scss/base.scss */
article .colOneThird {
  display: inline-block;
  width: 41%;
  height: 80%;
  margin-right: 0;
  vertical-align: top;
  margin-top: 0;
  padding: 3% 0 0 2%;
}
/* line 274, ../scss/base.scss */
article .colOneThird .eventTitle, article .colOneThird .eventTime {
  font-size: 1.1em;
}
/* line 278, ../scss/base.scss */
article .colOneThird h1 {
  margin-top: 1em;
  font-size: 1em;
}
/* line 283, ../scss/base.scss */
article .colOneThird ul {
  padding: .5em 0 0 0;
}
/* line 288, ../scss/base.scss */
article ul {
  padding: 0;
}
/* line 292, ../scss/base.scss */
article ul li {
  width: 100%;
  color: white;
  list-style: none;
  padding: 15px 0 20px;
}
/* line 300, ../scss/base.scss */
article .eventTitle {
  display: inline-block;
  position: relative;
  float: left;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2em;
}
/* line 309, ../scss/base.scss */
article .eventTime {
  display: inline-block;
  position: relative;
  float: right;
  font-weight: 900;
  font-size: 1.2em;
}
/* line 317, ../scss/base.scss */
article .teaserWrap {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
/* line 324, ../scss/base.scss */
article .teaserWrap iframe {
  margin: 0 auto;
  display: block;
  position: relative;
}

/* line 333, ../scss/base.scss */
.alignTop {
  padding-top: 0 !important;
}

/* line 340, ../scss/base.scss */
.keyVisual {
  background: url("../img/bg1.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 10s 1s linear, keyvisualFadeHalf 5s 17s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  z-index: 1;
}

/* line 353, ../scss/base.scss */
.logoLarge {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 18%;
  animation: fadeIn 3s 8s linear, logoMove 1s 20s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  z-index: 900;
}
/* line 367, ../scss/base.scss */
.logoLarge svg {
  height: 300px;
}

/* line 373, ../scss/base.scss */
.sponsorGroup {
  position: absolute;
  height: 300px;
  width: 80%;
  top: 50%;
  opacity: 0;
  z-index: 2000;
  animation: fadeIn 4s 22s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
}
/* line 388, ../scss/base.scss */
.sponsorGroup ul {
  width: 100%;
  height: 300px;
  position: relative;
  display: block;
  padding-left: 1%;
}
/* line 395, ../scss/base.scss */
.sponsorGroup ul h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 900;
}
/* line 402, ../scss/base.scss */
.sponsorGroup ul li {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 250px;
  padding: 0 1%;
}
/* line 410, ../scss/base.scss */
.sponsorGroup ul .sponsorArc {
  background: url("../img/sponsor_arc.png") no-repeat;
  background-size: 200px;
  background-position: center center;
}
/* line 417, ../scss/base.scss */
.sponsorGroup ul .sponsorMontblanc {
  background: url("../img/sponsor_montblanc.png") no-repeat;
  background-size: 220px;
  background-position: center center;
}
/* line 423, ../scss/base.scss */
.sponsorGroup ul .sponsorGore {
  background: url("../img/sponsor_gore.png") no-repeat;
  background-size: 240px;
  background-position: center center;
}
/* line 429, ../scss/base.scss */
.sponsorGroup ul .sponsorPetzl {
  background: url("../img/sponsor_petzl.png") no-repeat;
  background-size: 200px;
  background-position: center center;
}
/* line 435, ../scss/base.scss */
.sponsorGroup ul .sponsorMSR {
  background: url("../img/sponsor_msr.png") no-repeat;
  background-size: 200px;
  background-position: center center;
}

/* line 444, ../scss/base.scss */
.socialHeader {
  width: 100% !important;
}
/* line 447, ../scss/base.scss */
.socialHeader .titleWrap {
  width: 90%;
}
/* line 451, ../scss/base.scss */
.socialHeader h2 {
  font-size: 1.2em;
  font-weight: 900;
}
/* line 456, ../scss/base.scss */
.socialHeader p {
  font-size: 1.6em;
  line-height: .9em;
}

/* line 463, ../scss/base.scss */
.socialWrap {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 470, ../scss/base.scss */
.socialWrap iframe {
  width: 100%;
  height: 100%;
}

/* line 478, ../scss/base.scss */
.socialWrapXL {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}
/* line 484, ../scss/base.scss */
.socialWrapXL iframe {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 600px;
}

/* line 495, ../scss/base.scss */
.socialWinner {
  text-align: center;
  margin-top: 3%;
}
/* line 499, ../scss/base.scss */
.socialWinner img {
  height: 400px;
}
