@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes logoMove {
  0% {
    top: 18%;
  }
  100% {
    top: 8%;
  }
}

@keyframes keyvisualFadeHalf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}

/* line 53, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.headerTiming {
  animation: fadeIn 1s 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* line 59, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.socialTiming {
  animation: fadeIn 1s 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* line 73, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.movieTimingOrbayu {
  animation: fadeIn 3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* line 79, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.movieTimingJabou {
  animation: fadeIn 3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* line 85, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.scheduleTiming {
  animation: fadeIn 3s 1s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* line 96, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  font-family: Avenir, Arial, sans-serif;
  overflow: hidden;
}

/* line 105, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
div {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 113, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.girdWrap {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1px solid pink;
}

/* line 121, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header {
  margin: 0 auto;
  padding: 1em 0;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #111;
  animation-delay: 1.5s !important;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

/* line 135, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .titleWrap {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  padding-top: 0em;
  text-align: center;
}

/* line 142, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .titleWrap h1 {
  font-weight: 900;
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  line-height: .8em;
  text-align: left;
  margin-top: .5em;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 154, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .titleWrap h2 {
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
  margin-bottom: .1em;
  vertical-align: top;
}

/* line 164, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .titleWrap h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.6em;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* line 173, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .titleWrap h4 {
  color: #aaa;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* line 183, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .titleWrap p {
  color: white;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  margin-top: .5em;
}

/* line 191, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .titleWrap .instaLogo {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  margin-right: .2em;
  background: url("../img/instaLogo.png") no-repeat;
  background-size: 30px;
  background-position: bottom center;
}

/* line 206, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .logoWrap {
  width: 30%;
  display: inline-block;
}

/* line 210, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .logoWrap svg {
  height: 125px;
}

/* line 218, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article {
  margin: 0 auto;
  padding: 1em 0;
  vertical-align: top;
  color: white;
  animation-delay: 3s !important;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  padding-top: 5%;
}

/* line 230, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  color: #aaa;
  font-size: 1.5em !important;
}

/* line 237, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article h2 {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 1em;
}

/* line 243, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colTwoThird {
  display: inline-block;
  width: 49%;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 249, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colTwoThird .eventTitle, article .colTwoThird .eventTime {
  font-size: 1.6em;
}

/* line 253, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colTwoThird h1 {
  font-size: 2em !important;
}

/* line 259, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colOneThird {
  display: inline-block;
  width: 40%;
  height: 80%;
  margin-right: 3%;
  border-left: 1px solid #333;
  vertical-align: top;
  margin-top: 0;
  padding: 3% 0 0 2%;
}

/* line 269, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colOneThird .eventTitle, article .colOneThird .eventTime {
  font-size: 1.4em;
}

/* line 273, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colOneThird h1 {
  margin-top: 1em;
  font-size: 1em;
}

/* line 278, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colOneThird ul {
  padding: .5em 0 0 0;
}

/* line 283, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article ul {
  padding: 2em 1em 1em;
}

/* line 286, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article ul li {
  width: 100%;
  color: white;
  list-style: none;
  padding: 15px 0 30px;
}

/* line 294, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .eventTitle {
  display: inline-block;
  position: relative;
  float: left;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2em;
}

/* line 303, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .eventTime {
  display: inline-block;
  position: relative;
  float: right;
  font-weight: 900;
  font-size: 1.2em;
}

/* line 311, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .teaserWrap {
  width: 1200px;
  height: 675px;
  display: block;
  margin: 0 auto;
  position: relative;
}

/* line 320, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.alignTop {
  padding-top: 0 !important;
}

/* line 327, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.keyVisual {
  background: url("../img/bg1.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 10s 1s linear, keyvisualFadeHalf 5s 17s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  z-index: 1;
}

/* line 340, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.logoLarge {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 18%;
  animation: fadeIn 3s 8s linear, logoMove 1s 20s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  z-index: 900;
}

/* line 354, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.logoLarge svg {
  height: 300px;
}

/* line 360, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.sponsorGroup {
  position: absolute;
  height: 300px;
  width: 80%;
  top: 50%;
  opacity: 0;
  z-index: 2000;
  animation: fadeIn 4s 20s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
}

/* line 375, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.sponsorGroup ul {
  width: 100%;
  height: 300px;
  position: relative;
  display: block;
  padding-left: 1%;
}

/* line 382, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.sponsorGroup ul h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 900;
}

/* line 389, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.sponsorGroup ul li {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 250px;
  padding: 0 1%;
}

/* line 397, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.sponsorGroup ul .sponsorArc {
  background: url("../img/sponsor_arc.png") no-repeat;
  background-size: 200px;
  background-position: center center;
}

/* line 404, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.sponsorGroup ul .sponsorMontblanc {
  background: url("../img/sponsor_montblanc.png") no-repeat;
  background-size: 220px;
  background-position: center center;
}

/* line 410, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.sponsorGroup ul .sponsorGore {
  background: url("../img/sponsor_gore.png") no-repeat;
  background-size: 240px;
  background-position: center center;
}

/* line 416, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.sponsorGroup ul .sponsorPetzl {
  background: url("../img/sponsor_petzl.png") no-repeat;
  background-size: 200px;
  background-position: center center;
}

/* line 422, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.sponsorGroup ul .sponsorMSR {
  background: url("../img/sponsor_msr.png") no-repeat;
  background-size: 200px;
  background-position: center center;
}

/* line 431, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.socialHeader {
  width: 100% !important;
}

/* line 434, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.socialHeader .titleWrap {
  width: 90%;
}

/* line 438, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.socialHeader h2 {
  font-size: 1.2em;
  font-weight: 900;
}

/* line 443, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.socialHeader p {
  font-size: 1.6em;
  line-height: .9em;
}

/* line 450, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.socialWrap {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 457, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.socialWrap iframe {
  width: 100%;
  height: 100%;
}

/* line 465, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.socialWrapXL {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

/* line 471, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.socialWrapXL iframe {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 600px;
}

/*# sourceMappingURL=../css/base.map */