/* line 10, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  font-family: Avenir, Arial, sans-serif;
}

/* line 18, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
div {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 26, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.girdWrap {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1px solid pink;
}

/* line 34, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header {
  margin: 0 auto;
  padding: 1em 0;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #111;
  animation: fadeIn 30s linear;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

/* line 48, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .titleWrap {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding-top: 0em;
  text-align: center;
}

/* line 55, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .titleWrap h1 {
  font-weight: 900;
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  line-height: .8em;
  text-align: left;
  margin-top: .5em;
}

/* line 66, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .logoWrap {
  width: 30%;
  display: inline-block;
}

/* line 70, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
header .logoWrap svg {
  height: 125px;
}

/* line 76, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article {
  margin: 0 auto;
  padding: 1em 0;
  vertical-align: top;
  color: white;
  animation: fadeIn 30s linear;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

/* line 87, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  color: #aaa;
}

/* line 93, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article h2 {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 1em;
}

/* line 99, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colTwoThird {
  display: inline-block;
  width: 51%;
  margin-left: 3%;
  margin-right: 6%;
}

/* line 107, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colOneThird {
  display: inline-block;
  width: 33%;
  height: 60%;
  margin-right: 3%;
  border-left: 1px solid #333;
  vertical-align: top;
  margin-top: 4em;
  padding: 0em 0 0 6%;
}

/* line 117, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colOneThird .eventTitle, article .colOneThird .eventTime {
  font-size: 1em;
}

/* line 122, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colOneThird h1 {
  margin-top: 2em;
}

/* line 126, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .colOneThird ul {
  padding: .5em 0 0 0;
}

/* line 131, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article ul {
  padding: 2em 1em 1em;
}

/* line 134, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article ul li {
  width: 100%;
  color: white;
  list-style: none;
  border-bottom: 1px solid #111;
  padding: 5px 0 30px;
}

/* line 143, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .eventTitle {
  display: inline-block;
  position: relative;
  float: left;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2em;
}

/* line 152, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
article .eventTime {
  display: inline-block;
  position: relative;
  float: right;
  font-weight: 900;
  font-size: 1.2em;
}

/* line 165, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.keyVisual {
  background: url("http://chamonix.arcteryxacademy.com/wp-content/uploads/2016/01/bg1.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 20s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* line 178, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.logoLarge {
  animation: fadeIn 12s linear;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
}

/* line 188, C:/sites/ckoconnell.github.io/arcteryx/screenChamonix/scss/base.scss */
.logoLarge svg {
  padding: 22% 0 0 0;
  height: 300px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=../css/base.map */