* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  display: block;
}

script {
  display: none;
}

body {
  background: #999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  z-index: 0;
}

h1 {
  font-family: "Heebo", sans-serif;
  margin-bottom: .5rem;
  margin-top: 3rem;
  color: #666;
}

h3 {
  margin: 0 0 1rem 0;
  color: #333;
  font-style: italic;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  width: 100%;
  max-width: 450px;
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  p {
    width: 80%;
  }
}

a {
  color: #666;
  margin: 1rem 0;
  font-family: "Heebo", sans-serif;
  font-weight: 800;
}

section {
  width: 100%;
  padding: 6rem 0;
  z-index: 0;
}

section .gridWrap {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 2rem;
  display: none;
}

@media screen and (min-width: 800px) {
  section .gridWrap {
    padding: 0 1rem;
  }
}

.intro {
  background: url("../img/introBG.jpg");
  background-size: cover;
  padding: 12rem 2rem 12rem 0;
}

.intro p a {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.work {
  background: #9c9c9c;
  padding-bottom: 12rem;
}

.work .gridWrap h1 {
  color: #111;
  opacity: 0.75;
}

.work .gridWrap h3 {
  opacity: 0.75;
}

.work .gridWrap .workSlider {
  height: 60%;
  min-height: 450px;
  max-height: 600px;
  position: relative;
  margin-top: 3rem;
}

@media screen and (min-width: 800px) {
  .work .gridWrap .workSlider {
    height: 40%;
    min-height: 450px;
    max-height: 550px;
  }
}

.work .gridWrap .workSlider button {
  background: none;
  color: #666;
  border: none;
  padding: none;
  margin: none;
  position: absolute;
  top: 45%;
  font-size: 3rem;
}

.work .gridWrap .workSlider .sliderPrev {
  left: -3rem;
}

.work .gridWrap .workSlider .sliderNext {
  right: -3rem;
}

.work .gridWrap .workSlider .slide {
  margin: 0 1rem;
  padding: 0;
  text-align: center;
}

.work .gridWrap .workSlider .slide .dimmer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: all 1s;
}

.work .gridWrap .workSlider .slide .dimmer:hover {
  background: rgba(0, 0, 0, 0.65);
  transition: all .5s;
}

.work .gridWrap .workSlider .slide .contentWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
}

.work .gridWrap .workSlider .slide h1 {
  color: #333;
  font-size: 1rem;
  line-height: 1rem;
  color: white;
  opacity: 0.75;
}

.work .gridWrap .workSlider .slide h3 {
  font-size: .9rem;
  color: white;
  line-height: 1.25rem;
  opacity: 0.75;
  padding: 0 1rem;
}

.work .gridWrap .workSlider .slide .moreLink {
  cursor: pointer;
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  transition: all .8s;
  vertical-align: middle;
  font-style: oblique;
  opacity: 0.75;
}

.work .gridWrap .workSlider .slide .moreLink:hover {
  background: white;
  transition: all 1s;
  color: black;
  opacity: 1;
}

.work .gridWrap .workSlider .slideRadiate {
  background: url("../img/sunbeamTwoDetail-2.jpg");
  background-size: cover;
  background-position: center center;
}

.work .gridWrap .workSlider .slideASJ {
  background: url("../img/asjChina-4.jpg");
  background-size: cover;
  background-position: center center;
}

.work .gridWrap .workSlider .slideAcademy {
  background: url("../img/academy3.jpg");
  background-size: cover;
  background-position: center center;
}

.work .gridWrap .workSlider .slideBCBike {
  background: url("../img/bcbikerace.jpg");
  background-size: cover;
  background-position: center center;
}

.work .gridWrap .workSlider .slideDeepWinter {
  background: url("../img/deepwinter.jpg");
  background-size: cover;
  background-position: left center;
}

.webVR {
  height: auto;
  background: url("../img/bgWebVR.jpg");
  background-size: cover;
  background-position: 50% center;
}

.webVR .gridWrap .contentWrap {
  width: 100%;
  max-width: 450px;
  margin: 10rem 0;
}

.webVR .gridWrap .contentWrap p {
  width: 100%;
  color: #666;
}

.webVR .gridWrap .contentWrap a {
  display: inline-block;
  border: 1px solid #666;
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: .85rem;
}

.3D {
  height: 100%;
  max-height: 650px;
  background: url("../img/bg3D.jpg");
  background-size: cover;
}

.editorial {
  height: 100%;
  max-height: 650px;
  background: url("../img/bgEditorial.jpg");
  background-size: cover;
}

.editorial .gridWrap p {
  color: #666;
}

.photography {
  padding: 0;
  height: 90%;
  max-height: 750px;
  width: 100%;
  background: #9c9c9c;
}

.photography .photoWrap {
  width: 100%;
  height: 100%;
}

.photography .photoWrap .photoItem {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 800px) {
  .photography .photoWrap .photoItem {
    background-size: cover;
  }
}

.photography .photoWrap .photoItem .gridWrap .contentWrap {
  width: 100%;
  max-width: 325px;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 1rem 2rem;
}

.photography .photoWrap .photoItem .gridWrap .contentWrap h1 {
  margin-top: 1rem;
  color: white;
}

.photography .photoWrap .photoItem .gridWrap .contentWrap h5 {
  color: white;
  font-style: italic;
  line-height: 1.25rem;
  margin-top: 1rem;
}

.photography .photoWrap .photoItem .gridWrap .contentWrap p {
  color: white;
  width: 100%;
}

.photography .photoWrap .photoItem1 {
  background-image: url("../img/photo1.jpg");
}

.photography .photoWrap .photoItem2 {
  background-image: url("../img/photo2.jpg");
}

.photography .photoWrap .photoItem3 {
  background-image: url("../img/photo3.jpg");
}

.photography .photoWrap .photoItem4 {
  background-image: url("../img/photo4.jpg");
}

.photography .photoWrap .photoItem5 {
  background-image: url("../img/photo5.jpg");
}

.photography .photoWrap .photoItem6 {
  background-image: url("../img/photo6.jpg");
}

.photography .photoWrap .photoItem7 {
  background-image: url("../img/photo7.jpg");
}

.skills {
  padding: 12rem 0;
}

.skills h1 {
  margin-top: 0;
  text-align: center;
  color: #171717;
}

.skills h3 {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

.skills ul {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 4rem;
}

.skills ul li {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  vertical-align: top;
  margin-bottom: 4rem;
}

@media screen and (min-width: 800px) {
  .skills ul li {
    width: 28%;
  }
}

.skills ul li h1 {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #171717;
}

.skills ul li p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.contact {
  background: url("../img/introBG.jpg");
  background-size: cover;
}

.contact h1 {
  opacity: 0.75;
}

.contact p {
  font-style: italic;
  opacity: 0.75;
}

.contact p a {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.modalFilter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  filter: grayscale(95);
  display: none;
  z-index: 10;
}

.modalContent {
  display: none;
  position: fixed;
  top: 12.5%;
  left: 10%;
  bottom: 12.5%;
  right: 10%;
  background: #333;
  margin: 0 auto;
  z-index: 20;
  overflow: hidden;
}

.modalContent .imageWrap {
  width: 100%;
  height: 40%;
  display: block;
  background: #171717;
}

@media screen and (min-width: 930px) {
  .modalContent .imageWrap {
    width: 50%;
    height: 100%;
    display: inline-block;
  }
}

.modalContent .contentWrap {
  width: 100%;
  display: block;
  padding: 1.5rem;
  vertical-align: text-bottom;
}

@media screen and (min-width: 930px) {
  .modalContent .contentWrap {
    width: 45%;
    display: inline-block;
    padding: 3rem;
  }
}

.modalContent .contentWrap h1 {
  color: #ccc;
}

.modalContent .contentWrap h3 {
  color: #ccc;
}

.modalContent .contentWrap p {
  color: #aaa;
}

.modalContent .closeLink {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  transition: all .8s;
  font-style: oblique;
  background: white;
  color: black;
}

.modalContent .closeLink:hover {
  color: white;
  background: none;
  transition: all 1s;
}

.modalRadiate .imageWrap {
  background: url("../img/sunbeamTwoDetail-2.jpg");
  background-size: cover;
  background-position: center center;
}

.modalASJ .imageWrap {
  background: url("../img/asjChina-4.jpg");
  background-size: cover;
  background-position: center center;
}

.modalAcademy .imageWrap {
  background: url("../img/academy3.jpg");
  background-size: cover;
  background-position: center center;
}

.modalBCBike .imageWrap {
  background: url("../img/bcbikerace.jpg");
  background-size: cover;
  background-position: center center;
}

.modalDeepWinter .imageWrap {
  background: url("../img/deepwinter.jpg");
  background-size: cover;
  background-position: left center;
}
