
// Variables

// $highlight: slategray;
$highlight: #656565;
$bodyCopy: 14px;
$linkColor: teal;


// Global Styles

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white;
  z-index: 1;
  background: #121212;
  font-family:'Avenir LT W01_55 Roman1475520', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: $linkColor;
}

div {
  box-sizing: border-box;
}

section {
  position: relative;
  display: block;
  overflow: hidden;
  border-top: 1px solid #333;
  padding-bottom: 30px;
  padding-top: 120px;
}

.grid {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

// Global Type Styles

h1 {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  color: #666;
}

.sectionHeadline {
  position: absolute;
  top: -132px;
  left: 0;
  width: 150px;
  padding: 4px 12px;
  background: #333;
  color: white !important;
}

.contestantLinkSpace {
  top: -157px !important;
}

// Nav

a.anchorPadContestant {
  display: block;
  position: relative;
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}


a.anchorPadWinners {
  display: block;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

a.anchorPadParty {
  display: block;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

a.anchorPadJudges {
  display: block;
  position: relative;
  margin-top: -30px !important;
  margin-bottom: 30px !important;
}

a.anchorPadContest {
  display: block;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

.navMobile {
    display: none;

  @media screen and (max-width: 570px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1000;
    background: #ddd;
    padding-left: 45px;
    padding-top: 8px;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  a {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    color: #222;
    text-transform: uppercase;
    font-size: 12px;

  }

  .crestSmall {
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    position: absolute;
    display: inline-block;
    left: 5px;
    top: 2px;
    background: url('../img/deepWinterCrest.png') no-repeat;
    background-size: cover;

  }
}

.nav {
  position: absolute;
  height: 40px;
  width: 100%;
  top: 90%;
  margin-top: -30px;
  text-align: center;
  background: #eee;
  opacity: .9;
  z-index: 3000;
  transition: height .5s;
  overflow: hidden;

  @media screen and (max-width: 900px) {
    // text-align: left;
  }

  @media screen and (max-width: 570px) {
    display: none;
  }

  @media screen and (max-height: 705px) {
    top: 29px !important;
    position: fixed;
    z-index: 10000;
  }

  .eventTitle {
    font-size: 13px;
    font-weight: 900;
    color: black;
    position: absolute;
    // display: block;
    width: 200px;
    left: 15px;
    top: 6px;
    letter-spacing: -1px;
    text-align: left;
    text-transform: uppercase;
    display: none;
  }

  div {
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;

    a {
      list-style: none;
      display: inline-block;
      padding: 5px 15px 3px;
      color: #333;
      text-transform: uppercase;
      font-size: 14px;
      cursor: pointer;
      transition: all 1.5s;
      font-weight: 400;
      letter-spacing: -1px;
    }

    a:hover {
      background-color: #ddd;
      color: black;
      transition: all 1s;
    }
  }
}

.navDisplay {
  transition: height .5s;
  position: fixed;
  top: 0 !important;
  margin-top: 0 !important;

  @media screen and (max-height: 705px) {
    top: 0px !important;
  }
}

// Crest Wrap - Now lives within each slide

.watermarkBehind {
  position: absolute;
  background: url("../img/deepwintercrestallwhite.png") no-repeat;
  background-size: 500px;
  background-position: -5% 125%;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  opacity: 0.2;
  padding: 0;
  right: 0;
  overflow: hidden;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    background-size: 300px;
    background-position: -2% 66%;
  }

  @media screen and (max-width: 570px) and (orientation: landscape) {
    background-size: 200px;
    background-position: -2% 36%;
  }

  @media screen and (max-width: 400px) and (orientation: portrait) {
    display: none !important;
  }
}

.photoCred {
  position: absolute;
  z-index: 20000;
  right: 2%;
  top: 95%;
  font-size: 10px;
  text-transform: uppercase;
  opacity: .75;

  .bolder {
    margin-left: 6px;
    font-family:'Avenir LT W01_85 Heavy1475544', Arial, sans-serif;
  }
}

.tagline {
  font-size: 20px;
  line-height: 24px;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 12%;
  text-transform: uppercase;
  display: none;
}

.crestSmall {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 45%;
  right: 45%;
  background: url('../img/deepwintercrestallwhite.png') no-repeat;
  background-size: 20px;
  display: none;
}

// Section Styles Start

.featureWrap {
  position: absolute;
  display: block;
  width: 100%;
  height: 90%;
  min-height: 675px;
  top: 0;
  left: 0;
  border-top: none !important;
  padding-top: 0 !important;

  @media screen and (max-width: 600px) {
    height: 50%;
  }
}

.featureSlide {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .slideContent {
    width: 450px;
    height: 0px;
    position: absolute;
    right: 0%;
    top: 40%;
    display: inline-block;
    opacity: 0.85;

    @media screen and (max-height: 475px) {
      top: 25%;
    }

    @media screen and (max-width: 600px) {
      width: 70%;
      position: relative;
      display: inline-block;
      margin-left: 10%;
      float: right;
    }

    @media screen and (max-width: 400px) and (orientation: portrait) {
      width: 90%;
    }

    .headline {
      background: black;
      padding: 10px;
      text-align: left;
      margin: 0;
      position: relative;
      margin-top: 5px;

      .crestSmall {
        margin: 0;
        padding: 0;
        width: 120px;
        height: 120px;
        position: absolute;
        right: 10px;
        top: 5px;
        background: url('../img/deepwintercrestallwhite.png') no-repeat;
        background-size: 100px;
        opacity: .4;
        display: none;
      }

      h1 {
        color: white;
        font-weight: 900;
        font-size: 36px;
        font-family:'Avenir LT W01_85 Heavy1475544', Arial, sans-serif;
        text-align: left;
        margin: 0;
        padding: 0;
        line-height: 1em;
      }

      h3 {
        color: white;
        font-weight: 900;
        font-size: 30px;
        font-family:'Avenir LT W01_85 Heavy1475544', Arial, sans-serif;
        text-align: left;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        line-height: .8em;

        @media screen and (max-width: 360px) and (orientation: portrait) {
          font-size: 24px;
        }

        sup {
          box-sizing: border-box;
          font-size: 10px;
          padding-top: 3px;
        }
      }

      h5 {
        font-weight: 600;
        font-size: 16px;
        line-height: 14px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        vertical-align: top;
      }
    }

    .subheadline {
      background: black;
      padding: 8px 10px 8px;
      text-align: left;
      margin: 0;
      margin-top: 5px;

      h3 {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 14px;
        line-height: 14px;
        font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;

        sup {
          font-size: 8px;
          margin-top: 3px;
        }
      }

      .ticketMessaging {
        font-weight: 900;
        font-family:'Avenir LT W01_85 Heavy1475544', Arial, sans-serif;
      }
    }

    a {
      float: left;
      display: inline-block;
      position: relative;
      color: black;
      background: white;
      padding: 5px 10px 3px 10px;
      margin-top: 7px;
      width: auto;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 900;
      transition: all 1s;
      border: 1px solid white;
      text-align: left;
    }

    a:hover {
      color: white;
      background: #222;
      transition: all .5s;
    }
  }
}

.slide5 {
  background: url('../img/featureHeroBlake_sm.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  // Add some fade or hover animation here
  opacity: 1;

  @media screen and (min-width: 960px) {
    background: url('../img/featureHeroBlake.jpg') no-repeat;
    background-size: cover;
  }

}

.sponsors {
  border-top: none !important;
  padding-top: 30px !important;
  h1 {
    padding-left: 40px;
    font-weight: 100;
    font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;

    @media screen and (max-width: 600px) {
      padding-left: 0;
    }
  }

  ul {
    text-align: center;

   li {

     list-style: none;
     display: inline-block;
     padding-right: 30px;
   }
  }

  .sponsor {
    width: 11%;
    min-width: 100px;
  }
    a {
      border: none;
      outline: none;

      img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: none;
        outline: none;
        text-decoration: none;
      }
    }

  .mainSponsor {
    width: 13%;
    min-width: 100px;
    margin-bottom: 40px;
    padding-right: 45px !important;

    @media screen and (max-width: 600px) {
      margin-bottom: 10px;
    }

    a {
      img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        vertical-align: top;
      }
    }
  }

  .whistler {
    width: 15%;
    a {
      img {
        padding-top: 30px;
      }
    }
  }

  .gore {
    width: 10%;
    a {
      img {
        padding-top: 15px;
      }
    }
  }
}

.sectionHeadline {
  font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;
}

.news {
  margin-top: 120px;
  position: relative;

  h1 {
    text-align: center;
    margin-bottom: 60px;
  }

  .newsWrap {
    position: relative;
    display: inline-block;
    width: 100%;

    @media screen and (max-width: 959px) {
      padding-left: 15px;
    }

    @media screen and (max-width: 650px) {
      padding-left: 30px;
    }

    .newsItem {
      position: relative;
      width: 30%;
      min-width: 275px;
      display: inline-block;
      margin-bottom: 60px;
      vertical-align: top;
      box-sizing: border-box;
      padding: 0 10px;
      transition: all .3s ease-in;

      @media screen and (max-width: 960px) {
        width: 30%;
        min-width: 200px;
        margin-bottom: 30px;
      }

      @media screen and (max-width: 767px) {
        width: 45%;
      }

      @media screen and (max-width: 650px) {
        width: 90%;
        margin-bottom: 30px;
        margin-left: 0;
        padding-left: 0;
      }

      h1 {
        font-weight: 900;
        text-align: left;
        color: white;
        margin: 0;
        padding: 0;
      }

      h3 {
        font-weight: 100;
        margin: 0;
        padding: 0;
        font-size: 12px;
        text-transform: uppercase;
      }

      p {
        font-weight: 300;
        font-size: $bodyCopy;
        line-height: 1.7em;
        margin: 0;
        color: #ccc ;
      }

      a {
        color: $linkColor;
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        position: relative;
        margin-top: 15px;
      }

      .newsLink {
        cursor: pointer;
        color: $linkColor;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 15px;
        display: block;
      }
    }

    .newsItem:nth-of-type(2) {
      margin: 0 30px;

      @media screen and (max-width: 650px) {
        margin-bottom: 30px;
        margin-left: 0 !important;
      }
    }
  }
}

.newsFull {
  position: fixed !important;
  top: 40px !important;
  bottom: 0% !important;
  left: 0% !important;
  right: 0% !important;
  background: #222222 !important;
  min-width: 100%;
  width: 100% !important;
  height: 100%;
  display: block !important;
  z-index: 10000;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 2s ease-in;
  margin: 0 !important;
  padding: 0 !important;
}

.newsItemFull {
  display: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all 5s;

  .newsArticleFull {
    position: relative;
    display: block;
    // background: #222;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    overflow: hidden;

    .articleWrap {
      width: 40%;
      height: auto;
      padding: 30px;
      background: #212121;
      overflow: visible;
    }

    img {
      width: 100%;
      display: inline-block;
      position: relative;
      margin-bottom: 30px;
    }

    p {
      padding: 10px 30px 0 0;
    }
  }
}

.newsLinkClose {
  position: absolute;
  top: 1%;
  right: 2%;
  padding: 10px;
  cursor: pointer;
  display: none;
}

.displayLink {
  display: block;
}

.displayLinkHide {
  display: none !important;
  transition: all 1s ease 1s;
}

.displayFull {
  display: block !important;
  transition: all 2s;
}

.showReadMore {
  display: block !important;
}

.contestants {
  margin-top: 90px;

  .contestantWrap {
    width: 100%;
    vertical-align: top;
    text-align: left;

    @media screen and (max-width: 959px) {
      text-align: center;
    }

    .sideMargins {
      margin: 0 20px;
    }

    .sideMarginsResp {
      margin: 0;

      @media screen and (max-width: 959px) {
        margin: 0 20px 0 0px;
      }

     @media screen and (max-width: 600px) {
       margin: 0;
     }
    }

    .sideMarginPush {
        margin: 0 20px;
      @media screen and (max-width: 959px) {
        margin: 0 20px 0 -20px !important;
      }

      @media screen and (max-width: 570px) and (orientation: landscape) {
        margin: 0 20px 20px 20px !important;
      }

      @media screen and (max-width: 360px) and (orientation: portrait) {
        margin: 0px 0 20px 20px !important;
      }
    }

    .sideMarginPhone {

      @media screen and (max-width: 360px) and (orientation: portrait) {
        margin: 20px 0 0 0 !important;
      }
    }

    .sideMarginPhoneSingle {

      @media screen and (max-width: 600px) {
        margin: 0 0 30px 0px !important;
      }
    }

    .heroAshley {
      background: url('../img/ashleyBioHero_sm.jpg');
      background-size: cover;
      background-position: center center;
    }

    .heroZoya {
      background: url('../img/zoyaBioHero_sm.jpg');
      background-size: cover;
      background-position: center center;
    }

    .heroGuy {
      background: url('../img/heroGuy_sm.jpg');
      background-size: cover;
      background-position: center center;
    }

    .heroDalby {
      background: url('../img/bioDalbyHero.jpg');
      background-size: cover;
      background-position: center center;
    }

    .heroChad {
      background: url('../img/chadAction.jpg');
      background-size: cover;
      background-position: center center;
    }

    .contestantIntro {
      text-align: left;
      display: block;
      margin-bottom: 60px;
      padding: 0 23%;

      @media screen and (max-width: 800px) {
        padding: 0 10%;
      }

      @media screen and (max-width: 550px) {
        padding: 0 10%;
      }

      h1 {
        font-weight: 900;
        font-family:'Avenir LT W01_85 Heavy1475544', Arial, sans-serif;
        font-size: 16px;
      }

      h3 {
        text-transform: uppercase;
        line-height: .9em;
        font-size: 24px;
        font-family:'Avenir LT W01_85 Heavy1475544', Arial, sans-serif;
      }

      p {
        font-weight: 100;
        font-size: 14px;
        font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;
        // padding-right: 25%;

        @media screen and (max-width: 580px) and (orientation: landscape) {
          font-size: .6em !important;
        }

        @media screen and (max-width: 360px) and (orientation: portrait) {
          font-size: .8em;
        }
      }
    }

    .contestantItem:hover {
      margin-top: -5px;
      transition: all .2s;
    }

    .contestantItem {
      position: relative;
      display: inline-block;
      width: 300px;
      height: 550px;
      // background: #212121;
      background: linear-gradient(#151515, #272727);
      box-sizing: border-box;
      text-align: center;
      margin-bottom: 30px;
      overflow: hidden;
      vertical-align: top;

      @media screen and (max-width: 650px) {
        width: 275px;
      }

      @media screen and (max-width: 600px) {
        width: 80%;
      }

      @media screen and (max-width: 500px) and (orientation: portrait) {
        height: auto;
        padding-bottom: 30px;
        min-height: 550px;
      }

      @media screen and (max-height: 400px) and (orientation: landscape) {
        height: auto;
        padding-bottom: 30px;
        min-height: 550px;
      }

      .contestantHero {
        position: relative;
        display: block;
        width: 100%;
        height: 275px;
        margin: 0;
        padding: 0;
      }

      .headshot {
        width: 100px;
        height: 100px;
        position: relative;
        display: block;
        background: #333;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -50px;
        margin-left: 30px;
        overflow: hidden;

        @media screen and (max-width: 360px) and (orientation: portrait) {
          width: 80px;
          height: 80px;
          margin-top: -40px;
          margin-left: 20px;
        }

        img {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
          width: 143px;
          margin-top: -25px;
          margin-left: -5px;

          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          transition: all .5s;
        }

        img:hover {
          filter: grayscale(40%);
          -webkit-filter: grayscale(40%);
          -moz-filter: grayscale(40%);
          transition: all 1s;
        }

        .headshotAshley {
          width: 125px;
          margin-top: -30px;
          margin-left: -20px;
        }

        .headshotGuy {
          width: 140px;
          margin-top: -28px;
          margin-left: -7px;
        }

        .headshotDalby {
          width: 147px;
          margin-top: -31px;
          margin-left: 5px;
        }

        .headshotChad {

          width: 147px;
          margin-top: -4px !important;
          margin-left: -22px !important;
        }
      }

      h1 {
        font-weight: 900;
        color: white;
        margin-top: -15px;
        text-align: right;
        padding-right: 30px;
        font-family:'Avenir LT W01_85 Heavy1475544', Arial, sans-serif;
      }

      h3 {
        font-weight: 100;
        margin: 15px 0;
        padding: 0 30px;
        font-size: $bodyCopy;
        font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;
      }

      .bioExcerpt {
        display: inline-block;

        @media screen and (max-width: 500px) and (orientation: portrait) {
          display: none;
        }

        @media screen and (max-height: 400px) and (orientation: landscape) {
          display: none;
        }
      }

      .bioFull {
        display: none;

        @media screen and (max-width: 500px) and (orientation: portrait) {
          display: inline-block;
        }

        @media screen and (max-height: 400px) and (orientation: landscape) {
          display: inline-block;
        }

        p {
          position: relative;
          display: block;
          font-weight: 300;
          font-size: 14px;
          line-height: 1.5em;
          margin: 0;
          color: #ccc;
          padding: 0 30px;
          text-align: left;
        }
      }

       .comingSoon {
         text-align: center;
         margin-top: 250px;
         font-weight: 900;
         text-transform: uppercase;
      }

      .bioLinkAshley, .bioLinkZoya, .bioLinkGuy, .bioLinkDalby, .bioLinkChad {
        text-transform: uppercase;
        border: 1px solid #ccc;
        font-size: 12px;
        padding: 3px 10px;
        margin-bottom: 10px;
        cursor: pointer;
        position: absolute;
        bottom: 15px;
        left: 35%;
        right: 35%;

        @media screen and (max-width: 500px) and (orientation: portrait) {
          display: none;
        }

        @media screen and (max-height: 400px) and (orientation: landscape) {
          display: none;
        }
      }

      .lighter {
        font-weight: 100;
        font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;

        a {
          color: white;
          padding: 0 0px;
          font-size: 15px;
          transition: all .5s;
        }

        a:hover {
          color: $linkColor;
          transition: all 1s;
        }
      }

      p {
        position: relative;
        display: block;
        font-weight: 300;
        font-size: $bodyCopy;
        line-height: 1.7em;
        margin: 0;
        color: #ccc;
        padding: 0 30px;
      }

      a {
        position: relative;
        font-size: 13px;
        line-height: 10px;
        display: inline-block;
        padding: 0 7px;
      }
    }
  }
}

.hideShow {
  left: 0% !important;
  transition: all .5s;
}

// Photographer Bio Modal Containers

.contestantBioAshley, .contestantBioZoya, .contestantBioGuy, .contestantBioDalby, .contestantBioChad {
  position: fixed;
  top: 40px;
  bottom: 0;
  left: -120%;
  width: 100%;
  background: #333;
  z-index: 10000;
  transition: all 2s;
  box-sizing: border-box;

  .bioWrap {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 30%;
    min-width: 300px;
    background: black;
    height: 100%;
    padding: 30px;
    margin: 0;
    vertical-align: top;

    @media screen and (max-width: 780px) {
      width: 100% !important;
      min-width: 100% !important;
      height: auto !important;
    }

    .biofullAshley {
      background: url('../img/headshotAshley.jpg');
      background-size: cover;
      background-position: center center;
    }

    .biofullZoya {
      background: url('../img/headshotZoya.jpg');
      background-size: cover;
      background-position: center center;
    }

    .biofullGuy {
      background: url('../img/headshotGuy.jpg');
      background-size: cover;
      background-position: left top;
    }

    .biofullDalby {
      background: url('../img/headshotDalby.jpg');
      background-size: cover;
      background-position: left top;
    }

    .biofullChad {
      background: url('../img/chadBio.jpg');
      background-size: cover;
      background-position: -65px top;
    }


    .headshotFull {
      width: 100%;
      height: 250px;

      @media screen and (max-width: 780px) {
        width: 30%;
        float: left;
        margin: 30px;
      }
    }

    h1 {
      font-size: 18px;
      line-height: 18px;
      font-weight: 900;
      text-align: center;
      color: white;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-top: 25px;

      @media screen and (max-width: 780px) {
        text-align: left;
      }
    }

    h3 {
      text-align: center;
      font-weight: 100;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      margin-top: 0;
      padding-top: 0;

      @media screen and (max-width: 780px) {
        text-align: left;
      }
    }

    p {
      text-align: left;
      font-size: 14px;
      line-height: 20px;
    }

    .socialLinks {
      text-align: center;
      margin-top: 30px;

      a {
        height: 35px;
        width: 35px;
        text-decoration: none;
        color: teal;
        position: relative;
        display: inline-block;

        .socialInsta {
          fill: white;
        }
      }
    }
  }

  .wider {
    width: 30%;
    overflow-y: scroll;
    height: 100%;
  }

  .galleryWrap {
    position: relative;
    display: inline-block;
    width: 69.9%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: -5px;
  }

  .closeLinkAshley, .closeLinkZoya, .closeLinkGuy, .closeLinkDalby, .closeLinkChad {
    position: absolute;
    display: inline-block;
    top: 3%;
    right: 3%;
    font-size: 24px;
    font-weight: 100;
    color: black;
    background: #222 !important;
    padding: 5px 15px 4px;
    cursor: pointer;
    transition: all .5s;
    z-index: 10000;
    opacity: .75;

    @media screen and (max-width: 780px) {
      background: #444;
      opacity: 1;
    }
  }

  .closeLinkAshley:hover, .closeLinkZoya:hover, .closeLinkGuy:hover, .closeLinkDalby:hover {
    background: #444;
    color: white;
    transition: all .5s;
  }
}

.galleryAshley {
  background: url('../img/ashleyBioHero.jpg') no-repeat;
  background-size: cover;
  background-position: 300px;

  @media screen and (max-width: 780px) {
    background-position: center !important;
  }
}

.galleryZoya {
  background: url('../img/zoyaBioHero.jpg') no-repeat;
  background-size: cover;
  background-position: 0px;

  @media screen and (max-width: 780px) {
    background-size: 120%;
    background-position: -100px 350px !important;
  }
}

.galleryGuy {
  background: url('../img/heroGuy.jpg') no-repeat;
  background-size: cover;
  background-position: 300px;

  @media screen and (max-width: 780px) {
    background-position: 0px 300px;
  }
}

.galleryDalby {
  background: url('../img/bioDalbyHero.jpg') no-repeat;
  background-size: 80%;
  background-position: 300px;

  @media screen and (max-width: 780px) {
    background-size: 117%;
    background-position: 0 340px;
  }
}

.galleryChad {
  background: url('../img/chadAction.jpg') no-repeat;
  background-size: 100%;
  background-position: 175px;

  @media screen and (max-width: 780px) {
    background-size: 117%;
    background-position: 0 340px;
  }
}

.winners {
  margin-top: 120px;
  border-bottom: none !important;

  .winnersWrap {
    width: 100%;
    text-align: center;
  }

  .winnersItem {
    position:relative;
    display: inline-block;
    width: 190px;
    background: #222;
    text-align: center;
    padding: 15px;
    margin: 0 1%;
    margin-bottom: 2%;

    .winnersImg {
      position: relative;
      width: 100px;
      height: 100px;
      background: teal;
      border-radius: 50px;
      margin: 0 auto;
    }

    h1 {
      margin-top: 25px;
      color: white;
      font-weight: 900;
      font-size: 13px;
    }

    h3 {
      font-weight: 100;
      font-size: 13px;
    }
  }

  .marginFlex {
    margin: 0 2%;
  }
}

.afterparty {
  margin-top: 120px;
  width: 100%;
  height: 400px;
  background: #333;
  background: url('../img/1920x1080GLCeventEdit.jpg') no-repeat;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  overflow: hidden;

  @media screen and (max-width: 959px) {
    min-height: 500px;
    padding-top: 200px;
  }

  @media screen and (max-width: 650px) {
    height: 400px;
  }

  @media screen and (max-width: 500px) {
    height: auto;
    min-height: 200px;
    background-size: 120%;
  }

  .partyWrap {
    width: 40%;
    min-width: 400px;
    position: absolute;
    right: 0%;

    @media screen and (max-width: 500px) {
      width: 100%;
      min-width: 70%;
      background: black;
      padding-top: 30px;
      padding-bottom: 60px;
      position: relative;
      padding-left: 20px;
    }

    .headline {
      background: black;
      padding: 20px 0 20px 15px;
      text-align: left;
      margin: 5px 0px;

      h1 {
        color: white;
        font-weight: 900;
        font-size: 24px;
        text-align: left;
        margin: 0 0 -10px 0;
        padding: 0;
        line-height: 1.2em;
        font-family:'Avenir LT W01_85 Heavy1475544', Arial, sans-serif;
      }

      h3 {
        color: white;
        font-weight: 100;
        font-size: 18px;
        text-align: left;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        line-height: .8em;
        font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;

        sup {
          box-sizing: border-box;
          font-size: 10px;
          padding-top: 3px;
        }
      }
    }

    .subheadline {
      background: black;
      padding: 10px 0 10px 15px;
      text-align: left;
      margin: 0;
      margin-top: 10px;

      h5 {
        font-style: italic;
        font-weight: 100;
        font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;
        font-size: 12px;
        color: #aaa;
        margin: 0;
        padding: 0;
        line-height: 12px;
        margin-top: 10px;
        max-width: 350px;

        a {
          // color: $linkColor;
          color: deeppink;
          background: none;
          font-weight: 100;
          font-size: 13px;
          border: none;
          text-transform: none;
          font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;
          float: none;
          display: inline-block;
          margin-top: 0;
          margin-left: -10px;
        }
      }

      .extraBottom {
        margin-bottom: 4px;
        margin-top: -5px;
      }

      h3 {
        margin: 5px 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        line-height: 12px;

        @media screen and (max-width: 500px) {
          font-size: 14px;
        }

        sup {
          font-size: 8px;
          margin-top: 3px;
        }
      }

      p {
        font-size: 14px;
        font-weight: 100;
        font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;
        line-height: 20px;
        max-width: 350px;
        margin-top: 10px;
      }
    }

    a {
      float: left;
      display: inline-block;
      position: relative;
      color: black;
      background: white;
      padding: 5px 10px 3px 10px;
      margin-top: 10px;
      width: auto;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 900;
      font-family:'Avenir LT W01_85 Heavy1475544', Arial, sans-serif;
      transition: all 1s;
      border: 1px solid white;
      text-align: left;

      @media screen and (max-width: 500px) {
       margin-left: 15px;
      }
    }

    a:hover {
      color: white;
      background: #222;
      transition: all .5s;
    }
  }
}

.judges {

  .sectionHeadline {
    top: -133px;
  }

  .marginSides {
    margin: 0 30px;

    @media screen and (max-width: 500px) {
      margin: 0 auto;
    }
  }

  .judgeWrap {
    text-align: center;

    .judgeItem {
      position: relative;
      display: inline-block;
      width: 30%;
      background: #222;
      text-align: center;
      box-sizing: border-box;
      padding: 30px;

      @media screen and (max-width: 768px) {
        width: 40%;
        margin-bottom: 30px;
      }

      @media screen and (max-width: 500px) {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
      }

      .judgeBio {
        display: block;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background: teal;
        margin: 0 auto;
      }

      h1 {
        margin-top: 15px;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
      }

      h3 {
        color: white;
        font-size: 13px;
        font-weight: 100;
      }
    }
  }
}

.navArticle {
  width: 100%;
  height: 40px;
  background: #eee;
  opacity: .9;
  position: fixed;
  display: block;
  z-index: 1000;

  .logoCrest {
    background:url('../img/deepWinterCrest.png');
    background-size: 100%;
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
  }

  .logoWrap {
    display: inline-block;
    height: 100%;
    color: #171717;
    font-family:'Avenir LT W01_85 Heavy1475544';
    text-transform: uppercase;
    padding-top: 10px;
    margin-right: 30px;
    margin-left: 10px;
    float: left;

    @media screen and (max-width: 600px) {
      display: none;
    }

  }

  a {
    color: #171717 !important;
    text-transform: uppercase;
    font-family:'Avenir LT W01_85 Heavy1475544';
    font-size: 12px;
    float: right;
    display: inline-block;
    margin-top: 8px;
    padding: 3px 6px;
    border: 1px solid #171717;
    margin-right: 30px;
    text-decoration: none;
  }

}

.postWrap {
  padding-top: 39px !important;

  .postHead {
    text-align: left !important;
    height: 75%;
    min-height: 600px;
    display: block;
    position: relative;

    .blackBox {
      display: inline-block;
      box-sizing: border-box;
      padding: 10px 20px;
      width: auto;
      max-width: 350px;
      opacity: .85;
      position: absolute;
      background: #171717;

      h1 {
        text-align: left !important;
        color: white;
        margin: 0;
        padding: 0;
        font-size: 1.5em;
      }
      h3 {
        text-align: left !important;
        color: white;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-size: 1em;
      }

      h5 {
        text-align: left !important;
        color: white;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-size: .8em;
        font-weight: 100;
        color: #aaa;

      }

    }
  }

  // Article Feature Area Backgrounds

  .testPost {
    background:url('../img/blakeHero.jpg');
    background-size: cover;

    .blackBox {
      right: 10%;
      bottom: 10%;
    }
  }

  .postBody {
    margin-top: 30px;
    overflow: hidden;

    h5 {
      margin: 0 auto;
      margin-bottom: 60px;
      width: 80%;
      font-weight: 100;
      font-family:'Avenir LT W01_35 Light1475496';
      text-transform: uppercase;

      .bolder {
        font-weight: 900;
        font-family:'Avenir LT W01_85 Heavy1475544';
      }
    }

    p {
      line-height: 1.6em;
      font-size: 1em;
      font-weight: 100;
      font-family:'Avenir LT W01_35 Light1475496';
      margin: 0 auto;
      width: 80%;
      margin-bottom: 30px;

      @media screen and (max-width: 600px) {
        width: 90%;
      }
    }

    img {
      width: 100%;
      margin-bottom: 30px;
    }

    .inlineImg {
      float: right;
      width: 60%;
      padding-left: 30px;
    }
  }

  .postFooter {
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;

    a {
      background: white;
      color: #171717;
      text-transform: uppercase;
      padding: 5px 10px;
      font-size: .8em;
    }
  }
}

#overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 25px;
  border: 5px solid #666;
  background-color: #ffffff;
  height: 100%;
  overflow: scroll;
  z-index: 9000;
  color: #333;
}

#overlay p {
  color: #666;
  max-width: 75%;
  margin: 0 auto;
}

#overlay h1 {
  font-weight: 900;
  font-size: 18px;
}

#overlay h3 {
  max-width: 75%;
}

#overlay h5 {
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}

#fade {
  display: none;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

#closeLink {
  position: fixed;
  background: #000;
  right: 5%;
  top: 5%;
  z-index: 200;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 11px;
  background: #eee;
}

#closeLink a {
  color: #fc561d !important;
  text-decoration: none;

}

.contest {
  margin-top: 120px;
  text-align: left;
  padding-top: 60px !important;

  .sectionHeadline {
    top: -73px;
  }

  h4 {
    font-weight: 100;
    font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;

    @media screen and (max-width: 959px) {
      padding-left: 30px;
    }

    @media screen and (max-width: 650px) {
      padding-left: 40px;
      width: 40%;
    }
   }

  h5 {
    text-align: left;
    line-height: .9em;
    font-weight: 900;
    font-family:'Avenir LT W01_85 Heavy1475544', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 65%;
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;

    @media screen and (max-width: 959px) {
      padding-left: 30px;
    }

    @media screen and (max-width: 650px) {
      padding-left: 40px;
      width: 100%;
      padding-right: 15%;
    }
  }

  .contestIntro {
    text-align: center;

    h1 {
      text-transform: uppecase;
      color: white;
      font-weight: 900;
    }

    h3 {
      text-transform: uppercase;
      font-weight: 500;
      text-align: left;
    }

    p {
      font-size: 14px;
      text-align: left;
      line-height: 24px;
      font-weight: 100;
      font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;
    }

    .bolder {
      font-weight: 900;
    }

    ul {

      li {
        list-style: square;
        font-size: 13px;
        text-align: left;
        margin-left: -20px;
      }
    }

    .contestCol {
      width: 46%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin-bottom: 30px;

      @media screen and (max-width: 959px) {
        padding-left: 30px;
      }

      @media screen and (max-width: 650px) {
        width: 90%;

      }

      img {
        float: left;
        width: 100px;
        margin-top: 15px;
        margin-right: 30px;
        padding-bottom: 15px;
      }

      #pixlee_container {
        padding-right: 30px;

        @media screen and (max-width: 650px) {
          padding-left: -30px !important;
        }
      }

      #rulesLink {
        color: white;
        text-align: left;
        display: block;

        a {
          color: white;
          font-size: 14px;
          display: block;
          text-align: left;
          text-decoration: underline;
        }
      }

      a.rulesLink {
        color: white;
        text-align: left;
        display: block;
        font-size: 14px;
        text-decoration: underline;
      }

      .contestSocial {
        line-height: 10px;
        position: relative;
        text-align: left;

        a.socialLink {
          padding: 8px 12px 8px 12px;
          background: #555;
          display: inline-block;
          position: relative;
          color: white;
          text-transform: uppercase;
          font-size: 13px;
          text-align: left;
          font-weight: 900;
          border-radius: 2px;
          transition: all 1s;

          .socialIcon {
            position: relative;
            display: inline-block;
            width: 12px;
            height: 15px;
            margin-right: 8px;

            svg {
              width: 100%;
              height: 15px;

              .socialTwitter {
                fill: white;
                height: 15px;
              }

              .socialInsta {
                fill: white;
                height: 15px;
              }
            }
          }
        }

        a.socialLink:hover {
          background: teal;
          transition: all 1s;
        }
      }
    }

    .addPad {
      margin-right: 7%;
    }
  }

  .galleryWrap {
    padding-right: 15px;
    box-sizing: border-box;

    iframe {

      #widget {

        #widget_header #hashtag_holder li {
          color: white !important;
          font-size: 30px;
          display: inline-block;
          padding: 0 5px;
          font-family: Avenir, sans-serif;
          font-weight: 900;
        }
      }
    }
  }
}

.charity {
  margin-top: 120px;

  .charityWrap {
    height: 450px;
    vertical-align: top;

    @media screen and (max-width: 780px) {
      height: 600px;
    }

    @media screen and (max-width: 600px) {
     height: auto;
      padding-right: 30px;
    }

    .charityHeroWrap {
      position: relative;
      display: inline-block;
      width: 50%;
      height: 100%;
      vertical-align: top;
      margin: 0;
      background: url('../img/charityHeroBWFinal.jpg') no-repeat;
      background-size: cover;
      background-position: -40px 0;

      @media screen and (max-width: 780px) {
        margin: 0 0 0 30px;
        width: 47%;
      }

      @media screen and (max-width: 600px) {
        width: 90%;
        height: 300px;
        margin-left: 30px;
        background-size: cover;
      }

      @media screen and (max-width: 570px) and (orientation: landscape) {
        width: 100%;
      }
    }

    .charityCopyWrap {
      position: relative;
      display: inline-block;
      width: 45%;
      height: 100%;
      vertical-align: top;
      margin: 0;
      margin-left: 3%;

      @media screen and (max-width: 780px) {
        width: 40%;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
        padding-left: 30px;
        height: 400px;
        margin-left: 0;
      }

      @media screen and (max-width: 360px) and (orientation: portrait) {
        height: 700px;
      }

      h1 {
        color: white;
        font-size: 24px;
        line-height: .9em;
        font-weight: 900;
        font-family:'Avenir LT W01_85 Heavy1475544', Arial, sans-serif;
        text-align: left;
        margin-top: 0;
        padding-top: 0;
        vertical-align: top;

        @media screen and (max-width: 600px) {
          margin-top: 20px !important;
        }
      }

      p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 100;
        font-family:'Avenir LT W01_35 Light1475496', Arial, sans-serif;
        text-align: left;
        padding-right: 30px;
      }

      a {
        color: white;
        margin-top: -30px;
        border: none;
        outline: none;
      }

      img {
        width: 120px;
        border: none;
        outline: none;
      }
    }
  }
}

footer {
  width: 100%;
  background: #010101;
  vertical-align: top;
  padding: 10px 0;
  margin-top: 90px;
  height: 60px;

  .right {
    text-align: right;
    float: right;

    @media screen and (max-width: 780px) {
      float: left;
      text-align: left;
    }
  }

  .footerCol {
    display: inline-block;
    width: 80%;
    vertical-align: top;

    @media screen and (max-width: 780px) {
      width: 90%;
      height: 20px;
      float: left;
    }

    ul {
      vertical-align: top;

      li {
        vertical-align: top;
        list-style: none;
        font-size: 11px;
        color: #ccc;
        font-weight: 700;
        margin-bottom: 15px;
        line-height: 1.5em;
        text-transform: uppercase;

        .lighter {
          color: #aaa;
          font-weight: 300;
        }
      }
    }
  }
}