html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir, sans-serif;
  font-weight: 100;
  background: #ddd;
}

.header {
  width: 100%;
  heigth: 120px;
  background: teal;
}

.boardWrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
  vertical-align: top;
}

.pinWrap {
  vertical-align: top;
  width: 236px;
  display: inline-block;
  height: auto;
  min-height: 239px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #333;
  overflow: hidden;
  margin: 0 8px;
  background: white;
  margin-bottom: 15px;

  .pinImage {
    width: 100%;
    height: auto;
    box-sizing: border-box;

  }

  .pinSmall {
    height: 150px;
  }

  .pinMedium {
    height: 260px;
  }

  .pinLarge {
    height: 320px;
  }

  .pinDescription {
    font-size: 11px;
    color: #555;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
  }

}

.pin1 {
  background: url('../img/_MG_8503.jpg') no-repeat;
  background-size: 150%;
  background-position: 80% top;
}

.pin2 {
  background: url('../img/Chilcotin-12-Backpack-Blue-Smoke.jpg') no-repeat;
  background-size: 100%;
}

.pin3 {
  background: url('../img/Kapta-Short-W-Iron-Anvil.jpg') no-repeat;
  background-size: 80%;
  background-position: 55% 15%;
}

.pin4 {
  background: url('../img/Cita-Hoody-W-Pink-Tulip.jpg') no-repeat;
  background-size: 80%;

}

.pin5 {
  background: url('../img/Motus-Sleeveless-W-Lemon-Zest.jpg') no-repeat;
  background-size: 100%;
}

.pin6 {
  background: url('../img/Motus-Crew-SS-Borneo-Blue.jpg') no-repeat;
  background-size: 100%;
}

.pin7 {
  background: url('../img/Motus-Hat-Iron-Anvil.jpg') no-repeat;
  background-size: 100%;
}

.pin8 {
  background: url('../img/Parapet-Pant-W-Odhran.jpg') no-repeat;
  background-size: 100%;
}

.pin9 {
  background: url('../img/portrait2.jpg') no-repeat;
  background-size: 100%;
}

.pin10 {
  background: url('../img/_MG_8916.jpg') no-repeat;
  background-size: 120%;
}

.pin11 {
  background: url('../img/_MG_8524.jpg') no-repeat;
  background-size: 120%;
}

.pin12 {
  background: url('../img/_MG_8866.jpg') no-repeat;
  background-size: 120%;
}



