// Variables Go Here

$bgColor: #fff;
$textColor: #232323;


// General Body Styles
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bgColor;
  color: $textColor;
}

div {
  box-sizing: border-box;
}

.contentWrap {
  position: relative;
  width: 930px;
  margin: 0 auto;

  @media screen and (max-width: 930px) {
    width: 100%;
  }
}

.navWrap {
  width: 100%;
  height: 80px;
  position: fixed;
  display: block;

  .navLogo {
    width: 160px;
    height: 90px;
    position: relative;
    display: inline-block;
    background: url('../img/arcLogo.jpg');
  }

  .navMain {
    ul {
      list-style: none;

      li {
        list-style: none;
      }
    }
  }
}

.container {
  width: 100%;
  height: 100%;
}

.content {
  margin-top: 1.5em;
}

.featureImageWrap {

}



// Specific Article Type Styling

.formatStandard {

  header {

    h1 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.5em;
    }

    p {
      font-size: 1em;
    }

  }

  .articleBody {

    p {

    }

    .pullQuote {

    }

    img {
      margin: 1em 0;
      position: relative;
      display: block;
    }

    // Full Bleed Images
    .imgSizeFull {
      width: 100%;
      height: auto;
    }

    // 930px Full Grid Images
    .imgSizeInlineFull {
      width: 930px;
      margin: 0 auto;

      @media screen and (max-width: 930px) {
        width: 100%;
      }
    }

    .imgSizeInlineLeft {
      width: 40%;
      margin-right: 5%;
      display: inline-block !important;
      float: left;
    }

    .imgSizeInlineRight {
      width: 40%;
      margin-left: 5%;
      display: inline-block !important;
      float: right;
    }

  }

}
