/* line 12, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 16, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
html, body {
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  background: black;
  font-family: "Play", sans-serif;
  color: white;
  font-weight: 100;
  box-sizing: border-box;
}

/* line 28, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
h1 {
  font-size: 2.5rem;
  font-weight: 100;
  font-family: "Play", sans-serif;
  text-transform: uppercase;
  line-height: 2.25rem;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}

@media screen and (max-width: 650px) {
  /* line 28, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  h1 {
    font-size: 2rem;
    line-height: 1.8rem !important;
    padding: 0 2rem;
  }
}

/* line 46, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
p {
  width: 85%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  line-height: 1.75rem;
  margin-top: 2rem;
  font-size: 1rem;
}

/* line 56, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 61, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.bolder {
  font-weight: 900;
}

/* line 65, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.bigger {
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}

/* line 71, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.smaller {
  font-size: .8rem;
}

/* line 75, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.indent {
  padding-left: 2rem;
  margin-left: 1rem;
  text-align: left;
  display: block;
  width: 80%;
  margin-top: -0.5rem;
}

/* line 86, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.notsobig {
  font-size: 1.75rem;
  line-height: 2rem;
}

/* line 91, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.italic {
  font-style: italic;
}

/* line 95, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.highlight {
  color: #bf2025;
}

/* line 102, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  height: auto;
  display: block;
  text-align: left;
}

/* line 117, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header .logoWrap {
  padding-top: 1.5rem;
  padding-left: 2rem;
}

/* line 121, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header .logoWrap img {
  width: 70px;
}

/* line 126, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: .5rem;
  width: 150px;
}

/* line 137, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header ul a {
  color: white;
  text-decoration: none;
}

/* line 142, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header ul li {
  list-style: none;
  padding-top: .5rem;
  text-transform: uppercase;
  margin-right: .5rem;
}

/* line 159, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
section {
  position: relative;
  display: block;
  overflow-x: hidden;
  z-index: 1;
}

/* line 166, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.fullbleed {
  width: 100%;
  height: auto;
  min-height: auto;
}

@media screen and (min-width: 650px) {
  /* line 166, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .fullbleed {
    height: auto;
    min-height: 100%;
  }
}

/* line 177, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.contentWrap {
  width: 100%;
  max-width: 1060px;
  position: relative;
  margin: 0 auto;
  display: block;
  z-index: 5;
}

/* line 185, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.contentWrap .highlight {
  color: #bf2025;
}

/* line 190, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.dimmer {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 199, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel1 {
  background: url("http://www.bcbikerace.com/wp-content/uploads/2016/12/bcbikerace-36.jpg");
  background-size: cover;
  background-position: 40% bottom;
  min-height: 100% !important;
  height: 100%;
}

/* line 208, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel1 .contentWrap img {
  height: 40%;
  float: none;
  margin: 0 auto;
  display: block;
  position: relative;
  padding-top: 3rem;
}

@media screen and (min-width: 650px) {
  /* line 208, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel1 .contentWrap img {
    height: auto;
    width: 35%;
    float: right;
  }
}

/* line 225, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel2 {
  background: black;
}

/* line 228, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel2 .dimmer {
  background: rgba(0, 0, 0, 0.65);
}

/* line 232, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel2 .contentWrap {
  padding-top: 4.5rem;
  padding-bottom: 3rem;
}

/* line 236, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel2 .contentWrap p {
  font-size: 1.25rem;
  line-height: 2rem;
}

/* line 244, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel3 {
  background: url("http://www.bcbikerace.com/wp-content/uploads/2016/12/bcbikerace-28.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 650px) {
  /* line 244, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel3 {
    height: 100%;
    min-height: 100%;
  }
}

/* line 254, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel3 .dimmer {
  background: rgba(0, 0, 0, 0.65);
}

/* line 258, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel3 .contentWrap {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 262, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel3 .contentWrap img {
  width: 30%;
  min-width: 150px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  float: right;
}

/* line 274, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel4 {
  background: url("http://www.bcbikerace.com/wp-content/uploads/2016/12/bcbikerace-22.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 650px) {
  /* line 274, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel4 {
    height: 100%;
    min-height: 100%;
  }
}

/* line 285, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel4 .dimmer {
  background: rgba(0, 0, 0, 0.4);
}

/* line 289, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel4 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 295, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 {
  background: black;
}

/* line 298, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .dimmer {
  background: rgba(0, 0, 0, 0.5);
}

/* line 302, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

/* line 306, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap p {
  display: block;
  text-align: left;
  padding-top: 0;
}

@media screen and (min-width: 650px) {
  /* line 306, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel5 .contentWrap p {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    padding-top: 3rem;
  }
}

/* line 319, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap .pullquote {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  width: 90%;
  max-width: 350px;
  text-transform: capitalize;
  font-size: 1.75rem;
  font-style: italic;
}

@media screen and (min-width: 650px) {
  /* line 319, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel5 .contentWrap .pullquote {
    float: left;
    padding-left: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

/* line 337, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap img {
  display: block;
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 650px) {
  /* line 337, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel5 .contentWrap img {
    display: inline-block;
    width: 60%;
  }
}

/* line 349, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap .slideWrapItinerary {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-top: 5rem;
  height: 500px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 3rem;
}

/* line 361, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap .slideWrapItinerary .slick-prev {
  position: absolute;
  left: 0;
  top: 40%;
  font-weight: 600;
  font-size: 3.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* line 375, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap .slideWrapItinerary .slick-next {
  position: absolute;
  right: 0;
  top: 40%;
  font-weight: 600;
  font-size: 3.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* line 387, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap .slideWrapItinerary .slideItinerary {
  position: relative;
  display: inline-block;
  width: 20%;
  overflow: hidden;
  height: 90%;
  border: 1px solid #bf2025;
  margin: .5rem;
}

/* line 398, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap .slideWrapItinerary .slideItinerary h3 {
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: .1rem;
}

/* line 405, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap .slideWrapItinerary .slideItinerary h5 {
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  color: #bf2025;
  text-transform: uppercase;
  font-size: 1rem;
}

/* line 415, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap .slideWrapItinerary .slideItinerary p {
  width: auto;
  display: block;
  margin: 0;
  padding: 0 2em 1.25em 2em;
  text-align: left;
  line-height: 1rem;
}

/* line 429, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 {
  min-height: 100% !important;
  height: 100%;
}

/* line 435, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 442, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .slick-prev {
  position: absolute;
  left: 2rem;
  top: 45%;
  font-weight: 600;
  font-size: 4rem;
  z-index: 100;
  cursor: pointer;
  opacity: .55;
  transition: all .5s;
}

/* line 455, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .slick-prev:hover {
  opacity: .95;
  transition: all 1s;
}

/* line 460, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .slick-next {
  position: absolute;
  right: 2rem;
  top: 45%;
  font-weight: 600;
  font-size: 4rem;
  cursor: pointer;
  opacity: .55;
}

/* line 470, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .slick-next:hover {
  opacity: .95;
  transition: all 1s;
}

/* line 476, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .slideGallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

@media screen and (min-width: 650px) {
  /* line 476, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel6 .slideWrapGallery .slideGallery {
    overflow: hidden;
    margin: 2.5rem 5rem;
  }
}

/* line 490, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery1 {
  background: url("img/bcbikegallery-12.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 499, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery1 .contentWrap {
  padding-top: 0rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 650px) {
  /* line 499, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel6 .slideWrapGallery .gallery1 .contentWrap {
    padding-top: 3rem;
  }
}

/* line 507, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery1 .contentWrap p {
  float: left;
  background: rgba(0, 0, 0, 0.65);
  padding: 1.5rem 2.5rem;
  margin-top: 0;
}

@media screen and (min-width: 650px) {
  /* line 507, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel6 .slideWrapGallery .gallery1 .contentWrap p {
    margin-top: 2rem;
  }
}

/* line 521, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery2 {
  background: url("img/bcbikegallery-1.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 528, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery3 {
  background: url("img/bcbikegallery-2.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 535, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery4 {
  background: url("img/bcbikegallery-3.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 542, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery5 {
  background: url("img/bcbikegallery-4.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 549, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery6 {
  background: url("img/bcbikegallery-5.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 556, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery7 {
  background: url("img/bcbikegallery-6.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 563, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery8 {
  background: url("img/bcbikegallery-7.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 570, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery9 {
  background: url("img/bcbikegallery-8.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 577, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery10 {
  background: url("img/bcbikegallery-9.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 584, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery11 {
  background: url("img/bcbikegallery-10.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 591, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery12 {
  background: url("img/bcbikegallery-11.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 598, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .slideWrapGallery .gallery13 {
  background: url("img/bcbikegallery-13.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 612, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel7 {
  background: url("http://www.bcbikerace.com/wp-content/uploads/2016/12/bcbikerace-34.jpg");
  background-size: cover;
  background-position: left center;
}

@media screen and (min-width: 650px) {
  /* line 612, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel7 {
    height: 100%;
    min-height: 100%;
  }
}

/* line 622, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel7 .dimmer {
  background: rgba(0, 0, 0, 0.6);
}

/* line 626, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel7 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 632, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel8 {
  background: url("http://www.bcbikerace.com/wp-content/uploads/2016/12/bcbikerace-32.jpg");
  background-size: cover;
  background-position: right center;
}

@media screen and (min-width: 650px) {
  /* line 632, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel8 {
    height: 100%;
    min-height: 100%;
  }
}

/* line 642, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel8 .dimmer {
  background: rgba(0, 0, 0, 0.45);
}

/* line 646, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel8 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 652, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel9 {
  background: url("http://www.bcbikerace.com/wp-content/uploads/2016/12/bcbikerace-37.jpg");
  background-size: cover;
  background-position: left bottom;
}

/* line 657, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel9 .dimmer {
  background: rgba(0, 0, 0, 0.5);
}

/* line 661, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel9 .contentWrap {
  padding-top: 6rem;
  padding-bottom: 3rem;
  text-align: center;
}

/* line 666, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel9 .contentWrap a {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: underline;
}

/* line 676, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel10 {
  background: black;
}

/* line 679, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel10 .dimmer {
  background: rgba(0, 0, 0, 0.5);
}

/* line 683, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel10 .contentWrap {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}

/* line 688, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel10 .contentWrap img {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 30%;
  margin-top: 3rem;
}

/* line 700, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel11 {
  background: black;
  height: auto;
  min-height: auto;
}

/* line 705, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel11 .dimmer {
  background: rgba(0, 0, 0, 0.5);
}

/* line 709, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel11 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

/* line 718, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel12 {
  background: black;
  height: auto;
  min-height: auto;
}

/* line 723, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel12 .contentWrap {
  padding-top: 1rem;
  padding-bottom: 6rem;
  text-align: center;
}

/* line 728, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel12 .contentWrap .videoThumb {
  vertical-align: top;
  display: inline-block;
  width: 80%;
  height: 250px;
  margin: 1rem 1rem 2rem 1rem;
}

@media screen and (min-width: 650px) {
  /* line 728, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel12 .contentWrap .videoThumb {
    width: 450px;
    height: 300px;
    display: inline-block;
  }
}

/* line 747, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel13 {
  background: black;
  height: auto;
  min-height: auto;
}

/* line 752, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel13 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 6rem;
  text-align: center;
}

/* line 757, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel13 .contentWrap .contentCol {
  width: 100%;
  display: block;
  vertical-align: top;
  text-align: left;
  margin: 2rem 2rem 6rem;
}

@media screen and (min-width: 650px) {
  /* line 757, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel13 .contentWrap .contentCol {
    width: 40%;
    display: inline-block;
  }
}

/* line 769, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel13 .contentWrap .contentCol h3 {
  color: #bf2025;
  margin-bottom: 0;
  margin-top: 2rem;
}

/* line 775, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel13 .contentWrap .contentCol p {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 783, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel13 .contentWrap .contentCol ul li {
  line-height: 1.5rem;
}

/*# sourceMappingURL=../style.map */