/* line 13, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
html, body {
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  background: black;
  font-family: "Play", sans-serif;
  color: white;
  font-weight: 100;
}

/* line 24, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
h1 {
  font-size: 2.5rem;
  font-weight: 100;
  font-family: "Play", sans-serif;
  text-transform: uppercase;
  line-height: 1.9rem;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}

@media screen and (max-width: 650px) {
  /* line 24, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  h1 {
    font-size: 2rem;
    line-height: 1.8rem !important;
    padding: 0 2rem;
  }
}

/* line 42, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
p {
  width: 85%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  line-height: 1.75rem;
  margin-top: 2rem;
  font-size: 1rem;
}

/* line 52, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 57, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.bolder {
  font-weight: 900;
}

/* line 61, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.italic {
  font-style: italic;
}

/* line 69, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  height: auto;
  display: block;
  text-align: left;
}

/* line 84, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header .logoWrap {
  padding-top: 1.5rem;
  padding-left: 2rem;
}

/* line 88, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header .logoWrap img {
  width: 70px;
}

/* line 93, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: .5rem;
  width: 150px;
}

/* line 104, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header ul a {
  color: white;
  text-decoration: none;
}

/* line 109, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
header ul li {
  list-style: none;
  padding-top: .5rem;
  text-transform: uppercase;
  margin-right: .5rem;
}

/* line 126, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
section {
  position: relative;
  display: block;
  z-index: 1;
}

/* line 132, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.fullbleed {
  width: 100%;
  height: auto;
  min-height: auto;
}

@media screen and (min-width: 650px) {
  /* line 132, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .fullbleed {
    height: auto;
    min-height: 100%;
  }
}

/* line 143, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.contentWrap {
  width: 100%;
  max-width: 1060px;
  position: relative;
  margin: 0 auto;
  display: block;
  z-index: 5;
}

/* line 151, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.contentWrap .highlight {
  color: #bf2025;
}

/* line 156, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.dimmer {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 165, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel1 {
  background: url("img/bcbikerace-24.jpg");
  background-size: cover;
  background-position: 40% bottom;
  min-height: 100% !important;
}

/* line 173, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel1 .contentWrap img {
  height: 40%;
  float: none;
  margin: 0 auto;
  display: block;
  position: relative;
  padding-top: 3rem;
}

@media screen and (min-width: 650px) {
  /* line 173, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel1 .contentWrap img {
    height: 50%;
    float: right;
  }
}

/* line 189, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel2 {
  background: url("img/bcbikerace-27.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 194, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel2 .dimmer {
  background: rgba(0, 0, 0, 0.65);
}

/* line 198, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel2 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 207, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel3 {
  background: url("img/bcbikerace-28.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 212, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel3 .dimmer {
  background: rgba(0, 0, 0, 0.65);
}

/* line 216, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel3 .contentWrap {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 220, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel3 .contentWrap img {
  height: 25%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  float: right;
}

/* line 231, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel4 {
  background: url("img/bcbikerace-29.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 236, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel4 .dimmer {
  background: rgba(0, 0, 0, 0.5);
}

/* line 240, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel4 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 246, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 {
  background: url("img/bcbikerace-30.jpg") no-repeat;
  background-size: cover;
  background-position: left center;
}

/* line 252, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .dimmer {
  background: rgba(0, 0, 0, 0.5);
}

/* line 256, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

/* line 260, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap p {
  display: block;
  text-align: left;
  padding-top: 0;
}

@media screen and (min-width: 650px) {
  /* line 260, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel5 .contentWrap p {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    padding-top: 3rem;
  }
}

/* line 273, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel5 .contentWrap img {
  display: block;
  width: 95%;
  max-width: 450px;
  margin: 0 auto;
}

@media screen and (min-width: 650px) {
  /* line 273, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel5 .contentWrap img {
    display: inline-block;
    width: 50%;
  }
}

/* line 288, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 {
  background: url("img/bcbikerace-8.jpg");
  background-size: cover;
  background-position: 80% center;
  min-height: 100% !important;
}

/* line 294, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .dimmer {
  background: rgba(0, 0, 0, 0.25);
}

/* line 298, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 302, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel6 .contentWrap h3 {
  padding-top: 15%;
  padding-bottom: 15%;
  margin: 0 auto;
  width: 90%;
  max-width: 350px;
  text-transform: capitalize;
  font-size: 1.75rem;
  font-style: italic;
}

@media screen and (min-width: 650px) {
  /* line 302, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
  .homePanel6 .contentWrap h3 {
    float: left;
    padding-left: 3rem;
    font-size: 2.25rem;
  }
}

/* line 322, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel7 {
  background: url("img/bcbikerace-31.jpg");
  background-size: cover;
  background-position: left center;
}

/* line 327, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel7 .dimmer {
  background: rgba(0, 0, 0, 0.6);
}

/* line 331, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel7 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 337, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel8 {
  background: url("img/bcbikerace-32.jpg");
  background-size: cover;
  background-position: right center;
}

/* line 342, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel8 .dimmer {
  background: rgba(0, 0, 0, 0.5);
}

/* line 346, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel8 .contentWrap {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 352, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel9 {
  background: url("img/bcbikerace-33.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 357, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel9 .dimmer {
  background: rgba(0, 0, 0, 0.7);
}

/* line 361, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel9 .contentWrap {
  padding-top: 6rem;
  padding-bottom: 3rem;
  text-align: center;
}

/* line 366, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel9 .contentWrap a {
  display: block;
  margin-top: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
}

/* line 375, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel10 {
  background: url("img/bcbikerace-17.jpg");
  background-size: cover;
  background-position: 30% center;
  min-height: 100% !important;
}

/* line 381, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel10 .dimmer {
  background: rgba(0, 0, 0, 0.5);
}

/* line 385, C:/xampp/htdocs/ckoconnell.github.io/bcbikeride/scss/style.scss */
.homePanel10 .contentWrap {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}

/*# sourceMappingURL=../style.map */