/* line 9, ../scss/style.scss */
html {
  font-family: Avenir, Arial, sans-serif;
}

/* line 13, ../scss/style.scss */
body {
  background: #171717;
  margin: 0;
  padding: 0;
}

/* line 19, ../scss/style.scss */
div, span, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

/* line 27, ../scss/style.scss */
.fullWrap {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

/* line 33, ../scss/style.scss */
section {
  width: 100%;
  min-height: 300px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #999;
}

/* line 41, ../scss/style.scss */
nav {
  color: white;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 600px) {
  /* line 41, ../scss/style.scss */
  nav {
    display: none;
  }
}
/* line 52, ../scss/style.scss */
nav ul a {
  color: white;
}
/* line 56, ../scss/style.scss */
nav ul li {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 500;
  line-height: 1em;
  padding: 10px 30px;
  transition: all .2s;
}
@media screen and (max-width: 930px) {
  /* line 56, ../scss/style.scss */
  nav ul li {
    font-weight: .8em;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 700px) {
  /* line 56, ../scss/style.scss */
  nav ul li {
    font-size: .7em;
    padding: 10px 15px;
  }
}
/* line 75, ../scss/style.scss */
nav ul li:hover {
  background: #333;
  transition: all .5s;
}

/* line 82, ../scss/style.scss */
.navFixed {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #171717;
}

/* line 90, ../scss/style.scss */
.navMobile {
  display: none;
  height: 50px;
  overflow: hidden;
  transition: all .5s;
  padding-bottom: 15px;
}
@media screen and (max-width: 600px) {
  /* line 90, ../scss/style.scss */
  .navMobile {
    display: block;
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
  }
}
/* line 108, ../scss/style.scss */
.navMobile ul {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
/* line 114, ../scss/style.scss */
.navMobile ul a {
  text-decoration: none;
  color: white;
}
/* line 119, ../scss/style.scss */
.navMobile ul li {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0 15px 0;
  border-bottom: 1px dotted #222;
}
/* line 128, ../scss/style.scss */
.navMobile ul li:hover {
  background: #333;
}
/* line 133, ../scss/style.scss */
.navMobile .mobileTap {
  height: 50px;
  display: block;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  position: absolute;
  left: 15px;
}
/* line 145, ../scss/style.scss */
.navMobile .mobileTap .menuIcon {
  padding-right: 10px;
}
/* line 151, ../scss/style.scss */
.navMobile .langSelectMobile {
  position: absolute;
  right: 15px;
  top: 15px;
}
/* line 155, ../scss/style.scss */
.navMobile .langSelectMobile h3 {
  display: inline-block;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 10px;
}
/* line 163, ../scss/style.scss */
.navMobile .langSelectMobile a {
  color: white;
  font-size: 13px;
}

/* line 170, ../scss/style.scss */
.navExpand {
  height: auto;
  transition: all .5s;
}

/* line 175, ../scss/style.scss */
.gridWrap {
  position: relative;
  display: block;
  width: 930px;
  margin: 0 auto;
}
@media screen and (max-width: 930px) {
  /* line 175, ../scss/style.scss */
  .gridWrap {
    width: 100%;
  }
}

/* line 188, ../scss/style.scss */
.langSelect {
  position: absolute;
  top: 15px;
  color: white;
  text-shadow: 1px 1px 2px #111;
  margin: 0 auto;
  display: block;
  text-align: center;
  z-index: 10000;
  width: 100%;
}
@media screen and (max-width: 600px) {
  /* line 188, ../scss/style.scss */
  .langSelect {
    display: none;
  }
}
/* line 203, ../scss/style.scss */
.langSelect h3 {
  font-size: .8em;
  text-shadow: 1px 1px 2px #111;
  display: block;
  font-weight: 100;
  text-transform: uppercase;
}
/* line 211, ../scss/style.scss */
.langSelect .langLink {
  color: white;
  text-shadow: 1px 1px 2px #111;
  cursor: pointer;
}
/* line 217, ../scss/style.scss */
.langSelect .langOption {
  font-size: 1.2em;
  font-weight: 900;
  padding: 0 5px;
}

/* line 227, ../scss/style.scss */
.top {
  background: url("../img/bg1.jpg");
  background-position: center center;
  background-size: cover;
  height: 90% !important;
  min-height: 750px;
  text-align: center;
  border-bottom: none;
}
/* line 241, ../scss/style.scss */
.top .gridWrap {
  display: inline-block !important;
}
/* line 245, ../scss/style.scss */
.top .logoWrap {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  display: block;
  margin-top: 15%;
  margin-bottom: 60px;
}
/* line 255, ../scss/style.scss */
.top .logoWrap svg {
  width: 250px;
}
/* line 260, ../scss/style.scss */
.top h1 {
  color: white;
  font-weight: 900;
  font-size: 2.7em;
  text-shadow: 1px 1px 2px #333;
  text-align: center;
  display: block;
  text-transform: uppercase;
  line-height: 1em;
}
/* line 271, ../scss/style.scss */
.top h3 {
  color: white;
  font-weight: 100;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px #333;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
}

/* line 283, ../scss/style.scss */
.intro {
  background: #171717;
  color: white;
  text-align: center;
  padding-top: 60px;
  border-bottom: none !important;
}
/* line 290, ../scss/style.scss */
.intro p {
  width: 70%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 297, ../scss/style.scss */
.intro h3 {
  display: block;
  margin-top: 60px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em;
}
/* line 306, ../scss/style.scss */
.intro h5 {
  font-weight: 100;
  font-size: 1em;
  margin-bottom: 30px;
}
/* line 313, ../scss/style.scss */
.intro a {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 1em;
  padding: 8px 20px;
  margin-bottom: 120px;
  margin-top: 15px;
  border-radius: 3px;
  transition: all .3s;
}
/* line 327, ../scss/style.scss */
.intro a:hover {
  color: #171717;
  background: white;
  transition: all .6s;
}

/* line 334, ../scss/style.scss */
.program {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: white;
  color: #171717;
}
/* line 340, ../scss/style.scss */
.program h1 {
  text-transform: uppercase;
}
/* line 344, ../scss/style.scss */
.program p {
  margin: 0 auto;
  width: 70%;
}
@media screen and (max-width: 700px) {
  /* line 344, ../scss/style.scss */
  .program p {
    width: 90%;
    text-align: left;
  }
}
/* line 354, ../scss/style.scss */
.program ul {
  display: block;
  vertical-align: top;
}
/* line 358, ../scss/style.scss */
.program ul li {
  width: 42%;
  margin: 30px 2%;
  border: 1px solid #eee;
  padding: 15px;
  text-align: left;
  vertical-align: top;
}
@media screen and (max-width: 700px) {
  /* line 358, ../scss/style.scss */
  .program ul li {
    width: 90%;
  }
}
/* line 371, ../scss/style.scss */
.program ul li ul {
  list-style: disc !important;
}
/* line 374, ../scss/style.scss */
.program ul li ul li {
  display: list-item;
  width: 95% !important;
  margin: 0;
  padding: 0 0 .5em 0;
  border: none;
  list-style: disc !important;
  font-size: .8em;
  margin-left: 15px;
}
/* line 387, ../scss/style.scss */
.program ul li h1 {
  display: block;
  font-size: 1.2em;
}
/* line 392, ../scss/style.scss */
.program ul li h3 {
  font-size: .9em;
  text-transform: uppercase;
  color: #666;
  display: none;
}
/* line 399, ../scss/style.scss */
.program ul li p {
  width: 100%;
  font-weight: 100;
  font-size: .9em;
  margin: 10px 0;
}
/* line 407, ../scss/style.scss */
.program ul .fullWidth {
  width: 90%;
}
/* line 409, ../scss/style.scss */
.program ul .fullWidth img {
  float: right;
  width: 45%;
  padding-left: 30px;
  padding-top: 30px;
}
@media screen and (max-width: 700px) {
  /* line 409, ../scss/style.scss */
  .program ul .fullWidth img {
    width: 100%;
    padding-bottom: 30px;
  }
}
/* line 420, ../scss/style.scss */
.program ul .fullWidth p {
  width: 90% !important;
}

/* line 428, ../scss/style.scss */
.demo {
  margin-top: 120px;
  color: white;
  padding-bottom: 90px;
}
/* line 433, ../scss/style.scss */
.demo .finePrint {
  font-size: .7em;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  /* line 433, ../scss/style.scss */
  .demo .finePrint {
    width: 90%;
  }
}
/* line 444, ../scss/style.scss */
.demo h1 {
  text-transform: uppercase;
}
/* line 448, ../scss/style.scss */
.demo h3 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: .9em;
}
/* line 455, ../scss/style.scss */
.demo li {
  width: 35%;
  display: inline-block !important;
  vertical-align: top;
  text-align: left;
  margin: 1em 2em;
}
@media screen and (max-width: 700px) {
  /* line 455, ../scss/style.scss */
  .demo li {
    width: 90%;
  }
}
/* line 466, ../scss/style.scss */
.demo li p {
  font-size: .9em;
  width: 100%;
}
/* line 472, ../scss/style.scss */
.demo p {
  font-size: 1em;
  width: 70%;
  margin: 0 auto;
  padding: 1em 0;
}
@media screen and (max-width: 700px) {
  /* line 472, ../scss/style.scss */
  .demo p {
    width: 90%;
    text-align: left;
  }
}
/* line 484, ../scss/style.scss */
.demo a {
  color: white;
  font-weight: 100;
}

/* line 491, ../scss/style.scss */
.whattobring {
  background: white;
  padding-top: 90px;
  padding-bottom: 120px;
}
/* line 496, ../scss/style.scss */
.whattobring h1 {
  text-transform: uppercase;
  margin-bottom: 1em;
}
/* line 501, ../scss/style.scss */
.whattobring p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
}
@media screen and (max-width: 700px) {
  /* line 501, ../scss/style.scss */
  .whattobring p {
    text-align: left;
    width: 90%;
  }
}
/* line 512, ../scss/style.scss */
.whattobring .finePrint {
  font-size: .7em;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  /* line 512, ../scss/style.scss */
  .whattobring .finePrint {
    width: 90%;
  }
}
/* line 522, ../scss/style.scss */
.whattobring .left {
  text-align: left;
  font-weight: 900;
  margin-top: 2em;
}
@media screen and (max-width: 700px) {
  /* line 522, ../scss/style.scss */
  .whattobring .left {
    width: 90%;
  }
}
/* line 532, ../scss/style.scss */
.whattobring ul {
  text-align: left;
  padding-bottom: 60px;
  list-style: square;
  color: black;
}
/* line 538, ../scss/style.scss */
.whattobring ul li {
  margin-left: 5em;
  margin-bottom: .6em;
  font-weight: 100;
  width: 70%;
  list-style: square;
  color: black;
  display: list-item;
}
@media screen and (max-width: 550px) {
  /* line 538, ../scss/style.scss */
  .whattobring ul li {
    margin-left: 2em;
  }
}

/* line 555, ../scss/style.scss */
.contest {
  padding: 90px 0;
  color: white;
}
/* line 559, ../scss/style.scss */
.contest h1 {
  display: block;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 565, ../scss/style.scss */
.contest h3 {
  margin-top: 30px;
}
/* line 569, ../scss/style.scss */
.contest p {
  margin: 0 auto;
  width: 60%;
  font-weight: 100;
}
/* line 575, ../scss/style.scss */
.contest .bolder {
  text-align: center;
  font-weight: 500;
}
/* line 580, ../scss/style.scss */
.contest ul {
  text-align: left;
  display: block;
  width: 40% !important;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
}
/* line 589, ../scss/style.scss */
.contest li {
  display: list-item;
  list-style: square;
  text-align: left;
  font-weight: 100;
  margin-bottom: 1em;
  margin-left: 2em;
}
/* line 599, ../scss/style.scss */
.contest a {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 1em;
  padding: 8px 20px;
  margin-bottom: 120px;
  margin-top: 15px;
  border-radius: 3px;
  transition: all .3s;
}
/* line 613, ../scss/style.scss */
.contest a:hover {
  color: #171717;
  background: white;
  transition: all .6s;
}

/* line 620, ../scss/style.scss */
.archive {
  background: white;
  color: #171717;
  text-align: left;
  padding: 90px 0;
}
/* line 626, ../scss/style.scss */
.archive h1 {
  display: block;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  /* line 626, ../scss/style.scss */
  .archive h1 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}
/* line 638, ../scss/style.scss */
.archive h3 {
  text-transform: uppercase;
  margin-bottom: 1.5em;
  display: block;
}
@media screen and (max-width: 700px) {
  /* line 638, ../scss/style.scss */
  .archive h3 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}
@media screen and (max-width: 930px) {
  /* line 650, ../scss/style.scss */
  .archive a {
    display: none;
  }
}
/* line 657, ../scss/style.scss */
.archive iframe {
  width: 930px !important;
}
@media screen and (max-width: 930px) {
  /* line 657, ../scss/style.scss */
  .archive iframe {
    display: none !important;
  }
}

/* line 666, ../scss/style.scss */
.trailer {
  padding: 90px 0;
  color: white;
  text-align: center;
}
/* line 671, ../scss/style.scss */
.trailer h1 {
  display: block;
  text-transform: uppercase;
  text-align: left;
}
@media screen and (max-width: 700px) {
  /* line 671, ../scss/style.scss */
  .trailer h1 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}
/* line 683, ../scss/style.scss */
.trailer h3 {
  text-transform: uppercase;
  margin-bottom: 1.5em;
  text-align: left !important;
  display: block;
}
@media screen and (max-width: 700px) {
  /* line 683, ../scss/style.scss */
  .trailer h3 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}
/* line 696, ../scss/style.scss */
.trailer iframe {
  width: 960px;
  height: 540px;
}
@media screen and (max-width: 930px) {
  /* line 696, ../scss/style.scss */
  .trailer iframe {
    width: 90%;
    margin: 0 auto;
  }
}

/* line 707, ../scss/style.scss */
.contact {
  background: white;
  color: #171717;
  padding: 90px 0;
}
/* line 712, ../scss/style.scss */
.contact h1 {
  display: block;
  text-transform: uppercase;
}
/* line 717, ../scss/style.scss */
.contact p {
  display: block;
}
/* line 721, ../scss/style.scss */
.contact a {
  display: inline-block;
  text-decoration: none;
  color: #171717;
  border: 1px solid #171717;
  text-transform: uppercase;
  font-size: 1em;
  padding: 8px 20px;
  margin-bottom: 120px;
  margin-top: 15px;
  border-radius: 3px;
  transition: all .3s;
}
/* line 735, ../scss/style.scss */
.contact a:hover {
  color: white;
  background: #171717;
  transition: all .6s;
}

/* line 742, ../scss/style.scss */
.sponsors {
  color: white;
  padding: 90px 0;
}
/* line 746, ../scss/style.scss */
.sponsors h1 {
  display: block;
  text-transform: uppercase;
}
/* line 751, ../scss/style.scss */
.sponsors p {
  margin-top: 30px;
  text-transform: uppercase;
}
/* line 756, ../scss/style.scss */
.sponsors ul {
  text-align: center;
}
/* line 758, ../scss/style.scss */
.sponsors ul li {
  display: inline-block;
  width: 200px;
  height: 90px;
  border: 1px dotted #333;
  padding-top: 35px;
  margin: .5em 1em;
}
