/* line 9, ../scss/style.scss */
html {
  font-family: Avenir, Arial, sans-serif;
}

/* line 13, ../scss/style.scss */
body {
  background: #171717;
  margin: 0;
  padding: 0;
}

/* line 19, ../scss/style.scss */
div, span, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

/* line 27, ../scss/style.scss */
section {
  width: 100%;
  min-height: 300px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #999;
}

/* line 35, ../scss/style.scss */
nav {
  color: white;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 600px) {
  /* line 35, ../scss/style.scss */
  nav {
    display: none;
  }
}
/* line 46, ../scss/style.scss */
nav ul a {
  color: white;
}
/* line 50, ../scss/style.scss */
nav ul li {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 500;
  line-height: 1em;
  padding: 10px 30px;
  transition: all .2s;
}
@media screen and (max-width: 930px) {
  /* line 50, ../scss/style.scss */
  nav ul li {
    font-weight: .8em;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 700px) {
  /* line 50, ../scss/style.scss */
  nav ul li {
    font-size: .7em;
    padding: 10px 15px;
  }
}
/* line 69, ../scss/style.scss */
nav ul li:hover {
  background: #333;
  transition: all .5s;
}

/* line 76, ../scss/style.scss */
.navFixed {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #171717;
}

/* line 84, ../scss/style.scss */
.navMobile {
  display: none;
  height: 50px;
  overflow: hidden;
  transition: all .5s;
  padding-bottom: 15px;
}
@media screen and (max-width: 600px) {
  /* line 84, ../scss/style.scss */
  .navMobile {
    display: block;
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
  }
}
/* line 102, ../scss/style.scss */
.navMobile ul {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}
/* line 108, ../scss/style.scss */
.navMobile ul a {
  text-decoration: none;
  color: white;
}
/* line 113, ../scss/style.scss */
.navMobile ul li {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
  border-bottom: 1px dotted #222;
}
/* line 123, ../scss/style.scss */
.navMobile ul li:hover {
  background: #333;
}
/* line 128, ../scss/style.scss */
.navMobile .mobileTap {
  height: 50px;
  display: block;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}
/* line 138, ../scss/style.scss */
.navMobile .mobileTap .menuIcon {
  padding-right: 10px;
}

/* line 145, ../scss/style.scss */
.navExpand {
  height: auto;
  transition: all .5s;
}

/* line 150, ../scss/style.scss */
.gridWrap {
  position: relative;
  display: block;
  width: 930px;
  margin: 0 auto;
}
@media screen and (max-width: 930px) {
  /* line 150, ../scss/style.scss */
  .gridWrap {
    width: 100%;
  }
}

/* line 166, ../scss/style.scss */
.top {
  background: url("../img/18457252890_cde46e58ff_k.jpg");
  background-position: center center;
  background-size: cover;
  height: 90% !important;
  min-height: 750px;
  text-align: center;
}
/* line 177, ../scss/style.scss */
.top .gridWrap {
  display: inline-block !important;
}
/* line 181, ../scss/style.scss */
.top .logoWrap {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  background: black;
  display: block;
  margin-top: 20%;
  margin-bottom: 30px;
  border-radius: 100px;
  background: url("../img/academyLogo.png") no-repeat;
  background-size: 300px;
}
/* line 194, ../scss/style.scss */
.top h1 {
  color: white;
  font-weight: 900;
  font-size: 3em;
  text-shadow: 1px 1px 2px #333;
  text-align: center;
  display: block;
  text-transform: uppercase;
  line-height: 1em;
}
/* line 205, ../scss/style.scss */
.top h3 {
  color: white;
  font-weight: 100;
  font-size: 1.8em;
  text-shadow: 1px 1px 2px #333;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

/* line 216, ../scss/style.scss */
.intro {
  background: #171717;
  color: white;
  text-align: center;
  padding-top: 60px;
  border-bottom: none !important;
}
/* line 223, ../scss/style.scss */
.intro p {
  width: 70%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 230, ../scss/style.scss */
.intro h3 {
  display: block;
  margin-top: 60px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em;
}
/* line 239, ../scss/style.scss */
.intro a {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 1em;
  padding: 8px 20px;
  margin-bottom: 120px;
  margin-top: 15px;
  border-radius: 3px;
  transition: all .3s;
}
/* line 253, ../scss/style.scss */
.intro a:hover {
  color: #171717;
  background: white;
  transition: all .6s;
}

/* line 260, ../scss/style.scss */
.program {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: white;
  color: #171717;
}
/* line 266, ../scss/style.scss */
.program h1 {
  text-transform: uppercase;
}
/* line 270, ../scss/style.scss */
.program p {
  margin: 0 auto;
  width: 70%;
}
@media screen and (max-width: 700px) {
  /* line 270, ../scss/style.scss */
  .program p {
    width: 90%;
    text-align: left;
  }
}
/* line 280, ../scss/style.scss */
.program ul {
  display: block;
  vertical-align: top;
}
/* line 284, ../scss/style.scss */
.program ul li {
  display: inline-block;
  width: 42%;
  margin: 30px 2%;
  border: 1px solid #eee;
  padding: 15px;
  text-align: left;
  vertical-align: top;
}
@media screen and (max-width: 700px) {
  /* line 284, ../scss/style.scss */
  .program ul li {
    width: 90%;
  }
}
/* line 298, ../scss/style.scss */
.program ul li ul {
  list-style: disc !important;
}
/* line 301, ../scss/style.scss */
.program ul li ul li {
  display: block !important;
  width: 100% !important;
  margin: 0;
  padding: 0 0 .5em 0;
  border: none;
  list-style: disc !important;
  font-size: .8em;
  margin-left: 15px;
}
/* line 314, ../scss/style.scss */
.program ul li h1 {
  display: block;
  font-size: 1.2em;
}
/* line 319, ../scss/style.scss */
.program ul li h3 {
  font-size: .9em;
  text-transform: uppercase;
  color: #666;
}
/* line 325, ../scss/style.scss */
.program ul li p {
  width: 100%;
  font-weight: 100;
  font-size: .9em;
  margin: 10px 0;
}
/* line 333, ../scss/style.scss */
.program ul .fullWidth {
  width: 90%;
}
/* line 336, ../scss/style.scss */
.program ul .fullWidth p {
  width: 90% !important;
}

/* line 344, ../scss/style.scss */
.demo {
  margin-top: 120px;
  color: white;
  padding-bottom: 90px;
}
/* line 349, ../scss/style.scss */
.demo .finePrint {
  font-size: .7em;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  /* line 349, ../scss/style.scss */
  .demo .finePrint {
    width: 90%;
  }
}
/* line 360, ../scss/style.scss */
.demo h1 {
  text-transform: uppercase;
}
/* line 364, ../scss/style.scss */
.demo li {
  width: 35%;
  display: inline-block !important;
  vertical-align: top;
  text-align: left;
  margin: 1em 2em;
}
@media screen and (max-width: 700px) {
  /* line 364, ../scss/style.scss */
  .demo li {
    width: 90%;
  }
}
/* line 375, ../scss/style.scss */
.demo li p {
  font-size: .8em;
  width: 100%;
}
/* line 381, ../scss/style.scss */
.demo p {
  font-size: .95em;
  width: 70%;
  margin: 0 auto;
  padding: 1em 0;
}
@media screen and (max-width: 700px) {
  /* line 381, ../scss/style.scss */
  .demo p {
    width: 90%;
    text-align: left;
  }
}

/* line 394, ../scss/style.scss */
.whattobring {
  background: white;
  padding-top: 90px;
  padding-bottom: 120px;
}
/* line 399, ../scss/style.scss */
.whattobring h1 {
  text-transform: uppercase;
  margin-bottom: 1em;
}
/* line 404, ../scss/style.scss */
.whattobring p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
}
@media screen and (max-width: 700px) {
  /* line 404, ../scss/style.scss */
  .whattobring p {
    text-align: left;
    width: 90%;
  }
}
/* line 415, ../scss/style.scss */
.whattobring .finePrint {
  font-size: .7em;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  /* line 415, ../scss/style.scss */
  .whattobring .finePrint {
    width: 90%;
  }
}
/* line 425, ../scss/style.scss */
.whattobring .left {
  text-align: left;
  font-weight: 900;
  margin-top: 2em;
}
@media screen and (max-width: 700px) {
  /* line 425, ../scss/style.scss */
  .whattobring .left {
    width: 90%;
  }
}
/* line 435, ../scss/style.scss */
.whattobring ul {
  text-align: left;
  padding-bottom: 60px;
  list-style: circle !important;
  color: black;
}
/* line 441, ../scss/style.scss */
.whattobring ul li {
  display: block;
  margin-left: 5em;
  margin-bottom: .6em;
  font-weight: 500;
  width: 70%;
  list-style: circle !important;
  color: black;
}
/* line 451, ../scss/style.scss */
.whattobring ul li:before {
  width: 5px;
  height: 5px;
  background: black;
  position: absolute;
}

/* line 461, ../scss/style.scss */
.contest {
  padding: 90px 0;
  color: white;
}
/* line 465, ../scss/style.scss */
.contest h1 {
  display: block;
  text-transform: uppercase;
}

/* line 471, ../scss/style.scss */
.archive {
  background: white;
  color: #171717;
  text-align: left;
  padding: 90px 0;
}
/* line 477, ../scss/style.scss */
.archive h1 {
  display: block;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  /* line 477, ../scss/style.scss */
  .archive h1 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}
/* line 489, ../scss/style.scss */
.archive h3 {
  text-transform: uppercase;
  margin-bottom: 1.5em;
  display: block;
}
@media screen and (max-width: 700px) {
  /* line 489, ../scss/style.scss */
  .archive h3 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}
@media screen and (max-width: 930px) {
  /* line 501, ../scss/style.scss */
  .archive a {
    display: none;
  }
}
/* line 508, ../scss/style.scss */
.archive iframe {
  width: 930px !important;
}
@media screen and (max-width: 930px) {
  /* line 508, ../scss/style.scss */
  .archive iframe {
    display: none !important;
  }
}

/* line 517, ../scss/style.scss */
.trailer {
  padding: 90px 0;
  color: white;
  text-align: center;
}
/* line 522, ../scss/style.scss */
.trailer h1 {
  display: block;
  text-transform: uppercase;
  text-align: left;
}
@media screen and (max-width: 700px) {
  /* line 522, ../scss/style.scss */
  .trailer h1 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}
/* line 534, ../scss/style.scss */
.trailer h3 {
  text-transform: uppercase;
  margin-bottom: 1.5em;
  text-align: left !important;
  display: block;
}
@media screen and (max-width: 700px) {
  /* line 534, ../scss/style.scss */
  .trailer h3 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}
/* line 547, ../scss/style.scss */
.trailer iframe {
  width: 960px;
  height: 540px;
}
@media screen and (max-width: 930px) {
  /* line 547, ../scss/style.scss */
  .trailer iframe {
    width: 90%;
    margin: 0 auto;
  }
}

/* line 558, ../scss/style.scss */
.contact {
  background: white;
  color: #171717;
  padding: 90px 0;
}
/* line 563, ../scss/style.scss */
.contact h1 {
  display: block;
  text-transform: uppercase;
}

/* line 570, ../scss/style.scss */
.sponsors {
  color: white;
  padding: 90px 0;
}
/* line 574, ../scss/style.scss */
.sponsors h1 {
  display: block;
  text-transform: uppercase;
}
/* line 579, ../scss/style.scss */
.sponsors p {
  margin-top: 30px;
  text-transform: uppercase;
}
/* line 584, ../scss/style.scss */
.sponsors ul {
  text-align: center;
}
/* line 586, ../scss/style.scss */
.sponsors ul li {
  display: inline-block;
  width: 200px;
  height: 90px;
  border: 1px dotted #333;
  padding-top: 35px;
  margin: .5em 1em;
}
