/* line 9, ../scss/style.scss */
html {
  font-family: Avenir, Arial, sans-serif;
}

/* line 13, ../scss/style.scss */
body {
  background: #171717;
  margin: 0;
  padding: 0;
}

/* line 19, ../scss/style.scss */
div, span, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

/* line 27, ../scss/style.scss */
.english {
  display: block;
}

/* line 31, ../scss/style.scss */
.french {
  display: none;
}

/* line 35, ../scss/style.scss */
.german {
  display: none;
}

/* line 39, ../scss/style.scss */
.hideLang {
  display: none !important;
}

/* line 43, ../scss/style.scss */
.showLang {
  display: block !important;
}

/* line 47, ../scss/style.scss */
.activeLang {
  text-decoration: underline;
  transition: all .6s;
}

/* line 53, ../scss/style.scss */
.fullWrap {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

/* line 59, ../scss/style.scss */
section {
  width: 100%;
  min-height: 250px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #999;
}

/* line 67, ../scss/style.scss */
nav {
  color: white;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 600px) {
  /* line 67, ../scss/style.scss */
  nav {
    display: none;
  }
}
/* line 78, ../scss/style.scss */
nav ul a {
  color: white;
}
/* line 82, ../scss/style.scss */
nav ul li {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 500;
  line-height: 1em;
  padding: 10px 30px;
  transition: all .2s;
}
@media screen and (max-width: 930px) {
  /* line 82, ../scss/style.scss */
  nav ul li {
    font-weight: .8em;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 700px) {
  /* line 82, ../scss/style.scss */
  nav ul li {
    font-size: .7em;
    padding: 10px 15px;
  }
}
/* line 101, ../scss/style.scss */
nav ul li:hover {
  background: #333;
  transition: all .5s;
}

/* line 108, ../scss/style.scss */
.navFixed {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #171717;
}

/* line 116, ../scss/style.scss */
.navMobile {
  display: none;
  height: 50px;
  overflow: hidden;
  transition: all .5s;
  padding-bottom: 15px;
}
@media screen and (max-width: 600px) {
  /* line 116, ../scss/style.scss */
  .navMobile {
    display: block;
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
  }
}
/* line 134, ../scss/style.scss */
.navMobile ul {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
/* line 140, ../scss/style.scss */
.navMobile ul a {
  text-decoration: none;
  color: white;
}
/* line 145, ../scss/style.scss */
.navMobile ul li {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0 15px 0;
  border-bottom: 1px dotted #222;
}
/* line 154, ../scss/style.scss */
.navMobile ul li:hover {
  background: #333;
}
/* line 159, ../scss/style.scss */
.navMobile .mobileTap {
  height: 50px;
  display: block;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  position: absolute;
  left: 15px;
}
/* line 171, ../scss/style.scss */
.navMobile .mobileTap .menuIcon {
  padding-right: 10px;
}
/* line 177, ../scss/style.scss */
.navMobile .langSelectMobile {
  position: absolute;
  right: 15px;
  top: 15px;
}
/* line 181, ../scss/style.scss */
.navMobile .langSelectMobile h3 {
  display: inline-block;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 10px;
}
/* line 189, ../scss/style.scss */
.navMobile .langSelectMobile .langLink {
  color: white;
  font-size: 13px;
  cursor: pointer;
  padding: 3px 5px;
}

/* line 198, ../scss/style.scss */
.navExpand {
  height: auto;
  transition: all .5s;
}

/* line 203, ../scss/style.scss */
.gridWrap {
  position: relative;
  display: block;
  width: 930px;
  margin: 0 auto;
}
@media screen and (max-width: 930px) {
  /* line 203, ../scss/style.scss */
  .gridWrap {
    width: 100%;
  }
}

/* line 216, ../scss/style.scss */
.langSelect {
  position: absolute;
  top: 15px;
  color: white;
  text-shadow: 1px 1px 2px #111;
  margin: 0 auto;
  display: block;
  text-align: center;
  z-index: 10000;
  width: 100%;
}
@media screen and (max-width: 600px) {
  /* line 216, ../scss/style.scss */
  .langSelect {
    display: none;
  }
}
/* line 231, ../scss/style.scss */
.langSelect h3 {
  font-size: .8em;
  text-shadow: 1px 1px 2px #111;
  display: block;
  font-weight: 100;
  text-transform: uppercase;
}
/* line 239, ../scss/style.scss */
.langSelect .langLink {
  color: white;
  text-shadow: 1px 1px 2px #111;
  cursor: pointer;
}
/* line 245, ../scss/style.scss */
.langSelect .langOptionEN, .langSelect .langOptionFR, .langSelect .langOptionDE {
  font-size: 1.2em;
  font-weight: 900;
  padding: 0 5px;
}

/* line 255, ../scss/style.scss */
.top {
  background: url("../img/bg1.jpg");
  background-position: center center;
  background-size: cover;
  height: 90% !important;
  min-height: 750px;
  text-align: center;
  border-bottom: none;
}
/* line 269, ../scss/style.scss */
.top .gridWrap {
  display: inline-block !important;
}
/* line 273, ../scss/style.scss */
.top .logoWrap {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  display: block;
  margin-top: 15% !important;
  margin-bottom: 60px;
}
@media screen and (max-width: 700px) {
  /* line 273, ../scss/style.scss */
  .top .logoWrap {
    width: 250px;
    margin-bottom: 60px !important;
    margin-top: 90px !important;
  }
}
/* line 287, ../scss/style.scss */
.top .logoWrap svg {
  width: 250px;
}
@media screen and (max-width: 700px) {
  /* line 287, ../scss/style.scss */
  .top .logoWrap svg {
    width: 200px;
  }
}
/* line 296, ../scss/style.scss */
.top h1 {
  color: white;
  font-weight: 900;
  font-size: 2.7em;
  text-shadow: 1px 1px 2px #333;
  text-align: center;
  display: block;
  text-transform: uppercase;
  line-height: 1em;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  /* line 296, ../scss/style.scss */
  .top h1 {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  /* line 296, ../scss/style.scss */
  .top h1 {
    width: 90%;
  }
}
/* line 316, ../scss/style.scss */
.top h3 {
  color: white;
  font-weight: 100;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px #333;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
}

/* line 328, ../scss/style.scss */
.intro {
  background: #171717;
  color: white;
  text-align: center;
  padding-top: 60px;
  border-bottom: none !important;
}
/* line 335, ../scss/style.scss */
.intro h1 {
  text-transform: uppercase;
  line-height: .9em;
}
@media screen and (max-width: 700px) {
  /* line 335, ../scss/style.scss */
  .intro h1 {
    width: 90%;
    margin-bottom: 15px;
  }
}
/* line 345, ../scss/style.scss */
.intro p {
  width: 70%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 352, ../scss/style.scss */
.intro h3 {
  display: block;
  margin-top: 60px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em;
}
/* line 361, ../scss/style.scss */
.intro h5 {
  font-weight: 100;
  font-size: 1em;
  margin-bottom: 30px;
}
@media screen and (max-width: 700px) {
  /* line 361, ../scss/style.scss */
  .intro h5 {
    width: 90%;
  }
}
/* line 371, ../scss/style.scss */
.intro a {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 1em;
  padding: 8px 20px;
  margin-bottom: 120px;
  margin-top: 15px;
  border-radius: 3px;
  transition: all .3s;
}
/* line 385, ../scss/style.scss */
.intro a:hover {
  color: #171717;
  background: white;
  transition: all .6s;
}

/* line 392, ../scss/style.scss */
.program {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: white;
  color: #171717;
}
/* line 398, ../scss/style.scss */
.program .clinicBG {
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  background-size: cover !important;
}
@media screen and (max-width: 700px) {
  /* line 398, ../scss/style.scss */
  .program .clinicBG {
    height: 350px;
  }
}
@media screen and (max-width: 500px) {
  /* line 398, ../scss/style.scss */
  .program .clinicBG {
    height: 300px;
  }
}
/* line 414, ../scss/style.scss */
.program .clinicAcclimitization {
  background: url("../img/clinic_acclimatization.jpg") no-repeat;
}
/* line 418, ../scss/style.scss */
.program .clinicGlacierPrep {
  background: url("../img/clinic_glacierprep.jpg") no-repeat;
  background-position: right;
}
/* line 423, ../scss/style.scss */
.program .clinicSuuntoNav {
  background: url("../img/clinic_suuntonav.jpg") no-repeat;
}
/* line 427, ../scss/style.scss */
.program .clinicFirstAid {
  background: url("../img/clinic_firstaid.jpg") no-repeat;
}
/* line 431, ../scss/style.scss */
.program .clinicBasicMountaineering {
  background: url("../img/clinic_basicmountaineering.jpg") no-repeat;
}
/* line 435, ../scss/style.scss */
.program .clinicTechAlpinism {
  background: url("../img/clinic_advalpinism.jpg") no-repeat;
  background-position: center center !important;
}
/* line 440, ../scss/style.scss */
.program .clinicMultiPitch {
  background: url("../img/clinic_multipitch.jpg") no-repeat;
}
/* line 444, ../scss/style.scss */
.program .clinicGlacierTour {
  background: url("../img/clinic_glaciertour.jpg") no-repeat;
}
/* line 448, ../scss/style.scss */
.program .clinicMSROvernight {
  background: url("../img/clinic_msrovernight.jpg") no-repeat;
}
/* line 452, ../scss/style.scss */
.program .clinicPhotography {
  background: url("../img/clinic_alpinephotography.jpg") no-repeat;
  background-position: right;
}
/* line 457, ../scss/style.scss */
.program .clinicTradClimbing {
  background: url("../img/clinic_tradclimbing.jpg") no-repeat;
}
/* line 461, ../scss/style.scss */
.program .clinicMedicine {
  background: url("../img/clinic_medicine.jpg") no-repeat;
}
/* line 465, ../scss/style.scss */
.program .clinicDryTooling {
  background: url("../img/clinic_drytooling.jpg") no-repeat;
  background-position: right bottom;
}
/* line 470, ../scss/style.scss */
.program .clinicIceClimbing {
  background: url("../img/clinic_iceclimbing.jpg") no-repeat;
}
/* line 474, ../scss/style.scss */
.program .clinicRescue {
  background: url("../img/clinic_rescue.jpg") no-repeat;
}
/* line 478, ../scss/style.scss */
.program .clinicGrade7 {
  background: url("../img/clinic_grade7.jpg") no-repeat;
}
/* line 482, ../scss/style.scss */
.program .clinicIceClimbingWmn {
  background: url("../img/clinic_iceclimbingwmn.jpg") no-repeat;
  background-position: right;
}
/* line 487, ../scss/style.scss */
.program .clinicGlacierTourWmn {
  background: url("../img/clinic_glacierwmn.jpg") no-repeat;
}
/* line 491, ../scss/style.scss */
.program .clinicBigWall {
  background: url("../img/clinic_bigwall.jpg") no-repeat;
}
/* line 495, ../scss/style.scss */
.program .clinicSkiAlpinism {
  background: url("../img/clinic_skialpinism.jpg") no-repeat;
}
/* line 499, ../scss/style.scss */
.program .clinicBouldering {
  background: url("../img/clinic_bouldering.jpg") no-repeat;
  background-position: right;
}
/* line 504, ../scss/style.scss */
.program .clinicSplitboarding {
  background: url("../img/clinic_splitboarding.jpg") no-repeat;
}
/* line 508, ../scss/style.scss */
.program h1 {
  margin-top: 15px;
  text-transform: uppercase;
}
/* line 513, ../scss/style.scss */
.program p {
  margin: 0 auto;
  width: 70%;
}
@media screen and (max-width: 700px) {
  /* line 513, ../scss/style.scss */
  .program p {
    width: 90%;
    text-align: left;
  }
}
/* line 523, ../scss/style.scss */
.program ul {
  display: block;
  vertical-align: top;
}
/* line 527, ../scss/style.scss */
.program ul li {
  width: 42%;
  margin: 30px 2%;
  border: 1px solid #eee;
  padding: 15px;
  text-align: left;
  vertical-align: top;
}
@media screen and (max-width: 700px) {
  /* line 527, ../scss/style.scss */
  .program ul li {
    width: 90%;
  }
}
/* line 540, ../scss/style.scss */
.program ul li ul {
  list-style: disc !important;
}
/* line 543, ../scss/style.scss */
.program ul li ul li {
  display: list-item;
  width: 95% !important;
  margin: 0;
  padding: 0 0 .5em 0;
  border: none;
  list-style: disc !important;
  font-size: .8em;
  margin-left: 15px;
}
/* line 556, ../scss/style.scss */
.program ul li h1 {
  display: block;
  font-size: 1.2em;
  line-height: .9em;
}
/* line 562, ../scss/style.scss */
.program ul li h3 {
  font-size: .9em;
  text-transform: uppercase;
  color: #666;
  display: none;
}
/* line 569, ../scss/style.scss */
.program ul li p {
  width: 100%;
  font-weight: 100;
  font-size: .9em;
  margin: 10px 0;
}
/* line 577, ../scss/style.scss */
.program ul .fullWidth {
  width: 90%;
}
/* line 579, ../scss/style.scss */
.program ul .fullWidth img {
  float: right;
  width: 45%;
  padding-left: 30px;
  padding-top: 30px;
}
@media screen and (max-width: 700px) {
  /* line 579, ../scss/style.scss */
  .program ul .fullWidth img {
    width: 100%;
    padding-bottom: 30px;
  }
}
/* line 590, ../scss/style.scss */
.program ul .fullWidth p {
  width: 90% !important;
}

/* line 598, ../scss/style.scss */
.demo {
  margin-top: 120px;
  color: white;
  padding-bottom: 90px;
}
/* line 603, ../scss/style.scss */
.demo .finePrint {
  font-size: .7em;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  /* line 603, ../scss/style.scss */
  .demo .finePrint {
    width: 90%;
  }
}
/* line 614, ../scss/style.scss */
.demo h1 {
  text-transform: uppercase;
}
/* line 618, ../scss/style.scss */
.demo h3 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: .9em;
}
/* line 625, ../scss/style.scss */
.demo li {
  width: 35%;
  display: inline-block !important;
  vertical-align: top;
  text-align: left;
  margin: 1em 2em;
}
@media screen and (max-width: 700px) {
  /* line 625, ../scss/style.scss */
  .demo li {
    width: 90%;
  }
}
/* line 636, ../scss/style.scss */
.demo li p {
  font-size: .9em;
  width: 100%;
}
/* line 642, ../scss/style.scss */
.demo p {
  font-size: 1em;
  width: 70%;
  margin: 0 auto;
  padding: 1em 0;
}
@media screen and (max-width: 700px) {
  /* line 642, ../scss/style.scss */
  .demo p {
    width: 90%;
    text-align: left;
  }
}
/* line 654, ../scss/style.scss */
.demo a {
  color: white;
  font-weight: 100;
}

/* line 661, ../scss/style.scss */
.whattobring {
  background: white;
  padding-top: 90px;
  padding-bottom: 120px;
}
/* line 666, ../scss/style.scss */
.whattobring h1 {
  text-transform: uppercase;
  margin-bottom: 1em;
}
/* line 671, ../scss/style.scss */
.whattobring p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
}
@media screen and (max-width: 700px) {
  /* line 671, ../scss/style.scss */
  .whattobring p {
    text-align: left;
    width: 90%;
  }
}
/* line 682, ../scss/style.scss */
.whattobring .finePrint {
  font-size: .7em;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  /* line 682, ../scss/style.scss */
  .whattobring .finePrint {
    width: 90%;
  }
}
/* line 692, ../scss/style.scss */
.whattobring .left {
  text-align: left;
  font-weight: 900;
  margin-top: 2em;
}
@media screen and (max-width: 700px) {
  /* line 692, ../scss/style.scss */
  .whattobring .left {
    width: 90%;
  }
}
/* line 702, ../scss/style.scss */
.whattobring ul {
  text-align: left;
  padding-bottom: 60px;
  list-style: square;
  color: black;
}
/* line 708, ../scss/style.scss */
.whattobring ul li {
  margin-left: 5em;
  margin-bottom: .6em;
  font-weight: 100;
  width: 70%;
  list-style: square;
  color: black;
  display: list-item;
}
@media screen and (max-width: 550px) {
  /* line 708, ../scss/style.scss */
  .whattobring ul li {
    margin-left: 2em;
  }
}

/* line 724, ../scss/style.scss */
.contest {
  padding: 90px 0;
  color: white;
}
/* line 728, ../scss/style.scss */
.contest h1 {
  display: block;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 90%;
  line-height: .9em;
}
/* line 737, ../scss/style.scss */
.contest h3 {
  margin-top: 30px;
}
/* line 741, ../scss/style.scss */
.contest p {
  margin: 0 auto;
  width: 80%;
  font-weight: 100;
}
@media screen and (max-width: 700px) {
  /* line 741, ../scss/style.scss */
  .contest p {
    text-align: left;
    width: 90%;
  }
}
/* line 753, ../scss/style.scss */
.contest .finePrint {
  font-size: .7em;
  line-height: 1.2em;
}
/* line 758, ../scss/style.scss */
.contest .bolder {
  text-align: center;
  font-weight: 500;
}
/* line 763, ../scss/style.scss */
.contest ul {
  text-align: left;
  display: block;
  width: 40% !important;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
}
@media screen and (max-width: 700px) {
  /* line 763, ../scss/style.scss */
  .contest ul {
    width: 80% !important;
  }
}
/* line 776, ../scss/style.scss */
.contest li {
  display: list-item;
  list-style: square;
  text-align: left;
  font-weight: 100;
  margin-bottom: 1em;
  margin-left: 2em;
}
/* line 786, ../scss/style.scss */
.contest a {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 1em;
  padding: 8px 20px;
  margin-bottom: 60px;
  margin-top: 15px;
  border-radius: 3px;
  transition: all .3s;
}
/* line 800, ../scss/style.scss */
.contest a:hover {
  color: #171717;
  background: white;
  transition: all .6s;
}

/* line 807, ../scss/style.scss */
.archive {
  background: white;
  color: #171717;
  text-align: left;
  padding: 90px 0;
}
/* line 815, ../scss/style.scss */
.archive h1 {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 700px) {
  /* line 815, ../scss/style.scss */
  .archive h1 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
/* line 829, ../scss/style.scss */
.archive h3 {
  text-transform: uppercase;
  margin-bottom: .5em;
  display: block;
}
@media screen and (max-width: 700px) {
  /* line 829, ../scss/style.scss */
  .archive h3 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}

/* line 843, ../scss/style.scss */
.trailer {
  padding: 90px 0;
  color: white;
  text-align: center;
}
/* line 848, ../scss/style.scss */
.trailer h1 {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px !important;
}
@media screen and (max-width: 700px) {
  /* line 848, ../scss/style.scss */
  .trailer h1 {
    width: 90%;
    margin: 0 auto;
  }
}
/* line 860, ../scss/style.scss */
.trailer h3 {
  text-transform: uppercase;
  margin-bottom: .5em;
  text-align: left !important;
  display: block;
}
@media screen and (max-width: 700px) {
  /* line 860, ../scss/style.scss */
  .trailer h3 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}
/* line 873, ../scss/style.scss */
.trailer iframe {
  width: 960px;
  height: 540px;
}
@media screen and (max-width: 930px) {
  /* line 873, ../scss/style.scss */
  .trailer iframe {
    width: 90%;
    margin: 0 auto;
  }
}

/* line 884, ../scss/style.scss */
.contact {
  background: white;
  color: #171717;
  padding: 90px 0;
}
/* line 889, ../scss/style.scss */
.contact h1 {
  display: block;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* line 895, ../scss/style.scss */
.contact p {
  display: block;
  width: 70%;
  margin: 0 auto;
}
/* line 901, ../scss/style.scss */
.contact a {
  color: #111;
}

/* line 910, ../scss/style.scss */
.sponsors {
  color: white;
  padding: 90px 0;
}
/* line 914, ../scss/style.scss */
.sponsors h1 {
  display: block;
  text-transform: uppercase;
}
/* line 919, ../scss/style.scss */
.sponsors p {
  margin-top: 30px;
  text-transform: uppercase;
}
/* line 924, ../scss/style.scss */
.sponsors ul {
  text-align: center;
}
/* line 927, ../scss/style.scss */
.sponsors ul a {
  display: inline-block;
  width: 200px;
  height: 150px;
  padding-top: 35px;
  margin: .5em .5em;
}
/* line 935, ../scss/style.scss */
.sponsors ul li {
  width: 100%;
  height: 100%;
}
/* line 941, ../scss/style.scss */
.sponsors ul .arcteryx {
  background: url("../img/sponsor_arc.png") no-repeat;
  background-position: center 0px;
  background-size: 120px;
}
/* line 947, ../scss/style.scss */
.sponsors ul .montblanc {
  background: url("../img/sponsor_montblanc.png") no-repeat;
  background-position: center 0px;
  background-size: 120px;
}
/* line 953, ../scss/style.scss */
.sponsors ul .gore {
  background: url("../img/sponsor_gore.png") no-repeat;
  background-position: center -10px;
  background-size: 160px;
}
/* line 959, ../scss/style.scss */
.sponsors ul .petzl {
  background: url("../img/sponsor_petzl.png") no-repeat;
  background-position: center -10px;
  background-size: 150px;
}
/* line 965, ../scss/style.scss */
.sponsors ul .msr {
  background: url("../img/sponsor_msr.png") no-repeat;
  background-position: center -10px;
  background-size: 150px;
}
