/* SASS / Social Media Brand Colors */
/* line 36, ../scss/style.scss */
html {
  width: 100%;
  height: 100%;
  font-family: Avenir;
}

/* line 42, ../scss/style.scss */
body {
  margin: 0;
  padding: 0;
  background: #efefef;
}

/* line 48, ../scss/style.scss */
img:hover {
  transition: all 1s ease;
  opacity: 0.8;
}

/* line 54, ../scss/style.scss */
.contentWrap {
  position: relative;
  width: 930px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media only screen and (max-width: 929px) {
  /* line 54, ../scss/style.scss */
  .contentWrap {
    width: 100%;
  }
}

/* line 65, ../scss/style.scss */
.navWrap {
  z-index: 10;
  width: 100%;
  height: 80px;
  position: fixed;
  display: block;
  overflow: visible;
  box-sizing: border-box;
}
/* line 75, ../scss/style.scss */
.navWrap .navLogo {
  width: 160px;
  height: 90px;
  position: relative;
  display: inline-block;
  float: left;
  background: #000;
  background-image: url("../img/arcLogo.jpg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 30px 15px;
}
/* line 88, ../scss/style.scss */
.navWrap .navMain {
  float: left;
  margin-top: 30px;
  height: 40px;
  display: inline-block;
  position: relative;
}
/* line 95, ../scss/style.scss */
.navWrap .navMain ul {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 15px;
}
/* line 101, ../scss/style.scss */
.navWrap .navMain ul li {
  color: white;
  float: left;
  display: inline-block;
  margin: 0;
  list-style: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 20px;
}
/* line 112, ../scss/style.scss */
.navWrap .navMain ul .menuBorder {
  border-left: 1px solid white;
}

/* line 119, ../scss/style.scss */
.featureWrap {
  width: 100%;
  height: 650px;
  background: #121212;
  box-sizing: border-box;
  text-align: center;
}
/* line 126, ../scss/style.scss */
.featureWrap ul {
  list-style: none;
  z-index: 1000;
}
/* line 129, ../scss/style.scss */
.featureWrap ul li {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px !important;
  overflow: hidden;
}
/* line 135, ../scss/style.scss */
.featureWrap ul li button {
  color: #666 !important;
  display: inline-block !important;
  background: #666;
  padding: 4px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: none;
  overflow: hidden !important;
}
/* line 149, ../scss/style.scss */
.featureWrap .featureSlide {
  width: 100%;
  height: 100%;
}
/* line 153, ../scss/style.scss */
.featureWrap .featureSlide .slideContent {
  position: relative;
  text-align: left;
}
/* line 157, ../scss/style.scss */
.featureWrap .featureSlide .slideContent h1 {
  color: white;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}
/* line 166, ../scss/style.scss */
.featureWrap .featureSlide .slideContent h3 {
  color: white;
  font-size: 18px;
  font-weight: 100;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}
/* line 175, ../scss/style.scss */
.featureWrap .featureSlide .slideContent a {
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

/* line 187, ../scss/style.scss */
.feature1 {
  background: url("../img/featureslidebg-3.jpg");
  background-size: cover;
  background-position: center bottom;
}
/* line 192, ../scss/style.scss */
.feature1 .slideContent {
  float: none;
  margin-top: 200px;
  text-align: center !important;
}

/* line 199, ../scss/style.scss */
.feature2 {
  background: url("../img/featureslidebg-2.jpg");
  background-size: cover;
  background-position: center top;
}
/* line 204, ../scss/style.scss */
.feature2 .slideContent {
  width: 390px;
  float: right;
  margin-top: 500px;
  margin-right: 15%;
  text-align: right !important;
}

/* line 213, ../scss/style.scss */
.feature3 {
  background: url("../img/featureslidebg-4.jpg");
  background-size: cover;
  background-position: left bottom;
}
/* line 218, ../scss/style.scss */
.feature3 .slideContent {
  width: 390px;
  float: right;
  margin-top: 500px;
  margin-right: 15%;
  text-align: right !important;
}

/* line 227, ../scss/style.scss */
.feature4 {
  background: url("../img/featureslidebg.jpg");
  background-size: cover;
  background-position: right top;
}
/* line 232, ../scss/style.scss */
.feature4 .slideContent {
  width: 390px;
  float: left;
  margin-top: 500px;
  margin-left: 15%;
  text-align: right !important;
}
/* line 239, ../scss/style.scss */
.feature4 .slideContent h1, .feature4 .slideContent h3, .feature4 .slideContent a {
  color: teal !important;
}

/* line 247, ../scss/style.scss */
.slick-dots {
  bottom: 20px !important;
  z-index: 100;
}
/* line 251, ../scss/style.scss */
.slick-dots .slick-active {
  color: pink;
}
/* line 254, ../scss/style.scss */
.slick-dots .slick-active button {
  background: teal;
  color: teal;
}

/* line 263, ../scss/style.scss */
.socialLinkBar {
  width: 100%;
  height: 40px;
  z-index: 1;
  background: black;
}

/* line 271, ../scss/style.scss */
.container {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 30px;
  z-index: 1;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
}

/* line 283, ../scss/style.scss */
.postElement {
  position: relative;
  display: inline-block;
  background: white;
  box-shadow: 1px 1px 3px #bbb;
  margin: 15px 1%;
  height: 380px;
  box-sizing: border-box;
  vertical-align: top;
}

/* line 294, ../scss/style.scss */
.blogPostWrap {
  width: 54%;
  min-width: 300px;
  max-width: 450px;
}
/* line 300, ../scss/style.scss */
.blogPostWrap .blogImage {
  width: 100%;
  height: 230px;
  background: teal;
}
/* line 305, ../scss/style.scss */
.blogPostWrap .blogImage img {
  width: 100%;
  height: 230px;
}
/* line 311, ../scss/style.scss */
.blogPostWrap h1, .blogPostWrap h3, .blogPostWrap p {
  margin: 2px 0;
  padding: 5px 15px;
  line-height: 1em;
  text-align: left;
}
/* line 318, ../scss/style.scss */
.blogPostWrap h1 {
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 5px;
}
/* line 323, ../scss/style.scss */
.blogPostWrap h3 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
  margin-top: -8px;
}
/* line 330, ../scss/style.scss */
.blogPostWrap p {
  font-size: 13px;
  line-height: 17px;
}

/* line 337, ../scss/style.scss */
.tweetWrap {
  width: 18%;
  min-width: 250px;
  max-width: 250px;
}
/* line 343, ../scss/style.scss */
.tweetWrap blockquote {
  margin: 0;
  padding: 0;
}
/* line 348, ../scss/style.scss */
.tweetWrap h1, .tweetWrap h3, .tweetWrap h4, .tweetWrap h2, .tweetWrap p {
  margin: 3px 0;
  padding: 0 15px;
  line-height: 1em;
  text-align: left;
}
/* line 355, ../scss/style.scss */
.tweetWrap h1 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
}
/* line 363, ../scss/style.scss */
.tweetWrap h2 {
  font-size: 15px;
  font-weight: 500;
  color: #666;
}
/* line 370, ../scss/style.scss */
.tweetWrap h3 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
}
/* line 377, ../scss/style.scss */
.tweetWrap h4 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
  margin-bottom: 10px;
}
/* line 384, ../scss/style.scss */
.tweetWrap p {
  font-size: 15px;
  margin: 15px 0;
  line-height: 17px;
}
/* line 390, ../scss/style.scss */
.tweetWrap .tweetSharing {
  padding-left: 15px;
  display: none;
}

/* line 396, ../scss/style.scss */
.tweetPhoto {
  background-color: #00aced;
  width: 100%;
}
/* line 399, ../scss/style.scss */
.tweetPhoto img {
  width: 100%;
}

/* line 404, ../scss/style.scss */
.tweetContent {
  height: 175px;
}

/* line 410, ../scss/style.scss */
.pinterestWrap {
  width: 18%;
  min-width: 250px;
  max-width: 250px;
}
/* line 415, ../scss/style.scss */
.pinterestWrap .pinterestPhoto {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: #cb2027;
}
/* line 421, ../scss/style.scss */
.pinterestWrap .pinterestPhoto img {
  width: auto;
  height: 200px;
}
/* line 428, ../scss/style.scss */
.pinterestWrap .pinterestContent p {
  font-size: 13px;
  padding: 10px 15px 0 15px;
}

/* line 435, ../scss/style.scss */
.instagramWrap {
  width: 54%;
  min-width: 300px;
  max-width: 450px;
}
/* line 440, ../scss/style.scss */
.instagramWrap h1, .instagramWrap h3, .instagramWrap h4, .instagramWrap h2, .instagramWrap p {
  margin: 3px 0;
  padding: 0 15px;
  line-height: 1em;
  text-align: left;
}
/* line 447, ../scss/style.scss */
.instagramWrap .instaPhoto {
  width: 100%;
  height: 300px;
  overflow: hidden;
  z-index: 100;
  background-color: #517fa4;
}
/* line 454, ../scss/style.scss */
.instagramWrap .instaPhoto img {
  width: 100%;
  margin-top: -100px;
}
/* line 461, ../scss/style.scss */
.instagramWrap .instaContent h1 {
  font-size: 16px;
  line-height: 20px;
  margin-top: -20px;
}
/* line 466, ../scss/style.scss */
.instagramWrap .instaContent p {
  font-size: 13px;
  line-height: 17px;
}

/* line 474, ../scss/style.scss */
.socialIcon {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 1px #555;
  top: 10px;
  right: 10px;
}
/* line 486, ../scss/style.scss */
.socialIcon svg {
  margin-top: 6px;
  width: 22px;
  height: 22px;
  margin-left: 2px;
}

/* line 494, ../scss/style.scss */
.bird {
  background: #212121;
}
/* line 496, ../scss/style.scss */
.bird img {
  width: 30px;
  margin-top: 9px;
}

/* line 503, ../scss/style.scss */
.twitter svg {
  margin-top: 7px;
}

/* line 509, ../scss/style.scss */
.pinterest svg {
  margin-left: 0px;
}

/* line 516, ../scss/style.scss */
.youtube svg {
  margin-left: 0px;
}

/* line 521, ../scss/style.scss */
.socialInsta {
  fill: #517fa4;
}

/* line 525, ../scss/style.scss */
.socialTwitter {
  fill: #00aced;
}

/* line 529, ../scss/style.scss */
.socialPinterest {
  fill: #cb2027;
}

/* line 533, ../scss/style.scss */
.socialYoutube {
  fill: #bb0000;
}

/* line 537, ../scss/style.scss */
.vimeoWrap {
  width: 72%;
  min-width: 500px;
  max-width: 686px;
  background: black;
}
/* line 543, ../scss/style.scss */
.vimeoWrap h1 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 3px #000;
  margin-top: 90px;
}
/* line 554, ../scss/style.scss */
.vimeoWrap h3 {
  color: white;
  font-size: 13px;
  line-height: 15px;
  text-shadow: 1px 1px 3px #000;
  font-weight: 500;
}
/* line 563, ../scss/style.scss */
.vimeoWrap a img {
  width: 80px;
}

/* line 569, ../scss/style.scss */
.coastalVideo {
  background: url("http://images.arcteryx.com/campaign/definefeminine/S15WmnsVideoWinnerBG.jpg");
  background-size: cover;
}
