// This is for a more block-based layout, similar to the homepage layout

$highlight: #ed1d24;

html {

}

body {
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: Avenir, sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

h1, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  line-height: 1em;
}

h3 {
  font-weight: 100;
  line-height: 1em;
}

p {
  font-weight: 300;
  line-height: 1.3em;
}

.highlight {
  color: $highlight;
}


.contentGrid {
  position: relative;
  width: 930px;
  margin: 0 auto;

  @media screen and (max-width: 945px) {
    width: 100%;
    padding-left: 30px;
  }
}

.headerWrap {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;

  .logoWrap {
    width: 150px;
    height: 200px;
    background: url('../img/logoLondon.jpg') no-repeat;
    background-size: 150px;
  }
}

.heroWrap {
  background: url('../img/bgLondon.jpg') no-repeat;
  // background-size: 110% auto;
  background-size: cover;
  min-height: 350px;
  // height: 500px;

  @media screen and (max-width: 930px) {
    background-size: auto 110%;
  }

  @media screen and (max-width: 500px) {
    min-height: 250px;
    background-size: cover !important;
  }
}

.heroContent {
  margin-top: 30px;
  margin-bottom: 30px;

  h1 {
    font-size: 2.5em !important;
    line-height: 1em !important;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  h3 {
    font-weight: 600;
    line-height: 1.4em;
  }
}

.mainWrap {
  margin-bottom: 60px;

  .colWrap {
    width: 44%;
    box-sizing: border-box;
    display: inline-block;
    // border: 1px solid teal;
    // padding: 15px;
    background-color: black;
    vertical-align: top;

    @media screen and (max-width: 930px) {
      width: 46%;
    }

    @media screen and (max-width: 700px) {
      width: 90%;
    }
  }

  h1 {
    font-size: 1.3em;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1em;
    font-weight: 100 !important;
    margin-bottom: 10px;
    line-height: 1.3em;
  }

  ul {
    margin-bottom: 30px;

    li {
      list-style: square;
      width: 70%;
      line-height: 1.5em;
      margin-bottom: 5px;
    }
  }

  a {
    display: block;
  }

  .mapWrap {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 230px;
    margin-top: 15px;
    background: url('../img/mapLondon.jpg');
    background-position: center center;
  }
}

.subWrap {
  width: 930px;
  position: relative;
  margin: 0 auto;

  @media screen and (max-width: 930px) {
    width: 100%;
  }
}

.contestWrap {
  vertical-align: top;
  width: 100%;
  // max-width: 450px;
  display: inline-block;
  height: 500px;
  position: relative;
  background: url('../img/deepwinterChad.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  margin-right: 30px;
  overflow: hidden;
  margin-bottom: 60px;

  @media screen and (max-width: 929px) {
    width: 100%;
    margin-right: 0;

  }

  @media screen and (max-width: 575px) {
    height: auto;
    background-size: auto 400px;
  }

  .contentWrap {
    width: 40%;
    min-width: 300px;
    display: inline-block;
    position: relative;
    padding: 30px;
    background: black;
    margin-top: 15%;
    // margin-left: 30px;

    @media screen and (max-width: 575px) {
      width: 100%;
      margin-top: 300px;
    }

    h1 {
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
    }

    h3 {
      font-size: 15px;
      line-height: 1.2em;
    }
    .smaller {
      font-size: 14px;
      vertical-align: top;
    }

    p {
      margin-top: 15px;
      font-size: 14px;
      // text-transform: uppercase;
      line-height: 1.5em;
    }
    a {
      color: white;
      font-size: 13px;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 15px;
      float: left;
      padding: 5px 12px 4px 12px;
      border: 1px solid white;
    }
  }
}

.manleyWrap {
  background: url('../img/manleyBG.jpg') no-repeat;
  background-size: cover;
  background-position: 63% center;
  width: 100%;
  // max-width: 450px;
  height: 500px;
  display: inline-block;

  @media screen and (max-width: 929px) {
    width: 100%;
    margin-top: 30px;
  }

  @media screen and (max-width: 575px) {
    height: auto;
    background-size: auto 400px;
    background-position: right top;
  }


  .contentWrap {
    width: 40%;
    min-width: 300px;
    height: auto;
    margin-top: 15%;
    padding: 30px;
    box-sizing: border-box;
    background: black;
    display: inline-block;
    text-align: right;

    @media screen and (max-width: 575px) {
      width: 100%;
      margin-top: 400px;
      text-align: left;
    }

    h1 {
      font-size: 18px;
      font-weight: 900;
      line-height: 1.5em;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    p {
      font-size: 14px;
      // text-transform: uppercase;
      margin-bottom: 20px;
    }

    a {
      float: right;
      font-size: 13px;
      padding: 5px 12px 4px 12px;
      border: 1px solid white;
      text-transform: uppercase;
    }

    .galleryLink {

    }
    .buttonWrap {
      text-decoration: none;
    }
  }
}

#overlay {
  display: none;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0;
  padding: 25px;
  // border: 5px solid #666;
  background-color: #222;
  height: 100%;
  width: 100%;
  // overflow: scroll;
  z-index: 100;
  color: #333;
  transition: all 1s ease 1s;

  iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
    overflow: scroll;
  }
}

#overlay p {
  color: #666;
}

#fade {
  display: none;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

#closeLink {
  position: fixed;
  background: #000;
  right: 2%;
  top: 2%;
  z-index: 200;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  // background: #eee;
}

#closeLink a {
  color: #ff0000 !important;
  text-decoration: none;
}

.nffWrap {
  background: url('../img/newforfallhero.jpg') no-repeat;
  background-color: rgba(255,255,255,.5);
  background-size: cover;
  background-position: center 30%;
  width: 100%;
  height: 350px;
  opacity: 1;
  margin-top: 60px;

  .contentGrid {
    width: 100%;
    text-align: center;

    a {
      margin-top: 120px;
      margin-bottom: 30px;
      font-size: 14px;
      color: white;
      text-align: center;
      border: 1px solid white;
      padding: 8px 15px 7px 15px;
      display: inline-block;
    }

    h1 {
      font-size: 14px;
      line-height: 13px;
      vertical-align: bottom;
      overflow: hidden;
    }
  }

}

