
@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

$imgbp: 1500px;

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
}

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-4;
}

body, html {
	/* important */
	height: 100%;
}

a {
	color: $color-3;
	text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $M; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
  p {
    margin-bottom: 2em;
    color: #ddd !important;
  }

  h3 {
    color: white;
    font-weight: 900;
    text-align: center;
    margin-bottom: 60px;
    font-size: 24px;
    text-transform: uppercase;
  }

  .quoteMain {
    font-weight: 600;
    font-style: italic;
  }

  .quoteMain:before {
    content: '"';
    font-size: 5em;
    opacity: .6;
    position: absolute;
  }

  .quoteAttr {
    float: right;
    text-align: right;
  }

}

/* -------------------------------- 

Main components 

-------------------------------- */


.cd-header {
	position: fixed;
	top: 0;
	left: 0;
    height: 30px;
    overflow: hidden;
	width: 100%;
	// background: #111 !important;
  	opacity: 0.8 !important;
	// box-shadow: 0 1px 2px rgba(#000, .2);
	z-index: index($main-elements, navigation); // see partials > _variables.scss

	@include MQ(M) {
		#cd-logo {
			margin: 23px 0 0 5%;
		}
	}

  h1 {
	color: white !important;
	opacity: 1.0 !important;
	font-size: 16px;
	text-transform: uppercase;
	font-family: Avenir !important;
	font-weight: 600;
	padding: 8px 0 0 15px;
  }
}

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url('../img/cd-icon-menu.svg') no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.is-visible {

    }
  }

  a {
    display: block;
    height: $header-height-S;
    line-height: $header-height-S;
    padding-left: 5%;
    background: darken($color-1, 5%);
    border-top: 1px solid lighten($color-1, 3%);
    color: lighten($color-1, 30%);
  }
}

.cd-main-content {
	/* you need to assign a min-height to the main content so that the children can inherit it*/
	height: 100%;
	position: relative;
	z-index: index($main-elements, main-content); // see partials > _variables.scss
}

.cd-fixed-bg {
	position: relative;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: index($bg-elements, fixed-bg); // see partials > _variables.scss

    @media screen and (max-width: 768px) and (orientation: portrait) {
      min-height: 60%;
    }

	h1, h2 {
		position: absolute;
		// @include center;
		width: 60%;
		max-width: 930px;

		text-align: right;
		@include font-size(30px);
		text-shadow: 0 1px 3px rgba(#000, .3);
		color: $color-4;
	}

    blockquote {
      width: 50%;
      max-width: 550px;
      // font-family: 'Eczar', serif;
      text-align: right;
      // font-style: italic;
      color: #eee;
      position: absolute;
      display: inline-block;
      top: 15%;
      right: 5%;
      font-size: 30px;
      font-weight: 300;
      line-height: 1.3em;

    }

	&.cd-bg-1 {

      background-image: url('../img/20150429_uk_34.jpg');
      background-position: right center;

	}

	&.cd-bg-2 {
      background-image: url('../img/sm/gritstone_hero.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/gritstone_hero.jpg');
      }
	}

	&.cd-bg-3 {
      background-image: url('../img/sm/gritstone_2.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/gritstone_2.jpg');
      }

	}

	&.cd-bg-4 {
		background-image: url('../img/sm/gritstone_3.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/gritstone_3.jpg');
      }

	}

    &.cd-bg-5 {
      background-image: url('../img/sm/gritstone_hero2.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/gritstone_hero2.jpg');
      }
    }

    &.cd-bg-6 {
      background-image: url('../img/sm/slate_hero.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/slate_hero.jpg');
      }
    }

    &.cd-bg-7 {
      background-image: url('../img/sm/slate_2.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/slate_2.jpg');
      }
    }

    &.cd-bg-8 {
      background-image: url('../img/sm/slate_3.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/slate_3.jpg');
      }
    }

    &.cd-bg-9 {
      background-image: url('../img/sm/seacliff_hero.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/seacliff_hero.jpg');
      }
    }

    &.cd-bg-10 {
      background-image: url('../img/sm/seacliff_2.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/seacliff_2.jpg');
      }
    }

    &.cd-bg-11 {
      background-image: url('../img/sm/seacliff_3.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/seacliff_3.jpg');
      }
    }

    &.cd-bg-12 {
      background-image: url('../img/sm/seacliff_hero2.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/seacliff_hero2.jpg');
      }
    }

    &.cd-bg-13 {
      background-image: url('../img/sm/rhyolite_hero.jpg');
      @media screen and (min-width: $imgbp) {
        background-image: url('../img/rhyolite_hero.jpg');
      }
    }

  &.cd-bg-14 {
    background-image: url('../img/rhyolite_2.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/sm/rhyolite_2.jpg');
    }
  }

  &.cd-bg-15 {
    background-image: url('../img/sm/rhyolite_3.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/rhyolite_3.jpg');
    }
  }

  &.cd-bg-16 {
    background-image: url('../img/sm/rhyolite_4.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/rhyolite_4.jpg');
    }
  }

  &.cd-bg-17 {
    background-image: url('../img/sm/rhyolite_hero2.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/rhyolite_hero2.jpg');
    }
  }

  &.cd-bg-18 {
    background-image: url('../img/sm/sandstone_hero.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/sandstone_hero.jpg');
    }
  }

  &.cd-bg-19 {
    background-image: url('../img/sm/sandstone_2.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/sandstone_2.jpg');
    }
  }

  &.cd-bg-20 {
    background-image: url('../img/sm/sandstone_3.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/sandstone_3.jpg');
    }
  }

  &.cd-bg-21 {
    background-image: url('../img/sm/sandstone_hero2.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/sandstone_hero2.jpg');
    }
  }

  &.cd-bg-22 {
    background-image: url('../img/sm/limestone_hero.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/limestone_hero.jpg');
    }
  }

  &.cd-bg-23 {
    background-image: url('../img/sm/limestone_2.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/limestone_2.jpg');
    }
  }

  &.cd-bg-24 {
    background-image: url('../img/sm/limestone_3.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/limestone_3.jpg');
    }
  }

  &.cd-bg-25 {
    background-image: url('../img/sm/gritstone_4.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/gritstone_4.jpg');
    }
  }

  &.cd-bg-26 {
    background-image: url('../img/sm/gritstone_5.jpg');
    @media screen and (min-width: $imgbp) {
      background-image: url('../img/gritstone_5.jpg');
    }
  }


  .withBG {
    left: 5% !important;
    width: 40%;
    height: auto;
    background: #222;
    padding: 30px;

    p {
      margin-bottom: 15px;
      line-height: 2em;
      font-size: 20px;
      font-weight: 100;
    }

    blockquote {
      width: 100%;
      height: 100%;
      position: relative;
      display: block;
    }
  }

  .showHide {
   // display: block !important;
    left: 0px !important;
    transition: left 1s;
  }

  .metaWrap {
    position: absolute;
    bottom: 1%;
    left: 3%;
    width: 50px;
    height: 80px;
    background: url('../img/camera-icon.png') no-repeat;
    background-size: 40px;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
    .land {
      fill: #fff;
      width: 50px;
      height: 50px;
    }

    .metaInfo {
      position: absolute;
      display:block;
      width: auto;
      min-width: 250px;
      height: auto;
      background: #ccc;
      margin-top: -310px;
      box-sizing: border-box;
      padding: 15px;
      opacity: .75;
      min-height: 50px;
      bottom: 90px;
      left: -350px;
      // display: none;
      transition: all 1s;

      h3 {
        // text-transform: uppercase;
        font-size: 13px;
        font-weight: 900;
        line-height: 15px;
      }
    }

    .metaInfo:after {
      position: absolute;
      width: 15px;
      height: 15px;
      color: teal;
      content: '';
    }
  }



	@include MQ(M) {
		h1, h2 {
			font-size: 36px;
		}
	}

	@include MQ(L) {
		background-attachment: fixed;

		h1, h2 {
			font-size: 36px;
			font-weight: 300;
		}
	}
}


.topCTA {
  font-family: Avenir, sans-serif;
  font-weight: 900;
  text-align: center;
  color: white;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid white;
  padding: 3px 10px;
}

.centered {
  text-align: center !important;
}

.bioWrap {
  text-align: center;
  margin-bottom: 60px;

  .bioPhoto {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 30px;
  }

  .manley {
    background: url('../img/ManleyBio.jpg') no-repeat;
    background-position: center center;
    background-size: 250px;
  }

  .mina {
    background: url('../img/MinaBio.jpg') no-repeat;
    background-position: center center;
    background-size: 250px;
  }

  .katy {
    background: url('../img/KatyBio.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .bioContent {
    margin-top: 30px;
  }

  .bioLinks {

    display: inline-block;
    position: relative;

    svg {
      width: 40px;
      height: 40px;
      fill: white;
      margin: 0 10px;
    }
  }
}

.socialInsta, .socialVimeo {
  fill: #fff;
}

.socialVimeo {

}

.cd-scrolling-bg {
	position: relative;
	// min-height: 100%;
	padding: 3em 0 !important;
	line-height: 1.6;
	box-shadow: 0 0 20px rgba(#000, .5);
	z-index: index($bg-elements, scrolling-bg); // see partials > _variables.scss

	&.cd-color-1 {
		background-color: #bbb;
		color: lighten($color-1, 40%);
	}

	&.cd-color-2 {
		background-color: #212121;
		color: $color-1;
      // background: url('../img/mapBW.jpg') no-repeat;
	}

	&.cd-color-3 {
		background-color: #ddd;
		color: $color-1;
	}

  &.cd-color-4 {
    background-color: #222;
    color: $color-1;
    background: url('../img/20150429_uk_34.jpg') no-repeat;
    background-size: 100% auto;
    width: 100% !important;
    height: 900px;
  }

  &.cd-color-5 {
    padding: 0 0 2em 0 !important;
    background-color: #212121;
  }

  .heroImage {
    img {
      width: 100%;
      height: auto;
    }
  }

  .quoteAttr {
    font-family: Georgia, sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .pullQuote {
    font-family: Georgia, sans-serif;
    font-style: italic;
    font-weight: 500;
    color: #fff !important;
    position: relative;
    font-size: 1.2em;
  }

  .pullQuote:before {
    content: '\201C';
    font-size: 172px;
    vertical-align: top;
    line-height: 120px;
    position: absolute;
    color: #333;
    top: 0%;
    left: -15%;
    font-family: Georgia, sans-serif !important;
  }

  .pullQuote:after {
    content: '\201D';
    font-size: 172px;
    vertical-align: top;
    line-height: 120px;
    position: absolute;
    color: #333;
    bottom: -20%;
    right: -5%;
    font-family: Georgia, sans-serif !important;
  }

    p {
      color: #aaa;
      line-height: 1.9em;
      font-weight: 500;
    }
	@include MQ(M) {
		padding: 6em 0;
		@include font-size(20px);
		line-height: 2;
		font-weight: 300;
	}

  h1 {
    font-family: Georgia, sans-serif;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    line-height: 1.3em;
    margin-top: 45px;
    text-shadow: 1px 1px 1px #000;
  }

  h3 {
    font-family: Georgia, sans-serif;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #000;
    text-transform: none !important;
  }

   h4 {
    font-size: 0.8em;
     text-align: center;
     margin-bottom: 45px;
     font-family: Georgia, sans-serif;
     font-style: italic;
     color: #bbb;
     text-shadow: 1px 1px 1px #000;

   }
}

.bolder {
  font-weight: 800;
}