$bp: "(max-width: 768px)";
$bp900: "(max-width: 900px)";
$bp1050: "(max-width: 1050px)";

$bodyFont: 19px 'Roboto';
$bodySlab: 19px 'Roboto Slab';

body {
 font: $bodyFont;
}

a {
  text-decoration: none;
}

.topWrap {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 63px;
  background-color: #333  ;
  z-index: 100;
  opacity: 0.95;

  @media #{$bp} {
    height: 85px !important;
  }

  .menuWrap {
    position: absolute;
    left: 10px;
    z-index: 150;


   a  {
      display: block;
      position: relative;
      margin-top: -9px;
      padding: 5px 20px 10px 25px;

      color: #fff;
      font-size: 50px;
      text-decoration: none;
      z-index: 1000;

     @media #{$bp} {
       padding: 15px 20px 10px 5px;
     }

    }
  }
  .logoWrap {
    width: 250px;
    height: 95px;
    margin: 0 auto;
    z-index: 200;
    background: #333;
    font: $bodySlab;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding: 15px 10px 10px 30px;

    @media #{$bp} {
      float: right;
      margin-right: 0px;
    }

    h1 {
      font-size: 40px;
      color: #ddd;
      margin:0;
      padding: 0;
      .headerOut {
         color: #fff;
      }
    }

    h3 {
      font-size: 15px;
      margin:0;
      // font: $bodyFont;
      margin-top: -10px;
      padding:0;
      color: #aaa;
      letter-spacing: 2;
      font-weight: 300;
      text-transform: uppercase;
    }

    img {
      margin-top: -108px;
      width: 300px;
      margin-left: -70px;

      @media #{$bp} {
        margin-top: 0px;
        margin-left: 0;
        width: 150px;
      }
    }
  }
}

.slideWrap {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  height: 60%;
  background-color: #333;


  @media #{$bp}  {
    height: 60%;
  }

  .slide1 {
    display: table-cell;
    position: relative;
    background-image: url('../img/slide1.jpg');
    background-size: cover !important;
    background-position: center bottom;
    height: 100%;

    h1 {
      font-family: serif;
      display: block;
      font-size: 100px;
      position: relative;
      margin-top: 20% !important;
      margin-left: 30% !important;
      color: white;
      line-height: 80px;
      text-shadow: 10px 10px 30px #111;
      opacity: 1;

      @media #{$bp}  {
        margin-left: 10% !important;
        margin-top: 40% !important;
        font-size: 72px;
        line-height: 60px;
        opacity: .85;
      }


      .outside {
        margin-top:25px;
        margin-left: 70px;
        @media #{$bp}  {
          margin-left: 30px;
        }
      }
    }

  }
  .slide2 {
    background-image: url('../img/slide2.jpg');
    backtground-size: 100%;
    height: 100%;

  }

  .slide3 {
    background-image: url('../img/slide3.jpg');
    backtground-size: 100%;
    height: 100%;
    background-position: center top;
  }

  .slide4 {
    background-image: url('../img/slide4.jpg');
    backtground-size: 100%;
    height: 100%;
    background-position: center top;
    // comment
  }

  .slide5 {
    background-image: url('../img/slide5.jpg');
    backtground-size: 100%;
    height: 100%;
    background-position: center top;
  }

  .slide6 {
    background-image: url('../img/slide6.jpg');
    backtground-size: 100%;
    height: 100%;
    background-position: center top;
  }

  .slide7 {
    background-image: url('../img/slide7.jpg');
    backtground-size: 100%;
    height: 100%;
    background-position: center top;
  }

  .slide8 {
    background-image: url('../img/slide8.jpg');
    backtground-size: 100%;
    height: 100%;
    background-position: center top;
  }

}

// comment compile



.lowerWrap {
  position: absolute;
  width: 100%;
  min-height: 600px;
  margin: 0;
  background-color: #aaa;
  background-image: url('../img/plansbg.jpg');
  background-size: auto;
  background-repeat: repeat-y;
  top:60%;
  left: 0;
  bottom: 0px;
  color: #333;
  display: inline-table;

  @media #{$bp} {
    top: 60%;
    height: auto;
    min-height: 900px;
    background-repeat: repeat-y;
    display: inline-table;
  }

  .contactBar {
    width: 100%;
    height: auto;
    background-color: none;
    color: #aaa;
    text-transform: uppercase;
    font-family: 'Roboto Slab';
    overflow: hidden;
    padding: 10px 0;
    margin-top: -60px;
    @media #{$bp} {
     background-color: #333;
     padding-top: 15px;
     margin-top: 0;
    }



    .contentWrap {
      max-width: 960px;
      width: auto;
      min-width: 700px;
      margin: 0 auto;
      box-sizing: border-box;

      @media #{$bp} {
        width: 100%;
        min-width: 300px;
      }

      a {
        text-decoration: none;
        color: #999;
        width: 29%;
        float: left;
        background-color: #222;
        padding: 15px 10px;
        margin: 10px 10px;
        box-sizing: border-box;
        min-height: 80px;
        p {
          line-height: 1.3em;
        }
      }

     .contactItem {
       width: 29%;
       float: left;
       background-color: #222;
       padding: 15px 10px;
       margin-top: 10px;
       box-sizing: border-box;
       min-height: 80px;

       @media #{$bp1050} {
         min-height: 100px;
       }


       @media #{$bp} {
         width: 96%;
         padding: 30px 10px 0 10px;
         margin-left: 10px;
         height: auto !important;
       }

       h3 {
         font-size: 16px;
         margin: 0;
         padding: 0;
         text-align: center;

         @media #{$bp900} {
           font-size: 14px;
         }
       }

       p {
         text-align: center;
         margin: 0;
         padding: 2px 20px 1px 20px;
         line-height: 1.3em;
         font-size: 9px;
         color: #ccc;

         @media #{$bp} {
          font-size: 12px;
         }

         a {
           padding: 0;
           margin: 2px 0;
           float: none;



         }



       }
       .left {
         text-align: left !important;

         @media #{$bp900} {
           text-align: center !important;
         }
       }

     }

     .marginSides {
       margin: 10px 3%;

       @media #{$bp} {
         margin: 0 10px;
       }
     }
    }

  }

  .contentWrap {
    max-width: 960px;
    width: auto;
    min-width: 700px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;

    @media #{$bp} {
      width: 100%;
      min-width: 300px;
    }

    .introWrap {

      max-width: 300px;
      float: left;
      margin-left: 7%;
      padding-top: 30px;
      @media #{$bp} {
        width: 80%;
        max-width: 450px;
      }

      h1 {
        font-size: 22px;

      }

      p {
        font-size: 16px;

        .dropCap {
          float: left;
          font-family: 'Roboto Slab';
          font-size: 3em;
          margin: 0;
          padding: 5px 3px 0 0;
          text-indent: 10px;
          line-height: 30px;
        }

        .heroText {
          font-weight: 900;
          font-style: italic;
        }

      }
    }

    .sidebarWrap {
      width: 45%;
      min-width: 20%;
      max-width: 450px;

      float: left;
      margin-top: 50px;
      margin-left: 5%;

      @media #{$bp} {
        width: 100%;
        margin-left: 7%;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        vertical-align: top;
        margin-top: -5px;

        .fullWidth {
          width: 80% !important;
        }

        li {

          float: left;
          width: 45%;
          display: inline-block;
          margin: 5px 10px;

          @media #{$bp900} {
            width: 100%;
            margin-left: 7%;
          }


          @media #{$bp} {
            width: 80%;
            margin-left: 0;
            box-sizing: border-box;
          }


          h3 {
            margin: 0;
            padding: 0;
            font-size: 16px;
            font-family: 'Roboto Slab';
          }

          p {
            margin: 0;
            padding: 0;
            font-size: 12px;

            @media #{$bp900} {
              font-size: 13px;
            }

            .subhead {
              text-transform: uppercase;
              font-size: 10px;
              font-weight: 900;
            }
          }
        }
      }

    }

    .footer {
      display: inline-block;
      width: 100%;
      max-width: 880px;
      height: 140px;
      border-top: 1px solid #777;
      margin: 60px 30px 0 30px;
      box-sizing:  border-box;
      padding-left: 60px;
      padding-bottom: 30px;

      @media #{$bp1050} {
        width: 94%;
        height: auto;
        margin: 30px 15px 0 15px;
        padding-bottom: 60px;
        padding-left: 40px;
        padding-top: 15px;
      }

      @media #{$bp} {
        padding-left: 15px;
      }


      .topMargin {
        padding-top: 20px !important;
        font-weight: 900;
      }

      .col {
        width: 250px;
        float: left;
        height: auto;
        min-height: 100px;

        h3 {
          font-size: 15px;
          margin-bottom: 0;
        }
        p{
          font-size: 12px;
          margin: 0 0 2px 0;
          padding: 0 0;
        }

      }

    }

  }




}


.slideout-menu {
  position: fixed;
  top: 0;
  left: -380px;
  width: 350px;
  height: 100%;
  background: #333;
  z-index: 100;
  box-sizing: border-box;
  font-family: 'Roboto Slab';
  color: #aaa;
  h3 {
    position: relative;
    padding: 12px 30px 0 0;
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;

    .closeText {
      font-size: 12px;
      margin-top: -10px;
      vertical-align: 3px;
    }
  }

  h1 {
    width: 75%;
    margin-top: 60px;
    margin-left: 30px;
    font-size: 24px;
    font-family: 'Roboto Slab';
    line-height: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;

  }

  p {
    margin: 0 30px 15px 30px;
    font-size: 16px;
    color: #ccc;
  }

  a {
    color: #ccc;
    text-decoration: none;
  }

  .menuSmall {
    font-size: 11px;
    text-transform: uppercase;
    color: #ccc;
  }

  .link {
    width: auto;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1em;
    background-color: #222;
    padding: 15px 15px;
    font-size: 16px;
    color: #eee;
    margin-bottom: 10px;

  }

}

.slideout-menu-toggle {
  img {

    width: 50px;
    margin-top: 15px;


    @media #{$bp} {
      width: 60px;
    }
  }
}

.slideout-menu .slideout-menu-toggle {
  position: absolute;
  top: -5px;
  right: 10px;
  display: inline-block;
  padding: 10px 15px 7px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  background: #222;
  color: #999;
  text-decoration: none;
  vertical-align: top;
  width: 87%;
  text-align: right;
}

.slideout-menu .slideout-menu-toggle:hover {
  color: #fff;
}