body {

}

a {
  text-decoration: none;
}

.topWrap {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #bbb;
  z-index: 100;
  @media screen and (max-width: 500px) {
    height: 100px !important;
  }

  .menuWrap {
    position: relative;
    float: left;


   a  {
      display: block;
      position: relative;
      margin-top: -9px;
      padding: 10px 50px 10px 25px;
      color: red;
      font-size: 30px;
      text-decoration: none;
    }
  }
  .logoWrap {
    float: left;
    width: 150px;
    height: 50px;
    background: #333;
    img {
      display: none;
    }
  }
}

.slideWrap {
  display: block;
  position: absolute;
  top: 50px;
  left: 0px;
  margin: 0px;
  width: 100%;
  height: 80%;
  background-color: #333;

  .slide1 {
    display: table-cell;
    position: relative;
    background-image: url('../img/slide1.jpg');
    backtground-size: auto !important;
    height: 100%;
  }
  .slide2 {
    background-image: url('../img/slide2.jpg');
    backtground-size: 100%;
    height: 100%;
  }
}

.lowerWrap {
  position: absolute;
  width: 100%;
  height: 500px;
  margin: 0;
  background-color: #aaa;
  background-image: url('../img/plansbg.jpg');
  background-size: cover;
  top:80%;
  left: 0;
}


.slideout-menu {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100%;
  background: #333;
  z-index: 100;
}
.slideout-menu h3 {
  position: relative;
  padding: 12px 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  border-bottom: 4px solid #222;
}
.slideout-menu .slideout-menu-toggle {
  position: absolute;
  top: -5px;
  right: 10px;
  display: inline-block;
  padding: 10px 15px 7px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  background: #222;
  color: #999;
  text-decoration: none;
  vertical-align: top;
}
.slideout-menu .slideout-menu-toggle:hover {
  color: #fff;
}