/* line 1, ../scss/style2.scss */
html {
  padding: 0;
  margin: 0;
  font-family: Avenir, Arial, sans-serif;
}

/* line 7, ../scss/style2.scss */
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 13, ../scss/style2.scss */
div, span, p, h1, h2, h3 {
  box-sizing: border-box;
}

/* line 17, ../scss/style2.scss */
.introWrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
/* line 22, ../scss/style2.scss */
.introWrap h1 {
  width: 80%;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
/* line 29, ../scss/style2.scss */
.introWrap p {
  width: 70%;
  padding: 0;
}

/* line 35, ../scss/style2.scss */
section {
  position: relative;
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 60px;
}
/* line 43, ../scss/style2.scss */
section ul {
  width: 100%;
  position: relative;
  display: block;
  vertical-align: top;
}
/* line 50, ../scss/style2.scss */
section ul li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 23%;
  min-width: 200px;
  height: auto;
  margin-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 30px;
}
/* line 62, ../scss/style2.scss */
section ul li .imgWrap {
  width: 100%;
  position: relative;
  height: 350px;
}
/* line 68, ../scss/style2.scss */
section ul li .imgWrap h3 {
  font-size: 13px;
  text-transform: uppercase;
  color: #aaa;
  padding-left: 15px;
}
/* line 76, ../scss/style2.scss */
section ul li h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
  margin-bottom: 0;
}
/* line 84, ../scss/style2.scss */
section ul li p {
  font-size: 13px;
}

/* line 100, ../scss/style2.scss */
.stikine {
  background: url("../img/F15-Stikine-Jacket-Hinto.png") no-repeat;
  background-size: 100%;
  background-position: left bottom;
}

/* line 106, ../scss/style2.scss */
.stryka {
  background: url("../img/F15-Stryka-Hoody-Tropos-Blue.png") no-repeat;
  background-size: 90%;
  background-position: left bottom;
}

/* line 112, ../scss/style2.scss */
.procline {
  background: url("../img/F15-Procline-Hybrid-Hoody-Carbon-Copy.png") no-repeat;
  background-size: 100%;
  background-position: left bottom;
}

/* line 118, ../scss/style2.scss */
.lithic {
  background: url("../img/F15-Lithic-Comp-Pant-Echo-Blue.png") no-repeat;
  background-size: 100px;
  background-position: 40% top;
}

/* line 124, ../scss/style2.scss */
.nuclei {
  background: url("../img/F15-Nuclei-FL-Jacket-Adriatic-Blue.png") no-repeat;
  background-size: 100%;
  background-position: left bottom;
}

/* line 130, ../scss/style2.scss */
.phase {
  background: url("../img/F15-Phase-SL-Zip-Neck-LS-Black.png") no-repeat;
  background-size: 93%;
  background-position: left bottom;
}

/* line 136, ../scss/style2.scss */
.psiphon {
  background: url("../img/F15-Psiphon-SL-Pullover-Iron-Anvil.png") no-repeat;
  background-size: 93%;
  background-position: left bottom;
}
