/* line 1, ../scss/styleWmns.scss */
html {
  padding: 0;
  margin: 0;
  font-family: Avenir, Arial, sans-serif;
}

/* line 7, ../scss/styleWmns.scss */
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 14, ../scss/styleWmns.scss */
div, span, p, h1, h2, h3 {
  box-sizing: border-box;
}

/* line 18, ../scss/styleWmns.scss */
.introWrap {
  width: 100%;
  max-width: 960px;
  height: 600px;
  margin: 0 auto;
  background: url("http://blog-media.arcteryx.com/images/articles/wmnsHero.jpg") no-repeat;
  background-size: 1100px;
  background-position: bottom left;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  /* line 18, ../scss/styleWmns.scss */
  .introWrap {
    background-size: cover;
  }
}
/* line 33, ../scss/styleWmns.scss */
.introWrap h3 {
  position: absolute;
  bottom: 15px;
  right: 30px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 100;
  color: white;
  font-size: 11px;
}

/* line 45, ../scss/styleWmns.scss */
.introCopy {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  color: #121212;
  margin-top: 30px;
  margin-bottom: 60px;
}
@media screen and (max-width: 900px) {
  /* line 45, ../scss/styleWmns.scss */
  .introCopy {
    margin-top: 400px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  /* line 45, ../scss/styleWmns.scss */
  .introCopy {
    margin-top: 300px;
  }
}
@media screen and (max-width: 400px) {
  /* line 45, ../scss/styleWmns.scss */
  .introCopy {
    margin-top: 200px;
  }
}
/* line 72, ../scss/styleWmns.scss */
.introCopy h1 {
  font-size: 1.2em;
  font-weight: 500;
  padding: 0 0 0 5%;
  margin: 0;
  line-height: 1em;
  text-transform: uppercase;
}
/* line 81, ../scss/styleWmns.scss */
.introCopy p {
  width: 65%;
  padding: 0 0 0 5%;
  font-size: 14px;
  line-height: 24px;
}

/* line 89, ../scss/styleWmns.scss */
section {
  position: relative;
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 30px;
}
/* line 98, ../scss/styleWmns.scss */
section h1 {
  line-height: 1em;
  font-size: 1.5em;
  margin-left: 0;
  color: #222;
  font-weight: 500;
  text-transform: uppercase;
}
/* line 107, ../scss/styleWmns.scss */
section .lighter {
  font-weight: 100;
  color: #666;
}
/* line 112, ../scss/styleWmns.scss */
section ul {
  width: 100%;
  position: relative;
  display: block;
  vertical-align: top;
}
/* line 118, ../scss/styleWmns.scss */
section ul li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 25%;
  min-width: 220px;
  height: auto;
  margin-right: 5%;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 30px;
}
/* line 130, ../scss/styleWmns.scss */
section ul li .imgWrap {
  width: 100%;
  position: relative;
  height: 350px;
}
/* line 136, ../scss/styleWmns.scss */
section ul li .imgWrap h3 {
  font-size: 13px;
  font-weight: 100;
  text-transform: uppercase;
  color: #666;
}
/* line 144, ../scss/styleWmns.scss */
section ul li h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1.1em;
}
/* line 153, ../scss/styleWmns.scss */
section ul li p {
  font-size: 13px;
  margin-top: 0;
}
/* line 158, ../scss/styleWmns.scss */
section ul li a {
  color: #333;
  text-decoration: none;
  padding-top: 0;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 166, ../scss/styleWmns.scss */
section ul li .arrow {
  font-size: 10px;
  color: #666;
}

/* line 178, ../scss/styleWmns.scss */
.southAmerica {
  box-sizing: border-box;
  padding-top: 60px;
}

/* line 185, ../scss/styleWmns.scss */
.proclineComp {
  background: url("http://blog-media.arcteryx.com/images/articles/F15-Procline-Comp-Jacket-W-Riptide.jpg") no-repeat;
  background-size: 80%;
  background-position: left bottom;
}

/* line 191, ../scss/styleWmns.scss */
.nevus {
  background: url("http://blog-media.arcteryx.com/images/articles/F15-Nevus-Pant-W-Clementine.jpg") no-repeat;
  background-size: 45%;
  background-position: 30px bottom;
}

/* line 197, ../scss/styleWmns.scss */
.vertices {
  background: url("http://blog-media.arcteryx.com/images/articles/F15-Vertices-Hoody-W-Chandra-Purple.jpg") no-repeat;
  background-size: 73%;
  background-position: left bottom;
}

/* line 203, ../scss/styleWmns.scss */
.ceriumSL {
  background: url("http://blog-media.arcteryx.com/images/articles/F15-Cerium-SL-Jacket-W-Tanzanite.jpg") no-repeat;
  background-size: 85%;
  background-position: left bottom;
}

/* line 209, ../scss/styleWmns.scss */
.ceriumLTVest {
  background: url("http://blog-media.arcteryx.com/images/articles/F15-Cerium-LT-Vest-W-Pink-Guava.jpg") no-repeat;
  background-size: 60%;
  background-position: 15px bottom;
}

/* line 215, ../scss/styleWmns.scss */
.phaseGroup {
  background: url("http://blog-media.arcteryx.com/images/articles/F15-Phase-SL-Camisole-W-Black.jpg") no-repeat;
  background-size: 52%;
  background-position: left 70px;
}

/* line 221, ../scss/styleWmns.scss */
.scimitar {
  background: url("http://blog-media.arcteryx.com/images/articles/F15-Scimitar-Jacket-W-Golden-Poppy.jpg") no-repeat;
  background-size: 80%;
  background-position: left bottom;
}

/* line 227, ../scss/styleWmns.scss */
.azetta {
  background: url("http://blog-media.arcteryx.com/images/articles/F15-Azetta-Pant-W-Pink-Tulip.jpg") no-repeat;
  background-size: 50%;
  background-position: 30px bottom;
}

/* line 233, ../scss/styleWmns.scss */
.proclineHybrid {
  background: url("http://blog-media.arcteryx.com/images/articles/F15-Procline-Hybrid-Hoody-W-Carbon-Copy.jpg") no-repeat;
  background-size: 80%;
  background-position: left bottom;
}

/* line 239, ../scss/styleWmns.scss */
.phaseWmns {
  background: url("http://blog-media.arcteryx.com/images/articles/F15-Phase-SL-Camisole-W-Pink-Lotus.jpg") no-repeat;
  background-size: 52%;
  background-position: 15px 75px;
}
