/* line 1, ../scss/style2.scss */
html {
  padding: 0;
  margin: 0;
  font-family: Avenir, Arial, sans-serif;
}

/* line 7, ../scss/style2.scss */
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 13, ../scss/style2.scss */
div, span, p, h1, h2, h3 {
  box-sizing: border-box;
}

/* line 17, ../scss/style2.scss */
.introWrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
/* line 22, ../scss/style2.scss */
.introWrap h1 {
  width: 50%;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
/* line 29, ../scss/style2.scss */
.introWrap p {
  width: 70%;
  padding: 0;
}

/* line 35, ../scss/style2.scss */
section {
  position: relative;
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 30px;
}
/* line 44, ../scss/style2.scss */
section h1 {
  line-height: 1em;
  font-size: 1.4em;
  margin-left: 60px;
  color: white;
  font-weight: 100;
  text-shadow: 1px 1px 3px #111;
}
/* line 53, ../scss/style2.scss */
section ul {
  width: 100%;
  position: relative;
  display: block;
  vertical-align: top;
}
/* line 60, ../scss/style2.scss */
section ul li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 23%;
  min-width: 200px;
  height: auto;
  margin-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 30px;
}
/* line 72, ../scss/style2.scss */
section ul li .imgWrap {
  width: 100%;
  position: relative;
  height: 350px;
}
/* line 78, ../scss/style2.scss */
section ul li .imgWrap h3 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 3px #111;
  padding-left: 15px;
  text-align: center;
}
/* line 89, ../scss/style2.scss */
section ul li h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
  margin-bottom: 0;
}
/* line 97, ../scss/style2.scss */
section ul li p {
  font-size: 13px;
  margin-top: 0;
}

/* line 109, ../scss/style2.scss */
.europe {
  background: url("../img/europeBG.jpg") no-repeat;
  background-size: 100%;
  background-position: top center;
  box-sizing: border-box;
  padding-top: 60px;
}

/* line 119, ../scss/style2.scss */
.stikine {
  background: url("../img/F15-Stikine-Jacket-Hinto.png") no-repeat;
  background-size: 100%;
  background-position: left bottom;
}

/* line 125, ../scss/style2.scss */
.stryka {
  background: url("../img/F15-Stryka-Hoody-Tropos-Blue.png") no-repeat;
  background-size: 90%;
  background-position: left bottom;
}

/* line 131, ../scss/style2.scss */
.procline {
  background: url("../img/F15-Procline-Hybrid-Hoody-Carbon-Copy.png") no-repeat;
  background-size: 100%;
  background-position: left bottom;
}

/* line 137, ../scss/style2.scss */
.lithic {
  background: url("../img/F15-Lithic-Comp-Pant-Echo-Blue.png") no-repeat;
  background-size: 100px;
  background-position: 40% top;
}

/* line 143, ../scss/style2.scss */
.nuclei {
  background: url("../img/F15-Nuclei-FL-Jacket-Adriatic-Blue.png") no-repeat;
  background-size: 100%;
  background-position: left bottom;
}

/* line 149, ../scss/style2.scss */
.phase {
  background: url("../img/F15-Phase-SL-Zip-Neck-LS-Black.png") no-repeat;
  background-size: 93%;
  background-position: left bottom;
}

/* line 155, ../scss/style2.scss */
.psiphon {
  background: url("../img/F15-Psiphon-SL-Pullover-Iron-Anvil.png") no-repeat;
  background-size: 93%;
  background-position: left bottom;
}
