/* line 1, ../scss/style2.scss */
html {
  padding: 0;
  margin: 0;
  font-family: Avenir, Arial, sans-serif;
}

/* line 7, ../scss/style2.scss */
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 13, ../scss/style2.scss */
div, span, p, h1, h2, h3 {
  box-sizing: border-box;
}

/* line 17, ../scss/style2.scss */
.introWrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: url("../img/layeringHero.jpg") no-repeat;
  background-size: 600px;
  background-position: top left;
}
@media screen and (max-width: 900px) {
  /* line 17, ../scss/style2.scss */
  .introWrap {
    background-size: 100%;
  }
}
/* line 29, ../scss/style2.scss */
.introWrap .introCopy {
  position: relative;
  display: inline-block;
  background: #000;
  width: 60%;
  max-width: 570px;
  min-width: 350px;
  margin-left: 40%;
  box-sizing: border-box;
  padding: 30px;
}
@media screen and (max-width: 900px) {
  /* line 29, ../scss/style2.scss */
  .introWrap .introCopy {
    margin-top: 400px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  /* line 29, ../scss/style2.scss */
  .introWrap .introCopy {
    margin-top: 300px;
  }
}
@media screen and (max-width: 400px) {
  /* line 29, ../scss/style2.scss */
  .introWrap .introCopy {
    margin-top: 200px;
  }
}
/* line 56, ../scss/style2.scss */
.introWrap .introCopy h1 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: white;
  line-height: 1em;
  text-transform: uppercase;
}
/* line 66, ../scss/style2.scss */
.introWrap .introCopy p {
  width: 95%;
  padding: 0;
  color: white;
  font-size: 14px;
  line-height: 24px;
}

/* line 76, ../scss/style2.scss */
section {
  position: relative;
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 30px;
}
/* line 85, ../scss/style2.scss */
section h1 {
  line-height: 1em;
  font-size: 1.5em;
  margin-left: 0;
  color: #222;
  font-weight: 500;
  text-transform: uppercase;
}
/* line 94, ../scss/style2.scss */
section .lighter {
  font-weight: 100;
  color: #666;
}
/* line 99, ../scss/style2.scss */
section ul {
  width: 100%;
  position: relative;
  display: block;
  vertical-align: top;
}
/* line 105, ../scss/style2.scss */
section ul li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 25%;
  min-width: 220px;
  height: auto;
  margin-right: 5%;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 30px;
}
/* line 117, ../scss/style2.scss */
section ul li .imgWrap {
  width: 100%;
  position: relative;
  height: 350px;
}
/* line 123, ../scss/style2.scss */
section ul li .imgWrap h3 {
  font-size: 13px;
  font-weight: 100;
  text-transform: uppercase;
  color: #666;
}
/* line 131, ../scss/style2.scss */
section ul li h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1.1em;
}
/* line 140, ../scss/style2.scss */
section ul li p {
  font-size: 13px;
  margin-top: 0;
}
/* line 145, ../scss/style2.scss */
section ul li a {
  color: #333;
  text-decoration: none;
  padding-top: 0;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 153, ../scss/style2.scss */
section ul li .arrow {
  font-size: 10px;
  color: #666;
}

/* line 165, ../scss/style2.scss */
.europe {
  box-sizing: border-box;
  padding-top: 60px;
}

/* line 172, ../scss/style2.scss */
.stikine {
  background: url("../img/F15-Stikine-Jacket-Hinto.png") no-repeat;
  background-size: 90%;
  background-position: left bottom;
}

/* line 178, ../scss/style2.scss */
.stryka {
  background: url("../img/F15-Stryka-Hoody-Tropos-Blue.png") no-repeat;
  background-size: 85%;
  background-position: left bottom;
}

/* line 184, ../scss/style2.scss */
.procline {
  background: url("../img/F15-Procline-Hybrid-Hoody-Carbon-Copy.png") no-repeat;
  background-size: 100%;
  background-position: left bottom;
}

/* line 190, ../scss/style2.scss */
.lithic {
  background: url("../img/F15-Lithic-Comp-Pant-Echo-Blue.png") no-repeat;
  background-size: 90px;
  background-position: 40% 30px;
}

/* line 196, ../scss/style2.scss */
.nuclei {
  background: url("../img/F15-Nuclei-FL-Jacket-Adriatic-Blue.png") no-repeat;
  background-size: 100%;
  background-position: left bottom;
}

/* line 202, ../scss/style2.scss */
.phase {
  background: url("../img/F15-Phase-SL-Zip-Neck-LS-Black.png") no-repeat;
  background-size: 93%;
  background-position: left bottom;
}

/* line 208, ../scss/style2.scss */
.psiphon {
  background: url("../img/F15-Psiphon-SL-Pullover-Iron-Anvil.png") no-repeat;
  background-size: 93%;
  background-position: left bottom;
}

/* line 214, ../scss/style2.scss */
.alpha {
  background: url("../img/F15-Alpha-FL-Jacket-Iron-Anvil.png") no-repeat;
  background-size: 93%;
  background-position: left bottom;
}

/* line 220, ../scss/style2.scss */
.baseBottom {
  background: url("../img/F15-Phase-AR-Bottom-Black.jpg") no-repeat;
  background-size: 35%;
  background-position: center bottom;
}
