/* line 1, ../scss/style.scss */
html {
  padding: 0;
  margin: 0;
  font-family: Avenir, Arial, sans-serif;
}

/* line 7, ../scss/style.scss */
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 13, ../scss/style.scss */
div, span, p, h1, h2, h3 {
  box-sizing: border-box;
}

/* line 17, ../scss/style.scss */
.introWrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
/* line 22, ../scss/style.scss */
.introWrap p {
  width: 70%;
}

/* line 27, ../scss/style.scss */
.localeWrap {
  width: 100%;
  max-width: 960px;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 120px;
}
/* line 35, ../scss/style.scss */
.localeWrap h1 {
  position: absolute;
  top: 60px;
  left: 30px;
  width: 50%;
}

/* line 43, ../scss/style.scss */
.laydownWrap {
  width: 100%;
}
/* line 46, ../scss/style.scss */
.laydownWrap img {
  width: 100%;
}

/* line 51, ../scss/style.scss */
.itemWrap {
  position: relative;
  display: block;
  width: 100%;
}
/* line 56, ../scss/style.scss */
.itemWrap h2 {
  position: relative;
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1em;
  text-transform: uppercase;
}
/* line 66, ../scss/style.scss */
.itemWrap h3 {
  font-size: 14px;
  color: #666;
  padding: 0;
  line-height: 1em;
  text-transform: uppercase;
}
/* line 75, ../scss/style.scss */
.itemWrap p {
  font-size: 13px;
}
/* line 79, ../scss/style.scss */
.itemWrap ul {
  width: 100%;
  vertical-align: top;
}
/* line 83, ../scss/style.scss */
.itemWrap ul li {
  list-style: none;
  width: 20%;
  margin: 0 30px 0 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
